Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana

add atl
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/utils.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Undo
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/utils.ts
Due: none

add atl
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat(target_chains/starknet): add version method
  .github/workflows/ci-starknet-contract-release.yml
  .github/workflows/ci-starknet-contract.yml
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/pyth/interface.cairo
Due: none

chore(target_chains/sui): Move testnet toml to Move.toml
  target_chains/sui/contracts/Move.toml
Due: none

chore(target_chains/sui): Move mainnet toml to Move.toml
  target_chains/sui/contracts/Move.toml
Due: none

chore(target_chains/sui): Move movement m2 devnet toml to Move.toml
  target_chains/sui/contracts/Move.toml
Due: none

fix(fortuna): Refactor and improve timestamp lag gauge
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/command/run.rs
Due: cargo-fmt-fortuna

fix(fortuna): Refactor and improve timestamp lag gauge (#1632)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/command/run.rs
Due: cargo-fmt-fortuna

initial commit
  contract_manager/store/chains/EvmChains.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

pre-commit
  contract_manager/store/chains/EvmChains.yaml
Due: none

fix(target_chains/fuel): upgrade to fuel testnet from beta-5 (#1625)
  target_chains/fuel/contracts/Cargo.lock
  target_chains/fuel/contracts/Cargo.toml
  target_chains/fuel/contracts/Forc.lock
  target_chains/fuel/contracts/fuel-toolchain.toml
  target_chains/fuel/contracts/pyth-contract/Forc.toml
  target_chains/fuel/contracts/pyth-contract/src/data_structures/accumulator_update.sw
  target_chains/fuel/contracts/pyth-contract/src/data_structures/batch_attestation_update.sw
  target_chains/fuel/contracts/pyth-contract/src/data_structures/price.sw
  target_chains/fuel/contracts/pyth-contract/src/data_structures/update_type.sw
  target_chains/fuel/contracts/pyth-contract/src/data_structures/wormhole_light.sw
  target_chains/fuel/contracts/pyth-contract/src/events.sw
  target_chains/fuel/contracts/pyth-contract/src/main.sw
  target_chains/fuel/contracts/pyth-interface/Forc.toml
  target_chains/fuel/contracts/pyth-interface/src/data_structures/data_source.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/governance_instruction.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/governance_payload.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/price.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/wormhole_light.sw
  target_chains/fuel/contracts/src/pyth_utils.rs
  target_chains/fuel/contracts/tests/utils/setup.rs
Due: none

parallelize
  apps/fortuna/src/command/register_provider.rs
  apps/fortuna/src/command/run.rs
Due: cargo-fmt-fortuna

gr
  apps/fortuna/src/command/run.rs
Due: cargo-fmt-fortuna

add ABIs
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyEvents.json
  target_chains/ethereum/entropy_sdk/solidity/abis/IEntropy.json
Due: none

refactor
  target_chains/fuel/contracts/pyth-contract/src/data_structures.sw
  target_chains/fuel/contracts/pyth-contract/src/data_structures/data_source.sw
  target_chains/fuel/contracts/pyth-contract/src/data_structures/governance_instruction.sw
  target_chains/fuel/contracts/pyth-contract/src/data_structures/price.sw
  target_chains/fuel/contracts/pyth-contract/src/data_structures/wormhole_light.sw
  target_chains/fuel/contracts/pyth-contract/src/main.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/accumulator_update.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/batch_attestation_update.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/data_source.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/governance_instruction.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/price.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/update_type.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/wormhole_light.sw
  target_chains/fuel/contracts/pyth-interface/src/errors.sw
  target_chains/fuel/contracts/pyth-interface/src/events.sw
  target_chains/fuel/contracts/pyth-interface/src/interface.sw
  target_chains/fuel/contracts/pyth-interface/src/pyth_merkle_proof.sw
  target_chains/fuel/contracts/pyth-interface/src/utils.sw
Due: none

fix errors
  target_chains/fuel/contracts/pyth-interface/src/data_structures.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/price.sw
  target_chains/fuel/contracts/pyth-interface/src/interface.sw
Due: none

fix: product no price account
  governance/xc_admin/packages/xc_admin_frontend/hooks/usePyth.ts
Due: none

refactor(target_chains/fuel): refactor to expose libraries (#1634)
  target_chains/fuel/contracts/pyth-contract/src/data_structures.sw
  target_chains/fuel/contracts/pyth-contract/src/data_structures/data_source.sw
  target_chains/fuel/contracts/pyth-contract/src/data_structures/governance_instruction.sw
  target_chains/fuel/contracts/pyth-contract/src/data_structures/price.sw
  target_chains/fuel/contracts/pyth-contract/src/data_structures/wormhole_light.sw
  target_chains/fuel/contracts/pyth-contract/src/main.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/accumulator_update.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/batch_attestation_update.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/data_source.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/governance_instruction.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/price.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/update_type.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/wormhole_light.sw
  target_chains/fuel/contracts/pyth-interface/src/errors.sw
  target_chains/fuel/contracts/pyth-interface/src/events.sw
  target_chains/fuel/contracts/pyth-interface/src/interface.sw
  target_chains/fuel/contracts/pyth-interface/src/pyth_merkle_proof.sw
  target_chains/fuel/contracts/pyth-interface/src/utils.sw
Due: none

spawn
  apps/fortuna/src/command/run.rs
Due: cargo-fmt-fortuna

[fortuna] Add subsampling of hash chains (#1624)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/api.rs
  apps/fortuna/src/command/register_provider.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/command/setup_provider.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/state.rs
Due: cargo-fmt-fortuna

feat(fortuna): better parallization for revealing requests
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/reader.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

cleanup
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain/reader.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

fix(entropy): fix bug in debug reveal script
  contract_manager/scripts/list_entropy_contracts.ts
  contract_manager/src/contracts/evm.ts
Due: none

Bump solidity version
  target_chains/ethereum/contracts/contracts/entropy/EntropyUpgradable.sol
Due: none

add invalid merkle proof test
  .gitignore
  target_chains/fuel/contracts/src/constants.rs
  target_chains/fuel/contracts/src/pyth_utils.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/ema_price.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/ema_price_no_older_than.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/ema_price_unsafe.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/price.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/price_no_older_than.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/price_unsafe.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/update_price_feeds.rs
  target_chains/fuel/contracts/tests/functions/pyth_info/price_feed_unsafe.rs
  target_chains/fuel/contracts/tests/utils/interface/pyth_core.rs
Due: none

fix precommit
  .gitignore
Due: none

fix(entropy): Small fixes in the contract manager script + contract version bump (#1637)
  contract_manager/scripts/list_entropy_contracts.ts
  contract_manager/src/contracts/evm.ts
  target_chains/ethereum/contracts/contracts/entropy/EntropyUpgradable.sol
Due: none

feat(fortuna): better parallization for revealing requests (#1636)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/reader.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

test(target_chains/fuel): add invalid merkle proof update data test (#1639)
  .gitignore
  target_chains/fuel/contracts/src/constants.rs
  target_chains/fuel/contracts/src/pyth_utils.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/ema_price.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/ema_price_no_older_than.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/ema_price_unsafe.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/price.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/price_no_older_than.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/price_unsafe.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/update_price_feeds.rs
  target_chains/fuel/contracts/tests/functions/pyth_info/price_feed_unsafe.rs
  target_chains/fuel/contracts/tests/utils/interface/pyth_core.rs
Due: none

feat(target_chains/starknet): add version method (#1630)
  .github/workflows/ci-starknet-contract-release.yml
  .github/workflows/ci-starknet-contract.yml
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/pyth/interface.cairo
Due: none
