Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

contract_manager/cardano: add utility to fetch emitted VAAs (#3705)
  contract_manager/scripts/manage_cardano_governance.ts
Due: none

docs: remove deprecated Sonic push feeds
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/evm/sonic-mainnet.json
Due: none

feat: add integration test (pyth + wormhole core-bridge) (#3649)
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_with_wormhole.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix(developer-hub): wire Accept: text/markdown middleware
  apps/developer-hub/src/middleware.ts
Due: none

feat: deploy lazer hermes injective
  contract_manager/src/store/contracts/EvmPriceFeedContracts.json
  contract_manager/src/store/contracts/EvmWormholeContracts.json
Due: none

feat: deploy lazer hermes injective (#3707)
  contract_manager/src/store/contracts/EvmPriceFeedContracts.json
  contract_manager/src/store/contracts/EvmWormholeContracts.json
Due: none

feat(developer-hub): minimal playground + global pricing layer landing
  apps/developer-hub/src/components/MinimalPlayground/feeds.ts
  apps/developer-hub/src/components/MinimalPlayground/index.module.scss
  apps/developer-hub/src/components/MinimalPlayground/index.tsx
  apps/developer-hub/src/components/Pages/Homepage/index.module.scss
  apps/developer-hub/src/components/Pages/Homepage/index.tsx
  apps/developer-hub/src/components/Pages/Homepage/section.module.scss
Due: none

docs: remove Swellchain from Pyth Core supported chains
  apps/developer-hub/content/docs/price-feeds/core/contract-addresses/evm.mdx
  apps/developer-hub/content/docs/price-feeds/core/current-fees.mdx
Due: none

go
  apps/price_pusher/src/solana/command.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/AnchorMultisigInstruction.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/index.ts
  pnpm-lock.yaml
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update_atomic.js
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update_atomic.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update_from_benchmarks.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update_instructions.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/update_price_feed.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

go
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update_atomic.js
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix pnpm lock issue
  pnpm-lock.yaml
Due: none

fix(developer-hub): unblock local build
  packages/component-library/package.json
  packages/component-library/src/AppShell/report-accessibility.ts
  packages/component-library/src/useQueryParamsPagination/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: unbreak main build after #3499 lockfile cascade
  lazer/contracts/cardano/sdk/js/package.json
  packages/component-library/package.json
  packages/component-library/src/AppShell/report-accessibility.ts
  packages/component-library/src/useQueryParamsPagination/index.ts
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

go
  target_chains/sui/vendor/wormhole_lazer/wormhole/Move.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: dedupe @solana/web3.js + pin fumadocs-openapi
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: unbreak main branch builds
  apps/fortuna/Cargo.toml
  apps/fortuna/src/history.rs
  lazer/contracts/cardano/sdk/js/package.json
  pnpm-lock.yaml
  pythnet/pythnet_sdk/Cargo.toml
  pythnet/pythnet_sdk/examples/generate_pyth_data.rs
  target_chains/cosmwasm/contracts/pyth/src/state.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-lazer, cargo-clippy-lazer

feat: add "How compatibility layer works"
  apps/developer-hub/content/docs/pyth-pro-compatibility-layer.mdx
Due: none

docs: refresh stale docs URLs in on-chain contract comments
  target_chains/aptos/contracts/sources/price.move
  target_chains/aptos/contracts/sources/pyth.move
  target_chains/cosmwasm/examples/cw-contract/src/contract.rs
  target_chains/ethereum/sdk/solidity/IPyth.sol
  target_chains/ethereum/sdk/solidity/PythStructs.sol
  target_chains/near/receiver/src/lib.rs
  target_chains/near/receiver/src/state.rs
  target_chains/sui/contracts/sources/price.move
  target_chains/sui/contracts/sources/pyth.move
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

lazer/cardano/sdk: update and pin Evolution SDK dependency
  lazer/contracts/cardano/sdk/js/package.json
  lazer/contracts/cardano/sdk/js/src/examples/fetch-and-verify.ts
  lazer/contracts/cardano/sdk/js/src/index.ts
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

lazer/cardano/sdk: update to Evolution SDK 0.5.9
  lazer/contracts/cardano/sdk/js/package.json
  lazer/contracts/cardano/sdk/js/src/examples/fetch-and-verify.ts
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

lazer/cardano/cli: pin Evolution SDK version
  lazer/contracts/cardano/cli/js/package.json
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

docs: add NFALCON to solana push feeds
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/svm/solana-mainnet.json
Due: none

docs: add confidence ratio for JUPUSD push feed
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/svm/solana-mainnet.json
Due: none

lazer/cardano/sdk: Update and pin Evolution SDK dependency (#3721)
  apps/developer-hub/content/docs/price-feeds/pro/integrate-as-consumer/cardano.mdx
  lazer/contracts/cardano/cli/js/package.json
  lazer/contracts/cardano/sdk/js/package.json
  lazer/contracts/cardano/sdk/js/src/examples/fetch-and-verify.ts
  lazer/contracts/cardano/sdk/js/src/index.ts
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

go
  pnpm-lock.yaml
Due: none

fix all tsconfig and package.json
  packages/component-library/src/AppShell/report-accessibility.ts
  packages/component-library/src/useQueryParamsPagination/index.ts
Due: none

go
  .github/workflows/ci-turbo-build.yml
  .github/workflows/ci-turbo-test.yml
  pnpm-lock.yaml
Due: none

go
  .github/workflows/ci-turbo-build.yml
  .github/workflows/ci-turbo-test.yml
Due: none

fix cardano cli
  lazer/contracts/cardano/cli/js/src/cli.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: turbo ci (#3725)
  .github/workflows/ci-turbo-build.yml
  .github/workflows/ci-turbo-test.yml
  lazer/contracts/cardano/cli/js/src/cli.ts
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

Update governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/AnchorMultisigInstruction.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/AnchorMultisigInstruction.ts
Due: none

Update apps/price_pusher/src/solana/command.ts
  apps/price_pusher/src/solana/command.ts
Due: none

fix lockfile
  pnpm-lock.yaml
Due: none

feat: solana cleanup (#3711)
  apps/price_pusher/src/solana/command.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/AnchorMultisigInstruction.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/index.ts
  pnpm-lock.yaml
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update_atomic.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update_from_benchmarks.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update_instructions.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/update_price_feed.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore: fixed typing issue
  packages/component-library/src/TableGrid/index.tsx
Due: none

chore: fixes
  apps/price_pusher/src/near/near.ts
  packages/shared-lib/src/util/__tests__/error-to-string.test.ts
Due: none

chore: whack a mole
  apps/staking/src/components/Root/toast-region.tsx
  apps/staking/src/components/Select/index.tsx
Due: none
