Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/fortuna/Cargo.toml --all
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/fortuna/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./target_chains/solana/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./target_chains/solana/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./lazer/Cargo.toml --all
  pass_filenames: false

docs: add stories to Select component
  packages/component-library/src/Select/index.stories.module.scss
  packages/component-library/src/Select/index.stories.tsx
Due: none

docs: add stories for SingleToggleGroup
  packages/component-library/src/SingleToggleGroup/index.stories.module.scss
  packages/component-library/src/SingleToggleGroup/index.stories.tsx
Due: none

docs: add detailed stories for StatCard component
  packages/component-library/src/StatCard/index.stories.module.scss
  packages/component-library/src/StatCard/index.stories.tsx
Due: none

chore: move inline styles into SCSS modules
  packages/component-library/src/EntityList/index.stories.module.scss
  packages/component-library/src/EntityList/index.stories.tsx
  packages/component-library/src/Meter/index.stories.module.scss
  packages/component-library/src/Meter/index.stories.tsx
Due: none

docs: add detailed stories for Status component variants
  packages/component-library/src/Status/index.stories.module.scss
  packages/component-library/src/Status/index.stories.tsx
Due: none

docs: add stories for Switch component
  packages/component-library/src/Switch/index.stories.module.scss
  packages/component-library/src/Switch/index.stories.tsx
Due: none

chore: remove metasyntactic variables
  packages/component-library/src/TabList/index.stories.tsx
Due: none

docs: add stories for Table component
  packages/component-library/src/Table/index.stories.module.scss
  packages/component-library/src/Table/index.stories.tsx
Due: none

chore(lazer/contracts/evm): add solc version to foundry.toml
  lazer/contracts/evm/foundry.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

docs: organize components into groups
  packages/component-library/src/AppShell/index.stories.tsx
  packages/component-library/src/Badge/index.stories.tsx
  packages/component-library/src/Breadcrumbs/index.stories.tsx
  packages/component-library/src/Button/index.stories.tsx
  packages/component-library/src/Card/index.stories.tsx
  packages/component-library/src/CopyButton/index.stories.tsx
  packages/component-library/src/CrossfadeTabPanels/index.stories.tsx
  packages/component-library/src/DropdownCaretDown/index.stories.tsx
  packages/component-library/src/EntityList/index.stories.tsx
  packages/component-library/src/ErrorPage/index.stories.tsx
  packages/component-library/src/Footer/index.stories.tsx
  packages/component-library/src/Header/index.stories.tsx
  packages/component-library/src/InfoBox/index.stories.tsx
  packages/component-library/src/Link/index.stories.tsx
  packages/component-library/src/MainNavTabs/index.stories.tsx
  packages/component-library/src/Meter/index.stories.tsx
  packages/component-library/src/MobileNavTabs/index.stories.tsx
  packages/component-library/src/NoResults/index.stories.tsx
  packages/component-library/src/NotFoundPage/index.stories.tsx
  packages/component-library/src/Paginator/index.stories.tsx
  packages/component-library/src/SearchInput/index.stories.tsx
  packages/component-library/src/Select/index.stories.tsx
  packages/component-library/src/SingleToggleGroup/index.stories.tsx
  packages/component-library/src/Skeleton/index.stories.tsx
  packages/component-library/src/Spinner/index.stories.tsx
  packages/component-library/src/StatCard/index.stories.tsx
  packages/component-library/src/Status/index.stories.tsx
  packages/component-library/src/Switch/index.stories.tsx
  packages/component-library/src/TabList/index.stories.tsx
  packages/component-library/src/Table/index.stories.tsx
  packages/component-library/src/Term/index.stories.tsx
Due: none

feat(fortuna): refactor explorer endpoint & history query methods
  apps/fortuna/.gitignore
  apps/fortuna/.sqlx/query-392da9e5fdd212a4a665c86e5fc6d4f619355294490248e656ad0fc97a252471.json
  apps/fortuna/.sqlx/query-78be8c62d5eb764995221f927b0f166e38d6fba8eb8fddb07f50c572fd27b4e2.json
  apps/fortuna/.sqlx/query-905dbc91cd5319537c5c194277d531689ac5c1338396414467496d0f50ddc3f0.json
  apps/fortuna/.sqlx/query-9ab85443388dbac329b8c3031c33aa4767439d43238eb95e8625e377af46ecc1.json
  apps/fortuna/.sqlx/query-a62e094cee65ae58bd12ce7d3e7df44f5aca31520d1ceced83f492945e850764.json
  apps/fortuna/.sqlx/query-c9e3089b1ffd52d20cfcd89e71e051c0f351643dce9be4b84b6343909c816c22.json
  apps/fortuna/.sqlx/query-f58bdd3e0ecb30f35356c22e9ab1b3802f8eebda455efabc18d30f02d23787b7.json
  apps/fortuna/flake.lock
  apps/fortuna/flake.nix
  apps/fortuna/src/api.rs
  apps/fortuna/src/api/explorer.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/history.rs
  flake.nix
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

Refactor, address review
  pyth-lazer-agent/config/config.toml
  pyth-lazer-agent/src/config.rs
  pyth-lazer-agent/src/http_server.rs
  pyth-lazer-agent/src/lazer_publisher.rs
  pyth-lazer-agent/src/main.rs
  pyth-lazer-agent/src/publisher_handle.rs
  pyth-lazer-agent/src/relayer_session.rs
  pyth-lazer-agent/src/websocket_utils.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(contract_manager): remove deprecated feeds from Tokens.json
  contract_manager/store/tokens/Tokens.json
Due: none

fix: apply formatter and linter fixes
  packages/component-library/src/AppShell/index.stories.tsx
  packages/component-library/src/Badge/index.stories.module.scss
  packages/component-library/src/Badge/index.stories.tsx
  packages/component-library/src/Card/index.stories.module.scss
  packages/component-library/src/Card/index.stories.tsx
  packages/component-library/src/CrossfadeTabPanels/index.stories.module.scss
  packages/component-library/src/CrossfadeTabPanels/index.stories.tsx
  packages/component-library/src/DropdownCaretDown/index.stories.tsx
  packages/component-library/src/EntityList/index.stories.module.scss
  packages/component-library/src/EntityList/index.stories.tsx
  packages/component-library/src/ErrorPage/index.stories.tsx
  packages/component-library/src/ErrorPage/index.tsx
  packages/component-library/src/Header/index.stories.tsx
  packages/component-library/src/InfoBox/index.stories.module.scss
  packages/component-library/src/InfoBox/index.stories.tsx
  packages/component-library/src/MainNavTabs/index.stories.tsx
  packages/component-library/src/Meter/index.stories.module.scss
  packages/component-library/src/Meter/index.stories.tsx
  packages/component-library/src/NoResults/index.stories.tsx
  packages/component-library/src/NoResults/index.tsx
  packages/component-library/src/NotFoundPage/index.stories.tsx
  packages/component-library/src/SearchInput/index.stories.module.scss
  packages/component-library/src/SearchInput/index.stories.tsx
  packages/component-library/src/Select/index.stories.module.scss
  packages/component-library/src/Select/index.stories.tsx
  packages/component-library/src/SingleToggleGroup/index.stories.module.scss
  packages/component-library/src/SingleToggleGroup/index.stories.tsx
  packages/component-library/src/StatCard/index.stories.module.scss
  packages/component-library/src/StatCard/index.stories.tsx
  packages/component-library/src/Status/index.stories.module.scss
  packages/component-library/src/Status/index.stories.tsx
  packages/component-library/src/Switch/index.stories.module.scss
  packages/component-library/src/Switch/index.stories.tsx
  packages/component-library/src/TabList/index.stories.tsx
  packages/component-library/src/Table/index.stories.module.scss
  packages/component-library/src/Table/index.stories.tsx
  packages/component-library/src/icon-control.tsx
Due: none

feat(lazer) Add the lazer state definitions to `state.proto`
  lazer/publisher_sdk/proto/state.proto
  lazer/publisher_sdk/rust/src/lib.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer) Bump pyth-lazer-publisher-sdk version
  lazer/Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer) Bump pyth-lazer-publisher-sdk version (#2758)
  lazer/Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

bump pyth-lazer-publisher-sdk to 0.1.5
  pyth-lazer-agent/Cargo.lock
  pyth-lazer-agent/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(wormhole): implement guardian set storage and management
  target_chains/stylus/Cargo.toml
  target_chains/stylus/contracts/wormhole/Cargo.toml
  target_chains/stylus/contracts/wormhole/src/lib.rs
Due: none

feat(wormhole): implement verify_vm function with comprehensive validation
  target_chains/stylus/contracts/wormhole/src/lib.rs
Due: none

fix(fortuna): use query builder and add comprehensive indices
  apps/fortuna/.sqlx/query-9ab85443388dbac329b8c3031c33aa4767439d43238eb95e8625e377af46ecc1.json
  apps/fortuna/flake.nix
  apps/fortuna/migrations/20250605004757_add_indices_for_advanced_search.down.sql
  apps/fortuna/migrations/20250605004757_add_indices_for_advanced_search.up.sql
  apps/fortuna/src/api/explorer.rs
  apps/fortuna/src/history.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix(fortuna) remove unnecessary cli flag
  apps/fortuna/flake.nix
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix: update validation types and improve Lazer configuration handling
  governance/xc_admin/packages/xc_admin_common/src/programs/core/core_functions.ts
  governance/xc_admin/packages/xc_admin_common/src/programs/lazer/lazer_functions.ts
  governance/xc_admin/packages/xc_admin_common/src/programs/types.ts
  governance/xc_admin/packages/xc_admin_frontend/components/programs/PythCore.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/programs/PythLazer.tsx
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: update download filename for Lazer configuration export
  governance/xc_admin/packages/xc_admin_frontend/components/programs/PythLazer.tsx
Due: none

fix(apps/price_pusher): ignore invalid price updates on push
  apps/price_pusher/package.json
  apps/price_pusher/src/aptos/aptos.ts
  apps/price_pusher/src/fuel/fuel.ts
  apps/price_pusher/src/injective/injective.ts
  apps/price_pusher/src/near/near.ts
  apps/price_pusher/src/solana/solana.ts
  apps/price_pusher/src/sui/sui.ts
  apps/price_pusher/src/ton/ton.ts
Due: none

fix(apps/price_pusher): do not push if source price is undefined
  apps/price_pusher/src/price-config.ts
Due: none

fix(apps/price_pusher): better price feed listener error handling
  apps/price_pusher/src/pyth-price-listener.ts
Due: none

fix(fortuna): improve tests for query builder
  apps/fortuna/src/history.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

chore(fortuna): improve readme
  apps/fortuna/README.md
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix(fortuna): re-add indices on tx hash
  apps/fortuna/migrations/20250605165549_re-add_tx_hash_indices.down.sql
  apps/fortuna/migrations/20250605165549_re-add_tx_hash_indices.up.sql
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

Add pyth quorom server
  apps/quorom/.gitignore
  apps/quorom/Cargo.lock
  apps/quorom/Cargo.toml
  apps/quorom/rust-toolchain
  apps/quorom/src/api.rs
  apps/quorom/src/main.rs
  apps/quorom/src/pythnet.rs
  apps/quorom/src/server.rs
  apps/quorom/src/ws.rs
Due: none

Remove redundant dependency
  apps/quorom/Cargo.lock
  apps/quorom/Cargo.toml
  apps/quorom/src/ws.rs
Due: none

Review comments: parallelize channel send, exponential backoff
  pyth-lazer-agent/Cargo.lock
  pyth-lazer-agent/Cargo.toml
  pyth-lazer-agent/src/config.rs
  pyth-lazer-agent/src/lazer_publisher.rs
  pyth-lazer-agent/src/publisher_handle.rs
  pyth-lazer-agent/src/relayer_session.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(fortuna): add result count to results
  apps/fortuna/src/api/explorer.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/history.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat(fortuna): add prometheus metrics for history query latency
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/api.rs
  apps/fortuna/src/api/explorer.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/eth_utils/traced_client.rs
  apps/fortuna/src/history.rs
  apps/fortuna/src/keeper/keeper_metrics.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

Change body payload type
  apps/quorom/Cargo.lock
  apps/quorom/Cargo.toml
  apps/quorom/src/api.rs
  apps/quorom/src/server.rs
  apps/quorom/src/ws.rs
Due: none

Rename
  apps/quorum/.gitignore
  apps/quorum/Cargo.lock
  apps/quorum/Cargo.toml
  apps/quorum/rust-toolchain
  apps/quorum/src/api.rs
  apps/quorum/src/main.rs
  apps/quorum/src/pythnet.rs
  apps/quorum/src/server.rs
  apps/quorum/src/ws.rs
Due: none

Address comments
  apps/quorum/src/api.rs
  apps/quorum/src/pythnet.rs
  apps/quorum/src/server.rs
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
