Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

Fix storing the sequence inside the vaa seqs
  apps/hermes/server/src/state/wormhole.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore(entropy): purge chains
  contract_manager/store/contracts/EvmEntropyContracts.json
Due: none

fix(contract_manager): cleanup
  contract_manager/package.json
  contract_manager/src/core/contracts/evm.ts
  contract_manager/src/node/utils/shell.ts
  contract_manager/src/node/utils/store.ts
  contract_manager/store/contracts/EvmExpressRelayContracts.json
Due: none

fix
  contract_manager/src/core/contracts/evm.ts
  contract_manager/src/core/contracts/evm_abis.ts
Due: none

chore(contract_manager): cleanup (#2811)
  contract_manager/package.json
  contract_manager/src/core/contracts/evm.ts
  contract_manager/src/core/contracts/evm_abis.ts
  contract_manager/src/node/utils/shell.ts
  contract_manager/src/node/utils/store.ts
  contract_manager/store/contracts/EvmEntropyContracts.json
  contract_manager/store/contracts/EvmExpressRelayContracts.json
Due: none

divided integration and unit tests, deleted extra files
  target_chains/stylus/contracts/wormhole/src/lib.rs
  target_chains/stylus/contracts/wormhole/src/tests.rs
  target_chains/stylus/contracts/wormhole/src/types.rs
  target_chains/stylus/contracts/wormhole/tests/integration_test.rs
Due: none

docs(fortuna): add comprehensive multi-replica setup documentation
  apps/fortuna/README.md
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/config.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

udpate
  contract_manager/src/utils/utils.ts
Due: none

update
  apps/api-reference/src/components/EvmApi/index.tsx
  apps/api-reference/src/components/EvmProvider/index.tsx
Due: none

update sample config
  apps/fortuna/config.sample.yaml
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

update
  apps/api-reference/src/components/EvmApi/run-button.tsx
Due: none

update
  apps/api-reference/src/components/EvmApi/index.tsx
  apps/api-reference/src/components/EvmApi/run-button.tsx
  apps/api-reference/src/components/EvmProvider/index.tsx
  contract_manager/src/utils/utils.ts
Due: none

added initial guardian set index flag
  target_chains/stylus/contracts/wormhole/Cargo.toml
  target_chains/stylus/contracts/wormhole/src/lib.rs
Due: none

removed comments
  apps/api-reference/src/components/EvmProvider/index.tsx
Due: none

refactor(fortuna): streamline keeper configuration and improve event processing
  apps/fortuna/README.md
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

small fixes
  target_chains/stylus/contracts/wormhole/src/lib.rs
Due: none

removed print statement and comments
  target_chains/stylus/contracts/wormhole/src/lib.rs
Due: none

safer gets within the parse_vm_static function
  target_chains/stylus/contracts/wormhole/src/lib.rs
Due: none

feat(fortuna): add provider arg to entropy load testing script
  contract_manager/scripts/load_test_entropy.ts
Due: none

fix(fortuna): improve config and replica logic
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

fix(fortuna): names, config check
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/config.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

types catalog change
  packages/component-library/package.json
  pnpm-lock.yaml
Due: none

updated abi
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

entropy-tester node types catalog fix
  apps/entropy-tester/package.json
  pnpm-lock.yaml
Due: none

bump version
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

update
  apps/api-reference/src/components/EvmProvider/index.tsx
  contract_manager/src/utils/utils.ts
Due: none

chore(api-reference) Add Contract Manager Support (#2785)
  apps/api-reference/package.json
  apps/api-reference/src/components/EvmApi/index.tsx
  apps/api-reference/src/components/EvmApi/run-button.tsx
  apps/api-reference/src/components/EvmProvider/index.tsx
  apps/api-reference/src/evm-networks.ts
  contract_manager/package.json
  contract_manager/src/utils/utils.ts
  pnpm-lock.yaml
Due: none

feat(fortuna): Multiple replica support (#2812)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/README.md
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
  apps/fortuna/src/keeper/process_event.rs
  contract_manager/scripts/load_test_entropy.ts
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

feat(entropy-tester): accept custom endpoint
  apps/entropy-tester/config.sample.json
  apps/entropy-tester/package.json
  apps/entropy-tester/src/index.ts
  contract_manager/src/core/chains.ts
Due: none

quick refactoring
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

feat(fortuna): add option to disable adjustment threads
  apps/fortuna/README.md
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

created crate for shared structs
  target_chains/stylus/Cargo.lock
  target_chains/stylus/Cargo.toml
  target_chains/stylus/contracts/pyth-types/Cargo.toml
  target_chains/stylus/contracts/pyth-types/src/lib.rs
Due: none

address comments
  apps/entropy-tester/config.sample.json
  apps/entropy-tester/src/index.ts
Due: none

feat(entropy-tester): accept custom endpoint (#2814)
  apps/entropy-tester/config.sample.json
  apps/entropy-tester/package.json
  apps/entropy-tester/src/index.ts
  contract_manager/src/core/chains.ts
Due: none

feat(fortuna): add option to disable adjustment threads (#2816)
  apps/fortuna/README.md
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

cleaned initialize and sorted out stylus storage type issue for now. also added wormhole integration temporarily
  target_chains/stylus/Cargo.lock
  target_chains/stylus/contracts/pyth-receiver/Cargo.toml
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
  target_chains/stylus/contracts/pyth-receiver/src/structs.rs
Due: none

Deduplicate before verification for beacon msgs
  apps/hermes/server/src/network/pythnet.rs
  apps/hermes/server/src/network/wormhole.rs
  apps/hermes/server/src/state/wormhole.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

Add version url to quorum api
  apps/quorum/Cargo.lock
  apps/quorum/Cargo.toml
  apps/quorum/src/api.rs
Due: cargo-fmt-quorum, cargo-clippy-quorum

Add version url to quorum api (#2817)
  apps/quorum/Cargo.lock
  apps/quorum/Cargo.toml
  apps/quorum/src/api.rs
Due: cargo-fmt-quorum, cargo-clippy-quorum
