Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./fortuna/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

address comments
  apps/hermes/client/js/package.json
  apps/hermes/client/js/src/HermesClient.ts
  apps/hermes/client/js/src/index.ts
  apps/hermes/client/js/src/serverTypes.d.ts
  apps/hermes/client/js/src/zodSchemas.ts
  package-lock.json
Due: cargo-fmt-hermes

remove ci
  .github/workflows/ci-hermes-client-api-types.yaml
Due: cargo-fmt-hermes

address comments
  apps/hermes/client/js/src/HermesConnection.ts
  apps/hermes/client/js/src/examples/HermesClient.ts
Due: cargo-fmt-hermes

fix test
  .pre-commit-config.yaml
  apps/hermes/client/js/package.json
  apps/hermes/client/js/src/serverTypes.d.ts
Due: cargo-fmt-hermes

update package-lock.json
  package-lock.json
Due: none

rename HermesConnection to HermesClient
  apps/hermes/client/js/README.md
Due: cargo-fmt-hermes

address comments
  apps/hermes/client/js/src/HermesClient.ts
Due: cargo-fmt-hermes

make openapi-zod-client dev-dep
  apps/hermes/client/js/package.json
  package-lock.json
Due: cargo-fmt-hermes

feat(fortuna): Speedup setup provider
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/command/setup_provider.rs
Due: cargo-fmt-fortuna

feat(target_chains/starknet): support SetFeeInToken instruction (#1669)
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/pyth/governance.cairo
  target_chains/starknet/contracts/tests/data.cairo
  target_chains/starknet/contracts/tests/pyth.cairo
  target_chains/starknet/tools/test_vaas/src/bin/generate_test_data.rs
Due: none

add workflow
  .github/workflows/publish-hermes-client.yml
Due: cargo-fmt-hermes

update workflow
  .github/workflows/publish-hermes-client.yml
Due: cargo-fmt-hermes

update package name
  apps/hermes/client/js/package.json
Due: cargo-fmt-hermes

remove workflow
  .github/workflows/publish-hermes-client.yml
Due: cargo-fmt-hermes

remove workflow (#1674)
  .github/workflows/publish-hermes-client.yml
Due: cargo-fmt-hermes

chore(target_chains/starknet): rename local_deploy to deploy.sh
  target_chains/starknet/contracts/deploy/deploy.sh
Due: none

chore(target_chains/starknet): update deploy script params and add more options
  .github/workflows/ci-starknet-contract.yml
  target_chains/starknet/contracts/README.md
  target_chains/starknet/contracts/deploy/deploy.sh
Due: none

fix(contract_manager): top up keeper balance when deploying (#1666)
  contract_manager/scripts/deploy_evm_entropy_contracts.ts
  contract_manager/scripts/list_entropy_contracts.ts
  contract_manager/src/contracts/evm.ts
Due: none

feat(fortuna): Speedup setup provider (#1673)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/command/setup_provider.rs
Due: cargo-fmt-fortuna

chore: Deploy Entropy and PriceFeeds on berachain testnet v2
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

chore: Deploy Entropy and PriceFeeds on berachain testnet v2 (#1677)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

(chore:pricefeed/evm) Deployed new chains (Opbnb, opbnb testnet, gravity)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

fix: redeploy opbnb_testnet
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

(chore:pricefeed/evm) new chains opbnb gravity (#1671)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

fix(apps/hermes/client): use camelCase for streaming params
  apps/hermes/client/js/package.json
  apps/hermes/client/js/src/HermesClient.ts
  apps/hermes/client/js/src/examples/HermesClient.ts
  package-lock.json
Due: cargo-fmt-hermes

remove console log
  apps/hermes/client/js/src/HermesClient.ts
Due: cargo-fmt-hermes

refactor
  apps/hermes/client/js/src/HermesClient.ts
  apps/hermes/client/js/src/utils.ts
Due: cargo-fmt-hermes

use hex as example
  apps/hermes/client/js/src/examples/HermesClient.ts
Due: cargo-fmt-hermes

fix(apps/hermes/client): use camelCase for streaming params (#1679)
  apps/hermes/client/js/package.json
  apps/hermes/client/js/src/HermesClient.ts
  apps/hermes/client/js/src/examples/HermesClient.ts
  apps/hermes/client/js/src/utils.ts
  package-lock.json
Due: cargo-fmt-hermes

Don't blow up dotenv for users who don't have nix
  .envrc
Due: none

Fix workspace references
  apps/price_pusher/package.json
  contract_manager/package.json
  express_relay/examples/easy_lend/package.json
  express_relay/sdk/js/package.json
  express_relay/sdk/solidity/package.json
  governance/xc_admin/packages/crank_executor/package.json
  governance/xc_admin/packages/crank_pythnet_relayer/package.json
  governance/xc_admin/packages/proposer_server/package.json
  governance/xc_admin/packages/xc_admin_cli/package.json
  governance/xc_admin/packages/xc_admin_common/package.json
  governance/xc_admin/packages/xc_admin_frontend/package.json
  pnpm-lock.yaml
  price_service/client/js/package.json
  target_chains/aptos/sdk/js/package.json
  target_chains/cosmwasm/deploy-scripts/package.json
  target_chains/cosmwasm/tools/package.json
  target_chains/ethereum/contracts/package.json
  target_chains/ethereum/entropy_sdk/solidity/package.json
  target_chains/ethereum/examples/coin_flip/app/package.json
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/solidity/package.json
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/sui/cli/package.json
  target_chains/sui/sdk/js/package.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Gitignore .vercel
  .gitignore
Due: none

fix: readme link
  target_chains/solana/pyth_solana_receiver_sdk/README.md
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Fix
  target_chains/solana/pyth_solana_receiver_sdk/README.md
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Update next
  governance/xc_admin/packages/xc_admin_frontend/components/common/SocialLinks.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/layout/Footer.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/layout/Header.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/layout/MobileMenu.tsx
  governance/xc_admin/packages/xc_admin_frontend/next.config.js
  governance/xc_admin/packages/xc_admin_frontend/package.json
  pnpm-lock.yaml
Due: none

Add ts-node dependency to price-pusher
  apps/price_pusher/package.json
  pnpm-lock.yaml
Due: none

fix: readme link (#1680)
  target_chains/solana/pyth_solana_receiver_sdk/README.md
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
