Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

feat(developer-hub): link change-log feeds to the Pyth Terminal
  apps/developer-hub/src/components/ChangeLog/EventRow.tsx
  apps/developer-hub/src/components/ChangeLog/data.ts
  apps/developer-hub/src/components/ChangeLog/index.module.scss
Due: none

feat: add 7th guardian set to solana cli
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore(contract_manager): add 7th guardian set upgrade (#3840)
  contract_manager/scripts/sync_wormhole_guardian_set.ts
  contract_manager/src/core/contracts/wormhole.ts
Due: none

fix(developer-hub): size the change-log link arrow to match the text
  apps/developer-hub/src/components/ChangeLog/index.module.scss
Due: none

devin feedback
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: devin feedback#3843
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat(near): add SetWormhole governance action to Pyth receiver
  target_chains/near/README.md
  target_chains/near/receiver/Cargo.lock
  target_chains/near/receiver/src/governance.rs
  target_chains/near/receiver/tests/workspaces.rs
Due: none

refactor(crosschain): split Stellar Lazer into separate verifier and executor contract types
  contract_manager/README.md
  contract_manager/scripts/generate_stellar_lazer_update_trusted_signer_proposal.ts
  contract_manager/src/core/chains.ts
  contract_manager/src/core/contracts/stellar.ts
  contract_manager/src/node/utils/store.ts
  contract_manager/src/store/contracts/StellarExecutorContracts.json
  contract_manager/src/store/contracts/StellarLazerContracts.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(crosschain): add Stellar Lazer contract support to contract_manager
  contract_manager/README.md
  contract_manager/package.json
  contract_manager/scripts/generate_stellar_lazer_update_trusted_signer_proposal.ts
  contract_manager/src/core/chains.ts
  contract_manager/src/core/contracts/index.ts
  contract_manager/src/core/contracts/stellar.ts
  contract_manager/src/node/utils/store.ts
  contract_manager/src/store/chains/StellarChains.json
  contract_manager/src/store/contracts/StellarLazerContracts.json
  governance/xc_admin/packages/xc_admin_common/package.json
  governance/xc_admin/packages/xc_admin_common/src/__tests__/StellarExecutorAction.test.ts
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/PythGovernanceAction.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/StellarExecutorAction.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

docs(pro): update Stellar testnet contract id to canonical Pyth-DAO redeploy
  apps/developer-hub/content/docs/price-feeds/pro/contract-addresses.mdx
Due: none

refactor(crosschain): extract shared sleep() util; trim README, expand entity list
  contract_manager/README.md
  contract_manager/package.json
  contract_manager/scripts/latency_entropy.ts
  contract_manager/scripts/latency_entropy_with_callback.ts
  contract_manager/scripts/send_message_to_wormhole.ts
  contract_manager/scripts/update_all_pricefeeds.ts
  contract_manager/src/core/contracts/stellar.ts
  contract_manager/src/core/contracts/wormhole.ts
  contract_manager/src/node/utils/governance.ts
  contract_manager/src/utils/sleep.ts
Due: none

docs(crosschain): drop Lazer on Stellar README section
  contract_manager/README.md
Due: none

fix(fortuna): record a Resolved state for already-revealed requests
  apps/entropy-explorer/src/components/Home/search-controls.tsx
  apps/entropy-explorer/src/components/Status/index.tsx
  apps/entropy-explorer/src/requests.ts
  apps/fortuna/src/api.rs
  apps/fortuna/src/history.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

chore(fortuna): bump version to 9.5.0 for the Resolved state change
  Cargo.lock
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

docs(pro): point Stellar guide at crates.io now that SDK is published
  apps/developer-hub/content/docs/price-feeds/pro/integrate-as-consumer/stellar.mdx
Due: none

docs(pro): use the SDK's one-call verify+parse helper in the Stellar guide
  apps/developer-hub/content/docs/price-feeds/pro/integrate-as-consumer/stellar.mdx
Due: none

feat(near): vendor Wormhole core bridge with Pyth Pro router guardian set
  .github/workflows/ci-near-contract.yml
  Cargo.toml
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/near/README.md
  target_chains/near/receiver/Cargo.lock
  target_chains/near/receiver/tests/workspaces.rs
  target_chains/near/receiver/workspace-test.sh
  target_chains/near/wormhole/Cargo.lock
  target_chains/near/wormhole/Cargo.toml
  target_chains/near/wormhole/VENDOR.md
  target_chains/near/wormhole/src/byte_utils.rs
  target_chains/near/wormhole/src/lib.rs
  target_chains/near/wormhole/src/state.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

fix(near): green CI for vendored wormhole
  target_chains/near/wormhole/Cargo.toml
  target_chains/near/wormhole/VENDOR.md
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

docs(pro): fix Stellar guide trap path and snippet scaffolding gaps
  apps/developer-hub/content/docs/price-feeds/pro/integrate-as-consumer/stellar.mdx
Due: none

feat(contract_manager): add gRPC support for Sui chains
  contract_manager/src/core/chains.ts
  contract_manager/src/core/contracts/sui.ts
  contract_manager/src/store/chains/IotaChains.json
  contract_manager/src/store/chains/SuiChains.json
Due: none

fix(near): gate wormhole upgrade entry point to wasm32 so ABI builds
  target_chains/near/wormhole/Cargo.toml
  target_chains/near/wormhole/VENDOR.md
  target_chains/near/wormhole/src/lib.rs
Due: none

fix(near): name vendored wormhole lib after its package so reproducible build finds the wasm
  .github/workflows/ci-near-contract.yml
  target_chains/near/README.md
  target_chains/near/receiver/tests/workspaces.rs
  target_chains/near/receiver/workspace-test.sh
  target_chains/near/wormhole/Cargo.toml
Due: none

chore: remove ali-behjati from CODEOWNERS
  .github/CODEOWNERS
Due: none

refactor(contract_manager): share Sui tx execution via exported helper
  contract_manager/src/core/chains.ts
  contract_manager/src/core/contracts/sui.ts
Due: none

fix(contract_manager): correct Sui object parsing across transports
  contract_manager/src/core/contracts/sui.ts
Due: none

chore: remove ali-behjati from CODEOWNERS (#3849)
  .github/CODEOWNERS
Due: none

fix(fortuna): confirm reveal via on-chain event for already-revealed requests
  Cargo.lock
  apps/entropy-explorer/src/components/Home/search-controls.tsx
  apps/entropy-explorer/src/components/Status/index.tsx
  apps/entropy-explorer/src/requests.ts
  apps/fortuna/Cargo.toml
  apps/fortuna/src/api.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/reader.rs
  apps/fortuna/src/history.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

deploy(lazer) Cronos
  contract_manager/src/store/chains/EvmChains.json
  contract_manager/src/store/contracts/EvmExecutorContracts.json
  contract_manager/src/store/contracts/EvmLazerContracts.json
Due: none

fix(sui/cli): migrate deploy/upgrade helpers to .core API
  target_chains/sui/cli/src/cli.ts
  target_chains/sui/cli/src/pyth_deploy.ts
  target_chains/sui/cli/src/upgrade_pyth.ts
Due: none

feat(contract_manager): add gRPC support for Sui chains (#3848)
  contract_manager/src/core/chains.ts
  contract_manager/src/core/contracts/sui.ts
  contract_manager/src/store/chains/IotaChains.json
  contract_manager/src/store/chains/SuiChains.json
  target_chains/sui/cli/src/cli.ts
  target_chains/sui/cli/src/pyth_deploy.ts
  target_chains/sui/cli/src/upgrade_pyth.ts
Due: none

fix(sui/cli): wait for published package before initPyth in deploy
  target_chains/sui/cli/src/cli.ts
Due: none

docs: clarify on-chain payload validation and revert behavior
  target_chains/ethereum/contracts/README.md
  target_chains/ethereum/sdk/js/README.md
  target_chains/ethereum/sdk/solidity/README.md
Due: none

docs(ethereum): clarify on-chain validation of price update payloads
  target_chains/ethereum/contracts/README.md
  target_chains/ethereum/sdk/js/README.md
  target_chains/ethereum/sdk/solidity/README.md
Due: none

fix: add missing networkId to TonChains configuration
  contract_manager/src/core/chains.ts
  contract_manager/src/store/chains/TonChains.json
Due: none

fix(contract-manager): add missing networkId serialization to TonChain
  contract_manager/src/core/chains.ts
  contract_manager/src/store/chains/TonChains.json
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
