Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy, cargo-fmt-lazer, cargo-clippy-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/fortuna/Cargo.toml --all
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/fortuna/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./target_chains/solana/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./target_chains/solana/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

poetry-install:
  name: poetry install
  entry: poetry -C express_relay/sdk/python/express_relay install
  pass_filenames: false
  language: system

feat(known-publishers): add gluex to known publishers
  apps/staking/src/known-publishers.ts
  apps/staking/src/publisher-icons/gluex.svg
  packages/known-publishers/src/icons/monochrome/gluex.svg
  packages/known-publishers/src/index.tsx
Due: none

Bump version and change count to option of u16
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/payload.rs
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer-protocol): Record publisher count for aggregated price feeds (#2225)
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/payload.rs
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

add 50% overhead to gas for cross-contract calls
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
Due: none

feat: add test for executing callback with gas overhead
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

feat: add docs for requestPriceUpdatesWithCallback and executeCallback functions to IPulse interface
  target_chains/ethereum/contracts/contracts/pulse/IPulse.sol
Due: none

init argus
  apps/argus/Cargo.toml
  apps/argus/README.md
  apps/argus/config.sample.yaml
  apps/argus/rust-toolchain
  apps/argus/src/config.rs
  apps/argus/src/contract.rs
  apps/argus/src/error.rs
  apps/argus/src/hermes.rs
  apps/argus/src/keeper.rs
  apps/argus/src/main.rs
  apps/argus/src/storage.rs
  apps/argus/src/types.rs
Due: none

fix(known-publishers): use the name GlueX Protocol instead of Gluex
  apps/staking/src/known-publishers.ts
  packages/known-publishers/src/index.tsx
Due: none

chore(entropy) Add devnet
  contract_manager/store/contracts/EvmEntropyContracts.yaml
Due: none

fix(pyth-solana-receiver): improve perf and security (#2222)
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
  target_chains/solana/pyth_solana_receiver_sdk/src/error.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore(entropy) Add devnet (#2228)
  contract_manager/store/contracts/EvmEntropyContracts.yaml
Due: none

Add latest price api
  lazer/sdk/rust/protocol/src/api.rs
  lazer/sdk/rust/protocol/src/lib.rs
  lazer/sdk/rust/protocol/src/payload.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Version bump
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer-protocol): Add latest price api interface (#2229)
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
  lazer/sdk/rust/protocol/src/lib.rs
  lazer/sdk/rust/protocol/src/payload.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Small change to interface
  lazer/sdk/rust/protocol/src/api.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Bump version
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: use fixed-length array for priceIds in req
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseErrors.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseState.sol
Due: none

add test
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

fix(lazer-protocol): Update Latest Price Interface (#2230)
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Make inner fields public
  lazer/sdk/rust/protocol/src/api.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Bump version for hopefully the last time
  lazer/sdk/rust/protocol/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

Bump lock file version too
  lazer/Cargo.lock
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(lazer-protocol): Latest Price Inner Fields Public (#2231)
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer-protocol): refactor + add reduce price request
  lazer/sdk/rust/protocol/src/api.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer-protocol): refactor + add reduce price request (#2232)
  lazer/sdk/rust/protocol/src/api.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(pyth-lazer-protocol): increase version
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(pyth-lazer-protocol): increase version (#2233)
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add governance total
  apps/staking/src/components/Header/stats.tsx
Due: none

Add exponent to payload
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
  lazer/sdk/rust/protocol/src/payload.rs
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer-protocol): Add exponent to payload (#2235)
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
  lazer/sdk/rust/protocol/src/payload.rs
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: improve js sdk reliability via redundant parallel websocket cxns
  lazer/sdk/js/examples/index.ts
  lazer/sdk/js/package.json
  lazer/sdk/js/src/client.ts
  lazer/sdk/js/src/socket/ResillientWebSocket.ts
  lazer/sdk/js/src/socket/WebSocketPool.ts
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

doc: update comment
  lazer/sdk/js/examples/index.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor!(lazer): update api protocol
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: add json binary encoding
  lazer/sdk/rust/protocol/src/api.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor!(lazer): update api protocol (#2237)
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add error handler, bump ver
  lazer/sdk/js/package.json
  lazer/sdk/js/src/socket/WebSocketPool.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: improve promise handling, fix eslint
  lazer/sdk/js/examples/index.ts
  lazer/sdk/js/src/client.ts
  lazer/sdk/js/src/socket/resilient-web-socket.ts
  lazer/sdk/js/src/socket/web-socket-pool.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: eslint
  lazer/sdk/js/src/socket/web-socket-pool.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

doc: fix comment
  lazer/sdk/js/src/socket/web-socket-pool.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer): Improve JS SDK reliability via redundant parallel websocket cxns (#2236)
  lazer/sdk/js/examples/index.ts
  lazer/sdk/js/package.json
  lazer/sdk/js/src/client.ts
  lazer/sdk/js/src/socket/resilient-web-socket.ts
  lazer/sdk/js/src/socket/web-socket-pool.ts
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  mypy: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
