Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy, cargo-fmt-lazer, cargo-clippy-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/fortuna/Cargo.toml --all
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/fortuna/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./target_chains/solana/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./target_chains/solana/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

poetry-install:
  name: poetry install
  entry: poetry -C express_relay/sdk/python/express_relay install
  pass_filenames: false
  language: system

gas multiplier for tx backoff
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

add scaling to callback
  apps/fortuna/config.sample.yaml
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

bump version
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/config.sample.yaml
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix(contract-manager) Small fixes
  contract_manager/scripts/check_proposal.ts
  contract_manager/scripts/latency_entropy_with_callback.ts
  contract_manager/scripts/list_entropy_contracts.ts
  contract_manager/scripts/load_test_entropy.ts
Due: none

chore(network) Add monad testnet
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

better success and failure metrics
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

comment
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat(fortuna): Dynamically increase gas limit for a transaction on failure (#2238)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix(fortuna): Better success and failure metrics (#2241)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix(price-service-sdk): make price-service-sdk portable
  price_service/sdk/js/package.json
  price_service/sdk/js/src/AccumulatorUpdateData.ts
Due: none

feat: add backoff_gas_multiplier_cap_pct to fortuna config
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/config.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat: replace hardcoded gas ceiling with configurable cap in process_event
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat: apply gas multiplier cap in process_event_with_backoff
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix: initialize backoff_gas_multiplier_cap_pct in BlockchainState
  apps/fortuna/src/api.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

refactor: remove duplicate gas limit check in process_event
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/api.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

gr
  apps/fortuna/src/api.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

make this sane
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/api.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

config defaults
  apps/fortuna/src/config.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

track amount spent on tx fees
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat: add support for deserializing lazer instructions in xc-admin
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/LazerMultisigInstruction.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/index.ts
Due: none

fix error
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/LazerMultisigInstruction.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/idl/lazer.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

docs(hermes-client): Correct function name from getStreamingPriceUpdates to getPriceUpdatesStream in README.md
  apps/hermes/client/js/README.md
Due: cargo-fmt-hermes, cargo-clippy-hermes

add test
  governance/xc_admin/packages/xc_admin_common/src/__tests__/LazerMultisigInstruction.test.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/LazerMultisigInstruction.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/idl/lazer.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(xc-admin): add support for deserializing lazer instructions in xc-admin (#2246)
  governance/xc_admin/packages/xc_admin_common/src/__tests__/LazerMultisigInstruction.test.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/LazerMultisigInstruction.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/idl/lazer.json
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/index.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(lazer): verify account size before applying migration
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/src/lib.rs
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/tests/test1.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(hermes-client)!: Correct filter parameter to assetType in getPriceFeeds function
  apps/hermes/client/js/README.md
  apps/hermes/client/js/package.json
  apps/hermes/client/js/src/HermesClient.ts
  apps/hermes/client/js/src/examples/HermesClient.ts
Due: cargo-fmt-hermes, cargo-clippy-hermes

do it
  governance/xc_admin/packages/xc_admin_common/src/deterministic_oracle_accounts.ts
Due: none

do it (#2249)
  governance/xc_admin/packages/xc_admin_common/src/deterministic_oracle_accounts.ts
Due: none

bump version
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat(fortuna): Track amount spent on tx fees (#2245)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat(fortuna): Add a couple more config values
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

doc
  apps/fortuna/src/config.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

gr
  apps/fortuna/src/config.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

allow negative profits
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

right version
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix error
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat(fortuna): Add a couple more config values (#2251)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

export lazer program id
  lazer/sdk/js/src/constants.ts
  lazer/sdk/js/src/index.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

bump
  lazer/sdk/js/package.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  mypy: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
