Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

feat: add governance error variants and unit tests for Pyth Lazer Stellar
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/src/error.rs
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/src/test.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: implement payload parsing module for Pyth Lazer Stellar contract
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/src/error.rs
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/src/lib.rs
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/src/payload.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

test: add real mainnet VAA parsing tests to wormhole-executor-stellar
  lazer/contracts/stellar/contracts/wormhole-executor-stellar/src/vaa.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

test: add real mainnet VAA parsing tests to wormhole-executor-stellar (#3581)
  lazer/contracts/stellar/contracts/wormhole-executor-stellar/src/vaa.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add guardian verification and set management for Wormhole executor (#3578)
  lazer/contracts/stellar/Cargo.lock
  lazer/contracts/stellar/contracts/wormhole-executor-stellar/Cargo.toml
  lazer/contracts/stellar/contracts/wormhole-executor-stellar/src/error.rs
  lazer/contracts/stellar/contracts/wormhole-executor-stellar/src/guardian.rs
  lazer/contracts/stellar/contracts/wormhole-executor-stellar/src/lib.rs
  lazer/contracts/stellar/contracts/wormhole-executor-stellar/src/test.rs
  lazer/contracts/stellar/contracts/wormhole-executor-stellar/src/vaa.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add governance error variants and unit tests for Pyth Lazer Stellar (#3579)
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/src/error.rs
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/src/test.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add PTGM governance parsing and dispatch for Wormhole executor
  lazer/contracts/stellar/contracts/wormhole-executor-stellar/src/error.rs
  lazer/contracts/stellar/contracts/wormhole-executor-stellar/src/governance.rs
  lazer/contracts/stellar/contracts/wormhole-executor-stellar/src/lib.rs
  lazer/contracts/stellar/contracts/wormhole-executor-stellar/src/test.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add PTGM governance parsing and dispatch for Wormhole executor (#3582)
  lazer/contracts/stellar/contracts/wormhole-executor-stellar/src/error.rs
  lazer/contracts/stellar/contracts/wormhole-executor-stellar/src/governance.rs
  lazer/contracts/stellar/contracts/wormhole-executor-stellar/src/lib.rs
  lazer/contracts/stellar/contracts/wormhole-executor-stellar/src/test.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: implement payload parsing for Pyth Lazer Stellar contract (#3580)
  Dockerfile.metis
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/src/error.rs
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/src/lib.rs
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/src/payload.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add integration tests, README, and build infrastructure for Stellar contracts
  lazer/contracts/stellar/.gitignore
  lazer/contracts/stellar/Cargo.lock
  lazer/contracts/stellar/Cargo.toml
  lazer/contracts/stellar/Makefile
  lazer/contracts/stellar/README.md
  lazer/contracts/stellar/contracts/integration-tests/Cargo.toml
  lazer/contracts/stellar/contracts/integration-tests/src/lib.rs
  lazer/contracts/stellar/contracts/integration-tests/src/test.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add deployment script and fix WASM build for Stellar Lazer contracts
  lazer/contracts/stellar/.gitignore
  lazer/contracts/stellar/Makefile
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/src/lib.rs
  lazer/contracts/stellar/scripts/deploy.sh
Due: cargo-fmt-lazer, cargo-clippy-lazer

docs: add DESIGN.md for Pyth Lazer Stellar contracts
  lazer/contracts/stellar/DESIGN.md
Due: cargo-fmt-lazer, cargo-clippy-lazer

docs: add DESIGN.md for Pyth Lazer Stellar contracts (#3585)
  lazer/contracts/stellar/DESIGN.md
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add deployment script and fix WASM build for Stellar Lazer contracts (#3584)
  lazer/contracts/stellar/.gitignore
  lazer/contracts/stellar/Makefile
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/src/lib.rs
  lazer/contracts/stellar/scripts/deploy.sh
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: make payload module available in wasm32 builds for Stellar Lazer contract
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/Cargo.toml
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/src/lib.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add integration tests, README, and build infrastructure for Stellar contracts (#3583)
  lazer/contracts/stellar/.gitignore
  lazer/contracts/stellar/Cargo.lock
  lazer/contracts/stellar/Cargo.toml
  lazer/contracts/stellar/Makefile
  lazer/contracts/stellar/README.md
  lazer/contracts/stellar/contracts/integration-tests/Cargo.toml
  lazer/contracts/stellar/contracts/integration-tests/src/lib.rs
  lazer/contracts/stellar/contracts/integration-tests/src/test.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: make payload module available in wasm32 builds for Stellar Lazer contract (#3586)
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/Cargo.toml
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/src/lib.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add end-to-end test script for Pyth Lazer Stellar contracts
  lazer/contracts/stellar/scripts/test_real_update.sh
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: rewrite E2E test as proper TypeScript project following repo conventions
  lazer/contracts/stellar/scripts/e2e/package.json
  lazer/contracts/stellar/scripts/e2e/src/test_real_update.ts
  lazer/contracts/stellar/scripts/e2e/tsconfig.json
  lazer/contracts/stellar/scripts/e2e/turbo.json
  lazer/contracts/stellar/scripts/test_real_update.sh
  pnpm-workspace.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: simplify E2E test and add signer to deploy script per review feedback
  lazer/contracts/stellar/README.md
  lazer/contracts/stellar/scripts/deploy.sh
  lazer/contracts/stellar/scripts/e2e/package.json
  lazer/contracts/stellar/scripts/e2e/src/test_real_update.ts
  lazer/contracts/stellar/scripts/e2e/turbo.json
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add end-to-end test script for Pyth Lazer Stellar contracts (#3587)
  lazer/contracts/stellar/README.md
  lazer/contracts/stellar/scripts/deploy.sh
  lazer/contracts/stellar/scripts/e2e/package.json
  lazer/contracts/stellar/scripts/e2e/src/test_real_update.ts
  lazer/contracts/stellar/scripts/e2e/tsconfig.json
  lazer/contracts/stellar/scripts/e2e/turbo.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: enhance Stellar Lazer e2e test with output validation and auto-deploy
  lazer/contracts/stellar/contracts/integration-tests/src/test.rs
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/src/lib.rs
  lazer/contracts/stellar/scripts/deploy.sh
  lazer/contracts/stellar/scripts/e2e/src/test_real_update.ts
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: separate deployment from e2e test, require --contract-id
  lazer/contracts/stellar/scripts/e2e/src/test_real_update.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: enhance Stellar Lazer e2e test with output validation and auto-deploy (#3588)
  lazer/contracts/stellar/contracts/integration-tests/src/test.rs
  lazer/contracts/stellar/contracts/pyth-lazer-stellar/src/lib.rs
  lazer/contracts/stellar/scripts/deploy.sh
  lazer/contracts/stellar/scripts/e2e/src/test_real_update.ts
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

Add solana_core_contract integration test using LiteSVM
  target_chains/solana/Cargo.toml
  target_chains/solana/integration_tests/Cargo.toml
  target_chains/solana/integration_tests/tests/solana_core_contract.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Add Cargo.lock for solana integration tests
  target_chains/solana/integration_tests/Cargo.lock
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

better config loading, add logs
  apps/hyperliquid-recorder/.gitignore
  apps/hyperliquid-recorder/Cargo.lock
  apps/hyperliquid-recorder/Cargo.toml
  apps/hyperliquid-recorder/README.md
  apps/hyperliquid-recorder/Tiltfile
  apps/hyperliquid-recorder/docker-compose.local.yml
  apps/hyperliquid-recorder/src/clickhouse.rs
  apps/hyperliquid-recorder/src/config.rs
  apps/hyperliquid-recorder/src/health.rs
  apps/hyperliquid-recorder/src/main.rs
  apps/hyperliquid-recorder/src/recorder.rs
  apps/hyperliquid-recorder/src/stream_client.rs
  apps/hyperliquid-recorder/tests/test_config.rs
Due: none

feat: add trades stream recording
  apps/hyperliquid-recorder/README.md
  apps/hyperliquid-recorder/build.rs
  apps/hyperliquid-recorder/config.sample.yml
  apps/hyperliquid-recorder/docker-compose.local.yml
  apps/hyperliquid-recorder/proto/streaming.proto
  apps/hyperliquid-recorder/sql/001-init.sql
  apps/hyperliquid-recorder/sql/init-local.sql
  apps/hyperliquid-recorder/src/clickhouse.rs
  apps/hyperliquid-recorder/src/config.rs
  apps/hyperliquid-recorder/src/metrics.rs
  apps/hyperliquid-recorder/src/models.rs
  apps/hyperliquid-recorder/src/recorder.rs
  apps/hyperliquid-recorder/src/stream_client.rs
  apps/hyperliquid-recorder/tests/test_config.rs
Due: none

init(hyperliquid-recorder): Rust service that streams HL L2+trades data into CH (#3572)
  .github/workflows/docker-hyperliquid-recorder.yml
  apps/hyperliquid-recorder/.gitignore
  apps/hyperliquid-recorder/Cargo.lock
  apps/hyperliquid-recorder/Cargo.toml
  apps/hyperliquid-recorder/Dockerfile
  apps/hyperliquid-recorder/README.md
  apps/hyperliquid-recorder/Tiltfile
  apps/hyperliquid-recorder/alerts.sample.yml
  apps/hyperliquid-recorder/build.rs
  apps/hyperliquid-recorder/config.sample.yml
  apps/hyperliquid-recorder/docker-compose.local.yml
  apps/hyperliquid-recorder/grafana/dashboards/hyperliquid-recorder-overview.json
  apps/hyperliquid-recorder/grafana/provisioning/dashboards/dashboards.yml
  apps/hyperliquid-recorder/grafana/provisioning/datasources/prometheus.yml
  apps/hyperliquid-recorder/prometheus.sample.yml
  apps/hyperliquid-recorder/proto/orderbook.proto
  apps/hyperliquid-recorder/proto/streaming.proto
  apps/hyperliquid-recorder/rust-toolchain.toml
  apps/hyperliquid-recorder/scripts/local_e2e_check.sh
  apps/hyperliquid-recorder/sql/001-init.sql
  apps/hyperliquid-recorder/src/clickhouse.rs
  apps/hyperliquid-recorder/src/config.rs
  apps/hyperliquid-recorder/src/health.rs
  apps/hyperliquid-recorder/src/lib.rs
  apps/hyperliquid-recorder/src/main.rs
  apps/hyperliquid-recorder/src/metrics.rs
  apps/hyperliquid-recorder/src/models.rs
  apps/hyperliquid-recorder/src/proto.rs
  apps/hyperliquid-recorder/src/recorder.rs
  apps/hyperliquid-recorder/src/stream_client.rs
  apps/hyperliquid-recorder/tests/test_config.rs
  apps/hyperliquid-recorder/tests/test_health.rs
  apps/hyperliquid-recorder/tests/test_models.rs
Due: none

Add Codama PDA visitors for pyth-receiver and wormhole
  target_chains/solana/integration_tests/Cargo.lock
  target_chains/solana/integration_tests/Cargo.toml
  target_chains/solana/integration_tests/generated/pda_helpers/Cargo.toml
  target_chains/solana/integration_tests/generated/pda_helpers/src/lib.rs
  target_chains/solana/integration_tests/generator/extract-wormhole-idl.cjs
  target_chains/solana/integration_tests/generator/generate.mjs
  target_chains/solana/integration_tests/generator/idl/pyth_solana_receiver.json
  target_chains/solana/integration_tests/generator/idl/wormhole_core_bridge_solana.json
  target_chains/solana/integration_tests/generator/package-lock.json
  target_chains/solana/integration_tests/generator/package.json
  target_chains/solana/integration_tests/tests/solana_core_contract.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

remove ddl
  apps/hyperliquid-recorder/src/main.rs
Due: none

remove ddl (#3592)
  apps/hyperliquid-recorder/src/main.rs
Due: none

feat: add Monad and Monad testnet Pyth Pro (Lazer) contract addresses
  apps/developer-hub/content/docs/price-feeds/pro/contract-addresses.mdx
  contract_manager/src/store/contracts/EvmLazerContracts.json
Due: none

Add Monad mainnet and testnet Lazer contracts
  contract_manager/src/store/contracts/EvmLazerContracts.json
Due: none

docs(developer-hub): add Migrate from Core guide for Pyth Pro
  apps/developer-hub/content/docs/price-feeds/pro/meta.json
  apps/developer-hub/content/docs/price-feeds/pro/migrate-from-core.mdx
Due: none

docs(migration) Core to Pro
  apps/developer-hub/content/docs/price-feeds/pro/migrate-from-core.mdx
Due: none

add trades backfill script
  apps/hyperliquid-recorder/README.md
  apps/hyperliquid-recorder/scripts/backfill_tradexyz_march_2026.sh
  apps/hyperliquid-recorder/sql/backfill-tradexyz-march-2026.sql
Due: none

edit
  apps/hyperliquid-recorder/scripts/backfill_tradexyz_march_2026.sh
Due: none

edit
  apps/hyperliquid-recorder/README.md
Due: none
