Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana

refactor(hermes): state->aggregate downcasting
  apps/hermes/src/api.rs
  apps/hermes/src/api/doc_examples.rs
  apps/hermes/src/api/rest.rs
  apps/hermes/src/api/rest/get_price_feed.rs
  apps/hermes/src/api/rest/get_vaa.rs
  apps/hermes/src/api/rest/get_vaa_ccip.rs
  apps/hermes/src/api/rest/latest_price_feeds.rs
  apps/hermes/src/api/rest/latest_vaas.rs
  apps/hermes/src/api/rest/price_feed_ids.rs
  apps/hermes/src/api/rest/ready.rs
  apps/hermes/src/api/rest/v2/latest_price_updates.rs
  apps/hermes/src/api/rest/v2/sse.rs
  apps/hermes/src/api/rest/v2/timestamp_price_updates.rs
  apps/hermes/src/api/types.rs
  apps/hermes/src/api/ws.rs
  apps/hermes/src/main.rs
  apps/hermes/src/network/pythnet.rs
  apps/hermes/src/network/wormhole.rs
  apps/hermes/src/price_feeds_metadata.rs
  apps/hermes/src/state.rs
  apps/hermes/src/state/aggregate.rs
  apps/hermes/src/state/aggregate/metrics.rs
  apps/hermes/src/state/aggregate/wormhole_merkle.rs
  apps/hermes/src/state/benchmarks.rs
  apps/hermes/src/state/cache.rs
Due: cargo-fmt-hermes

address circular import
  .pre-commit-config.yaml
  express_relay/sdk/python/express_relay/client.py
  express_relay/sdk/python/express_relay/searcher/examples/simple_searcher.py
  express_relay/sdk/python/express_relay/types.py
Due: none

test
  express_relay/sdk/python/express_relay/searcher/examples/simple_searcher.py
Due: none

test
  .pre-commit-config.yaml
Due: none

revert changes and then some minor change
  governance/xc_admin/packages/xc_admin_frontend/components/InstructionViews/WormholeInstructionView.tsx
  governance/xc_admin/packages/xc_admin_frontend/utils/parseEvmExecuteCallData.ts
Due: none

test
  .pre-commit-config.yaml
  express_relay/sdk/python/express_relay/client.py
  express_relay/sdk/python/express_relay/express_relay_types.py
  express_relay/sdk/python/express_relay/searcher/examples/simple_searcher.py
Due: none

fix unknown by typecast
  governance/xc_admin/packages/xc_admin_frontend/utils/parseEvmExecuteCallData.ts
Due: none

refactor(hermes): state->aggregate downcasting (#1479)
  apps/hermes/src/api.rs
  apps/hermes/src/api/doc_examples.rs
  apps/hermes/src/api/rest.rs
  apps/hermes/src/api/rest/get_price_feed.rs
  apps/hermes/src/api/rest/get_vaa.rs
  apps/hermes/src/api/rest/get_vaa_ccip.rs
  apps/hermes/src/api/rest/latest_price_feeds.rs
  apps/hermes/src/api/rest/latest_vaas.rs
  apps/hermes/src/api/rest/price_feed_ids.rs
  apps/hermes/src/api/rest/ready.rs
  apps/hermes/src/api/rest/v2/latest_price_updates.rs
  apps/hermes/src/api/rest/v2/sse.rs
  apps/hermes/src/api/rest/v2/timestamp_price_updates.rs
  apps/hermes/src/api/types.rs
  apps/hermes/src/api/ws.rs
  apps/hermes/src/main.rs
  apps/hermes/src/network/pythnet.rs
  apps/hermes/src/network/wormhole.rs
  apps/hermes/src/price_feeds_metadata.rs
  apps/hermes/src/state.rs
  apps/hermes/src/state/aggregate.rs
  apps/hermes/src/state/aggregate/metrics.rs
  apps/hermes/src/state/aggregate/wormhole_merkle.rs
  apps/hermes/src/state/benchmarks.rs
  apps/hermes/src/state/cache.rs
Due: cargo-fmt-hermes

test
  .github/workflows/pypi-express-relay-utils.yml
  .pre-commit-config.yaml
  express_relay/sdk/python/pyproject.toml
Due: none

test
  express_relay/sdk/python/express_relay/express_relay_types.py
Due: none

fix: initialize guardian expiration to the right value (#1485)
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

undoing test
  express_relay/sdk/python/express_relay/express_relay_types.py
Due: none

fix(hermes): add else to select! to loop cleanly
  apps/hermes/src/network/pythnet.rs
  apps/hermes/src/network/wormhole.rs
Due: cargo-fmt-hermes

rename wormhole contract as per other names
  contract_manager/scripts/check_proposal.ts
  contract_manager/scripts/deploy_evm_entropy_contracts.ts
  contract_manager/scripts/deploy_evm_pricefeed_contracts.ts
  contract_manager/src/contracts/evm.ts
  contract_manager/src/shell.ts
  target_chains/ethereum/contracts/scripts/batchDeployReceivers.ts
Due: none

try python version env spec (#1484)
  .github/workflows/pypi-express-relay-utils.yml
  express_relay/sdk/python/express_relay/client.py
  express_relay/sdk/python/express_relay/express_relay_types.py
  express_relay/sdk/python/express_relay/searcher/examples/simple_searcher.py
  express_relay/sdk/python/pyproject.toml
Due: none

feat(target_chains/starknet): add utils for decoding signed integers, move array_felt252_to_bytes31 to utils
  target_chains/starknet/contracts/src/util.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
Due: none

feat(target_chains/starknet): add merkle tree utils
  target_chains/starknet/contracts/src/lib.cairo
  target_chains/starknet/contracts/src/merkle_tree.cairo
Due: none

fix(hermes): reconnect on wh connection termination
  apps/hermes/Cargo.lock
  apps/hermes/Cargo.toml
  apps/hermes/src/network/wormhole.rs
Due: cargo-fmt-hermes

refactor(hermes): use Result<!> in pythnet network listener thread
  apps/hermes/src/network/pythnet.rs
Due: cargo-fmt-hermes

fix(hermes): reconnect on wh connection termination (#1488)
  apps/hermes/Cargo.lock
  apps/hermes/Cargo.toml
  apps/hermes/src/network/pythnet.rs
  apps/hermes/src/network/wormhole.rs
Due: cargo-fmt-hermes

fix: pre-commit
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/InstructionsSummary.tsx
Due: none

fix: ts error
  governance/xc_admin/packages/xc_admin_frontend/components/ClusterSwitch.tsx
Due: none

fix(hermes): update cache.rs path in dockerignore
  .dockerignore
Due: none

Continue
  apps/price_pusher/README.md
Due: none

Sample configs
  apps/price_pusher/config.solana.mainnet.sample.json
Due: none

fix(hermes): update cache.rs path in dockerignore (#1490)
  .dockerignore
Due: none

fix(hermes): ignore no subscriber error on broadcast
  apps/hermes/Cargo.lock
  apps/hermes/Cargo.toml
  apps/hermes/src/state/aggregate.rs
Due: cargo-fmt-hermes

store for wormhole
  contract_manager/src/contracts/aptos.ts
  contract_manager/src/contracts/cosmwasm.ts
  contract_manager/src/contracts/evm.ts
  contract_manager/src/contracts/wormhole.ts
  contract_manager/src/store.ts
  contract_manager/store/contracts/EvmWormholeContracts.yaml
Due: none

fix: revert back the cluster default
  governance/xc_admin/packages/xc_admin_frontend/contexts/ClusterContext.tsx
Due: none

chore: sample configs for Solana pusher (#1491)
  apps/price_pusher/README.md
  apps/price_pusher/config.solana.mainnet.sample.json
Due: none

feat: add support for different types of instructions
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/InstructionsSummary.tsx
Due: none

feat: add transaction index to proposal row
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/ProposalRow.tsx
Due: none

feat: improve the proposal row ui
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/InstructionsSummary.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/ProposalRow.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/utils.ts
Due: none
