Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/solana/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

bind provider and contract address
  fortuna/Cargo.lock
  fortuna/Cargo.toml
  fortuna/src/command/register_provider.rs
  fortuna/src/command/run.rs
  fortuna/src/state.rs
Due: none

pre commit
  fortuna/src/state.rs
Due: none

add ABIs
  .github/workflows/ci-typescript.yml
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyErrors.json
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyEvents.json
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyStructs.json
  target_chains/ethereum/entropy_sdk/solidity/abis/IEntropy.json
  target_chains/ethereum/entropy_sdk/solidity/package.json
  target_chains/ethereum/entropy_sdk/solidity/scripts/generateAbi.js
  target_chains/ethereum/sdk/solidity/package.json
Due: none

Remove mainnet condition in check proposal
  contract_manager/scripts/check_proposal.ts
Due: none

Simple script for executing vaas
  contract_manager/scripts/execute_vaas.ts
  contract_manager/src/executor.ts
  contract_manager/src/governance.ts
Due: none

Add script for evm upgrades
  contract_manager/.gitignore
  contract_manager/scripts/upgrade_evm_contracts.ts
Due: none

Script to list evm contracts with their versions
  contract_manager/scripts/list_evm_contracts.ts
Due: none

[fortuna] bind provider and contract address (#1218)
  fortuna/Cargo.lock
  fortuna/Cargo.toml
  fortuna/src/command/register_provider.rs
  fortuna/src/command/run.rs
  fortuna/src/state.rs
Due: none

support env var in yaml config
  fortuna/Cargo.lock
  fortuna/Cargo.toml
  fortuna/src/config.rs
  fortuna/src/main.rs
Due: none

update version
  fortuna/Cargo.lock
  fortuna/Cargo.toml
Due: none

pre-commit and minor edits
  fortuna/src/config.rs
  fortuna/src/main.rs
Due: none

remove change
  fortuna/src/config.rs
Due: none

remove warning
  fortuna/src/command/register_provider.rs
Due: none

add comment
  fortuna/src/config.rs
Due: none

[entropy] add entropy ABIs to solidity sdk (#1219)
  .github/workflows/ci-typescript.yml
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyErrors.json
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyEvents.json
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyStructs.json
  target_chains/ethereum/entropy_sdk/solidity/abis/IEntropy.json
  target_chains/ethereum/entropy_sdk/solidity/package.json
  target_chains/ethereum/entropy_sdk/solidity/scripts/generateAbi.js
  target_chains/ethereum/sdk/solidity/package.json
Due: none

hmm
  target_chains/ethereum/entropy_sdk/js/src/examples/EvmRandomDraw.ts
Due: none

hrm
  target_chains/ethereum/entropy_sdk/js/README.md
  target_chains/ethereum/entropy_sdk/js/src/index.ts
Due: none

Cleanup
  contract_manager/scripts/upgrade_evm_contracts.ts
Due: none

More docs
  contract_manager/src/governance.ts
  contract_manager/src/store.ts
Due: none

Movement move (#1211)
  contract_manager/src/chains.ts
  contract_manager/src/contracts/aptos.ts
  contract_manager/src/contracts/cosmwasm.ts
  contract_manager/src/contracts/evm.ts
  contract_manager/src/contracts/wormhole.ts
  contract_manager/src/shell.ts
  contract_manager/store/chains/AptosChains.yaml
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/AptosContracts.yaml
  contract_manager/store/contracts/EvmContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/aptos/cli/README.md
  target_chains/aptos/cli/src/commands/aptos.ts
  target_chains/ethereum/contracts/networks/336.json
Due: none

chore(ethereum): deploy to new networks
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/contracts/networks/168587773.json
  target_chains/ethereum/contracts/networks/42766.json
  target_chains/ethereum/contracts/networks/43851.json
Due: none

Checkpoint
  target_chains/solana/Cargo.lock
  target_chains/solana/Cargo.toml
  target_chains/solana/program_simulator/Cargo.toml
  target_chains/solana/program_simulator/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/tests/cases/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/src/tests/cases/test_intialize.rs
  target_chains/solana/programs/pyth-solana-receiver/src/tests/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/src/tests/setup.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/cases/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/program_test/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_all.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

add /v2/updates/price/latest endpoint
  hermes/src/api.rs
  hermes/src/api/rest.rs
  hermes/src/api/rest/index.rs
  hermes/src/api/rest/latest_price_updates.rs
  hermes/src/api/types.rs
Due: cargo-fmt-hermes

Update data type in BinaryPriceUpdate struct
  hermes/src/api/types.rs
Due: cargo-fmt-hermes

support compressed update data
  hermes/src/api/rest/latest_price_updates.rs
  hermes/src/api/types.rs
Due: cargo-fmt-hermes

Update API endpoint in index.rs
  hermes/src/api/rest/index.rs
Due: cargo-fmt-hermes

Checkpoint
  target_chains/solana/Cargo.lock
  target_chains/solana/program_simulator/Cargo.toml
  target_chains/solana/program_simulator/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/sdk.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/cases/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/program_test/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_all.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_initialize.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Checkpoint
  target_chains/solana/Cargo.lock
  target_chains/solana/program_simulator/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/sdk.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_initialize.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Checkpoint
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Nice
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Finally works
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/sdk.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Cleanup
  target_chains/solana/program_simulator/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Cleanup
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Cleanup
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_initialize.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Cleanup
  target_chains/solana/program_simulator/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_initialize.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Checkpoint
  target_chains/solana/Cargo.lock
  target_chains/solana/program_simulator/Cargo.toml
  target_chains/solana/program_simulator/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_initialize.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana
