Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana

bugfix
  price_pusher/src/solana/solana.ts
Due: none

support string (#1447)
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix: don't use hardcoded bundlesize (#1448)
  price_pusher/src/solana/solana.ts
Due: none

fix docs
  express_relay/sdk/js/src/serverTypes.d.ts
Due: none

fix task_price_feeds_metadata_updater
  hermes/src/network/pythnet.rs
Due: cargo-fmt-hermes

fix task_price_feeds_metadata_updater (#1449)
  hermes/src/network/pythnet.rs
Due: cargo-fmt-hermes

fix(hermes): ignore broadcast send result
  hermes/src/aggregate.rs
  hermes/src/network/wormhole.rs
Due: cargo-fmt-hermes

Skip
  governance/xc_admin/packages/crank_pythnet_relayer/src/index.ts
Due: none

Skip (#1451)
  governance/xc_admin/packages/crank_pythnet_relayer/src/index.ts
Due: none

idempotent updates
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-push-oracle/Cargo.toml
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
  target_chains/solana/programs/pyth-push-oracle/tests/test_update_price_feed.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

clippy
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
  target_chains/solana/programs/pyth-push-oracle/tests/test_update_price_feed.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

[solana push oracle] Idempotent updates (#1452)
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-push-oracle/Cargo.toml
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
  target_chains/solana/programs/pyth-push-oracle/tests/test_update_price_feed.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix(hermes): ignore broadcast send result (#1450)
  hermes/src/aggregate.rs
  hermes/src/network/wormhole.rs
Due: cargo-fmt-hermes

bump
  hermes/Cargo.lock
  hermes/Cargo.toml
Due: cargo-fmt-hermes

address comments
  hermes/src/api.rs
  hermes/src/api/rest.rs
  hermes/src/api/rest/v2/latest_price_updates.rs
  hermes/src/api/rest/v2/mod.rs
  hermes/src/api/rest/v2/sse.rs
  hermes/src/api/rest/v2/timestamp_price_updates.rs
Due: cargo-fmt-hermes

address comments
  hermes/src/api/rest/v2/sse.rs
Due: cargo-fmt-hermes

feat(hermes): add additional sse features (#1443)
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/src/api.rs
  hermes/src/api/rest.rs
  hermes/src/api/rest/index.rs
  hermes/src/api/rest/v2/latest_price_updates.rs
  hermes/src/api/rest/v2/mod.rs
  hermes/src/api/rest/v2/sse.rs
  hermes/src/api/rest/v2/timestamp_price_updates.rs
Due: cargo-fmt-hermes

format
  hermes/src/api.rs
Due: cargo-fmt-hermes

format (#1453)
  hermes/src/api.rs
Due: cargo-fmt-hermes

refactor(hermes): fix README run command
  apps/hermes/README.md
Due: cargo-fmt-hermes

refactor(hermes): fix hermes Docker workdir
  apps/hermes/Dockerfile
Due: cargo-fmt-hermes

python3.12 -> python3.11?
  .github/workflows/pypi-express-relay-utils.yml
Due: none

fix: remove unused dependency ahash
  target_chains/solana/Cargo.lock
  target_chains/solana/examples/send_usd/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix: imports
  target_chains/solana/examples/send_usd/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

refactor: use get_price_no_older_than
  target_chains/solana/examples/send_usd/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix: package name
  target_chains/solana/Cargo.lock
  target_chains/solana/examples/send_usd/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix: fix naming conventions
  target_chains/solana/Cargo.lock
  target_chains/solana/examples/send_usd/Cargo.toml
  target_chains/solana/examples/send_usd/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Add 4th guardian set
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Decrease compute budget
  target_chains/solana/sdk/js/pyth_solana_receiver/src/compute_budget.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Go
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver
