Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/solana/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

Checkpoint
  price_service/sdk/js/src/AccumulatorUpdateData.ts
  price_service/sdk/js/src/__tests__/AccumulatorUpdateData.test.ts
  price_service/sdk/js/src/index.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/index.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

deploy blast price feeds
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

deploy entropy on blast
  contract_manager/store/contracts/EvmEntropyContracts.yaml
Due: none

pre commit
  contract_manager/store/chains/EvmChains.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

Checkpoint
  target_chains/solana/sdk/js/pyth_solana_receiver/src/constants.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/index.ts
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Fix bug
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

add openapi type generations
  express_relay/sdk/python/searcher/openapi_client/models/bid.py
  express_relay/sdk/python/searcher/openapi_client/models/bid400_response.py
  express_relay/sdk/python/searcher/openapi_client/models/bid_result.py
  express_relay/sdk/python/searcher/openapi_client/models/client_message.py
  express_relay/sdk/python/searcher/openapi_client/models/client_message_one_of.py
  express_relay/sdk/python/searcher/openapi_client/models/client_message_one_of1.py
  express_relay/sdk/python/searcher/openapi_client/models/client_message_one_of_params.py
  express_relay/sdk/python/searcher/openapi_client/models/client_request.py
  express_relay/sdk/python/searcher/openapi_client/models/error_body_response.py
  express_relay/sdk/python/searcher/openapi_client/models/opportunity_bid.py
  express_relay/sdk/python/searcher/openapi_client/models/opportunity_params.py
  express_relay/sdk/python/searcher/openapi_client/models/opportunity_params_one_of.py
  express_relay/sdk/python/searcher/openapi_client/models/opportunity_params_v1.py
  express_relay/sdk/python/searcher/openapi_client/models/opportunity_params_with_metadata.py
  express_relay/sdk/python/searcher/openapi_client/models/server_result_message.py
  express_relay/sdk/python/searcher/openapi_client/models/server_result_message_one_of.py
  express_relay/sdk/python/searcher/openapi_client/models/server_result_message_one_of1.py
  express_relay/sdk/python/searcher/openapi_client/models/server_result_response.py
  express_relay/sdk/python/searcher/openapi_client/models/server_update_response.py
  express_relay/sdk/python/searcher/openapi_client/models/server_update_response_one_of.py
  express_relay/sdk/python/searcher/openapi_client/models/token_qty.py
Due: none

fixed precommit issues on generated type files
  express_relay/sdk/python/searcher/openapi_client/models/bid.py
  express_relay/sdk/python/searcher/openapi_client/models/bid400_response.py
  express_relay/sdk/python/searcher/openapi_client/models/bid_result.py
  express_relay/sdk/python/searcher/openapi_client/models/client_message.py
  express_relay/sdk/python/searcher/openapi_client/models/client_message_one_of.py
  express_relay/sdk/python/searcher/openapi_client/models/client_message_one_of1.py
  express_relay/sdk/python/searcher/openapi_client/models/client_message_one_of_params.py
  express_relay/sdk/python/searcher/openapi_client/models/client_request.py
  express_relay/sdk/python/searcher/openapi_client/models/error_body_response.py
  express_relay/sdk/python/searcher/openapi_client/models/opportunity_bid.py
  express_relay/sdk/python/searcher/openapi_client/models/opportunity_params.py
  express_relay/sdk/python/searcher/openapi_client/models/opportunity_params_one_of.py
  express_relay/sdk/python/searcher/openapi_client/models/opportunity_params_v1.py
  express_relay/sdk/python/searcher/openapi_client/models/opportunity_params_with_metadata.py
  express_relay/sdk/python/searcher/openapi_client/models/server_result_message.py
  express_relay/sdk/python/searcher/openapi_client/models/server_result_message_one_of.py
  express_relay/sdk/python/searcher/openapi_client/models/server_result_message_one_of1.py
  express_relay/sdk/python/searcher/openapi_client/models/server_result_response.py
  express_relay/sdk/python/searcher/openapi_client/models/server_update_response.py
  express_relay/sdk/python/searcher/openapi_client/models/server_update_response_one_of.py
  express_relay/sdk/python/searcher/openapi_client/models/token_qty.py
Due: none

feat(evm): add abi_generator package
  target_chains/ethereum/abi_generator/package.json
  target_chains/ethereum/abi_generator/src/generate.js
  target_chains/ethereum/abi_generator/src/index.js
Due: none

address comments and add to openapi
  hermes/src/api.rs
  hermes/src/api/types.rs
Due: cargo-fmt-hermes

[hermes] add /v2/price_feeds endpoint (#1277)
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/src/aggregate.rs
  hermes/src/api.rs
  hermes/src/api/rest.rs
  hermes/src/api/rest/index.rs
  hermes/src/api/rest/v2/mod.rs
  hermes/src/api/rest/v2/price_feeds_metadata.rs
  hermes/src/api/types.rs
  hermes/src/config/pythnet.rs
  hermes/src/main.rs
  hermes/src/network/pythnet.rs
  hermes/src/price_feeds_metadata.rs
  hermes/src/state.rs
Due: cargo-fmt-hermes

Debugging ci
  .github/workflows/ci-typescript.yml
Due: none

remove api key
  contract_manager/store/chains/EvmChains.yaml
Due: none

Fix ci issue
  .github/workflows/ci-typescript.yml
  express_relay/sdk/solidity/package.json
  target_chains/ethereum/entropy_sdk/solidity/package.json
  target_chains/ethereum/sdk/solidity/package.json
Due: none

feedback
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

chore(contract_manager): deploy price feed and entropy to blast (#1324)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

Cleanup idls
  price_service/sdk/js/src/AccumulatorUpdateData.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/idl/pyth_solana_receiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/index.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Compute units
  target_chains/solana/sdk/js/pyth_solana_receiver/src/index.ts
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Make program addresses configurable
  target_chains/solana/sdk/js/pyth_solana_receiver/src/index.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Handle arrays
  target_chains/solana/sdk/js/pyth_solana_receiver/src/index.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Move PythSolanaReceiver
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/index.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Cleanup constants
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/constants.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Contants
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

chore(contract_manager): fix Blast API env var
  contract_manager/store/chains/EvmChains.yaml
Due: none

Refactor constants
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/compute_budget.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Gitignore refactor
  target_chains/solana/.gitignore
  target_chains/solana/sdk/js/pyth_solana_receiver/.gitignore
  target_chains/solana/sdk/js/solana_utils/.gitignore
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Cleanup idl
  target_chains/solana/sdk/js/pyth_solana_receiver/src/idl/pyth_solana_receiver.json
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Add useful static
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Add useful static
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Add useful static
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/index.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Lint
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Add lint config
  target_chains/solana/sdk/js/pyth_solana_receiver/.eslintrc.js
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

add private-key-path optional parameter
  price_pusher/README.md
  price_pusher/src/near/command.ts
  price_pusher/src/near/near.ts
Due: none

fix(solana-receiver-js): Add test script to make prepublishOnly work
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana
