Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./fortuna/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

change to while valid tx sender
  apps/price_pusher/src/solana/solana.ts
Due: none

changed anchor serailze/deserailize to borsh
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

add audit report
  target_chains/starknet/audit-reports/NM_0244_Pyth.pdf
Due: none

add post multi update atomic
  target_chains/solana/programs/pyth-solana-receiver/src/error.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

go
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

go
  target_chains/solana/Cargo.lock
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Update Cargo.toml
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix(target_chains/starknet): fix ByteBuffer conversion for len=31*N case
  target_chains/starknet/contracts/tests/data.cairo
  target_chains/starknet/contracts/tests/pyth.cairo
  target_chains/starknet/sdk/js/src/index.ts
  target_chains/starknet/tools/test_vaas/Cargo.lock
  target_chains/starknet/tools/test_vaas/Cargo.toml
  target_chains/starknet/tools/test_vaas/src/bin/generate_test_data.rs
  target_chains/starknet/tools/test_vaas/src/lib.rs
Due: none

chore: add starknet audit
  SECURITY.md
Due: none

chore: add starknet audit (#1771)
  SECURITY.md
Due: none

fix(target_chains/starknet): fix ByteBuffer conversion for len=31*N case (#1769)
  target_chains/starknet/contracts/tests/data.cairo
  target_chains/starknet/contracts/tests/pyth.cairo
  target_chains/starknet/sdk/js/src/index.ts
  target_chains/starknet/tools/test_vaas/Cargo.lock
  target_chains/starknet/tools/test_vaas/Cargo.toml
  target_chains/starknet/tools/test_vaas/src/bin/generate_test_data.rs
  target_chains/starknet/tools/test_vaas/src/lib.rs
Due: none

chore(target_chains/starknet): add mainnet deployment info
  contract_manager/store/contracts/StarknetPriceFeedContracts.yaml
  contract_manager/store/contracts/StarknetWormholeContracts.yaml
  target_chains/starknet/contracts/deploy/deploy.sh
  target_chains/starknet/sdk/js/src/index.ts
Due: none

chore(target_chains/starknet): bump sdk version
  target_chains/starknet/sdk/js/package.json
Due: none

chore(target_chains/starknet): add mainnet deployment info (#1770)
  contract_manager/store/contracts/StarknetPriceFeedContracts.yaml
  contract_manager/store/contracts/StarknetWormholeContracts.yaml
  target_chains/starknet/contracts/deploy/deploy.sh
  target_chains/starknet/sdk/js/package.json
  target_chains/starknet/sdk/js/src/index.ts
Due: none

cargo lock
  target_chains/solana/Cargo.lock
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

changed anchor serailze/deserailize to borsh (#1765)
  target_chains/solana/Cargo.lock
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix(contract_manager) Set HBAR decimals to 18 (#1758)
  contract_manager/store/tokens/Tokens.yaml
Due: none

(chore) Add new networks
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

go
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

fix(apps/price_pusher): add npm run to docker compose command
  apps/price_pusher/docker-compose.beta.sample.yaml
  apps/price_pusher/docker-compose.stable.sample.yaml
Due: none

fix(apps/price_pusher): update docker command in readme
  apps/price_pusher/README.md
Due: none

fix(apps/price_pusher): add npm run to docker commands (#1772)
  apps/price_pusher/README.md
  apps/price_pusher/docker-compose.beta.sample.yaml
  apps/price_pusher/docker-compose.stable.sample.yaml
Due: none

(chore) Add new networks
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

pre-commit
  contract_manager/store/chains/EvmChains.yaml
Due: none

(chore):add networks (#1773)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

Reset nonce manager if receipt is not available
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/nonce_manager.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

simplify
  apps/fortuna/src/chain/nonce_manager.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

Run end-of-file fixer
  target_chains/ethereum/entropy_sdk/solidity/README.md
  target_chains/ethereum/entropy_sdk/solidity/package.json
Due: none

fix(api-refernece) only require WALLETCONNECT_PROJECT_ID in prod
  apps/api-reference/src/components/EvmProvider/index.tsx
  apps/api-reference/src/server-config.ts
Due: none

arbitrary implementation
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

add lenght as u16
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

fix: add aptos cli and add movement testnet aptos network
  contract_manager/package.json
  contract_manager/store/chains/AptosChains.yaml
  contract_manager/store/contracts/AptosPriceFeedContracts.yaml
  contract_manager/store/contracts/AptosWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  target_chains/aptos/cli/.gitignore
  target_chains/aptos/cli/package.json
  target_chains/aptos/cli/src/commands/aptos.ts
  target_chains/aptos/cli/tsconfig.json
Due: none

fix: remove test from aptos cli
  target_chains/aptos/cli/package.json
Due: none

fix: add aptos cli and add movement testnet aptos network (#1777)
  contract_manager/package.json
  contract_manager/store/chains/AptosChains.yaml
  contract_manager/store/contracts/AptosPriceFeedContracts.yaml
  contract_manager/store/contracts/AptosWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  target_chains/aptos/cli/.gitignore
  target_chains/aptos/cli/package.json
  target_chains/aptos/cli/src/commands/aptos.ts
  target_chains/aptos/cli/tsconfig.json
Due: none

enable other SVM networks
  governance/remote_executor/Cargo.lock
  governance/remote_executor/cli/src/cli.rs
  governance/remote_executor/cli/src/main.rs
  governance/remote_executor/programs/remote-executor/Cargo.toml
  governance/remote_executor/programs/remote-executor/src/state/governance_payload.rs
  governance/remote_executor/programs/remote-executor/src/state/posted_vaa.rs
  governance/remote_executor/programs/remote-executor/src/tests/executor_simulator.rs
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

More comments
  apps/fortuna/src/chain/nonce_manager.rs
Due: cargo-fmt-fortuna

fix(fortuna): Reset nonce manager if receipt is not available (#1774)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/nonce_manager.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

go
  pythnet/pythnet_sdk/src/messages.rs
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
