Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

oops
  .github/workflows/ci-pre-commit.yml
Due: none

feat(insights): implement new disclaimer banners
  apps/insights/src/components/PriceFeed/chart-page.module.scss
  apps/insights/src/components/PriceFeed/chart-page.tsx
  apps/insights/src/components/PriceFeeds/coming-soon-list.tsx
  apps/insights/src/components/PriceFeeds/index.module.scss
  apps/insights/src/components/PriceFeeds/index.tsx
  apps/insights/src/components/Root/footer.module.scss
  apps/insights/src/components/Root/footer.tsx
Due: none

fix: add coin conversion map to tests (#2470)
  lazer/contracts/aptos/Move.toml
  lazer/contracts/aptos/tests/pyth_lazer_tests.move
Due: cargo-fmt-lazer, cargo-clippy-lazer, fmt-aptos-lazer, lint-aptos-lazer

fix race condition that allows duplicate slot
  apps/hermes/server/src/state/aggregate.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix race condition
  apps/hermes/server/src/state/aggregate.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(apps/hermes): ensure only one event is sent per slot to prevent duplicates
  apps/hermes/server/src/state/aggregate.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(tests): correct invalid timestamp in TWAP calculation test
  apps/hermes/server/src/state/aggregate.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore(ci): Fix runs_on for precommit again #2472
  .github/workflows/ci-pre-commit.yml
Due: none

chore(deployments) Story Testnet (#2450)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

add iota patch
  target_chains/sui/contracts/Move.lock
  target_chains/sui/contracts/Move.toml
  target_chains/sui/contracts/sources/batch_price_attestation.move
  target_chains/sui/contracts/sources/data_source.move
  target_chains/sui/contracts/sources/event.move
  target_chains/sui/contracts/sources/governance/contract_upgrade.move
  target_chains/sui/contracts/sources/governance/set_data_sources.move
  target_chains/sui/contracts/sources/governance/set_stale_price_threshold.move
  target_chains/sui/contracts/sources/governance/set_update_fee.move
  target_chains/sui/contracts/sources/merkle_tree.move
  target_chains/sui/contracts/sources/migrate.move
  target_chains/sui/contracts/sources/price_info.move
  target_chains/sui/contracts/sources/pyth.move
  target_chains/sui/contracts/sources/pyth_accumulator.move
  target_chains/sui/contracts/sources/set.move
  target_chains/sui/contracts/sources/setup.move
  target_chains/sui/contracts/sources/state.move
Due: none

Add cargo fmt and cargo clippy to CI workflows
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-fuel-contract.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: remove toolchain version arguments from cargo commands
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

update worfklows
  .github/workflows/ci-aptos-contract.yml
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-fuel-contract.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-message-buffer-idl.yml
  .github/workflows/ci-pythnet-sdk.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

trigger workflows on edit
  .github/workflows/ci-aptos-contract.yml
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-message-buffer.yml
  .github/workflows/ci-pythnet-sdk.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: add test:format and fix:format scripts to all packages
  governance/xc_admin/packages/xc_admin_frontend/package.json
  lazer/sdk/js/package.json
  package.json
  pythnet/message_buffer/package.json
  target_chains/aptos/cli/package.json
  target_chains/cosmwasm/deploy-scripts/package.json
  target_chains/cosmwasm/tools/package.json
  target_chains/ethereum/contracts/package.json
  target_chains/ethereum/sdk/stylus/pyth-mock-solidity/package.json
  target_chains/sui/cli-iota/package.json
  target_chains/sui/cli/package.json
  target_chains/sui/vendor/wormhole_iota_testnet/testing/package.json
  target_chains/sui/vendor/wormhole_movement_m2_devnet/testing/package.json
  target_chains/ton/contracts/package.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk

fix workflows
  .github/workflows/ci-aptos-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-pythnet-sdk.yml
Due: none

fix aptos
  .github/workflows/ci-aptos-contract.yml
Due: none

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: remove format scripts from vendored dependencies
  target_chains/sui/vendor/wormhole_iota_testnet/testing/package.json
  target_chains/sui/vendor/wormhole_movement_m2_devnet/testing/package.json
Due: none

hm
  .github/workflows/ci-aptos-contract.yml
  .github/workflows/ci-message-buffer.yml
Due: none

precommit
  target_chains/sui/sdk/js/src/examples/SuiRelay.ts
Due: none

feat(target_chains/sui): Use Turbo for Commands (#2469)
  pnpm-lock.yaml
  target_chains/sui/cli/README.md
  target_chains/sui/cli/turbo.json
  target_chains/sui/sdk/js/README.md
  target_chains/sui/sdk/js/package.json
  target_chains/sui/sdk/js/src/examples/SuiRelay.ts
  target_chains/sui/sdk/js/turbo.json
Due: none

hm
  target_chains/aptos/contracts/sources/governance/governance_action.move
Due: none

Add Cargo.lock and renable pre-commit CI (#2465)
  .pre-commit-config.yaml
  pythnet/pythnet_sdk/.gitignore
  pythnet/pythnet_sdk/Cargo.lock
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

pr comments
  target_chains/ethereum/contracts/forge-test/PulseGasBenchmark.t.sol
Due: none

feat(argus): Delete hash chain logic (#2466)
  apps/argus/src/api.rs
  apps/argus/src/command/register_provider.rs
  apps/argus/src/command/run.rs
  apps/argus/src/command/setup_provider.rs
  apps/argus/src/config.rs
  apps/argus/src/keeper.rs
  apps/argus/src/keeper/commitment.rs
  apps/argus/src/keeper/process_event.rs
  apps/argus/src/lib.rs
  apps/argus/src/state.rs
Due: none

clean up entropy stuff
  apps/argus/src/api.rs
  apps/argus/src/chain/ethereum.rs
  apps/argus/src/chain/reader.rs
  apps/argus/src/command/run.rs
  apps/argus/src/keeper.rs
  apps/argus/src/keeper/block.rs
  apps/argus/src/keeper/process_event.rs
Due: none

delete more
  apps/argus/Cargo.lock
  apps/argus/src/chain/ethereum.rs
  apps/argus/src/command/run.rs
  apps/argus/src/keeper/process_event.rs
Due: none

ci: remove workflow file paths from PR triggers and redundant if conditions
  .github/workflows/ci-aptos-contract.yml
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-fuel-contract.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

stuff
  apps/argus/Cargo.lock
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

Revert "ci: remove workflow file paths from PR triggers and redundant if conditions"
  .github/workflows/ci-aptos-contract.yml
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-fuel-contract.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

wtf
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/reader.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

refactor(apps/hermes): remove slots tracking and optimize message storage checks
  apps/hermes/server/src/state/aggregate.rs
  apps/hermes/server/src/state/aggregate/wormhole_merkle.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(tests): update invalid timestamp in TWAP calculation test
  apps/hermes/server/src/state/aggregate.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

log symbol
  apps/price_pusher/package.json
  apps/price_pusher/src/price-config.ts
Due: none

chore(staking): update terms so we can lift the UK restriction
  apps/staking/src/components/Dashboard/index.tsx
  apps/staking/src/components/TermsOfService/index.tsx
Due: none

chore(etehreum) Remove pyth evm js
  target_chains/ethereum/sdk/js/.eslintrc.js
  target_chains/ethereum/sdk/js/.gitignore
  target_chains/ethereum/sdk/js/README.md
  target_chains/ethereum/sdk/js/jest.config.js
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/EvmPriceServiceConnection.ts
  target_chains/ethereum/sdk/js/src/examples/EvmBenchmark.ts
  target_chains/ethereum/sdk/js/src/examples/EvmPriceServiceClient.ts
  target_chains/ethereum/sdk/js/src/examples/EvmRelay.ts
  target_chains/ethereum/sdk/js/src/index.ts
  target_chains/ethereum/sdk/js/tsconfig.json
  target_chains/ethereum/sdk/solidity/PythAggregatorV3.sol
  target_chains/ethereum/sdk/solidity/README.md
Due: none

fix(staking): fix header to not overlap on small screen sizes
  apps/staking/src/components/Header/help-menu.tsx
  apps/staking/src/components/Header/index.tsx
  apps/staking/src/components/Header/stats.tsx
Due: none

fix(staking): fix header on small screens 2: This Time It's Personal
  apps/staking/src/components/AccountSummary/index.tsx
  apps/staking/src/components/Header/current-stake-account.tsx
  apps/staking/src/components/Header/index.tsx
  apps/staking/src/components/Header/stats.tsx
  apps/staking/src/components/Root/index.tsx
  apps/staking/src/components/WalletButton/index.tsx
Due: none
