Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

fix: linting
  lazer/contracts/sui/sdk/js/package.json
  lazer/contracts/sui/sdk/js/tsconfig.build.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(chart): add chart tooltip
  apps/insights/src/components/PriceFeed/Chart/chart-page.module.scss
  apps/insights/src/components/PriceFeed/Chart/chart.module.scss
  apps/insights/src/components/PriceFeed/Chart/chart.tsx
Due: none

rollback lazer contracts
  lazer/contracts/evm/src/PythLazer.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

build fix
  lazer/contracts/evm/src/PythLazer.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer) Remove parse method
  lazer/contracts/evm/src/PythLazer.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(insights): fixed 'run ahead' bug by simply emitting the datapoints in the exact order they were obtained, regardless of their source
  apps/insights/package.json
  apps/insights/src/app/api/pyth/get-pyth-feeds-demo-data/[symbol]/route.ts
  apps/insights/src/hooks/pyth-pro-demo/use-http-datastream.ts
  apps/insights/src/pyth-feed-demo-data/fetch-historical-data-from-db.ts
  apps/insights/src/schemas/pyth/pyth-pro-demo-schema.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: removed unused code
  apps/insights/src/hooks/pyth-pro-demo/use-http-datastream.ts
Due: none

fix(insights): updated websocket status mapping to use nbbo instead of nasdaq
  apps/insights/src/context/pyth-pro-demo/pyth-pro-websockets-context.tsx
Due: none

chore(insights): removed dangling yahoo reference
  apps/insights/src/context/pyth-pro-demo/pyth-pro-websockets-context.tsx
Due: none

fix(insights): do not display the token warning if the selected source is a replay symbol
  apps/insights/src/components/PythProDemoCards/price-card.tsx
Due: none

chore(insights): responed to PR feedback
  apps/insights/package.json
  apps/insights/src/hooks/pyth-pro-demo/use-http-datastream.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

add comments
  apps/hip-3-pusher/src/pusher/config.py
  apps/hip-3-pusher/src/pusher/hyperliquid_listener.py
Due: none

Check for staleness in each Hyperliquid websocket channel (#3289)
  apps/hip-3-pusher/pyproject.toml
  apps/hip-3-pusher/src/pusher/config.py
  apps/hip-3-pusher/src/pusher/hermes_listener.py
  apps/hip-3-pusher/src/pusher/hyperliquid_listener.py
  apps/hip-3-pusher/src/pusher/lazer_listener.py
  apps/hip-3-pusher/src/pusher/main.py
  apps/hip-3-pusher/src/pusher/metrics.py
  apps/hip-3-pusher/src/pusher/price_state.py
  apps/hip-3-pusher/src/pusher/publisher.py
  apps/hip-3-pusher/src/pusher/seda_listener.py
  apps/hip-3-pusher/src/pusher/user_limit_listener.py
  apps/hip-3-pusher/tests/test_price_state.py
  apps/hip-3-pusher/uv.lock
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(hip-3-relayer): CLI commands for account management
  apps/hip-3-pusher/pyproject.toml
  apps/hip-3-pusher/src/scripts/reserve.py
  apps/hip-3-pusher/src/scripts/send.py
  apps/hip-3-pusher/src/scripts/show_address.py
  apps/hip-3-pusher/uv.lock
Due: none

fix
  apps/hip-3-pusher/src/scripts/reserve.py
Due: none

feat(hip-3-relayer): CLI commands for account management (#3307)
  apps/hip-3-pusher/pyproject.toml
  apps/hip-3-pusher/src/scripts/reserve.py
  apps/hip-3-pusher/src/scripts/send.py
  apps/hip-3-pusher/src/scripts/show_address.py
  apps/hip-3-pusher/uv.lock
Due: none

make everything configurable
  Cargo.lock
  apps/argus/src/adapters/ethereum.rs
  apps/fortuna/Cargo.toml
  apps/fortuna/src/api.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/eth_utils/eth_gas_oracle.rs
  target_chains/fuel/sdk/js/package.json
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

feat: add pyth-lazer-2 WebSocket endpoint to documentation and SDKs
  apps/developer-hub/content/docs/price-feeds/pro/acquire-access-token.mdx
  apps/developer-hub/content/docs/price-feeds/pro/getting-started.mdx
  apps/developer-hub/content/docs/price-feeds/pro/subscribe-to-prices.mdx
  apps/hip-3-pusher/config/config.sample.toml
  lazer/contracts/sui/sdk/js/examples/fetch-and-verify-update.ts
  lazer/sdk/js/src/constants.ts
  lazer/sdk/js/src/socket/websocket-pool.ts
  lazer/sdk/rust/client/README.md
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/client/src/stream_client.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: revert SDK changes, keep only developer-hub documentation updates
  apps/hip-3-pusher/config/config.sample.toml
  lazer/contracts/sui/sdk/js/examples/fetch-and-verify-update.ts
  lazer/sdk/js/src/constants.ts
  lazer/sdk/js/src/socket/websocket-pool.ts
  lazer/sdk/rust/client/README.md
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/client/src/stream_client.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(developer-hub): add Contract Addresses page for Pyth Pro
  apps/developer-hub/content/docs/price-feeds/pro/contract-addresses.mdx
  apps/developer-hub/content/docs/price-feeds/pro/meta.json
Due: none

fix(developer-hub): correct import path for CopyAddress component
  apps/developer-hub/content/docs/price-feeds/pro/contract-addresses.mdx
Due: none

ci: update rharkor/caching-for-turbo action to v2.3.5
  .github/workflows/ci-turbo-build.yml
  .github/workflows/ci-turbo-test.yml
Due: none

Revert "ci: update rharkor/caching-for-turbo action to v2.3.5"
  .github/workflows/ci-turbo-build.yml
  .github/workflows/ci-turbo-test.yml
Due: none

style(developer-hub): fix Prettier formatting for contract-addresses.mdx tables
  apps/developer-hub/content/docs/price-feeds/pro/contract-addresses.mdx
Due: none

fix(developer-hub): update contract addresses to match Notion source
  apps/developer-hub/content/docs/price-feeds/pro/contract-addresses.mdx
Due: none

arrange alphabetically
  apps/developer-hub/content/docs/price-feeds/pro/contract-addresses.mdx
Due: none

style(developer-hub): fix Prettier formatting after alphabetical reorder
  apps/developer-hub/content/docs/price-feeds/pro/contract-addresses.mdx
Due: none

fix(developer-hub): keep only Ethereal Testnet V2 per review feedback
  apps/developer-hub/content/docs/price-feeds/pro/contract-addresses.mdx
Due: none

fortuna: fmt fix
  apps/argus/src/adapters/ethereum.rs
Due: none

PR feedback
  apps/insights/src/components/PriceFeed/Chart/chart-hover-card.module.scss
  apps/insights/src/components/PriceFeed/Chart/chart-hover-card.tsx
  apps/insights/src/components/PriceFeed/Chart/chart.module.scss
  apps/insights/src/components/PriceFeed/Chart/chart.tsx
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
