Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy, cargo-fmt-lazer, cargo-clippy-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  mypy: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer

Comma
  lazer/contracts/evm/src/PythLazerLib.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

Revert update to JS version
  lazer/sdk/js/package.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer-protocol): Update EVM payload (#2314)
  lazer/contracts/evm/src/PythLazerLib.sol
  lazer/contracts/evm/test/PythLazer.t.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: format
  target_chains/ethereum/sdk/stylus/benches/src/lib.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/mock.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/pyth_contract.rs
  target_chains/ethereum/sdk/stylus/examples/extend-pyth-example/tests/extend-pyth.rs
  target_chains/ethereum/sdk/stylus/examples/function-example/src/lib.rs
  target_chains/ethereum/sdk/stylus/examples/pyth-example/src/lib.rs
Due: none

ci changes
  .github/workflows/ci-foundry-test.yml
  .github/workflows/ci-stylus-check-wasm.yml
  .github/workflows/ci-stylus-check.yml
  .github/workflows/ci-stylus-e2e-tests.yml
  .github/workflows/ci-stylus-gas-bench.yml
  .github/workflows/ci-stylus-nostd.yml
Due: none

chore: added space
  target_chains/ethereum/sdk/stylus/rust-toolchain.toml
Due: none

chore: add crate publish workflow for pyth-lazer-client
  .github/workflows/publish-rust-lazer-client.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: remove unused workflow
  .github/workflows/publish-rust-lazer-sdk.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

precommit fixes
  .github/workflows/ci-stylus-check.yml
  target_chains/ethereum/sdk/stylus/examples/extend-pyth-example/Cargo.toml
  target_chains/ethereum/sdk/stylus/examples/function-example/Cargo.toml
Due: none

refactor(governance/xc_admin): add more logs on relayer
  governance/xc_admin/packages/crank_pythnet_relayer/src/index.ts
Due: none

added new line
  .github/workflows/ci-stylus-check.yml
Due: none

removed
  .github/workflows/ci-stylus-check.yml
Due: none

chore(lazer): add crate publish workflow for pyth-lazer-client (#2323)
  .github/workflows/publish-rust-lazer-client.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: specify protocol crate version to fix crates.io publish
  lazer/Cargo.lock
  lazer/sdk/rust/client/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: specify protocol crate version to fix crates.io publish (#2325)
  lazer/Cargo.lock
  lazer/sdk/rust/client/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: deser Channel from String, not &str
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: bump ver, fix clippy
  lazer/Cargo.lock
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(pyth-lazer-protocol): deser Channel from String, not &str (#2327)
  lazer/Cargo.lock
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

add default value
  apps/staking/src/config/server.ts
Due: none

clean up, choose default value
  apps/staking/src/api.ts
  apps/staking/src/components/Root/index.tsx
  apps/staking/src/config/server.ts
  apps/staking/src/hooks/use-api.tsx
Due: none

format
  apps/staking/src/config/server.ts
Due: none

fix: use key with sol for simulations (#2315)
  apps/staking/src/api.ts
  apps/staking/src/components/Root/index.tsx
  apps/staking/src/config/server.ts
  apps/staking/src/hooks/use-api.tsx
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
Due: none

chore: use protocol=0.4.2
  lazer/Cargo.lock
  lazer/sdk/rust/client/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: use protocol=0.4.2 (#2328)
  lazer/Cargo.lock
  lazer/sdk/rust/client/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

do it
  governance/remote_executor/Cargo.lock
  governance/remote_executor/cli/Cargo.toml
  governance/remote_executor/cli/src/main.rs
  governance/remote_executor/programs/remote-executor/Cargo.toml
  governance/remote_executor/programs/remote-executor/src/lib.rs
  governance/remote_executor/programs/remote-executor/src/state/claim_record.rs
  governance/remote_executor/programs/remote-executor/src/tests/executor_simulator.rs
  governance/remote_executor/programs/remote-executor/src/tests/test_adversarial.rs
  governance/remote_executor/rust-toolchain.toml
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

do it
  governance/remote_executor/programs/remote-executor/src/state/claim_record.rs
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

clean
  .github/workflows/ci-pre-commit.yml
  .github/workflows/ci-remote-executor.yml
  .pre-commit-config.yaml
  governance/remote_executor/programs/remote-executor/src/tests/executor_simulator.rs
  governance/remote_executor/rust-toolchain.toml
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

bpf->sbf
  .github/workflows/ci-remote-executor.yml
Due: none

clean up
  governance/remote_executor/Cargo.lock
  governance/remote_executor/programs/remote-executor/Cargo.toml
  governance/remote_executor/programs/remote-executor/src/tests/test_adversarial.rs
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

bump: remote executor anchor version (#2329)
  .github/workflows/ci-pre-commit.yml
  .github/workflows/ci-remote-executor.yml
  .pre-commit-config.yaml
  governance/remote_executor/Cargo.lock
  governance/remote_executor/cli/Cargo.toml
  governance/remote_executor/cli/src/main.rs
  governance/remote_executor/programs/remote-executor/Cargo.toml
  governance/remote_executor/programs/remote-executor/src/lib.rs
  governance/remote_executor/programs/remote-executor/src/state/claim_record.rs
  governance/remote_executor/programs/remote-executor/src/tests/executor_simulator.rs
  governance/remote_executor/programs/remote-executor/src/tests/test_adversarial.rs
  governance/remote_executor/rust-toolchain.toml
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

chore(deps): update axum and related dependencies to latest versions
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/api.rs
  apps/fortuna/src/command/run.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

removed line
  .github/workflows/ci-stylus-check.yml
Due: none

chore: ci changes
  .github/workflows/ci-stylus-e2e-tests.yml
  .github/workflows/ci-stylus-gas-bench.yml
  target_chains/ethereum/sdk/stylus/scripts/bench.sh
  target_chains/ethereum/sdk/stylus/scripts/e2e-tests.sh
Due: none

chore : changes
  .github/workflows/ci-stylus-gas-bench.yml
Due: none

changed ci script
  .github/workflows/ci-stylus-e2e-tests.yml
Due: none

removed if statements for test
  .github/workflows/ci-stylus-e2e-tests.yml
  .github/workflows/ci-stylus-gas-bench.yml
Due: none

chore: changes
  .github/workflows/ci-stylus-e2e-tests.yml
Due: none

chore:fixes
  .github/workflows/ci-stylus-e2e-tests.yml
  .github/workflows/ci-stylus-gas-bench.yml
Due: none

chore: fixes
  .github/workflows/ci-stylus-e2e-tests.yml
  .github/workflows/ci-stylus-gas-bench.yml
Due: none
