Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

Update apps/developer-hub/src/cookies/initialAccessTokenCookie.ts
  apps/developer-hub/src/cookies/initialAccessTokenCookie.ts
Due: none

chore: try / catch
  apps/developer-hub/src/cookies/initialAccessTokenCookie.ts
Due: none

chore(developer hub): addressed redirect feedback
  apps/developer-hub/src/app/api/playground/deeplink/route.ts
Due: none

Update apps/developer-hub/src/app/api/playground/deeplink/route.ts
  apps/developer-hub/src/app/api/playground/deeplink/route.ts
Due: none

lazer/contracts/cardano/sdk/js: derive WH policy from state, fix withdraw script handling, refactor
  lazer/contracts/cardano/README.md
  lazer/contracts/cardano/aiken.lock
  lazer/contracts/cardano/sdk/js/src/cli.ts
  lazer/contracts/cardano/sdk/js/src/client.ts
  lazer/contracts/cardano/sdk/js/src/offchain.ts
  lazer/contracts/cardano/sdk/js/src/transactions.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

docs(pro): remove all Hermes and Pyth Core references from MCP skills
  apps/developer-hub/content/docs/price-feeds/pro/mcp-skills.mdx
  apps/mcp/skills/pyth-integration-helper/SKILL.md
  apps/mcp/skills/references/common.md
Due: none

docs(pro): improve MCP Server and MCP Skills discoverability
  apps/developer-hub/content/docs/price-feeds/pro/getting-started.mdx
  apps/developer-hub/content/docs/price-feeds/pro/index.mdx
  apps/developer-hub/content/docs/price-feeds/pro/mcp-skills.mdx
  apps/developer-hub/content/docs/price-feeds/pro/mcp.mdx
  apps/developer-hub/content/docs/price-feeds/pro/meta.json
Due: none

docs(pro): clean up Hermes references in MCP skills
  apps/developer-hub/content/docs/price-feeds/pro/mcp-skills.mdx
  apps/mcp/skills/pyth-integration-helper/SKILL.md
  apps/mcp/skills/references/common.md
Due: none

cargo fmt
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat(solana): add WH guardian set 5 (#3512)
  target_chains/solana/cli/src/cli.rs
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix(hip-3-pusher): harden websocket retry/reconnect reliability (#3532)
  .gitignore
  apps/hip-3-pusher/AGENTS.md
  apps/hip-3-pusher/pyproject.toml
  apps/hip-3-pusher/src/pusher/hermes_listener.py
  apps/hip-3-pusher/src/pusher/hyperliquid_listener.py
  apps/hip-3-pusher/src/pusher/lazer_listener.py
  apps/hip-3-pusher/src/pusher/retry.py
  apps/hip-3-pusher/tests/test_listener_reconnect_behavior.py
  apps/hip-3-pusher/tests/test_retry_utils.py
  apps/hip-3-pusher/uv.lock
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(pro-docs): address P1/P2 review findings for changelog generator
  apps/developer-hub/scripts/__tests__/generate-pro-price-feed-changelog.test.ts
  apps/developer-hub/scripts/generate-pro-price-feed-changelog.ts
  apps/developer-hub/scripts/lib/pro-price-feed-changelog.ts
  apps/developer-hub/scripts/validate-pro-changelog-output.ts
  apps/developer-hub/src/components/PriceFeedIdsCoreTable/index.tsx
  apps/developer-hub/src/components/PriceFeedIdsProChangelog/index.tsx
  apps/developer-hub/src/components/PriceFeedIdsProTable/index.tsx
  apps/developer-hub/src/lib/error-to-string.ts
Due: none

refactor(pro-docs): rewrite changelog generator to use governance repo
  .github/workflows/generate-pro-changelog.yml
  apps/developer-hub/content/docs/price-feeds/pro/price-feed-id-changelog.mdx
  apps/developer-hub/package.json
  apps/developer-hub/public/data/pro-price-feed-changelog/daily-rollups.json
  apps/developer-hub/scripts/__tests__/generate-pro-price-feed-changelog.test.ts
  apps/developer-hub/scripts/generate-pro-price-feed-changelog.ts
  apps/developer-hub/scripts/lib/pro-price-feed-changelog.ts
  apps/developer-hub/scripts/validate-pro-changelog-output.ts
  apps/developer-hub/src/components/PriceFeedIdsProChangelog/index.tsx
  apps/developer-hub/src/data/pro-price-feed-changelog/snapshots/2026-03-09.json
  apps/developer-hub/src/data/pro-price-feed-changelog/types.ts
Due: none

refactor(pro-docs): address code review findings for price feed changelog
  apps/developer-hub/public/data/pro-price-feed-changelog/daily-rollups.json
  apps/developer-hub/scripts/generate-pro-price-feed-changelog.ts
  apps/developer-hub/src/components/PriceFeedIdsProChangelog/index.tsx
  apps/developer-hub/src/data/pro-price-feed-changelog/types.ts
Due: none

add(pro-docs): introduce price feed id changelog page
  apps/developer-hub/content/docs/price-feeds/pro/meta.json
  apps/developer-hub/content/docs/price-feeds/pro/price-feed-id-changelog.mdx
  apps/developer-hub/package.json
  apps/developer-hub/scripts/generate-pro-price-feed-changelog.ts
  apps/developer-hub/src/components/PriceFeedIdsProChangelog/index.module.scss
  apps/developer-hub/src/components/PriceFeedIdsProChangelog/index.tsx
  apps/developer-hub/src/data/pro-price-feed-changelog/daily-rollups.json
  apps/developer-hub/src/data/pro-price-feed-changelog/snapshots/2026-03-09.json
Due: none

fix(pro-docs): address PR review comments for price feed changelog
  apps/developer-hub/scripts/generate-pro-price-feed-changelog.ts
  apps/developer-hub/src/components/PriceFeedIdsProChangelog/index.tsx
Due: none

feat(mcp): add self-correcting timestamp errors and server time to all responses
  apps/mcp/README.md
  apps/mcp/src/tools/convert-date-to-timestamp.ts
  apps/mcp/src/tools/get-candlestick-data.ts
  apps/mcp/src/tools/get-historical-price.ts
  apps/mcp/src/tools/get-latest-price.ts
  apps/mcp/src/tools/get-symbols.ts
  apps/mcp/src/tools/index.ts
  apps/mcp/src/utils/errors.ts
  apps/mcp/src/utils/timestamp.ts
  apps/mcp/tests/integration/stdio.test.ts
  apps/mcp/tests/tools/convert-date-to-timestamp.test.ts
  apps/mcp/tests/tools/get-candlestick-data.test.ts
  apps/mcp/tests/tools/get-historical-price.test.ts
  apps/mcp/tests/tools/get-latest-price.test.ts
  apps/mcp/tests/tools/get-symbols.test.ts
  apps/mcp/tests/utils/timestamp.test.ts
Due: none

fix(insights): fix missing feed names
  apps/insights/src/components/PriceFeeds/price-feeds-card.module.scss
  apps/insights/src/components/PriceFeeds/price-feeds-card.tsx
  apps/insights/src/components/Publisher/price-feeds.module.scss
  apps/insights/src/components/Publisher/price-feeds.tsx
  apps/insights/src/components/Publisher/top-feeds-table.module.scss
  apps/insights/src/components/Publisher/top-feeds-table.tsx
  packages/component-library/src/SymbolPairTag/index.module.scss
  packages/component-library/src/useDrawer/index.module.scss
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

lazer/contracts/cardano/sdk/js: implement proper tx retrying, refactor
  lazer/contracts/cardano/aiken.lock
  lazer/contracts/cardano/sdk/js/package.json
  lazer/contracts/cardano/sdk/js/src/cli.ts
  lazer/contracts/cardano/sdk/js/src/client.ts
  lazer/contracts/cardano/sdk/js/src/transactions.ts
  lazer/contracts/cardano/sdk/js/src/utils.ts
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(devhub): add Soneium mainnet sponsored feeds
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/evm/soneium-mainnet.json
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/evm.mdx
Due: none

feat: bulk pusher updates
  Cargo.lock
  apps/pyth-lazer-pusher/.gitignore
  apps/pyth-lazer-pusher/bulk-trade-cli/Cargo.toml
  apps/pyth-lazer-pusher/bulk-trade-pusher/Cargo.toml
  apps/pyth-lazer-pusher/bulk-trade-pusher/config.example.toml
  apps/pyth-lazer-pusher/bulk-trade-pusher/src/bulk_client.rs
  apps/pyth-lazer-pusher/bulk-trade-pusher/src/health.rs
  apps/pyth-lazer-pusher/bulk-trade-pusher/src/main.rs
  apps/pyth-lazer-pusher/bulk-trade-pusher/src/pusher.rs
  apps/pyth-lazer-pusher/bulk-trade-pusher/src/signing.rs
  apps/pyth-lazer-pusher/mock/bulk-trade-mock-validator/src/main.rs
  apps/pyth-lazer-pusher/pusher-base/src/lazer/receiver.rs
  apps/pyth-lazer-pusher/tilt/bulk/k8s/tilt/config.toml.tpl
Due: cargo-fmt-lazer, cargo-clippy-lazer

lazer/contracts/cardano/sdk/js: small fixes
  lazer/contracts/cardano/aiken.lock
  lazer/contracts/cardano/sdk/js/src/cli.ts
  lazer/contracts/cardano/sdk/js/src/client.ts
  lazer/contracts/cardano/sdk/js/src/transactions.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

lazer/contracts/cardano: fix smaller issues
  lazer/contracts/cardano/aiken.lock
  lazer/contracts/cardano/lib/state.ak
  lazer/contracts/cardano/sdk/js/src/offchain.ts
  lazer/contracts/cardano/validators/pyth_price.ak
  lazer/contracts/cardano/validators/pyth_state.ak
Due: cargo-fmt-lazer, cargo-clippy-lazer

lazer/contracts/cardano/sdk/js: match upgraded spending script off-chain
  lazer/contracts/cardano/sdk/js/src/transactions.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: bulk pusher updates (#3545)
  Cargo.lock
  apps/pyth-lazer-pusher/.gitignore
  apps/pyth-lazer-pusher/bulk-trade-cli/Cargo.toml
  apps/pyth-lazer-pusher/bulk-trade-pusher/Cargo.toml
  apps/pyth-lazer-pusher/bulk-trade-pusher/config.example.toml
  apps/pyth-lazer-pusher/bulk-trade-pusher/src/bulk_client.rs
  apps/pyth-lazer-pusher/bulk-trade-pusher/src/health.rs
  apps/pyth-lazer-pusher/bulk-trade-pusher/src/main.rs
  apps/pyth-lazer-pusher/bulk-trade-pusher/src/pusher.rs
  apps/pyth-lazer-pusher/bulk-trade-pusher/src/signing.rs
  apps/pyth-lazer-pusher/mock/bulk-trade-mock-validator/src/main.rs
  apps/pyth-lazer-pusher/pusher-base/src/lazer/receiver.rs
  apps/pyth-lazer-pusher/tilt/bulk/k8s/tilt/config.toml.tpl
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(mcp): reject invalid calendar dates and non-ISO formats in convert_date_to_timestamp
  apps/mcp/src/tools/convert-date-to-timestamp.ts
  apps/mcp/tests/tools/convert-date-to-timestamp.test.ts
Due: none

expand Cardano Lazer README and upgrades CLI
  contract_manager/scripts/manage_cardano_governance.ts
  lazer/contracts/cardano/README.md
  lazer/contracts/cardano/sdk/js/src/cli.ts
  lazer/contracts/cardano/sdk/js/src/client.ts
  lazer/contracts/cardano/sdk/js/src/transactions.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(mcp): validate calendar dates for offset datetimes too
  apps/mcp/src/tools/convert-date-to-timestamp.ts
  apps/mcp/tests/tools/convert-date-to-timestamp.test.ts
Due: none

feat(mcp): add tool titles and complete annotations per MCP spec
  apps/mcp/src/tools/convert-date-to-timestamp.ts
  apps/mcp/src/tools/get-candlestick-data.ts
  apps/mcp/src/tools/get-historical-price.ts
  apps/mcp/src/tools/get-latest-price.ts
  apps/mcp/src/tools/get-symbols.ts
Due: none

Update apps/mcp/src/tools/convert-date-to-timestamp.ts
  apps/mcp/src/tools/convert-date-to-timestamp.ts
Due: none

feat(mcp): add CORS support for browser-based MCP clients
  apps/mcp/package.json
  apps/mcp/src/http.ts
Due: none

lazer/contracts/cardano/sdk/js: update dependencies
  lazer/contracts/cardano/sdk/js/package.json
  lazer/contracts/cardano/sdk/js/src/cli.ts
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

lazer/contracts/cardano/sdk/js: relax verification tx validity
  lazer/contracts/cardano/aiken.lock
  lazer/contracts/cardano/sdk/js/src/transactions.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer
