Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy, cargo-fmt-lazer, cargo-clippy-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/fortuna/Cargo.toml --all
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/fortuna/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./target_chains/solana/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./target_chains/solana/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

poetry-install:
  name: poetry install
  entry: poetry -C express_relay/sdk/python/express_relay install
  pass_filenames: false
  language: system

build: fix concurrency=100% syntax in test:ci and build:ci
  package.json
Due: none

build: fix concurrency=100% shell escaping in test:ci and build:ci
  package.json
Due: none

ci: add rust cache to turbo test workflow
  .github/workflows/ci-turbo-test.yml
Due: none

ci: add rust cache to turbo build workflow and add workflow triggers
  .github/workflows/ci-turbo-build.yml
  .github/workflows/ci-turbo-test.yml
Due: none

Update ci-turbo-build.yml
  .github/workflows/ci-turbo-build.yml
Due: none

ci: remove self-references from workflow paths
  .github/workflows/ci-turbo-build.yml
  .github/workflows/ci-turbo-test.yml
Due: none

ci: add turbo cache to build and test workflows
  .github/workflows/ci-turbo-build.yml
  .github/workflows/ci-turbo-test.yml
Due: none

feat(insights): add evaluation period selector in component drawer
  apps/insights/src/app/component-score-history/route.ts
  apps/insights/src/components/LivePrices/index.tsx
  apps/insights/src/components/PriceComponentDrawer/index.module.scss
  apps/insights/src/components/PriceComponentDrawer/index.tsx
  apps/insights/src/components/PriceComponentsCard/index.tsx
  apps/insights/src/components/PriceFeed/publishers-card.tsx
  apps/insights/src/components/PriceFeed/publishers.tsx
  apps/insights/src/components/Publisher/layout.tsx
  apps/insights/src/components/Publisher/price-feed-drawer-provider.tsx
  apps/insights/src/components/ScoreHistory/index.module.scss
  apps/insights/src/components/ScoreHistory/index.tsx
  apps/insights/src/services/clickhouse.ts
Due: none

test: update stale threshold test to subtract one more second
  target_chains/near/receiver/tests/workspaces.rs
Due: none

chore: update pre-commit to use pnpm fix:format
  .pre-commit-config.yaml
Due: none

fix: ensure pnpm is available for pre-commit hook
  .pre-commit-config.yaml
Due: none

fix: use pre-commit node version management
  .pre-commit-config.yaml
Due: none

fix: use pre-commit additional_dependencies for package management
  .pre-commit-config.yaml
Due: none

fix: restore prettier configuration with pnpm exec
  .pre-commit-config.yaml
Due: none

fix: use turbo filter to skip fonts package
  .pre-commit-config.yaml
Due: none

chore(target_chains/near): build with --locked in test
  target_chains/near/receiver/workspace-test.sh
Due: none

chore(target_chains/near): build with --locked in test (#2365)
  target_chains/near/receiver/workspace-test.sh
Due: none

Update mod.rs
  pythnet/message_buffer/programs/mock-cpi-caller/tests/program_test/mod.rs
Due: cargo-fmt-message-buffer, cargo-clippy-message-buffer

fix(aptos) Remove Aptos examples from monorepo
  target_chains/aptos/examples/fetch_btc_price/Move.toml
  target_chains/aptos/examples/fetch_btc_price/sources/example.move
  target_chains/aptos/examples/mint_nft/.gitignore
  target_chains/aptos/examples/mint_nft/Move.toml
  target_chains/aptos/examples/mint_nft/README.md
  target_chains/aptos/examples/mint_nft/app/.gitignore
  target_chains/aptos/examples/mint_nft/app/package-lock.json
  target_chains/aptos/examples/mint_nft/app/package.json
  target_chains/aptos/examples/mint_nft/app/public/favicon.ico
  target_chains/aptos/examples/mint_nft/app/public/index.html
  target_chains/aptos/examples/mint_nft/app/public/logo192.png
  target_chains/aptos/examples/mint_nft/app/public/manifest.json
  target_chains/aptos/examples/mint_nft/app/public/robots.txt
  target_chains/aptos/examples/mint_nft/app/src/App.css
  target_chains/aptos/examples/mint_nft/app/src/App.test.tsx
  target_chains/aptos/examples/mint_nft/app/src/App.tsx
  target_chains/aptos/examples/mint_nft/app/src/index.css
  target_chains/aptos/examples/mint_nft/app/src/index.tsx
  target_chains/aptos/examples/mint_nft/app/src/logo.svg
  target_chains/aptos/examples/mint_nft/app/src/react-app-env.d.ts
  target_chains/aptos/examples/mint_nft/app/src/reportWebVitals.ts
  target_chains/aptos/examples/mint_nft/app/src/setupTests.ts
  target_chains/aptos/examples/mint_nft/app/tsconfig.json
  target_chains/aptos/examples/mint_nft/sources/minting.move
Due: none

chore(pricefeed) Add story mainnet
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

migrate ethers to alloy
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/api.rs
  apps/fortuna/src/chain/eth_gas_oracle.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/reader.rs
  apps/fortuna/src/command/register_provider.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/config/generate.rs
  apps/fortuna/src/config/get_request.rs
  apps/fortuna/src/config/request_randomness.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/state.rs
  target_chains/ethereum/contracts/hardhat.config.ts
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

migrate ethers to alloy
  apps/fortuna/src/chain/nonce_manager.rs
  apps/fortuna/src/chain/traced_client.rs
  apps/fortuna/src/command/inspect.rs
  apps/fortuna/src/command/run.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

update
  contract_manager/scripts/update_all_pricefeeds.ts
Due: none

chore(pricefeed) Add story mainnet (#2369)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

fix(aptos) Remove Aptos examples from monorepo (#2368)
  target_chains/aptos/examples/fetch_btc_price/Move.toml
  target_chains/aptos/examples/fetch_btc_price/sources/example.move
  target_chains/aptos/examples/mint_nft/.gitignore
  target_chains/aptos/examples/mint_nft/Move.toml
  target_chains/aptos/examples/mint_nft/README.md
  target_chains/aptos/examples/mint_nft/app/.gitignore
  target_chains/aptos/examples/mint_nft/app/package-lock.json
  target_chains/aptos/examples/mint_nft/app/package.json
  target_chains/aptos/examples/mint_nft/app/public/favicon.ico
  target_chains/aptos/examples/mint_nft/app/public/index.html
  target_chains/aptos/examples/mint_nft/app/public/logo192.png
  target_chains/aptos/examples/mint_nft/app/public/manifest.json
  target_chains/aptos/examples/mint_nft/app/public/robots.txt
  target_chains/aptos/examples/mint_nft/app/src/App.css
  target_chains/aptos/examples/mint_nft/app/src/App.test.tsx
  target_chains/aptos/examples/mint_nft/app/src/App.tsx
  target_chains/aptos/examples/mint_nft/app/src/index.css
  target_chains/aptos/examples/mint_nft/app/src/index.tsx
  target_chains/aptos/examples/mint_nft/app/src/logo.svg
  target_chains/aptos/examples/mint_nft/app/src/react-app-env.d.ts
  target_chains/aptos/examples/mint_nft/app/src/reportWebVitals.ts
  target_chains/aptos/examples/mint_nft/app/src/setupTests.ts
  target_chains/aptos/examples/mint_nft/app/tsconfig.json
  target_chains/aptos/examples/mint_nft/sources/minting.move
Due: none

extract middleware to new file
  apps/fortuna/src/chain.rs
  apps/fortuna/src/chain/ethereum.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

whoops
  apps/fortuna/src/chain/legacy_tx_middleware.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

move to new module
  apps/fortuna/src/chain.rs
  apps/fortuna/src/chain/eth_gas_oracle.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/legacy_tx_middleware.rs
  apps/fortuna/src/chain/nonce_manager.rs
  apps/fortuna/src/chain/traced_client.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/main.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

missed files
  apps/fortuna/src/eth_utils.rs
  apps/fortuna/src/eth_utils/eth_gas_oracle.rs
  apps/fortuna/src/eth_utils/legacy_tx_middleware.rs
  apps/fortuna/src/eth_utils/nonce_manager.rs
  apps/fortuna/src/eth_utils/traced_client.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix build
  apps/fortuna/src/chain.rs
  apps/fortuna/src/chain/utils.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
  apps/fortuna/src/keeper/commitment.rs
  apps/fortuna/src/keeper/fee.rs
  apps/fortuna/src/keeper/keeper_metrics.rs
  apps/fortuna/src/keeper/process_event.rs
  apps/fortuna/src/keeper/track.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix imports
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
  apps/fortuna/src/keeper/fee.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat(pulse): Add getLastActiveRequests function to retrieve active requests
  target_chains/ethereum/contracts/contracts/pulse/IPulse.sol
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

fix(pulse): Update gas usage comments for active requests function
  target_chains/ethereum/contracts/contracts/pulse/IPulse.sol
Due: none

move file
  apps/fortuna/src/chain.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/eth_utils.rs
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper/commitment.rs
  apps/fortuna/src/keeper/fee.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

refactor(pulse): Rename getLastActiveRequests to getFirstActiveRequests and update related comments
  target_chains/ethereum/contracts/contracts/pulse/IPulse.sol
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseState.sol
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

(chore): Fortuna refactor (#2372)
  apps/fortuna/src/chain.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/eth_utils.rs
  apps/fortuna/src/eth_utils/eth_gas_oracle.rs
  apps/fortuna/src/eth_utils/legacy_tx_middleware.rs
  apps/fortuna/src/eth_utils/nonce_manager.rs
  apps/fortuna/src/eth_utils/traced_client.rs
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
  apps/fortuna/src/keeper/commitment.rs
  apps/fortuna/src/keeper/fee.rs
  apps/fortuna/src/keeper/keeper_metrics.rs
  apps/fortuna/src/keeper/process_event.rs
  apps/fortuna/src/keeper/track.rs
  apps/fortuna/src/main.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

mostly fixed
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

address pr comments
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/General.tsx
Due: none

submit tx with retry
  apps/fortuna/src/eth_utils/nonce_manager.rs
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  mypy: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
