Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

pre-commit fix
  apps/fortuna/src/api.rs
  apps/fortuna/src/api/explorer.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat(argus): implement actor lifecycle management with supervision
  apps/argus/src/actors/controller.rs
  apps/argus/src/actors/types.rs
  apps/argus/src/keeper.rs
Due: none

fix-api
  apps/fortuna/src/api.rs
  apps/fortuna/src/api/explorer.rs
  apps/fortuna/src/command/run.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix(fortuna): remove wss related code
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

Use history in keeper
  apps/fortuna/src/api.rs
  apps/fortuna/src/api/explorer.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/reader.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat(entropy): Split out V2 interface into separate file. (#2645)
  target_chains/ethereum/entropy_sdk/solidity/IEntropy.sol
  target_chains/ethereum/entropy_sdk/solidity/IEntropyV2.sol
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyEventsV2.json
  target_chains/ethereum/entropy_sdk/solidity/abis/IEntropyV2.json
  target_chains/ethereum/entropy_sdk/solidity/package.json
Due: none

fix(fortuna): remove wss related code (#2648)
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix(hermes-docs)-fix Readme file
  apps/hermes/client/js/README.md
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore(pricefeeds) Deploy worldchain and Converge testnet
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

chore(insights): add April 2025 kpis
  apps/insights/src/static-data/stats.tsx
Due: none

test
  target_chains/ethereum/contracts/deploy.sh
Due: none

test
  target_chains/ethereum/contracts/deploy.sh
  target_chains/ethereum/contracts/package.json
Due: none

refactor(pyth): rename processSingleTwapUpdate to extractTwapPriceInfos for clarity
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
Due: none

refactor(pyth): streamline TWAP price validation logic for efficiency
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
Due: none

feat(price-pusher): update Aptos balance tracker to use new SDK and improve balance retrieval
  apps/price_pusher/package.json
  apps/price_pusher/src/aptos/balance-tracker.ts
  pnpm-lock.yaml
Due: none

chore(price-pusher): bump version to 9.3.1
  apps/price_pusher/package.json
Due: none

feat(lazer): add governance instructions protocol
  lazer/Cargo.lock
  lazer/publisher_sdk/proto/dynamic_value.proto
  lazer/publisher_sdk/proto/governance_instruction.proto
  lazer/publisher_sdk/proto/pyth_lazer_transaction.proto
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/publisher_sdk/rust/build.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

add_worldhcain_testnet
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

fix
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
Due: none

lint
  contract_manager/store/chains/EvmChains.yaml
Due: none

chore(pricefeeds) Deploy worldchain and Converge testnet (#2657)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

fix(pulse): disable impl contract initializer (#2646)
  target_chains/ethereum/contracts/contracts/pulse/Scheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerUpgradeable.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGovernance.t.sol
Due: none

fix: use memory instead of storage for priceUpdates struct (#2647)
  target_chains/ethereum/contracts/contracts/pulse/Scheduler.sol
Due: none

refactor: remove mention of gas config in sub param validation (#2641)
  target_chains/ethereum/contracts/contracts/pulse/Scheduler.sol
Due: none

fix: balance retrieval in SuiBalanceTracker
  apps/price_pusher/package.json
  apps/price_pusher/src/sui/balance-tracker.ts
Due: none

organize, clean up
  apps/argus/Cargo.lock
  apps/argus/Cargo.toml
  apps/argus/src/actors/chain_price_listener.rs
  apps/argus/src/actors/controller.rs
  apps/argus/src/actors/price_pusher.rs
  apps/argus/src/actors/pyth_price_listener.rs
  apps/argus/src/actors/subscription_listener.rs
  apps/argus/src/actors/types.rs
  apps/argus/src/adapters.rs
  apps/argus/src/adapters/contract.rs
  apps/argus/src/adapters/ethereum.rs
  apps/argus/src/adapters/hermes.rs
  apps/argus/src/adapters/types.rs
  apps/argus/src/api.rs
  apps/argus/src/chain.rs
  apps/argus/src/chain/reader.rs
  apps/argus/src/config.rs
  apps/argus/src/keeper.rs
  apps/argus/src/lib.rs
Due: none

feat(programs): add program adapter interface and factory implementation
  governance/xc_admin/packages/xc_admin_common/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/programs/adapter_factory.ts
  governance/xc_admin/packages/xc_admin_common/src/programs/program_adapter.ts
  governance/xc_admin/packages/xc_admin_common/src/programs/types.ts
Due: none

feat(context): add Program context and provider for managing program selection
  governance/xc_admin/packages/xc_admin_frontend/contexts/ProgramContext.tsx
  governance/xc_admin/packages/xc_admin_frontend/pages/_app.tsx
Due: none

feat(programs): add ProgramSwitch component for selecting Pyth programs
  governance/xc_admin/packages/xc_admin_frontend/components/ProgramSwitch.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/General.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/Proposals.tsx
Due: none

Changes required to integrate pyth lazer into scope
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/src/lib.rs
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/publisher.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(api-reference) Add sonic
  apps/api-reference/src/evm-networks.ts
Due: none

chore(api-reference) Add sonic (#2662)
  apps/api-reference/src/evm-networks.ts
Due: none

add chain id for iota mainnet
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/sui/vendor/wormhole_iota_mainnet/wormhole/sources/state.move
Due: none

build and publish wormhole
  target_chains/sui/vendor/wormhole_iota_mainnet/wormhole/Move.lock
Due: none

remove contract toml for now and update toml of vendored wormhole
  target_chains/sui/contracts/Move.iota_mainnet.toml
  target_chains/sui/vendor/wormhole_iota_mainnet/wormhole/Move.lock
  target_chains/sui/vendor/wormhole_iota_mainnet/wormhole/Move.toml
Due: none

add move.toml
  target_chains/sui/contracts/Move.iota_mainnet.toml
Due: none

add mainnet to contract manager
  contract_manager/store/chains/IotaChains.yaml
  contract_manager/store/contracts/IotaPriceFeedContracts.yaml
  contract_manager/store/contracts/IotaWormholeContracts.yaml
Due: none
