Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy, cargo-fmt-lazer, cargo-clippy-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/fortuna/Cargo.toml --all
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/fortuna/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./target_chains/solana/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./target_chains/solana/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

poetry-install:
  name: poetry install
  entry: poetry -C express_relay/sdk/python/express_relay install
  pass_filenames: false
  language: system

style: fix formatting
  lazer/contracts/aptos/sources/pyth_lazer.move
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: init aptos contract
  apps/hermes/server/Cargo.lock
  lazer/contracts/aptos/Move.toml
  lazer/contracts/aptos/README.md
  lazer/contracts/aptos/sources/pyth_lazer.move
  lazer/contracts/aptos/tests/pyth_lazer_tests.move
Due: cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-lazer, cargo-clippy-lazer

fix: remove unnecessary check
  lazer/contracts/aptos/Move.toml
  lazer/contracts/aptos/sources/pyth_lazer.move
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(entropy Debugger) Add Monad testnet
  apps/entropy-debugger/src/store/entropy-deployments.ts
Due: none

update
  apps/entropy-debugger/src/store/entropy-deployments.ts
Due: none

chore(entropy Debugger) Add Monad testnet (#2382)
  apps/entropy-debugger/src/store/entropy-deployments.ts
Due: none

refactor(fortuna): Move more utilities into evm_utils (#2376)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/eth_utils/nonce_manager.rs
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

chore: fix CI checks
  .github/workflows/ci-ethereum-contract.yml
  .github/workflows/ci-pre-commit.yml
  apps/hermes/server/Cargo.lock
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix cargo file
  target_chains/solana/Cargo.lock
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

update (#2370)
  contract_manager/scripts/update_all_pricefeeds.ts
Due: none

chore(pricefeed) Deploy bittensor
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
Due: none

chore(pricefeed) Deploy bittensor (#2326)
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
Due: none

chore: fix some more CI stuff (#2383)
  .github/workflows/ci-ethereum-contract.yml
  .github/workflows/ci-pre-commit.yml
  apps/hermes/server/Cargo.lock
  target_chains/solana/Cargo.lock
Due: cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix: improve arg docs pusher
  apps/price_pusher/src/solana/command.ts
Due: none

temp key
  lazer/contracts/aptos/Move.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: update foundry version to v0.3.0
  .github/workflows/ci-ethereum-contract.yml
Due: none

fix: use correct foundry-toolchain action version
  .github/workflows/ci-ethereum-contract.yml
Due: none

fix: use correct foundry version tag format
  .github/workflows/ci-ethereum-contract.yml
Due: none

chore: add cargo workspaces to rust-cache action
  .github/workflows/ci-pre-commit.yml
Due: none

feat(insights): add publishers & price components from pythtest
  apps/insights/src/app/publishers/[cluster]/[key]/error.ts
  apps/insights/src/app/publishers/[cluster]/[key]/layout.ts
  apps/insights/src/app/publishers/[cluster]/[key]/page.ts
  apps/insights/src/app/publishers/[cluster]/[key]/price-feeds/page.ts
  apps/insights/src/app/publishers/[key]/error.ts
  apps/insights/src/app/publishers/[key]/page.ts
  apps/insights/src/app/publishers/[key]/price-feeds/page.ts
  apps/insights/src/components/LivePrices/index.tsx
  apps/insights/src/components/PriceComponentDrawer/index.module.scss
  apps/insights/src/components/PriceComponentDrawer/index.tsx
  apps/insights/src/components/PriceComponentsCard/index.module.scss
  apps/insights/src/components/PriceComponentsCard/index.tsx
  apps/insights/src/components/PriceFeed/chart.tsx
  apps/insights/src/components/PriceFeed/layout.tsx
  apps/insights/src/components/PriceFeed/price-feed-select.tsx
  apps/insights/src/components/PriceFeed/publishers-card.tsx
  apps/insights/src/components/PriceFeed/publishers.tsx
  apps/insights/src/components/PriceFeed/reference-data.tsx
  apps/insights/src/components/PriceFeedChangePercent/index.tsx
  apps/insights/src/components/PriceFeeds/index.tsx
  apps/insights/src/components/PriceFeeds/price-feeds-card.tsx
  apps/insights/src/components/Publisher/layout.module.scss
  apps/insights/src/components/Publisher/layout.tsx
  apps/insights/src/components/Publisher/performance.tsx
  apps/insights/src/components/Publisher/price-feed-drawer-provider.tsx
  apps/insights/src/components/Publisher/price-feeds-card.tsx
  apps/insights/src/components/Publisher/price-feeds.tsx
  apps/insights/src/components/PublisherTag/index.module.scss
  apps/insights/src/components/PublisherTag/index.tsx
  apps/insights/src/components/Publishers/index.tsx
  apps/insights/src/components/Publishers/publishers-card.tsx
  apps/insights/src/components/Root/index.tsx
  apps/insights/src/components/Root/search-dialog.tsx
  apps/insights/src/hooks/use-live-price-data.tsx
  apps/insights/src/hooks/use-price-feeds.tsx
  apps/insights/src/services/clickhouse.ts
  apps/insights/src/services/hermes.ts
  apps/insights/src/services/pyth.ts
  packages/component-library/src/InfoBox/index.tsx
Due: none

fix(insights): fix some bugs relating to the search dialog
  apps/insights/src/components/PriceFeed/price-feed-select.tsx
  apps/insights/src/components/Root/index.tsx
  apps/insights/src/components/Root/search-dialog.tsx
Due: none

ok
  .github/workflows/ci-pre-commit.yml
Due: none

hm
  .github/workflows/ci-pre-commit.yml
Due: none

add missing workspaces
  .github/workflows/ci-pre-commit.yml
Due: none

whoops
  .github/workflows/ci-pre-commit.yml
Due: none

Chore: speed up pre-commit CI workflow (#2389)
  .github/workflows/ci-pre-commit.yml
Due: none

feat(insights): use the label "Yield" instead of "Price" for rates
  apps/insights/src/components/PriceComponentDrawer/index.tsx
  apps/insights/src/components/PriceComponentsCard/index.tsx
  apps/insights/src/components/PriceFeed/layout.tsx
  apps/insights/src/components/PriceFeed/publishers-card.tsx
  apps/insights/src/components/PriceFeed/publishers.tsx
  apps/insights/src/components/PriceFeeds/price-feeds-card.tsx
  apps/insights/src/components/PriceName/index.tsx
  apps/insights/src/components/Publisher/layout.tsx
  apps/insights/src/components/Publisher/price-feed-drawer-provider.tsx
Due: none

chore(lazer): bump solana contract package version
  lazer/Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer): bump solana contract package version (#2391)
  lazer/Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer): update pyth-lazer-protocol dependency version in contract and client
  lazer/Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(contract_manager): manually track governance source and sequence in near contract
  contract_manager/src/contracts/near.ts
  contract_manager/store/contracts/NearPriceFeedContracts.yaml
Due: none

fix(governance/xc_admin): remove near from RECEIVER_CHAINS because it's already in WORMHOLE_CHAINS
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

feat(contract_manager): add near propose upgrade script
  contract_manager/scripts/generate_upgrade_near_contract_proposal.ts
Due: none

chore(lazer): update pyth-lazer-protocol dependency version in contract and client (#2392)
  lazer/Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add ALT to pusher to reduce number of txs
  apps/price_pusher/src/solana/command.ts
  apps/price_pusher/src/solana/solana.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/update_price_feed.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix(insights): ensure crypto icons are only used for cryptos
  apps/insights/src/components/PriceFeedIcon/index.tsx
  apps/insights/src/components/PriceFeeds/index.tsx
  apps/insights/src/components/PriceName/index.tsx
  apps/insights/src/components/Publisher/layout.tsx
  apps/insights/src/components/Publisher/price-feed-drawer-provider.tsx
  apps/insights/src/components/Root/index.tsx
Due: none

feat(insights): add message about 50% uptime for other scores
  apps/insights/src/components/PriceComponentsCard/index.tsx
Due: none

feat(insights): add opengraph images & improve metadata
  apps/insights/src/app/opengraph-image.png
  apps/insights/src/app/price-feeds/[slug]/layout.ts
  apps/insights/src/app/price-feeds/layout.ts
  apps/insights/src/app/price-feeds/opengraph-image.png
  apps/insights/src/app/price-feeds/page.ts
  apps/insights/src/app/publishers/[cluster]/[key]/layout.ts
  apps/insights/src/app/publishers/layout.ts
  apps/insights/src/app/publishers/opengraph-image.png
  apps/insights/src/app/publishers/page.ts
Due: none

add tests
  lazer/contracts/aptos/README.md
  lazer/contracts/aptos/tests/pyth_lazer_tests.move
Due: cargo-fmt-lazer, cargo-clippy-lazer

lints
  lazer/contracts/aptos/README.md
  lazer/contracts/aptos/tests/pyth_lazer_tests.move
Due: cargo-fmt-lazer, cargo-clippy-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  mypy: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
