Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/solana/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

Implement aribtrary traits for message structures
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

Move message structures from pyth-client repo to pythnet-sdk
  pythnet/pythnet_sdk/Cargo.toml
  pythnet/pythnet_sdk/src/lib.rs
  pythnet/pythnet_sdk/src/messages.rs
  pythnet/pythnet_sdk/src/tests/test_message.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

Expose magic variables and define them once
  pythnet/pythnet_sdk/src/wire.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

Put arbitrary implementations behind quickcheck feature flag
  pythnet/pythnet_sdk/Cargo.toml
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

Move back custom (de)serialization logic back to pythnet-client
  pythnet/pythnet_sdk/Cargo.toml
  pythnet/pythnet_sdk/src/lib.rs
  pythnet/pythnet_sdk/src/messages.rs
  pythnet/pythnet_sdk/src/tests/test_message.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

Remove useless change
  pythnet/pythnet_sdk/src/lib.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

feat: add go profiling
  hermes/src/network/p2p.go
  hermes/src/store/proof/wormhole_merkle.rs
Due: cargo-fmt-hermes

fix: whitespace
  hermes/src/network/p2p.go
Due: cargo-fmt-hermes

Update hermes-image-push.yml
  .github/workflows/hermes-image-push.yml
Due: cargo-fmt-hermes

Update hermes-image-push.yml (#877)
  .github/workflows/hermes-image-push.yml
Due: cargo-fmt-hermes

feat(ethereum): charge update fee per numUpdates for accumulator updates
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/contracts/pyth/PythAccumulator.sol
  target_chains/ethereum/contracts/forge-test/GasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/Pyth.WormholeMerkleAccumulator.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
  target_chains/ethereum/contracts/foundry.toml
Due: none

[pythnet-sdk] Update wh seq address comment
  pythnet/pythnet_sdk/src/lib.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

[pythnet-sdk] Update wh seq address comment (#879)
  pythnet/pythnet_sdk/src/lib.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

Remove cfg_attr for required dependency
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

Move message structures from pyth-client repo to pythnet-sdk (#867)
  pythnet/pythnet_sdk/Cargo.toml
  pythnet/pythnet_sdk/src/lib.rs
  pythnet/pythnet_sdk/src/messages.rs
  pythnet/pythnet_sdk/src/wire.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

Implement accumulator updates for cosmwasm
  pythnet/pythnet_sdk/src/error.rs
  pythnet/pythnet_sdk/src/wire.rs
  target_chains/cosmwasm/Cargo.lock
  target_chains/cosmwasm/contracts/pyth/Cargo.toml
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
  target_chains/cosmwasm/contracts/pyth/src/injective.rs
  target_chains/cosmwasm/sdk/rust/src/error.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

refactor(ethereum): refactor, add benchmarks for getUpdateFee
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/contracts/pyth/PythAccumulator.sol
  target_chains/ethereum/contracts/forge-test/GasBenchmark.t.sol
  target_chains/ethereum/contracts/foundry.toml
Due: none

refactor(ethereum): add back parseWormholeMerkleHeaderNumUpdates
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/contracts/pyth/PythAccumulator.sol
  target_chains/ethereum/contracts/foundry.toml
Due: none

refactor: increment totalNumUdpates by 1 for batch prices
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
Due: none

Better naming for utility function
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

test(ethereum): add test for checking getUpdateFee for accumulator, clean up unused code
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/forge-test/GasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/Pyth.WormholeMerkleAccumulator.t.sol
Due: none

bump version
  price_pusher/package.json
Due: none

[price_pusher] Injective: cache sequence number (#874)
  price_pusher/package.json
  price_pusher/src/injective/injective.ts
Due: none

Better naming for merkle processor and more tests on merkle path
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

[hermes] Fix memory leak
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/src/network/p2p.rs
Due: cargo-fmt-hermes

Update fee calculation logic for accumulator messages
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Implement accumulator updates for cosmwasm (#880)
  pythnet/pythnet_sdk/src/error.rs
  pythnet/pythnet_sdk/src/wire.rs
  target_chains/cosmwasm/Cargo.lock
  target_chains/cosmwasm/contracts/pyth/Cargo.toml
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
  target_chains/cosmwasm/contracts/pyth/src/injective.rs
  target_chains/cosmwasm/sdk/rust/src/error.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

Free on the go side instead
  hermes/src/network/p2p.go
  hermes/src/network/p2p.rs
Due: cargo-fmt-hermes

[hermes] Add get_price_feed endpoint
  hermes/src/api.rs
  hermes/src/api/rest.rs
Due: cargo-fmt-hermes

[ethereum] - charge updateFee per number of updates (#878)
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/contracts/pyth/PythAccumulator.sol
  target_chains/ethereum/contracts/forge-test/GasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/Pyth.WormholeMerkleAccumulator.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
  target_chains/ethereum/contracts/foundry.toml
Due: none

[hermes] Fix memory leak (#881)
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/src/network/p2p.go
Due: cargo-fmt-hermes

[hermes] Add get_price_feed endpoint (#883)
  hermes/src/api.rs
  hermes/src/api/rest.rs
Due: cargo-fmt-hermes

Add more tests for update_fee_amount
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

test(ethereum): add forward compatibility test for accumulator data
  target_chains/ethereum/contracts/forge-test/Pyth.WormholeMerkleAccumulator.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
Due: none

blah
  governance/xc_admin/packages/xc_admin_common/src/contracts/Contract.ts
  governance/xc_admin/packages/xc_admin_common/src/contracts/cli.ts
Due: none

test(ethereum): fix typo and rename
  target_chains/ethereum/contracts/forge-test/Pyth.WormholeMerkleAccumulator.t.sol
Due: none

gr
  governance/xc_admin/packages/xc_admin_common/src/contracts/Contract.ts
  governance/xc_admin/packages/xc_admin_common/src/contracts/EvmPythUpgradable.ts
  governance/xc_admin/packages/xc_admin_common/src/contracts/cli.ts
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana
