Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-accumulator-updater, cargo-clippy-accumulator-updater, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-accumulator-updater: any of: accumulator_updater
  cargo-clippy-accumulator-updater: any of: accumulator_updater
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana

add a single comment
  target_chains/sui/contracts/sources/pyth.move
Due: none

feat(accumulator-updater): update implementation of AccumulatorInput header
  accumulator_updater/programs/accumulator_updater/src/instructions/put_all.rs
  accumulator_updater/programs/accumulator_updater/src/lib.rs
  accumulator_updater/programs/accumulator_updater/src/state/accumulator_input.rs
  accumulator_updater/programs/mock-cpi-caller/src/instructions/add_price.rs
  accumulator_updater/programs/mock-cpi-caller/src/instructions/update_price.rs
  accumulator_updater/tests/accumulator_updater.ts
Due: cargo-fmt-accumulator-updater, cargo-clippy-accumulator-updater

feat(accumulator-updater): add MessageHeader to all PriceMessages and include in serialization
  accumulator_updater/programs/mock-cpi-caller/src/message/price.rs
  accumulator_updater/tests/accumulator_updater.ts
Due: cargo-fmt-accumulator-updater, cargo-clippy-accumulator-updater

fix(accumulator-updater): fix AccumulatorInput size & unit tests
  accumulator_updater/programs/accumulator_updater/src/state/accumulator_input.rs
Due: cargo-fmt-accumulator-updater, cargo-clippy-accumulator-updater

feat(accumulator-updater): update put_all to write as much data as possible
  accumulator_updater/programs/accumulator_updater/src/instructions/put_all.rs
  accumulator_updater/programs/accumulator_updater/src/lib.rs
  accumulator_updater/programs/accumulator_updater/src/state/accumulator_input.rs
  accumulator_updater/programs/mock-cpi-caller/src/lib.rs
Due: cargo-fmt-accumulator-updater, cargo-clippy-accumulator-updater

docs(accumulator-updater): update put_all ix documentation
  accumulator_updater/programs/accumulator_updater/src/instructions/put_all.rs
  accumulator_updater/programs/accumulator_updater/src/lib.rs
  accumulator_updater/programs/accumulator_updater/src/state/accumulator_input.rs
Due: cargo-fmt-accumulator-updater, cargo-clippy-accumulator-updater

fix bugs
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

cargo update
  target_chains/cosmwasm/Cargo.lock
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

disable rust feature
  target_chains/cosmwasm/contracts/pyth/Cargo.toml
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

return bool instead of result
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

add wormhole comment
  target_chains/cosmwasm/contracts/pyth/src/wormhole.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

[xc-admin] Add ser/de for Cosmos Upgrades (#758)
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/__tests__/UpgradeContract.test.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/UpgradeContract.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/index.ts
Due: none

[xc-admin] Add support for arbitrary wormhole payloads (#759)
  governance/multisig_wh_message_builder/src/index.ts
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/propose.ts
Due: none

tests added
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Add get price feed endpoint
  price_service/client/js/src/PriceServiceConnection.ts
  price_service/server/src/listen.ts
  price_service/server/src/rest.ts
Due: none

address feedback
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

fix stuff
  price_service/client/js/src/PriceServiceConnection.ts
  price_service/server/src/listen.ts
  price_service/server/src/rest.ts
  tilt_devnet/docker_images/Dockerfile.lerna
Due: none

Move cosmwasm sdk into standard tree structure (#761)
  target_chains/cosmwasm/Cargo.toml
  target_chains/cosmwasm/contracts/README.md
  target_chains/cosmwasm/contracts/pyth/Cargo.toml
  target_chains/cosmwasm/sdk/rust/Cargo.toml
  target_chains/cosmwasm/sdk/rust/README.md
  target_chains/cosmwasm/sdk/rust/src/error.rs
  target_chains/cosmwasm/sdk/rust/src/lib.rs
  target_chains/cosmwasm/sdk/rust/src/testing.rs
  tilt_devnet/docker_images/Dockerfile.cosmwasm
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

lint
  price_service/server/src/rest.ts
Due: none

hex stuff
  price_service/server/src/rest.ts
Due: none

allow specifying encoding
  price_service/server/src/rest.ts
Due: none

encoding vaas differently
  price_service/server/src/rest.ts
Due: none

fix
  price_service/server/src/rest.ts
Due: none

Get price feed endpoint (#764)
  price_service/server/src/listen.ts
  price_service/server/src/rest.ts
  tilt_devnet/docker_images/Dockerfile.lerna
Due: none

Callers can specify encoding
  price_service/server/src/rest.ts
Due: none

improve comments
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

[cosmwasm] Osmosis multiple fee token support (#763)
  target_chains/cosmwasm/Cargo.lock
  target_chains/cosmwasm/contracts/pyth/Cargo.toml
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
  target_chains/cosmwasm/contracts/pyth/src/lib.rs
  target_chains/cosmwasm/contracts/pyth/src/wormhole.rs
  target_chains/cosmwasm/sdk/rust/Cargo.toml
  target_chains/cosmwasm/sdk/rust/src/error.rs
  target_chains/cosmwasm/sdk/rust/src/lib.rs
  target_chains/cosmwasm/sdk/rust/src/testing.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

changed my mind about this one
  price_service/server/src/__tests__/rest.test.ts
  price_service/server/src/helpers.ts
  price_service/server/src/rest.ts
Due: none

cleanup
  price_service/server/src/encoding.ts
  price_service/server/src/helpers.ts
  price_service/server/src/rest.ts
Due: none

cleanup
  price_service/server/src/encoding.ts
Due: none

bump version
  price_service/server/package.json
Due: none

[price_service] Let callers specify VAA encoding (#766)
  price_service/server/package.json
  price_service/server/src/__tests__/rest.test.ts
  price_service/server/src/encoding.ts
  price_service/server/src/helpers.ts
  price_service/server/src/rest.ts
Due: none

update contract version
  target_chains/cosmwasm/Cargo.lock
  target_chains/cosmwasm/contracts/pyth/Cargo.toml
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

update script to build for osmosis
  target_chains/cosmwasm/tools/src/build-contract.ts
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

update pyth sdk cw version
  target_chains/cosmwasm/Cargo.lock
  target_chains/cosmwasm/sdk/rust/Cargo.toml
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

update release pipeline
  .github/workflows/release-pyth-cosmwasm-contract.yml
Due: none

near: internal feedback
  target_chains/near/receiver/Cargo.lock
  target_chains/near/receiver/src/governance.rs
  target_chains/near/receiver/src/lib.rs
Due: none
