Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

fix linter
  apps/pyth-lazer-agent/src/relayer_session.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

bump to 0.2.0
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

use Url
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/client/src/client.rs
  lazer/sdk/rust/client/src/resilient_ws_connection.rs
  lazer/sdk/rust/client/src/ws_connection.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(pyth-lazer-agent) Allow the relayer endpoint path in config (#2869)
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
  apps/pyth-lazer-agent/src/relayer_session.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

asset non empty endponts in constructor
  lazer/sdk/rust/client/src/client.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

configurable channel capacity
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/client/src/client.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

use single channel for connections
  Cargo.lock
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/client/src/client.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

add expo backoff builder wrapper
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/client/src/backoff.rs
  lazer/sdk/rust/client/src/lib.rs
  lazer/sdk/rust/client/src/resilient_ws_connection.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

add timeout
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/client/src/client.rs
  lazer/sdk/rust/client/src/resilient_ws_connection.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(fortuna): Fix nonce increment issues on high usage chains (#2868)
  Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

fix(pyth-lazer-agent) Fix the jRPC path
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
  apps/pyth-lazer-agent/src/http_server.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(pyth-lazer-agent) Fix the jRPC path (#2870)
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
  apps/pyth-lazer-agent/src/http_server.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

adjust initial rewards
  apps/staking/src/components/Header/stats.tsx
Due: none

adjust initial rewards (#2871)
  apps/staking/src/components/Header/stats.tsx
Due: none

fix: add FeedKind to AddFeed
  lazer/publisher_sdk/proto/governance_instruction.proto
Due: cargo-fmt-lazer, cargo-clippy-lazer

doc(lazer): improve proto comments
  lazer/publisher_sdk/proto/state.proto
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer): improve metadata in protobuf (#2856)
  Cargo.lock
  lazer/publisher_sdk/proto/dynamic_value.proto
  lazer/publisher_sdk/proto/governance_instruction.proto
  lazer/publisher_sdk/proto/publisher_update.proto
  lazer/publisher_sdk/proto/pyth_lazer_transaction.proto
  lazer/publisher_sdk/proto/state.proto
  lazer/publisher_sdk/proto/transaction_envelope.proto
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/publisher_sdk/rust/src/convert_dynamic_value.rs
  lazer/publisher_sdk/rust/src/convert_dynamic_value/tests.rs
  lazer/publisher_sdk/rust/src/lib.rs
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/dynamic_value.rs
  lazer/sdk/rust/protocol/src/feed_kind.rs
  lazer/sdk/rust/protocol/src/lib.rs
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer): bump version
  Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer): bump version (#2872)
  Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer): bump pyth-lazer-protocol to 0.9.1
  Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(hermes/server): support newer asset types + improve logging (#2866)
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/api/rest/v2/timestamp_price_updates.rs
  apps/hermes/server/src/api/types.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

Add governance VAA test cases for SetFeeInToken, SetWormholeAddress, AuthorizeGovernanceDataSourceTransfer, SetTransactionFee, and WithdrawFee
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

chore(lazer): bump pyth-lazer-protocol to 0.9.1 (#2873)
  Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

Update VAA hex strings with properly signed governance VAAs
  target_chains/ethereum/contracts/forge-test/GenerateGovernanceVAAs.t.sol
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

Update governance test VAAs with corrected hex strings
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

feat(governance,xc_admin): add fogo testnet
  governance/remote_executor/programs/remote-executor/Cargo.toml
  governance/remote_executor/programs/remote-executor/src/state/governance_payload.rs
  governance/remote_executor/programs/remote-executor/src/state/posted_vaa.rs
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

feat(governance,xc_admin): add fogo testnet (#2874)
  governance/remote_executor/programs/remote-executor/Cargo.toml
  governance/remote_executor/programs/remote-executor/src/state/governance_payload.rs
  governance/remote_executor/programs/remote-executor/src/state/posted_vaa.rs
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

fix(pyth_solana_receiver): improve VAA split handling
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Update withdraw_fee test VAA to use Alice's address as fee recipient
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

Add debug changes and VAA generation helper
  target_chains/ethereum/contracts/forge-test/GenerateGovernanceVAAs.t.sol
  target_chains/stylus/contracts/wormhole/src/lib.rs
Due: none

commnented out withdraw fee test
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

Add internal verification to governance test functions
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

Add sequence number verification to remaining governance test functions
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

fix(pyth-solana-receiver): Only split VAA when needed (#2875)
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Fix test_set_valid_period and clean up imports
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

Fix VAA validation in test_authorize_governance_data_source_transfer
  target_chains/stylus/contracts/pyth-receiver/src/governance_structs.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

commented out motsu-incompatible tests, cargo fmt
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

removed generate vaa script
  target_chains/ethereum/contracts/forge-test/GenerateGovernanceVAAs.t.sol
Due: none

Update test_set_wormhole_address with wormhole_contract_2 parameter and initialization
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

Fix VAA construction in test_set_wormhole_address to include address payload
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
  target_chains/stylus/contracts/wormhole/src/lib.rs
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
