Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay
  mypy: any of: express_relay/sdk/python/express_relay

add deposit tokens
  apps/staking/src/api.ts
  governance/pyth_staking_sdk/package.json
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
Due: none

update ts config
  governance/pyth_staking_sdk/package.json
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
  governance/pyth_staking_sdk/src/staking/accounts.ts
  governance/pyth_staking_sdk/src/staking/types.ts
  governance/pyth_staking_sdk/test/test.ts
  governance/pyth_staking_sdk/tsconfig.json
  pnpm-lock.yaml
Due: none

add bigint interface
  apps/staking/src/api.ts
  governance/pyth_staking_sdk/package.json
  governance/pyth_staking_sdk/src/constants.ts
  governance/pyth_staking_sdk/src/index.ts
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
  governance/pyth_staking_sdk/src/staking/accounts.ts
  governance/pyth_staking_sdk/src/staking/types.ts
  governance/pyth_staking_sdk/src/staking/utils.ts
  governance/pyth_staking_sdk/src/types.ts
  governance/pyth_staking_sdk/src/utils.ts
  governance/pyth_staking_sdk/test/test.ts
Due: none

add pool config
  apps/staking/src/api.ts
  governance/pyth_staking_sdk/src/constants.ts
  governance/pyth_staking_sdk/src/pdas.ts
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
  governance/pyth_staking_sdk/src/types.ts
  governance/pyth_staking_sdk/src/utils.ts
  governance/pyth_staking_sdk/test/start-validator.ts
  governance/pyth_staking_sdk/test/test.ts
Due: none

add pool data
  governance/pyth_staking_sdk/src/types.ts
  governance/pyth_staking_sdk/src/utils.ts
  governance/pyth_staking_sdk/test/test.ts
Due: none

fix wallet
  apps/staking/src/api.ts
  governance/pyth_staking_sdk/package.json
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
  governance/pyth_staking_sdk/tsconfig.json
  pnpm-lock.yaml
  target_chains/solana/sdk/js/solana_utils/package.json
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix lint
  express_relay/sdk/js/src/examples/simpleSearcherSvm.ts
Due: none

idl folders
  express_relay/sdk/js/package.json
  express_relay/sdk/js/src/examples/idl/idlDummy.json
  express_relay/sdk/js/src/examples/simpleSearcherSvm.ts
  express_relay/sdk/js/src/idl/idlExpressRelay.json
  express_relay/sdk/js/src/index.ts
Due: none

idl folders
  express_relay/sdk/js/src/expressRelayTypes.d.ts
Due: none

bump package version
  express_relay/sdk/js/package.json
Due: none

rename package
  express_relay/examples/easy_lend/package.json
  express_relay/examples/easy_lend/src/monitor.ts
  express_relay/sdk/js/README.md
  express_relay/sdk/js/package.json
Due: none

address comments
  express_relay/sdk/js/package.json
  express_relay/sdk/js/src/types.ts
Due: none

initial sdk prototype (#1850)
  express_relay/examples/easy_lend/package.json
  express_relay/examples/easy_lend/src/monitor.ts
  express_relay/sdk/js/README.md
  express_relay/sdk/js/package.json
  express_relay/sdk/js/src/const.ts
  express_relay/sdk/js/src/examples/dummyTypes.d.ts
  express_relay/sdk/js/src/examples/idl/idlDummy.json
  express_relay/sdk/js/src/examples/simpleSearcherSvm.ts
  express_relay/sdk/js/src/expressRelayTypes.d.ts
  express_relay/sdk/js/src/idl/idlExpressRelay.json
  express_relay/sdk/js/src/index.ts
  express_relay/sdk/js/src/serverTypes.d.ts
  express_relay/sdk/js/src/types.ts
  express_relay/sdk/js/tsconfig.json
  pnpm-lock.yaml
Due: none

pnpm lcok
  pnpm-lock.yaml
Due: none

chore: update jest.config.js to set rootDir for tests
  governance/pyth_staking_sdk/jest.config.js
Due: none

(feat) add get_price view functions to aptos contract
  target_chains/aptos/contracts/sources/pyth.move
Due: none

chore: update pythnetwork/client package
  apps/api-reference/package.json
  contract_manager/package.json
  governance/xc_admin/packages/crank_executor/package.json
  governance/xc_admin/packages/crank_pythnet_relayer/package.json
  governance/xc_admin/packages/proposer_server/package.json
  governance/xc_admin/packages/xc_admin_cli/package.json
  governance/xc_admin/packages/xc_admin_common/package.json
  governance/xc_admin/packages/xc_admin_frontend/package.json
  pnpm-lock.yaml
Due: none

feat(governance/xc_admin): add init-price-feed-index cli command
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
Due: none

fix: rebase and update lockfile
  pnpm-lock.yaml
Due: none

add publisher caps program
  governance/pyth_staking_sdk/src/constants.ts
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
  governance/pyth_staking_sdk/test/start-validator.ts
Due: none

update lock file
  pnpm-lock.yaml
Due: none

update lock file (#1863)
  pnpm-lock.yaml
Due: none

feat(governance/xc_admin): support init pricefeed index (#1862)
  apps/api-reference/package.json
  contract_manager/package.json
  governance/xc_admin/packages/crank_executor/package.json
  governance/xc_admin/packages/crank_pythnet_relayer/package.json
  governance/xc_admin/packages/proposer_server/package.json
  governance/xc_admin/packages/xc_admin_cli/package.json
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
  governance/xc_admin/packages/xc_admin_common/package.json
  governance/xc_admin/packages/xc_admin_frontend/package.json
  pnpm-lock.yaml
Due: none

fix: use getGasPrice instead of estimateFee for compatibility
  apps/price_pusher/src/evm/evm.ts
Due: none

chore: bump version
  apps/price_pusher/package.json
Due: none

solana rust sdk
  express_relay/sdk/solana_rust/Cargo.lock
  express_relay/sdk/solana_rust/Cargo.toml
  express_relay/sdk/solana_rust/README.md
  express_relay/sdk/solana_rust/src/lib.rs
Due: none

add publishing workflow
  .github/workflows/publish-express-relay-solana.yml
Due: none

go
  apps/hermes/server/src/api.rs
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/state/aggregate.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

requested changes
  apps/api-reference/src/components/EvmApi/run-button.tsx
  apps/hermes/server/Cargo.lock
Due: cargo-fmt-hermes, cargo-clippy-hermes

go
  apps/hermes/server/src/api.rs
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/api/rest/get_publisher_stake_caps_message.rs
  apps/hermes/server/src/state/aggregate.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

requested changes
  apps/hermes/server/Cargo.lock
Due: cargo-fmt-hermes, cargo-clippy-hermes

(feat) add hyperlink api reference (#1855)
  apps/api-reference/src/components/EvmApi/run-button.tsx
Due: none

works
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/api/rest/get_publisher_stake_caps_message.rs
  apps/hermes/server/src/api/types.rs
  apps/hermes/server/src/state/aggregate.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

go
  apps/hermes/server/src/api.rs
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/api/rest/get_publisher_stake_caps_message.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

add this file too
  apps/hermes/server/src/api/rest/get_publisher_stake_caps_update_data.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

(chore) Deployed pricefeed and entropy on apechain mainnet
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

rename
  apps/hermes/server/src/api.rs
  apps/hermes/server/src/api/rest/get_publisher_stake_caps_update_data.rs
  apps/hermes/server/src/api/rest/v2/latest_price_updates.rs
  apps/hermes/server/src/api/rest/v2/sse.rs
  apps/hermes/server/src/api/rest/v2/timestamp_price_updates.rs
  apps/hermes/server/src/api/types.rs
  apps/hermes/server/src/state/aggregate.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

cleanup
  apps/hermes/server/src/api/rest/get_publisher_stake_caps_update_data.rs
  apps/hermes/server/src/api/types.rs
  apps/hermes/server/src/state/aggregate.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

udno dependency update
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
Due: cargo-fmt-hermes, cargo-clippy-hermes

Clean up code structure
  apps/staking/src/app/robots.ts
  apps/staking/src/components/AccountHistoryButton/index.tsx
  apps/staking/src/components/Amplitude/index.tsx
  apps/staking/src/components/Dashboard/index.tsx
  apps/staking/src/components/Dashboard/loaded.tsx
  apps/staking/src/components/Home/index.tsx
  apps/staking/src/components/ReportAccessibility/index.tsx
  apps/staking/src/components/Root/index.tsx
  apps/staking/src/components/SparkChart/index.tsx
  apps/staking/src/components/TransferButton/index.tsx
  apps/staking/src/components/WalletButton/index.tsx
  apps/staking/src/components/WalletProvider/index.tsx
  apps/staking/src/config/isomorphic.ts
  apps/staking/src/config/server.ts
  apps/staking/src/hooks/use-api-context.ts
  apps/staking/src/hooks/use-is-mounted.ts
  apps/staking/src/hooks/use-logger.tsx
  apps/staking/src/hooks/use-primary-domain.ts
  apps/staking/src/hooks/use-stake-account.tsx
  apps/staking/src/hooks/use-transfer.ts
Due: none
