Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy, cargo-fmt-lazer, cargo-clippy-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/fortuna/Cargo.toml --all
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/fortuna/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./target_chains/solana/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./target_chains/solana/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

poetry-install:
  name: poetry install
  entry: poetry -C express_relay/sdk/python/express_relay install
  pass_filenames: false
  language: system

export storage id
  lazer/sdk/js/src/constants.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

add set-trusted-signer proposal instruction
  governance/xc_admin/packages/xc_admin_cli/package.json
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
  governance/xc_admin/packages/xc_admin_common/package.json
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/LazerMultisigInstruction.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/index.ts
  pnpm-lock.yaml
Due: none

fix(lazer): fetch message offset and data from sysvar and verify message data
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/src/lib.rs
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/src/signature.rs
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/tests/test1.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

test(lazer): add test with wrong message offset
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/tests/test1.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

add script to check trusted signer
  lazer/contracts/solana/package.json
  lazer/contracts/solana/scripts/check_trusted_signer.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

add SOLANA prefix
  lazer/sdk/js/src/constants.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer/sdk/js): export constants (#2252)
  lazer/sdk/js/package.json
  lazer/sdk/js/src/constants.ts
  lazer/sdk/js/src/index.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix constants
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/index.ts
Due: none

use anchor
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/index.ts
Due: none

precommit
  lazer/sdk/js/src/constants.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(xc_admin): implement set trusted signer instruction proposal for lazer (#2253)
  governance/xc_admin/packages/xc_admin_cli/package.json
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
  governance/xc_admin/packages/xc_admin_common/package.json
  governance/xc_admin/packages/xc_admin_common/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/LazerMultisigInstruction.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/index.ts
  lazer/contracts/solana/package.json
  lazer/contracts/solana/scripts/check_trusted_signer.ts
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

Lazer solana audit fixes (#2250)
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/src/lib.rs
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/src/signature.rs
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/tests/test1.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add promise for connection open
  lazer/sdk/js/examples/index.ts
  lazer/sdk/js/src/client.ts
  lazer/sdk/js/src/socket/resilient-web-socket.ts
  lazer/sdk/js/src/socket/web-socket-pool.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add promise for all connections down
  lazer/sdk/js/examples/index.ts
  lazer/sdk/js/src/client.ts
  lazer/sdk/js/src/socket/resilient-web-socket.ts
  lazer/sdk/js/src/socket/web-socket-pool.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

docs(hermes-client): Correct function name from getStreamingPriceUpdates to getPriceUpdatesStream in README.md (#2247)
  apps/hermes/client/js/README.md
Due: cargo-fmt-hermes, cargo-clippy-hermes

refactor: rename socket files
  lazer/sdk/js/examples/index.ts
  lazer/sdk/js/src/socket/resilient-websocket.ts
  lazer/sdk/js/src/socket/websocket-pool.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: lint
  lazer/sdk/js/examples/index.ts
  lazer/sdk/js/src/client.ts
  lazer/sdk/js/src/socket/resilient-websocket.ts
  lazer/sdk/js/src/socket/websocket-pool.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: bump ver
  lazer/sdk/js/package.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: better interface for allConnectionsDown events
  lazer/sdk/js/examples/index.ts
  lazer/sdk/js/src/client.ts
  lazer/sdk/js/src/socket/websocket-pool.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: docs
  lazer/sdk/js/examples/index.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: naming
  lazer/sdk/js/examples/index.ts
  lazer/sdk/js/src/client.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

Update copyright messages
  LICENSE
  apps/api-reference/src/components/Footer/index.tsx
  apps/insights/src/components/Root/footer.tsx
  apps/staking/src/components/Footer/index.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/layout/Footer.tsx
Due: none

test
  apps/argus/.gitignore
  apps/argus/Cargo.lock
  apps/argus/build.rs
  apps/argus/src/bindings.rs
  apps/argus/src/command/inspect.rs
  apps/argus/src/command/mod.rs
  apps/argus/src/command/request.rs
  apps/argus/src/command/run.rs
  apps/argus/src/generated/mod.rs
Due: none

chore: upgrade nodejs
  .github/workflows/ci-lazer-solana-contract.yml
  .nvmrc
  .tool-versions
  Dockerfile.node
  apps/api-reference/package.json
  apps/insights/package.json
  apps/staking/package.json
  flake.lock
  governance/xc_admin/packages/xc_admin_frontend/package.json
  package.json
  packages/component-library/package.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

add test for getFee
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

fix
  target_chains/ethereum/contracts/contracts/pulse/IPulse.sol
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseEvents.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseState.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseUpgradeable.sol
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

add testSetAndWithdrawAssFeeManager
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

fix test
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

add more tests
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

add more test
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseErrors.sol
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

feat: add docs for requestPriceUpdatesWithCallback and executeCallback functions to IPulse interface
  target_chains/ethereum/contracts/contracts/pulse/IPulse.sol
Due: none

add testSetProviderUri
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

add priceIds to PriceUpdateRequested event
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseEvents.sol
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

fix: use fixed-length array for priceIds in req
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseErrors.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseState.sol
Due: none

prevent requests 60 mins in the future that could exploit gas price difference
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
Due: none

remove provider
  target_chains/ethereum/contracts/contracts/pulse/IPulse.sol
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseEvents.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseState.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseUpgradeable.sol
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

add initial contracts
  target_chains/ethereum/contracts/contracts/pulse/IPulse.sol
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseErrors.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseState.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseUpgradeable.sol
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

address comments
  target_chains/ethereum/contracts/contracts/pulse/IPulse.sol
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseEvents.sol
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

add test
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

add testWithdraw
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  mypy: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
