Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

checking whether this works
  target_chains/fuel/contracts/Cargo.lock
  target_chains/fuel/contracts/Forc.lock
  target_chains/fuel/contracts/fuel-toolchain.toml
  target_chains/fuel/contracts/pyth-contract/Forc.toml
  target_chains/fuel/contracts/pyth-contract/src/main.sw
  target_chains/fuel/contracts/pyth-interface/Forc.toml
  target_chains/fuel/contracts/pyth-interface/src/data_structures/governance_instruction.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/price.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/wormhole_light.sw
  target_chains/fuel/contracts/pyth-interface/src/pyth_merkle_proof.sw
Due: none

reinstated update_price_feeds function
  target_chains/fuel/contracts/pyth-contract/src/main.sw
Due: none

reset most of main.sw update_price_feeds helper function
  target_chains/fuel/contracts/pyth-contract/src/main.sw
Due: none

fixed forc build for main.sw file
  target_chains/fuel/contracts/pyth-contract/src/main.sw
Due: none

feat(entropy-tester): add retries (#2855)
  apps/entropy-tester/package.json
  apps/entropy-tester/src/index.ts
Due: none

feat(lazer): add resilient client in rust
  Cargo.lock
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/client/src/client.rs
  lazer/sdk/rust/client/src/lib.rs
  lazer/sdk/rust/client/src/resilient_ws_connection.rs
  lazer/sdk/rust/client/src/ws_connection.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

configurable backoff
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/client/src/client.rs
  lazer/sdk/rust/client/src/resilient_ws_connection.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

add backoff reset
  lazer/sdk/rust/client/src/resilient_ws_connection.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

impl dedup
  Cargo.lock
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/client/src/client.rs
  lazer/sdk/rust/client/src/ws_connection.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/client/src/client.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer): add FeedKind to protocol
  lazer/publisher_sdk/proto/state.proto
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer): add feed kind to protocol
  lazer/publisher_sdk/rust/src/lib.rs
  lazer/sdk/rust/protocol/src/feed_kind.rs
  lazer/sdk/rust/protocol/src/lib.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(lazer): expose dynamic_value protobuf as rust module, move type to protocol
  Cargo.lock
  lazer/publisher_sdk/rust/src/convert_dynamic_value.rs
  lazer/publisher_sdk/rust/src/convert_dynamic_value/tests.rs
  lazer/publisher_sdk/rust/src/lib.rs
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/dynamic_value.rs
  lazer/sdk/rust/protocol/src/lib.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(pricefeed) Deploy Camp network
  contract_manager/store/chains/EvmChains.json
  contract_manager/store/contracts/EvmPriceFeedContracts.json
  contract_manager/store/contracts/EvmWormholeContracts.json
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

refactored integer type from_le_bytes to a try_from
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

add update price feeds function for sui which takes coin input
  target_chains/sui/sdk/js/README.md
  target_chains/sui/sdk/js/package.json
  target_chains/sui/sdk/js/src/client.ts
Due: none

lint
  target_chains/fuel/sdk/js/src/types/PythContract.ts
  target_chains/fuel/sdk/js/src/types/PythContractFactory.ts
  target_chains/fuel/sdk/js/src/types/common.d.ts
  target_chains/fuel/sdk/js/src/types/index.ts
  target_chains/sui/sdk/js/src/client.ts
Due: none

fixing hex vaa address
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

fixed deploy_with_test_guardian
  target_chains/stylus/contracts/wormhole/src/lib.rs
Due: none

Apply parameter signature changes to remaining deploy methods and upgrade motsu to 0.9.0
  target_chains/stylus/Cargo.lock
  target_chains/stylus/Cargo.toml
  target_chains/stylus/contracts/wormhole/src/lib.rs
  target_chains/stylus/contracts/wormhole/tests/integration_test.rs
Due: none

added new test to wormhole stylus contract
  target_chains/stylus/contracts/wormhole/src/lib.rs
  target_chains/stylus/contracts/wormhole/tests/integration_test.rs
Due: none

fixed parsePriceFeedUpdates natspec
  target_chains/ethereum/sdk/solidity/IPyth.sol
Due: none

fix prettier issues
  target_chains/sui/sdk/js/README.md
  target_chains/sui/sdk/js/src/client.ts
Due: none

prettier on fuel
  target_chains/fuel/sdk/js/src/types/PythContract.ts
  target_chains/fuel/sdk/js/src/types/PythContractFactory.ts
  target_chains/fuel/sdk/js/src/types/common.d.ts
  target_chains/fuel/sdk/js/src/types/index.ts
Due: none

small hex hashing fixes for test cases
  target_chains/stylus/Cargo.lock
  target_chains/stylus/contracts/wormhole/Cargo.toml
  target_chains/stylus/contracts/wormhole/src/lib.rs
Due: none

figured out test_set_data_source errors
  target_chains/stylus/contracts/pyth-receiver/src/error.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
  target_chains/stylus/contracts/wormhole/src/lib.rs
  target_chains/stylus/contracts/wormhole/tests/integration_test.rs
Due: none

chore(pricefeed) Deploy Camp network (#2860)
  contract_manager/store/chains/EvmChains.json
  contract_manager/store/contracts/EvmPriceFeedContracts.json
  contract_manager/store/contracts/EvmWormholeContracts.json
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

round wei to avoid conv errors
  contract_manager/scripts/transfer_balance_entropy_chains.ts
Due: none

round wei to avoid conv errors (#2864)
  contract_manager/scripts/transfer_balance_entropy_chains.ts
Due: none

refactor: address comments
  pnpm-lock.yaml
  target_chains/ethereum/sdk/js/README.md
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/filler.ts
  target_chains/ethereum/sdk/js/src/tracer/debug-trace-call.ts
Due: none

fix(hermes/server): support newer asset types
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/api/types.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix 'invalid documentation comment' warning in sui/contracts/sources/price.move (#2790)
  target_chains/sui/contracts/sources/price.move
Due: none

refactor(hermes/server): change log level of data not found
  apps/hermes/server/src/api/rest/v2/timestamp_price_updates.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

cleaned le to be switch
  target_chains/fuel/contracts/pyth-contract/src/main.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/governance_instruction.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/price.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/wormhole_light.sw
  target_chains/fuel/contracts/pyth-interface/src/pyth_merkle_proof.sw
Due: none

fix eslint
  target_chains/sui/sdk/js/src/client.ts
Due: none

added new governance tests, set valid data sources not working yet though
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

chore(pyth-lazer-agent) Fix mistake in sample config
  apps/pyth-lazer-agent/config/config.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(fortuna): Fix nonce increment issues on high usage chains
  Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

chore(pyth-lazer-agent) Fix mistake in sample config (#2867)
  apps/pyth-lazer-agent/config/config.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(pyth-lazer-agent) Allow the relayer endpoint path in config
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
  apps/pyth-lazer-agent/src/relayer_session.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer
