Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy, cargo-fmt-lazer, cargo-clippy-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/fortuna/Cargo.toml --all
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/fortuna/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./target_chains/solana/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./target_chains/solana/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

poetry-install:
  name: poetry install
  entry: poetry -C express_relay/sdk/python/express_relay install
  pass_filenames: false
  language: system

refactor: rename workflow files from push-xxx-image to docker-xxx
  .github/workflows/docker-fortuna.yml
  .github/workflows/docker-hermes.yml
  .github/workflows/docker-price-pusher.yml
  .github/workflows/docker-xc-admin-frontend.yml
Due: none

refactor: move wormhole attester to pythnet_sdk legacy module
  pythnet/pythnet_sdk/Cargo.toml
  pythnet/pythnet_sdk/src/legacy/mod.rs
  pythnet/pythnet_sdk/src/legacy/wormhole_attester.rs
  pythnet/pythnet_sdk/src/lib.rs
  target_chains/aptos/contracts/sources/batch_price_attestation.move
  target_chains/near/receiver/Cargo.lock
  target_chains/near/receiver/Cargo.toml
  target_chains/near/receiver/src/lib.rs
  target_chains/near/receiver/src/state.rs
  target_chains/sui/contracts/sources/batch_price_attestation.move
  wormhole_attester/Cargo.lock
  wormhole_attester/Cargo.toml
  wormhole_attester/rust-toolchain.toml
  wormhole_attester/sdk/rust/Cargo.toml
  wormhole_attester/sdk/rust/README.md
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

refactor: update cosmwasm contract to use pythnet_sdk legacy module
  target_chains/cosmwasm/contracts/pyth/Cargo.toml
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
  target_chains/cosmwasm/contracts/pyth/src/governance.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

chore: revert dependency version changes in pythnet_sdk
  pythnet/pythnet_sdk/Cargo.toml
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

refactor: update cosmwasm contract to use pythnet_sdk::legacy::Identifier
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

chore: bump cosmwasm contract version to 1.3.1
  target_chains/cosmwasm/contracts/pyth/Cargo.toml
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Update Cargo.toml
  target_chains/cosmwasm/contracts/pyth/Cargo.toml
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

chore: bump near receiver version to 0.1.1
  target_chains/near/receiver/Cargo.toml
Due: none

fix: pin Rust version to 1.73.0 for Sui contracts
  target_chains/sui/contracts/rust-toolchain.toml
Due: none

style: fix rust formatting
  pythnet/pythnet_sdk/src/legacy/wormhole_attester.rs
  pythnet/pythnet_sdk/src/lib.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

refactor: update near receiver tests to use pythnet_sdk::legacy
  target_chains/near/receiver/tests/workspaces.rs
Due: none

feat: add rust-cache to all Rust workflows
  .github/workflows/ci-fuel-contract.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-near-contract.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-starknet-tools.yml
  .github/workflows/ci-stylus-nostd.yml
  .github/workflows/ci-sui-contract.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: update Rust version to 1.77.0 for Sui contracts
  target_chains/sui/contracts/rust-toolchain.toml
Due: none

refactor: remove solana-specific imports from legacy module
  pythnet/pythnet_sdk/src/legacy/wormhole_attester.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

Revert "feat: add rust-cache to all Rust workflows (#2355)"
  .github/workflows/ci-fuel-contract.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-near-contract.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-starknet-tools.yml
  .github/workflows/ci-stylus-nostd.yml
  .github/workflows/ci-sui-contract.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

update lockfiles
  target_chains/cosmwasm/Cargo.lock
  target_chains/near/receiver/Cargo.lock
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

ci: update workflow triggers to run on workflow changes and all merges to main
  .github/workflows/ci-aptos-contract.yml
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-ethereum-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-foundry-test.yml
  .github/workflows/ci-fuel-contract.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-lazer-sdk-evm.yml
  .github/workflows/ci-lazer-solana-contract.yml
  .github/workflows/ci-message-buffer-idl.yml
  .github/workflows/ci-near-contract.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
  .github/workflows/ci-starknet-contract.yml
  .github/workflows/ci-starknet-tools.yml
  .github/workflows/ci-stylus-check-wasm.yml
  .github/workflows/ci-stylus-check.yml
  .github/workflows/ci-stylus-nostd.yml
  .github/workflows/ci-sui-contract.yml
  .github/workflows/ci-turbo-build.yml
  .github/workflows/ci-turbo-test.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

Revert "feat: add rust-cache to all Rust workflows (#2355)" (#2356)
  .github/workflows/ci-fuel-contract.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-near-contract.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-starknet-tools.yml
  .github/workflows/ci-stylus-nostd.yml
  .github/workflows/ci-sui-contract.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

more caches
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-message-buffer-idl.yml
  .github/workflows/ci-solana-contract.yml
Due: none

more caching
  .github/workflows/ci-near-contract.yml
  .github/workflows/ci-sui-contract.yml
Due: none

pin toolchain
  .github/workflows/ci-sui-contract.yml
Due: none

ci: remove workflow self-references from paths as they are not needed
  .github/workflows/ci-aptos-contract.yml
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-ethereum-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-foundry-test.yml
  .github/workflows/ci-fuel-contract.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-lazer-sdk-evm.yml
  .github/workflows/ci-lazer-solana-contract.yml
  .github/workflows/ci-message-buffer-idl.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
  .github/workflows/ci-starknet-contract.yml
  .github/workflows/ci-starknet-tools.yml
  .github/workflows/ci-stylus-check-wasm.yml
  .github/workflows/ci-stylus-check.yml
  .github/workflows/ci-stylus-nostd.yml
  .github/workflows/ci-sui-contract.yml
  .github/workflows/ci-turbo-build.yml
  .github/workflows/ci-turbo-test.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

ci: add turbo remote caching configuration
  .github/workflows/ci-turbo-build.yml
  .github/workflows/ci-turbo-test.yml
Due: none

ci: add parallelism flags to turbo build command
  package.json
Due: none

ci: add parallelism flags to turbo test command
  package.json
Due: none

ci: optimize test task dependencies for parallel execution
  turbo.json
Due: none

ci: remove vercel remote caching configuration
  .github/workflows/ci-turbo-build.yml
  .github/workflows/ci-turbo-test.yml
Due: none

ci: add topological build ordering to fix dependency resolution
  turbo.json
Due: none

fix: add paths configuration for xc-admin-common in crank_executor tsconfig
  governance/xc_admin/packages/crank_executor/tsconfig.json
Due: none

fix: update xc-admin-common workspace dependency to use caret
  governance/xc_admin/packages/crank_executor/package.json
Due: none

fix: remove invalid topological key from turbo.json
  turbo.json
Due: none

fix: restore build:cjs and build:esm dependencies in turbo.json
  turbo.json
Due: none

chore: update pnpm-lock.yaml after workspace dependency change
  pnpm-lock.yaml
Due: none

fix: revert tsconfig paths configuration
  governance/xc_admin/packages/crank_executor/tsconfig.json
Due: none

revert: keep only parallelism flags for build and test
  governance/xc_admin/packages/crank_executor/package.json
  turbo.json
Due: none

revert: restore original workspace dependencies in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

ci: keep only parallelism flags for build and test commands
  package.json
Due: none

build: add parallel and concurrency flags to test:ci and build:ci
  package.json
Due: none

build: remove parallel flag from test:ci and build:ci
  package.json
Due: none

build: update concurrency to 100% for test:ci and build:ci
  package.json
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  mypy: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
