Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +nightly-2024-03-26 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +nightly-2024-03-26 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./apps/fortuna/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2024-08-04 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2024-08-04 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/solana/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

chore(pricefeed) Deploy Hemi and tabi
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

chore: remove npm pre-commit package
  package.json
  pnpm-lock.yaml
Due: none

env and examples
  target_chains/ethereum/sdk/stylus/Cargo.lock
  target_chains/ethereum/sdk/stylus/benches/src/function_calls.rs
  target_chains/ethereum/sdk/stylus/benches/src/proxy_calls.rs
  target_chains/ethereum/sdk/stylus/examples/function-calls/Cargo.toml
  target_chains/ethereum/sdk/stylus/examples/function-calls/tests/function-calls.rs
  target_chains/ethereum/sdk/stylus/examples/proxy-calls/tests/abi/mod.rs
  target_chains/ethereum/sdk/stylus/lib/e2e/src/lib.rs
Due: none

refactor: address PR comments
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/api/rest/v2/latest_price_updates.rs
  apps/hermes/server/src/api/rest/v2/sse.rs
  apps/hermes/server/src/api/rest/v2/timestamp_price_updates.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

Update README.md
  target_chains/ethereum/sdk/stylus/README.md
Due: none

test: add tests for validate_price_ids
  apps/hermes/server/src/api/rest.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

docs: address PR comments
  apps/hermes/server/README.md
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore: update gitignore
  apps/hermes/server/.gitignore
Due: cargo-fmt-hermes, cargo-clippy-hermes

feat: include ignoreInvalidPriceIds flag in HermesClient
  apps/hermes/client/js/src/HermesClient.ts
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix: timeout for tx confirmation
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

chore(pythnet/pythnet_sdk): fix Rust version
  .pre-commit-config.yaml
  pythnet/pythnet_sdk/rust-toolchain
  pythnet/pythnet_sdk/src/wire.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

chore(target_chains/solana): fix Rust version in CI
  .github/workflows/ci-pre-commit.yml
  .github/workflows/ci-solana-contract.yml
  .pre-commit-config.yaml
Due: none

chore(pythnet/message_buffer): use proper Rust version in CI
  .github/workflows/ci-message-buffer-idl.yml
  .pre-commit-config.yaml
Due: none

chore: switch to stable rust versions (#2093)
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-message-buffer-idl.yml
  .github/workflows/ci-pre-commit.yml
  .github/workflows/ci-solana-contract.yml
  .pre-commit-config.yaml
  apps/fortuna/Cargo.lock
  apps/fortuna/Dockerfile
  apps/fortuna/src/api/revelation.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/reader.rs
  apps/fortuna/src/command/generate.rs
  apps/fortuna/src/command/register_provider.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/command/setup_provider.rs
  apps/fortuna/src/command/withdraw_fees.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/main.rs
  apps/fortuna/src/state.rs
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Dockerfile
  apps/hermes/server/README.md
  apps/hermes/server/rust-toolchain
  apps/hermes/server/src/main.rs
  apps/hermes/server/src/network/pythnet.rs
  apps/hermes/server/src/network/wormhole.rs
  apps/hermes/server/src/state/cache.rs
  pythnet/pythnet_sdk/examples/generate_pyth_data.rs
  pythnet/pythnet_sdk/rust-toolchain
  pythnet/pythnet_sdk/src/wire.rs
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

fix(target_chains/near): update tests to let them compile
  target_chains/near/receiver/Cargo.lock
  target_chains/near/receiver/Cargo.toml
  target_chains/near/receiver/src/governance.rs
  target_chains/near/receiver/src/lib.rs
  target_chains/near/receiver/src/state.rs
  target_chains/near/receiver/tests/workspaces.rs
  wormhole_attester/sdk/rust/src/lib.rs
Due: none

fix(target_chains/near): make tests compile
  target_chains/near/example/Cargo.lock
  target_chains/near/receiver/Cargo.lock
  target_chains/near/receiver/Cargo.toml
  target_chains/near/receiver/tests/workspaces.rs
  target_chains/near/receiver/workspace-test.sh
  target_chains/near/rust-toolchain.toml
Due: none

fix(target_chains/near): update near sdk version attempt #1
  target_chains/near/example/Cargo.lock
  target_chains/near/receiver/Cargo.lock
  target_chains/near/receiver/Cargo.toml
  target_chains/near/receiver/src/ext.rs
  target_chains/near/receiver/src/governance.rs
  target_chains/near/receiver/src/lib.rs
  target_chains/near/receiver/src/state.rs
Due: none

fix(target_chains/near): simplify upgrade to make code compile
  target_chains/near/receiver/src/governance.rs
  target_chains/near/receiver/src/lib.rs
Due: none

fix(target_chains/near): try to get tests work
  target_chains/near/example/Cargo.toml
  target_chains/near/wormhole-stub/Cargo.lock
  target_chains/near/wormhole-stub/Cargo.toml
  target_chains/near/wormhole-stub/src/lib.rs
  wormhole_attester/rust-toolchain
  wormhole_attester/rust-toolchain.toml
Due: none

refactor(target_chains/near): remove unused call
  target_chains/near/receiver/tests/workspaces.rs
Due: none

fix(target_chains/near): downgrade rust to match near-sandbox rust version
  target_chains/near/receiver/Cargo.lock
  target_chains/near/rust-toolchain.toml
  wormhole_attester/rust-toolchain.toml
Due: none

add parse_price_feed_updates
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/common/utils.fc
  target_chains/ton/contracts/contracts/tests/PythTest.fc
  target_chains/ton/contracts/contracts/tests/PythTestUpgraded.fc
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tests/utils/pyth.ts
  target_chains/ton/contracts/wrappers/PythTest.ts
Due: none

remove unnecessary comments
  target_chains/ton/contracts/contracts/Pyth.fc
Due: none

fix: timeout for tx confirmation (#2098)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

chore: worked on bench and e2e test
  target_chains/ethereum/sdk/stylus/benches/src/function_calls.rs
  target_chains/ethereum/sdk/stylus/examples/function-calls/src/lib.rs
  target_chains/ethereum/sdk/stylus/examples/function-calls/tests/abi/mod.rs
  target_chains/ethereum/sdk/stylus/examples/function-calls/tests/function-calls.rs
  target_chains/ethereum/sdk/stylus/scripts/e2e-tests.sh
Due: none

fix(contract_manager) Update chains and tokens
  README.md
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/tokens/Tokens.yaml
Due: none

fix(contract_manager) Update chains and tokens (#2101)
  README.md
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/tokens/Tokens.yaml
Due: none

fix: bump ver, address PR comments
  apps/hermes/client/js/package.json
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/api/rest/v2/timestamp_price_updates.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

docs: update to reflect change from nightly to stable rust
  apps/hermes/server/README.md
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix: semver
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
Due: cargo-fmt-hermes, cargo-clippy-hermes

feat(hermes): Add `ignore_invalid_price_ids` flag to Hermes v2 REST APIs (#2091)
  apps/hermes/client/js/package.json
  apps/hermes/client/js/src/HermesClient.ts
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/README.md
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/api/rest/get_price_feed.rs
  apps/hermes/server/src/api/rest/get_vaa.rs
  apps/hermes/server/src/api/rest/get_vaa_ccip.rs
  apps/hermes/server/src/api/rest/latest_price_feeds.rs
  apps/hermes/server/src/api/rest/latest_vaas.rs
  apps/hermes/server/src/api/rest/v2/latest_price_updates.rs
  apps/hermes/server/src/api/rest/v2/sse.rs
  apps/hermes/server/src/api/rest/v2/timestamp_price_updates.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix: address pr comments
  .pre-commit-config.yaml
  apps/hermes/server/.gitignore
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(hermes): make `ignore_invalid_price_ids` param optional on the SSE stream API
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/api/rest/v2/sse.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(hermes): make `ignore_invalid_price_ids` param optional on the SSE stream API (#2102)
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/api/rest/v2/sse.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore(hermes): formatting
  apps/hermes/server/src/api/rest/v2/sse.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore(hermes): use stable rust toolchain in precommit formatter
  .pre-commit-config.yaml
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay
  mypy: any of: express_relay/sdk/python/express_relay
