Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana

Add stable testnet contracts
  contract_manager/store/contracts/CosmWasmContract/injective_testnet_inj18hckkzqf47mdhd734g6papk6wj20y24rm43sk9.yaml
  contract_manager/store/contracts/CosmWasmContract/juno_testnet_juno1eacsrua27njc35pxz37y97gmcjs899t59f8pf0rkejjyvtmhws5q6lxsdd.yaml
  contract_manager/store/contracts/CosmWasmContract/neutron_testnet_pion_1_neutron15ldst8t80982akgr8w8ekcytejzkmfpgdkeq4xgtge48qs7435jqp87u3t.yaml
  contract_manager/store/contracts/CosmWasmContract/neutron_testnet_pion_1_neutron16zwrmx3zgggmxhzau86xfycm42cr4sj888hdvzsxya3qarp6zhhqzhlkvz.yaml
  contract_manager/store/contracts/CosmWasmContract/osmosis_testnet_5_osmo1hpdzqku55lmfmptpyj6wdlugqs5etr6teqf7r4yqjjrxjznjhtuqqu5kdh.yaml
  contract_manager/store/contracts/CosmWasmContract/sei_testnet_atlantic_2_sei1w2rxq6eckak47s25crxlhmq96fzjwdtjgdwavn56ggc0qvxvw7rqczxyfy.yaml
Due: none

Fix bug in creating InjectiveExecutor from mnemonic
  contract_manager/src/contracts/cosmwasm.ts
  target_chains/cosmwasm/tools/src/chains-manager/injective.ts
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Import only from root library
  contract_manager/src/contracts/cosmwasm.ts
  target_chains/cosmwasm/tools/src/chains-manager/index.ts
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Code verification on proposals for cosmwasm
  contract_manager/scripts/check_proposal.ts
  contract_manager/src/chains.ts
  target_chains/cosmwasm/tools/src/chains-manager/chain-querier.ts
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Minor cleanup
  contract_manager/scripts/deploy_cosmwasm.ts
  contract_manager/src/shell.ts
Due: none

Minimal script to upload wasm codes
  contract_manager/scripts/upload_cosmwasm.ts
Due: none

test(hermes): add tests for store
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/src/store.rs
  hermes/src/store/storage.rs
  hermes/src/store/types.rs
  hermes/src/store/wormhole.rs
Due: cargo-fmt-hermes

test(hermes): add tests for store (#985)
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/src/store.rs
  hermes/src/store/storage.rs
  hermes/src/store/types.rs
  hermes/src/store/wormhole.rs
Due: cargo-fmt-hermes

fix(hermes): fix rust version
  .pre-commit-config.yaml
  hermes/Dockerfile
  hermes/rust-toolchain
Due: cargo-fmt-hermes

Fix imports
  contract_manager/src/contracts/cosmwasm.ts
  target_chains/cosmwasm/tools/src/index.ts
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

doc(hermes): update readme instructions
  .github/workflows/pre-commit.yml
  hermes/README.md
Due: cargo-fmt-hermes

Better errors
  target_chains/aptos/cli/src/cli.ts
Due: none

Move all cli to one file since the commandDir was not working
  target_chains/aptos/cli/src/cli.ts
  target_chains/aptos/cli/src/commands/aptos.ts
Due: none

Add sample script that syncs governance vaas for a contract
  contract_manager/scripts/sync_governance_vaas.ts
Due: none

[hermes] add utoipa for docs
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/build.rs
  hermes/src/api.rs
  hermes/src/api/rest.rs
  hermes/src/api/types.rs
Due: cargo-fmt-hermes

fix build
  hermes/build.rs
Due: cargo-fmt-hermes

format
  hermes/Cargo.toml
  hermes/src/api/rest.rs
Due: cargo-fmt-hermes

[hermes] add utoipa for API docs (#990)
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/build.rs
  hermes/src/api.rs
  hermes/src/api/rest.rs
  hermes/src/api/types.rs
Due: cargo-fmt-hermes

- refactor Pyth governance code path to not use wormhole::governance_message module - use our own custom WormholeVAAVerificationReceipt struct instead of DecreeReceipt
  target_chains/sui/contracts/sources/data_source.move
  target_chains/sui/contracts/sources/governance/contract_upgrade.move
  target_chains/sui/contracts/sources/governance/governance.move
  target_chains/sui/contracts/sources/governance/governance_instruction.move
  target_chains/sui/contracts/sources/governance/governance_witness.move
  target_chains/sui/contracts/sources/governance/set_data_sources.move
  target_chains/sui/contracts/sources/governance/set_fee_recipient.move
  target_chains/sui/contracts/sources/governance/set_governance_data_source.move
  target_chains/sui/contracts/sources/governance/set_stale_price_threshold.move
  target_chains/sui/contracts/sources/governance/set_update_fee.move
  target_chains/sui/contracts/sources/migrate.move
  target_chains/sui/contracts/sources/pyth.move
Due: none

delete print
  target_chains/sui/contracts/sources/governance/governance.move
Due: none

delete print
  target_chains/sui/contracts/sources/governance/governance_instruction.move
Due: none

More documentation on different packages
  governance/xc_admin/README.md
  governance/xc_admin/overview.excalidraw
  governance/xc_admin/overview.svg
  governance/xc_admin/packages/crank_executor/README.md
  target_chains/README.md
  target_chains/cosmwasm/README.md
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Add ability to continue constructing a proposal
  contract_manager/src/governance.ts
  governance/xc_admin/packages/xc_admin_common/src/propose.ts
Due: none

Bugfix on cosmwasm proposal checking
  contract_manager/scripts/check_proposal.ts
  contract_manager/store/chains/CosmWasmChain/injective.yaml
  contract_manager/store/chains/CosmWasmChain/injective_testnet.yaml
Due: none

Better variable typing
  contract_manager/src/governance.ts
Due: none

Upgrade cli with more straightforward flow
  target_chains/aptos/cli/src/cli.ts
Due: none

Remove unnecessary configs and distinguish between deployer contract and signer
  target_chains/aptos/cli/src/cli.ts
Due: none

More refactoring of CLI
  target_chains/aptos/cli/README.md
  target_chains/aptos/cli/src/cli.ts
Due: none

Fix pre-commit
  governance/xc_admin/README.md
  governance/xc_admin/overview.excalidraw
  governance/xc_admin/overview.svg
  target_chains/README.md
  target_chains/cosmwasm/README.md
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Address PR comments
  governance/xc_admin/README.md
  target_chains/README.md
  target_chains/cosmwasm/README.md
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Move file structure to the old version to make reviewing the changes easier
  target_chains/aptos/cli/src/cli.ts
  target_chains/aptos/cli/src/commands/aptos.ts
Due: none

More documentation
  target_chains/aptos/cli/README.md
Due: none

[xc-admin] Governance continue proposal (#993)
  contract_manager/scripts/check_proposal.ts
  contract_manager/src/governance.ts
  contract_manager/store/chains/CosmWasmChain/injective.yaml
  contract_manager/store/chains/CosmWasmChain/injective_testnet.yaml
  governance/xc_admin/packages/xc_admin_common/src/propose.ts
Due: none

Add sample script that syncs governance vaas for a contract (#989)
  contract_manager/scripts/sync_governance_vaas.ts
Due: none
