Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

chore(entropy-explorer) Testnet Fix
  apps/entropy-explorer/src/requests.ts
Due: none

feat(entropy-explorer): implement some feedback items
  apps/entropy-explorer/src/components/Address/index.tsx
  apps/entropy-explorer/src/components/Home/chain-tag.module.scss
  apps/entropy-explorer/src/components/Home/chain-tag.tsx
  apps/entropy-explorer/src/components/Home/index.module.scss
  apps/entropy-explorer/src/components/Home/index.tsx
  apps/entropy-explorer/src/components/Home/request-drawer.tsx
  apps/entropy-explorer/src/components/Home/results.module.scss
  apps/entropy-explorer/src/components/Home/results.tsx
  apps/entropy-explorer/src/components/Home/search-controls.tsx
  apps/entropy-explorer/src/entropy-deployments.tsx
  apps/entropy-explorer/src/requests.ts
Due: none

requestv2 comment fix
  target_chains/ethereum/entropy_sdk/solidity/IEntropyV2.sol
Due: none

feat: more endpoint fetching
  apps/insights/src/app/api/pyth/get-feeds/[symbol]/route.ts
  apps/insights/src/components/PriceFeed/get-feed.tsx
  apps/insights/src/components/PriceFeed/publishers.tsx
  apps/insights/src/config/server.ts
  apps/insights/src/server/clickhouse.ts
  apps/insights/src/server/pyth.ts
  apps/insights/src/server/pyth/get-feeds.ts
  apps/insights/src/server/pyth/get-metadata.ts
  apps/insights/src/server/pyth/get-publishers-for-cluster.ts
  apps/insights/src/utils/cache.ts
Due: none

fix: types
  apps/insights/src/components/PriceFeed/get-feed.tsx
  apps/insights/src/server/clickhouse.ts
  apps/insights/src/server/pyth/get-feeds.ts
  apps/insights/src/server/pyth/get-metadata.ts
  apps/insights/src/server/pyth/get-publishers-for-cluster.ts
Due: none

replace dedup with dedup_by_key
  apps/pyth-lazer-agent/config/config.toml
  apps/pyth-lazer-agent/src/lazer_publisher.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(pyth-lazer-agent) Allow deduplicating updates within each batch (#2944)
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
  apps/pyth-lazer-agent/README.md
  apps/pyth-lazer-agent/src/config.rs
  apps/pyth-lazer-agent/src/jrpc_handle.rs
  apps/pyth-lazer-agent/src/lazer_publisher.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: cleanup
  apps/insights/src/app/api/pyth/get-feeds-for-publisher/[publisher]/route.ts
  apps/insights/src/app/api/pyth/get-feeds/[symbol]/route.ts
  apps/insights/src/app/api/pyth/get-feeds/route.ts
  apps/insights/src/app/api/pyth/get-publishers/[symbol]/route.ts
  apps/insights/src/app/price-feeds/[slug]/layout.ts
  apps/insights/src/components/Overview/index.tsx
  apps/insights/src/components/PriceFeed/publishers.tsx
  apps/insights/src/components/PriceFeeds/index.tsx
  apps/insights/src/components/Root/index.tsx
  apps/insights/src/config/server.ts
  apps/insights/src/server/clickhouse.ts
  apps/insights/src/server/pyth.ts
  apps/insights/src/server/pyth/get-feeds.ts
  apps/insights/src/server/pyth/get-metadata.ts
Due: none

Remove 1ms fixed rate from lazer fixed rate channels
  Cargo.lock
  lazer/publisher_sdk/proto/governance_instruction.proto
  lazer/publisher_sdk/proto/state.proto
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/publisher_sdk/rust/src/lib.rs
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

wip
  apps/hermes/client/rust/examples/ids.rs
  apps/hermes/client/rust/examples/subscribe_price_feeds.rs
  apps/hermes/client/rust/src/resilient_ws_connection.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

wip
  apps/hermes/client/rust/examples/subscribe_price_feeds.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix: publishers metadata
  apps/insights/src/components/Publisher/layout.tsx
  apps/insights/src/config/server.ts
  apps/insights/src/server/clickhouse.ts
  apps/insights/src/services/clickhouse.ts
  apps/insights/turbo.json
Due: none

fix: imports
  apps/insights/src/components/Publisher/layout.tsx
Due: none

refactor: minor fixes
  apps/insights/src/app/api/pyth/get-publishers/[symbol]/route.ts
  apps/insights/src/server/pyth/get-feeds.ts
  apps/insights/src/server/pyth/get-metadata.ts
  apps/insights/src/server/pyth/get-publishers-for-cluster.ts
Due: none

chore: updated pnpm
  pnpm-lock.yaml
Due: none

redirect to IEntropyv2 for more gas use
  target_chains/ethereum/entropy_sdk/solidity/IEntropy.sol
Due: none

modify comment
  target_chains/ethereum/entropy_sdk/solidity/IEntropy.sol
Due: none

chore: revert with fetch again
  apps/insights/src/config/server.ts
  apps/insights/turbo.json
Due: none

Fix version for solana contract
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

Remove 1ms fixed rate from lazer fixed rate channels (#2953)
  Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/publisher_sdk/proto/governance_instruction.proto
  lazer/publisher_sdk/proto/state.proto
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/publisher_sdk/rust/src/lib.rs
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Fix version issue in lazer publisher and rust sdks
  Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
  target_chains/ethereum/entropy_sdk/solidity/IEntropy.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

Fix version issue in lazer publisher and rust sdks (#2955)
  Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
  target_chains/ethereum/entropy_sdk/solidity/IEntropy.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: addressed PR comments
  apps/insights/package.json
  apps/insights/src/app/api/pyth/get-feeds-for-publisher/[publisher]/route.ts
  apps/insights/src/app/api/pyth/get-feeds/[symbol]/route.ts
  apps/insights/src/app/api/pyth/get-feeds/route.ts
  apps/insights/src/app/api/pyth/get-publishers/[symbol]/route.ts
  apps/insights/src/app/component-score-history/route.ts
  apps/insights/src/app/historical-prices/route.ts
  apps/insights/src/app/price-feeds/[slug]/layout.ts
  apps/insights/src/components/Overview/index.tsx
  apps/insights/src/components/PriceFeed/get-feed.tsx
  apps/insights/src/components/PriceFeed/publishers.tsx
  apps/insights/src/components/PriceFeeds/index.tsx
  apps/insights/src/components/Publisher/get-price-feeds.tsx
  apps/insights/src/components/Publisher/layout.tsx
  apps/insights/src/components/Publisher/performance.tsx
  apps/insights/src/components/Publishers/index.tsx
  apps/insights/src/components/Root/index.tsx
  apps/insights/src/config/server.ts
  apps/insights/src/server/clickhouse.ts
  apps/insights/src/server/pyth.ts
  apps/insights/src/services/clickhouse.ts
  apps/insights/src/services/pyth/get-feeds.ts
  apps/insights/src/services/pyth/get-metadata.ts
  apps/insights/src/services/pyth/get-publishers-for-cluster.ts
  apps/insights/src/services/pyth/index.ts
  apps/insights/src/utils/cache.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: use zod for validation
  apps/insights/package.json
  apps/insights/src/app/api/pyth/get-feeds-for-publisher/[publisher]/route.ts
  apps/insights/src/app/api/pyth/get-feeds/[symbol]/route.ts
  apps/insights/src/app/api/pyth/get-feeds/route.ts
  apps/insights/src/app/api/pyth/get-publishers/[symbol]/route.ts
  apps/insights/src/server/pyth.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(pyth-lazer-agent) Update README.md and config sample
  apps/pyth-lazer-agent/README.md
  apps/pyth-lazer-agent/config/config.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(pyth-lazer-agent) Update README.md and config sample (#2956)
  apps/pyth-lazer-agent/README.md
  apps/pyth-lazer-agent/config/config.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

pushing open zeppelin stylus proxy
  target_chains/stylus/Cargo.toml
  target_chains/stylus/contracts/pyth-proxy/.cargo/config.toml
  target_chains/stylus/contracts/pyth-proxy/.env.example
  target_chains/stylus/contracts/pyth-proxy/.gitignore
  target_chains/stylus/contracts/pyth-proxy/Cargo.lock
  target_chains/stylus/contracts/pyth-proxy/Cargo.toml
  target_chains/stylus/contracts/pyth-proxy/rust-toolchain.toml
  target_chains/stylus/contracts/pyth-proxy/src/end_to_end_proxy_tests.rs
  target_chains/stylus/contracts/pyth-proxy/src/lib.rs
  target_chains/stylus/contracts/pyth-proxy/src/main.rs
Due: none

formatted
  target_chains/stylus/contracts/pyth-proxy/src/lib.rs
Due: none

use correct node version else cannot install
  README.md
Due: none

fix(insights): remove suspense from props
  apps/insights/src/components/Root/index.tsx
Due: none

fix: formatting
  apps/insights/src/components/Root/index.tsx
Due: none

Fix install forge dependency script
  target_chains/ethereum/contracts/package.json
Due: none

fix: use origin headers
  apps/insights/src/config/server.ts
  apps/insights/src/server/pyth.ts
  apps/insights/src/utils/absolute-url.ts
Due: none

feat: increased publishers page size
  apps/insights/src/components/PriceComponentsCard/index.tsx
Due: none

fix: added headers invariant
  apps/insights/src/utils/absolute-url.ts
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
