Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy, cargo-fmt-lazer, cargo-clippy-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  mypy: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer

update tests
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

address comments
  target_chains/ethereum/contracts/contracts/pulse/IPulse.sol
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseErrors.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseState.sol
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

add testExecuteCallbackWithFutureTimestamp
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

fix
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseEvents.sol
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

fix test
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

refactor
  target_chains/ethereum/contracts/contracts/pulse/IPulse.sol
Due: none

feat: add test for executing callback with gas overhead
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

add 50% overhead to gas for cross-contract calls
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
Due: none

add testMaxNumPrices
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

fix
  target_chains/ethereum/contracts/contracts/pulse/IPulse.sol
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Due: none

chore(lazer): remove migration code from solana contract
  lazer/contracts/solana/package.json
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/src/lib.rs
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/tests/test1.rs
  lazer/contracts/solana/scripts/migrate_from_0_1_0.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer): remove migration code from solana contract (#2257)
  lazer/contracts/solana/package.json
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/src/lib.rs
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/tests/test1.rs
  lazer/contracts/solana/scripts/migrate_from_0_1_0.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(fortuna): add metrics for retry count, gas/fee multipliers, and fee estimates
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat(lazer): add example to parse and verify payload
  lazer/Cargo.lock
  lazer/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/examples/parse_and_verify.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer): add example to parse and verify payload (#2260)
  lazer/Cargo.lock
  lazer/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/examples/parse_and_verify.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer): update governance scripts to make them work
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/idl/lazer.json
  lazer/contracts/solana/README.md
  lazer/contracts/solana/package.json
  lazer/contracts/solana/scripts/setup.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: allow proposing without connecting a wallet
  governance/xc_admin/packages/xc_admin_frontend/components/PermissionDepermissionKey.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/General.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/Proposal.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/ProposalRow.tsx
  governance/xc_admin/packages/xc_admin_frontend/contexts/MultisigContext.tsx
  governance/xc_admin/packages/xc_admin_frontend/hooks/useMultisig.ts
Due: none

fix: remove unused imports
  governance/xc_admin/packages/xc_admin_frontend/components/PermissionDepermissionKey.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/Proposal.tsx
Due: none

feat(lazer/js-sdk): add promises for open and disconnected (#2254)
  lazer/sdk/js/examples/index.ts
  lazer/sdk/js/package.json
  lazer/sdk/js/src/client.ts
  lazer/sdk/js/src/socket/resilient-websocket.ts
  lazer/sdk/js/src/socket/websocket-pool.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: remove connected
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/General.tsx
Due: none

fix(pyth-lazer-sdk): clear timeout on shutdown
  lazer/sdk/js/package.json
  lazer/sdk/js/src/socket/websocket-pool.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

update pnpm in ci
  .github/workflows/ci-lazer-solana-contract.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(pyth-lazer-sdk): clear timeout on shutdown (#2263)
  .github/workflows/ci-lazer-solana-contract.yml
  lazer/sdk/js/package.json
  lazer/sdk/js/src/socket/websocket-pool.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

update
  apps/entropy-debug/next-env.d.ts
  apps/entropy-debug/package.json
  apps/entropy-debug/src/app/favicon.ico
  apps/entropy-debug/src/app/fonts/GeistMonoVF.woff
  apps/entropy-debug/src/app/fonts/GeistVF.woff
  apps/entropy-debug/src/app/globals.css
  apps/entropy-debug/src/app/layout.tsx
  apps/entropy-debug/src/app/page.tsx
  apps/entropy-debug/src/components/ui/button.tsx
  apps/entropy-debug/src/components/ui/input.tsx
  apps/entropy-debug/src/components/ui/select.tsx
  apps/entropy-debug/src/components/ui/switch.tsx
  apps/entropy-debug/src/lib/EntropyAbi.ts
  apps/entropy-debug/src/lib/revelation.ts
  apps/entropy-debug/src/lib/utils.ts
  apps/entropy-debug/src/store/EntropyDeployments.tsx
  apps/entropy-debug/tsconfig.json
  pnpm-lock.yaml
Due: none

go
  governance/xc_admin/packages/xc_admin_common/src/deterministic_oracle_accounts.ts
Due: none

go (#2265)
  governance/xc_admin/packages/xc_admin_common/src/deterministic_oracle_accounts.ts
Due: none

chore(deployment) Monad Devnet again
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  contract_manager/store/contracts/TonPriceFeedContracts.yaml
  contract_manager/store/contracts/TonWormholeContracts.yaml
  target_chains/ethereum/sdk/js/package.json
Due: none

update
  apps/entropy-debug/components.json
  apps/entropy-debug/next-env.d.ts
  apps/entropy-debug/package.json
  apps/entropy-debug/postcss.config.mjs
  apps/entropy-debug/src/app/page.tsx
  apps/entropy-debug/src/components/ui/button.tsx
  apps/entropy-debug/src/lib/revelation.ts
  apps/entropy-debug/tailwind.config.ts
  pnpm-lock.yaml
Due: none

chore(network) Add monad testnet (#2240)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

chore(lazer): update governance scripts to make them work (#2261)
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/idl/lazer.json
  lazer/contracts/solana/README.md
  lazer/contracts/solana/package.json
  lazer/contracts/solana/scripts/setup.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(target_chains/fuel): run format after generating type files
  target_chains/fuel/sdk/js/package.json
Due: none

update again
  target_chains/fuel/sdk/js/package.json
Due: none

fix(target_chains/fuel): run format after generating type files (#2268)
  target_chains/fuel/sdk/js/package.json
Due: none

fix(contract-manager) Small fixes (#2239)
  contract_manager/scripts/check_proposal.ts
  contract_manager/scripts/latency_entropy_with_callback.ts
  contract_manager/scripts/list_entropy_contracts.ts
  contract_manager/scripts/load_test_entropy.ts
Due: none

chore: remove node tests from solana lazer contract workflow
  .github/workflows/ci-lazer-solana-contract.yml
  lazer/contracts/solana/package.json
  lazer/contracts/solana/turbo.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add script to get pyth price feed details
  contract_manager/scripts/get_pyth_pricefeed_details.ts
Due: none

style: apply prettier formatting fixes
  contract_manager/scripts/get_pyth_pricefeed_details.ts
Due: none
