Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

fix clippy errors
  apps/pyth-lazer-agent/src/jrpc_handle.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(pyth-lazer) Implement JRPC endpoint for the lazer agent (#2837)
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
  apps/pyth-lazer-agent/config/config.toml
  apps/pyth-lazer-agent/src/config.rs
  apps/pyth-lazer-agent/src/http_server.rs
  apps/pyth-lazer-agent/src/jrpc_handle.rs
  apps/pyth-lazer-agent/src/lazer_publisher.rs
  apps/pyth-lazer-agent/src/main.rs
  apps/pyth-lazer-agent/src/publisher_handle.rs
  apps/pyth-lazer-agent/src/relayer_session.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(pyth-lazer) Bump pyth-lazer-agent to 0.1.4
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(pyth-lazer) Bump pyth-lazer-agent to 0.1.4 (#2846)
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(argus) Fix compilation issues related to EscalationPolicy (#2842)
  apps/argus/src/config.rs
Due: none

fixed update and parse functions to take in a vector of vector of u8s to support multiple updates
  target_chains/stylus/contracts/pyth-receiver/src/integration_tests.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
  target_chains/stylus/contracts/pyth-receiver/src/structs.rs
  target_chains/stylus/contracts/pyth-receiver/src/test_data.rs
Due: none

remove old migrations, update migrations!()
  apps/fortuna/sqlite_migrations/20250502164500_init.down.sql
  apps/fortuna/sqlite_migrations/20250502164500_init.up.sql
  apps/fortuna/sqlite_migrations/20250521203448_gas.down.sql
  apps/fortuna/sqlite_migrations/20250521203448_gas.up.sql
  apps/fortuna/sqlite_migrations/20250605004757_add_indices_for_advanced_search.down.sql
  apps/fortuna/sqlite_migrations/20250605004757_add_indices_for_advanced_search.up.sql
  apps/fortuna/sqlite_migrations/20250605165549_re-add_tx_hash_indices.down.sql
  apps/fortuna/sqlite_migrations/20250605165549_re-add_tx_hash_indices.up.sql
  apps/fortuna/src/history.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

bump ver
  Cargo.lock
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

feat(fortuna): Support Postgres DB backend (#2841)
  Cargo.lock
  apps/fortuna/.gitignore
  apps/fortuna/.sqlx/query-03901bcfb28b127d99fe8a53e480b88336dd2aab632411114f02ce8dd8fe07e8.json
  apps/fortuna/.sqlx/query-4c8c05ec08e128d847faafdd3d79fa50da70066f30b74f354e5d3a843ba6a2c0.json
  apps/fortuna/.sqlx/query-b0d9afebb3825c3509ad80e5ebab5d72360326593407518770fe537ac3da1e10.json
  apps/fortuna/Cargo.toml
  apps/fortuna/README.md
  apps/fortuna/migrations/20250502164500_init.down.sql
  apps/fortuna/migrations/20250502164500_init.up.sql
  apps/fortuna/migrations/20250521203448_gas.down.sql
  apps/fortuna/migrations/20250521203448_gas.up.sql
  apps/fortuna/migrations/20250605004757_add_indices_for_advanced_search.down.sql
  apps/fortuna/migrations/20250605165549_re-add_tx_hash_indices.down.sql
  apps/fortuna/migrations/20250605165549_re-add_tx_hash_indices.up.sql
  apps/fortuna/migrations/20250707000000_init.down.sql
  apps/fortuna/migrations/20250707000000_init.up.sql
  apps/fortuna/src/api.rs
  apps/fortuna/src/api/explorer.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/history.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

added test to verify multiple updates configured
  target_chains/stylus/contracts/pyth-receiver/src/integration_tests.rs
  target_chains/stylus/contracts/pyth-receiver/src/test_data.rs
Due: none

imported mock_instant crate
  target_chains/stylus/Cargo.lock
  target_chains/stylus/contracts/pyth-receiver/Cargo.toml
Due: none

feat: implement mock_instant integration for get_current_timestamp
  target_chains/stylus/contracts/pyth-receiver/src/integration_tests.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

feat: add cfg(test) attributes to all test_data.rs functions
  target_chains/stylus/contracts/pyth-receiver/src/test_data.rs
Due: none

implemented parse_price_feed_updates_unique
  target_chains/stylus/contracts/pyth-receiver/src/error.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

pushing work for now
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

fix: modify parse_price_feed_updates_with_config to preserve existing price values
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

chore(ci): fix lazer solana contract ci
  lazer/contracts/solana/Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(ci): fix lazer solana contract ci (#2847)
  lazer/contracts/solana/Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

added Zetachain
  apps/entropy-debugger/src/store/entropy-deployments.ts
Due: none

chore(entropy-debugger) Updated Entropy chains (#2835)
  apps/entropy-debugger/src/store/entropy-deployments.ts
Due: none

set up integration tests
  target_chains/stylus/contracts/pyth-receiver/src/integration_tests.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
  target_chains/stylus/contracts/pyth-receiver/src/structs.rs
  target_chains/stylus/contracts/pyth-receiver/src/test_data.rs
Due: none

feat: modify PriceFeedReturn to use byte arrays and simplify parsing logic
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
  target_chains/stylus/contracts/pyth-receiver/src/structs.rs
  target_chains/stylus/contracts/pyth-receiver/src/test_data.rs
Due: none

feat: add price_id field to PriceFeedStorage and rename from PriceInfoStorage
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
  target_chains/stylus/contracts/pyth-receiver/src/structs.rs
Due: none

chore: update blocksize logo
  packages/known-publishers/src/icons/monochrome/blocksize.svg
Due: none

finished adding id back to return type, distinguishing between get return type and the overall price feed return that will be given from the query function
  target_chains/stylus/contracts/pyth-receiver/src/integration_tests.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
  target_chains/stylus/contracts/pyth-receiver/src/structs.rs
  target_chains/stylus/contracts/pyth-receiver/src/test_data.rs
Due: none

format
  target_chains/stylus/contracts/pyth-receiver/src/integration_tests.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
  target_chains/stylus/contracts/pyth-receiver/src/test_data.rs
Due: none

fixed import name error
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

finished query price feeds function
  target_chains/stylus/contracts/pyth-receiver/src/error.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
  target_chains/stylus/contracts/pyth-receiver/src/structs.rs
Due: none

formatted
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

finished price_feed_exists method
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

trying to clean up testing framework
  target_chains/stylus/contracts/pyth-receiver/src/integration_tests.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
  target_chains/stylus/contracts/pyth-receiver/src/test_data.rs
Due: none

fixed test error, all passing
  target_chains/stylus/contracts/pyth-receiver/src/integration_tests.rs
Due: none

chore(ci): fix starknet build
  .github/workflows/ci-starknet-contract.yml
Due: none

feat(lazer): improve time types (wip)
  Cargo.lock
  lazer/contracts/solana/Cargo.lock
  lazer/publisher_sdk/rust/src/lib.rs
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
  lazer/sdk/rust/protocol/src/jrpc.rs
  lazer/sdk/rust/protocol/src/lib.rs
  lazer/sdk/rust/protocol/src/payload.rs
  lazer/sdk/rust/protocol/src/publisher.rs
  lazer/sdk/rust/protocol/src/router.rs
  lazer/sdk/rust/protocol/src/serde_str.rs
  lazer/sdk/rust/protocol/src/time.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: remove cadd for now
  Cargo.lock
  lazer/contracts/solana/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/router.rs
  lazer/sdk/rust/protocol/src/time.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(ci): fix starknet build (#2850)
  .github/workflows/ci-starknet-contract.yml
Due: none

feat(lazer): add a few more functions and costs
  lazer/sdk/rust/protocol/src/time.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

test(lazer): add time tests
  .github/workflows/ci-lazer-rust.yml
  lazer/sdk/rust/protocol/src/time.rs
  lazer/sdk/rust/protocol/src/time/tests.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: fix ci
  lazer/sdk/rust/protocol/src/time.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

started twap work
  target_chains/stylus/contracts/pyth-receiver/src/integration_tests.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none
