Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

feat(contract_manager): include Stellar in list_lazer_signers audit
  contract_manager/scripts/list_lazer_signers.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor(contract_manager): simplify CardanoChain to Koios-only provider
  contract_manager/src/core/chains.ts
  contract_manager/src/store/chains/CardanoChains.json
  lazer/contracts/cardano/sdk/js/src/index.ts
  turbo.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

docs(pro): move ExampleConsumer lazer address into constructor
  apps/developer-hub/content/docs/price-feeds/pro/integrate-as-consumer/stellar.mdx
Due: none

fix(contract_manager): correct Cardano trusted-signer key type to Ed25519
  contract_manager/scripts/test_cardano_lazer_contract.ts
  contract_manager/src/core/contracts/cardano.ts
  lazer/contracts/cardano/sdk/js/src/index.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

docs(pro): move ExampleConsumer lazer address into constructor (#3874)
  apps/developer-hub/content/docs/price-feeds/pro/integrate-as-consumer/stellar.mdx
Due: none

fix(contract_manager): read Stellar Lazer trusted signers from enumerable map + add Stellar to signer audit (#3871)
  contract_manager/scripts/list_lazer_signers.ts
  contract_manager/src/core/contracts/stellar.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

Hydra worker auto-commit for task s-yqepezay
  governance/xc_admin/packages/crank_pythnet_relayer/src/index.ts
Due: none

feat(contract_manager): add Cardano chain + CardanoLazerContract + audit integration
  contract_manager/package.json
  contract_manager/scripts/list_lazer_signers.ts
  contract_manager/scripts/test_cardano_lazer_contract.ts
  contract_manager/src/core/chains.ts
  contract_manager/src/core/contracts/cardano.ts
  contract_manager/src/core/contracts/index.ts
  contract_manager/src/node/utils/store.ts
  contract_manager/src/store/chains/CardanoChains.json
  contract_manager/src/store/contracts/CardanoLazerContracts.json
  lazer/contracts/cardano/cli/js/package.json
  lazer/contracts/cardano/sdk/js/src/index.ts
  pnpm-lock.yaml
  turbo.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

contract_manager: add Cardano chain + CardanoLazerContract + governance test + audit integration (p-rjokkjjw)
  contract_manager/package.json
  contract_manager/scripts/list_lazer_signers.ts
  contract_manager/scripts/test_cardano_lazer_contract.ts
  contract_manager/src/core/chains.ts
  contract_manager/src/core/contracts/cardano.ts
  contract_manager/src/core/contracts/index.ts
  contract_manager/src/node/utils/store.ts
  contract_manager/src/store/chains/CardanoChains.json
  contract_manager/src/store/contracts/CardanoLazerContracts.json
  lazer/contracts/cardano/cli/js/package.json
  lazer/contracts/cardano/sdk/js/src/index.ts
  pnpm-lock.yaml
  turbo.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

docs(push-feeds): refresh pro_compatible_status and drop Avalanche carve-out
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/evm/avalanche-mainnet.json
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/evm/berachain-mainnet.json
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/evm/hyperevm-mainnet.json
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/evm/monad-mainnet.json
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/sui/sui-mainnet.json
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/svm/solana-mainnet.json
  apps/developer-hub/src/components/SponsoredFeedsTable/index.tsx
Due: none

deploy(lazer) Cronos
  contract_manager/src/store/chains/EvmChains.json
  contract_manager/src/store/contracts/EvmExecutorContracts.json
  contract_manager/src/store/contracts/EvmLazerContracts.json
Due: none

docs(push-feeds): add WEETH/USD to Base
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/evm/base-mainnet.json
Due: none

docs(developer-hub): document ?entitled_only=true on /v1/symbols
  apps/developer-hub/content/docs/price-feeds/pro/symbology-reference.mdx
Due: none

docs(developer-hub): use a live future for the expiration_time example
  apps/developer-hub/content/docs/price-feeds/pro/symbology-reference.mdx
Due: none

feat(developer-hub): add interactive schedule decoder to symbology reference
  apps/developer-hub/content/docs/price-feeds/pro/symbology-reference.mdx
  apps/developer-hub/src/components/ScheduleDecoder/index.module.scss
  apps/developer-hub/src/components/ScheduleDecoder/index.tsx
  apps/developer-hub/src/components/ScheduleDecoder/schedule.test.ts
  apps/developer-hub/src/components/ScheduleDecoder/schedule.ts
  apps/developer-hub/src/mdx-components.tsx
Due: none

update
  apps/developer-hub/content/docs/price-feeds/pro/symbology-reference.mdx
Due: none

docs(developer-hub): drop unreleased futures pattern fields from symbology page
  apps/developer-hub/content/docs/price-feeds/pro/futures-terminology.mdx
  apps/developer-hub/content/docs/price-feeds/pro/symbology-reference.mdx
Due: none

docs(developer-hub): address Tejas review feedback on symbology reference
  apps/developer-hub/content/docs/price-feeds/pro/symbology-reference.mdx
Due: none

docs(developer-hub): mark hermes_id as nullable in symbology reference
  apps/developer-hub/content/docs/price-feeds/pro/symbology-reference.mdx
Due: none

docs(developer-hub): add Symbology & Reference Data page
  apps/developer-hub/content/docs/price-feeds/pro/api/rest.mdx
  apps/developer-hub/content/docs/price-feeds/pro/futures-terminology.mdx
  apps/developer-hub/content/docs/price-feeds/pro/meta.json
  apps/developer-hub/content/docs/price-feeds/pro/price-feed-ids.mdx
  apps/developer-hub/content/docs/price-feeds/pro/symbology-reference.mdx
Due: none

docs(developer-hub): fix correctness errors in symbology reference
  apps/developer-hub/content/docs/price-feeds/pro/symbology-reference.mdx
Due: none

feat(api-reference): clarify Pyth Core scope with site-wide banner
  apps/api-reference/src/components/Banner/index.tsx
  apps/api-reference/src/components/Header/index.tsx
  apps/api-reference/src/components/Home/index.tsx
  apps/api-reference/src/components/Root/index.tsx
  apps/api-reference/src/components/Sidebar/index.tsx
Due: none

fix(sui): migrate per-network Sui deploy configs to environments + Published.toml
  target_chains/sui/contracts/Move.mainnet.toml
  target_chains/sui/contracts/Move.pro_compatible.lock
  target_chains/sui/contracts/Move.pro_compatible.sui_mainnet.lock
  target_chains/sui/contracts/Move.pro_compatible.sui_mainnet.toml
  target_chains/sui/contracts/Move.pro_compatible.sui_testnet.lock
  target_chains/sui/contracts/Move.pro_compatible.sui_testnet.toml
  target_chains/sui/contracts/Move.pro_compatible.toml
  target_chains/sui/contracts/Move.testnet.toml
  target_chains/sui/contracts/Published.pro_compatible.toml
  target_chains/sui/contracts/Published.toml
  target_chains/sui/contracts/README.md
  target_chains/sui/vendor/wormhole_simple_majority/wormhole/Move.sui_mainnet.lock
  target_chains/sui/vendor/wormhole_simple_majority/wormhole/Move.sui_mainnet.toml
  target_chains/sui/vendor/wormhole_simple_majority/wormhole/Move.sui_testnet.lock
  target_chains/sui/vendor/wormhole_simple_majority/wormhole/Move.sui_testnet.toml
  target_chains/sui/vendor/wormhole_simple_majority/wormhole/Move.toml
  target_chains/sui/vendor/wormhole_simple_majority/wormhole/Published.toml
Due: none

fix(price_pusher): use native gRPC transport for the Sui driver
  apps/price_pusher/package.json
  apps/price_pusher/src/sui/command.ts
  apps/price_pusher/src/sui/sui.ts
  pnpm-lock.yaml
Due: none

fix(price_pusher): await tx finality between Sui gas-pool transactions
  apps/price_pusher/package.json
  apps/price_pusher/src/sui/sui.ts
Due: none

fix(price_pusher): use native gRPC transport for the Sui driver (#3878)
  apps/price_pusher/package.json
  apps/price_pusher/src/sui/command.ts
  apps/price_pusher/src/sui/sui.ts
  pnpm-lock.yaml
Due: none

fix(sui): migrate per-network Sui deploy configs to environments + Published.toml (#3869)
  target_chains/sui/contracts/Move.mainnet.toml
  target_chains/sui/contracts/Move.pro_compatible.lock
  target_chains/sui/contracts/Move.pro_compatible.sui_mainnet.lock
  target_chains/sui/contracts/Move.pro_compatible.sui_mainnet.toml
  target_chains/sui/contracts/Move.pro_compatible.sui_testnet.lock
  target_chains/sui/contracts/Move.pro_compatible.sui_testnet.toml
  target_chains/sui/contracts/Move.pro_compatible.toml
  target_chains/sui/contracts/Move.testnet.toml
  target_chains/sui/contracts/Published.pro_compatible.toml
  target_chains/sui/contracts/Published.toml
  target_chains/sui/contracts/README.md
  target_chains/sui/vendor/wormhole_simple_majority/wormhole/Move.sui_mainnet.lock
  target_chains/sui/vendor/wormhole_simple_majority/wormhole/Move.sui_mainnet.toml
  target_chains/sui/vendor/wormhole_simple_majority/wormhole/Move.sui_testnet.lock
  target_chains/sui/vendor/wormhole_simple_majority/wormhole/Move.sui_testnet.toml
  target_chains/sui/vendor/wormhole_simple_majority/wormhole/Move.toml
  target_chains/sui/vendor/wormhole_simple_majority/wormhole/Published.toml
Due: none

fix(developer-hub): refresh push-feed pro_compatible_status; drop Avalanche carve-out
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/evm/avalanche-mainnet.json
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/evm/berachain-mainnet.json
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/evm/hyperevm-mainnet.json
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/evm/monad-mainnet.json
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/sui/sui-mainnet.json
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/svm/solana-mainnet.json
  apps/developer-hub/src/components/SponsoredFeedsTable/index.tsx
Due: none

feat(contract_manager): add SolanaLazerContract + governance test + audit integration
  contract_manager/package.json
  contract_manager/scripts/list_lazer_signers.ts
  contract_manager/scripts/test_solana_lazer_contract.ts
  contract_manager/src/core/contracts/index.ts
  contract_manager/src/core/contracts/solana.ts
  contract_manager/src/node/utils/store.ts
  contract_manager/src/store/contracts/SolanaLazerContracts.json
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

deploy(lazer) Mezo Networks
  contract_manager/src/store/contracts/EvmExecutorContracts.json
  contract_manager/src/store/contracts/EvmLazerContracts.json
Due: none

fix(contract_manager): add trailing newline to EVM contract JSONs
  contract_manager/src/store/contracts/EvmExecutorContracts.json
  contract_manager/src/store/contracts/EvmLazerContracts.json
Due: none

deploy(lazer) Cronos Testnet as well
  contract_manager/src/store/contracts/EvmExecutorContracts.json
  contract_manager/src/store/contracts/EvmLazerContracts.json
Due: none

docs: add standards/ folder and fold in doc/ guidelines + REVIEW.md
  AGENTS.md
  Cargo.toml
  README.md
  apps/hermes/server/Cargo.toml
  doc/code-guidelines.md
  doc/js-code-guidelines.md
  doc/rust-code-guidelines.md
  standards/AGENTS.md
  standards/review.md
  standards/rust/AGENTS.md
  standards/rust/errors-and-logging.md
  standards/rust/idioms.md
  standards/rust/style.md
  standards/rust/testing.md
  standards/services.md
  standards/style.md
  standards/testing.md
  standards/typescript/AGENTS.md
  standards/typescript/packages.md
  standards/typescript/style.md
  standards/typescript/testing.md
Due: cargo-fmt-hermes, cargo-clippy-hermes

docs: add root CLAUDE.md pointer
  .gitignore
  CLAUDE.md
Due: none

docs(price-feeds): mark Pyth Pro History and REST endpoints as auth-required from July 24
  apps/developer-hub/content/docs/price-feeds/pro/acquire-api-key.mdx
  apps/developer-hub/content/docs/price-feeds/pro/api/history.mdx
  apps/developer-hub/content/docs/price-feeds/pro/api/rest.mdx
  apps/developer-hub/content/docs/price-feeds/pro/faq.mdx
Due: none
