Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +nightly-2024-03-26 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +nightly-2024-03-26 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./apps/fortuna/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2024-08-04 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2024-08-04 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/solana/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

chore: completed get data benchmarks
  target_chains/ethereum/sdk/stylus/benches/src/function_calls.rs
  target_chains/ethereum/sdk/stylus/benches/src/lib.rs
  target_chains/ethereum/sdk/stylus/benches/src/main.rs
  target_chains/ethereum/sdk/stylus/benches/src/proxy_calls.rs
Due: none

chore:contract changes
  target_chains/ethereum/sdk/stylus/contracts/src/lib.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/functions.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/mock.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/mod.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/pyth_contract.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/types.rs
  target_chains/ethereum/sdk/stylus/contracts/src/utils/mod.rs
Due: none

chore:function calls
  target_chains/ethereum/sdk/stylus/examples/function-calls/src/lib.rs
Due: none

chore: Ignore all broadcast
  target_chains/ethereum/sdk/stylus/pyth-solidity/.gitignore
Due: none

chore: completed get benches
  target_chains/ethereum/sdk/stylus/Cargo.lock
  target_chains/ethereum/sdk/stylus/benches/Cargo.toml
  target_chains/ethereum/sdk/stylus/benches/src/proxy_calls.rs
  target_chains/ethereum/sdk/stylus/contracts/Cargo.toml
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/mock.rs
  target_chains/ethereum/sdk/stylus/examples/function-calls/Cargo.toml
  target_chains/ethereum/sdk/stylus/examples/function-calls/src/lib.rs
  target_chains/ethereum/sdk/stylus/examples/proxy-calls/src/lib.rs
Due: none

chore:changes
  target_chains/ethereum/sdk/stylus/benches/Cargo.toml
  target_chains/ethereum/sdk/stylus/benches/src/function_calls.rs
  target_chains/ethereum/sdk/stylus/benches/src/proxy_calls.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/mock.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/pyth_contract.rs
  target_chains/ethereum/sdk/stylus/examples/function-calls/src/lib.rs
Due: none

Fix compatibility with Anchor's idl-build
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

add config for fuel mainnet for price pusher
  apps/price_pusher/config.fuel.mainnet.sample.json
Due: none

chore: Added Type Test
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/mock.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/types.rs
Due: none

add config for fuel mainnet for price pusher (#2087)
  apps/price_pusher/config.fuel.mainnet.sample.json
Due: none

add fuel mainnet chain id
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

revert unnecessary change
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

feat(chain_id): add fuel mainnet chain id (#2088)
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

Update signers.json
  governance/xc_admin/packages/xc_admin_frontend/mappings/signers.json
Due: none

feat: add ignore_invalid_price_ids parameter to v2 apis
  apps/hermes/server/README.md
  apps/hermes/server/build.rs
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/api/rest/get_price_feed.rs
  apps/hermes/server/src/api/rest/get_vaa.rs
  apps/hermes/server/src/api/rest/get_vaa_ccip.rs
  apps/hermes/server/src/api/rest/latest_price_feeds.rs
  apps/hermes/server/src/api/rest/latest_vaas.rs
  apps/hermes/server/src/api/rest/v2/latest_price_updates.rs
  apps/hermes/server/src/api/rest/v2/sse.rs
  apps/hermes/server/src/api/rest/v2/timestamp_price_updates.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

update readme
  apps/hermes/server/README.md
Due: cargo-fmt-hermes, cargo-clippy-hermes

undo build hack
  apps/hermes/server/build.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

better names
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/api/rest/v2/latest_price_updates.rs
  apps/hermes/server/src/api/rest/v2/sse.rs
  apps/hermes/server/src/api/rest/v2/timestamp_price_updates.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

apply precommit
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/api/rest/v2/latest_price_updates.rs
  apps/hermes/server/src/api/rest/v2/sse.rs
  apps/hermes/server/src/api/rest/v2/timestamp_price_updates.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

use saturating sub
  target_chains/ton/contracts/contracts/Pyth.fc
Due: none

use saturating sub for ema price
  target_chains/ton/contracts/contracts/Pyth.fc
Due: none

validate data sources length
  target_chains/ton/contracts/contracts/Pyth.fc
Due: none

use the right error type
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/common/errors.fc
Due: none

fix magic number
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/Wormhole.fc
  target_chains/ton/contracts/contracts/common/constants.fc
Due: none

add impure to functions that throw
  target_chains/ton/contracts/contracts/Pyth.fc
Due: none

dont redefine global vars
  target_chains/ton/contracts/contracts/Wormhole.fc
Due: none

use global var directly
  target_chains/ton/contracts/contracts/Wormhole.fc
Due: none

remove unused variables
  target_chains/ton/contracts/contracts/Pyth.fc
Due: none

remove debugging code
  target_chains/ton/contracts/contracts/Wormhole.fc
Due: none

remove unused variable num_data_sources
  target_chains/ton/contracts/contracts/common/storage.fc
  target_chains/ton/contracts/wrappers/BaseWrapper.ts
Due: none

remove unused variable data_sources
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/common/storage.fc
  target_chains/ton/contracts/contracts/tests/PythTest.fc
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/wrappers/BaseWrapper.ts
Due: none

chore: tests
  target_chains/ethereum/sdk/stylus/Cargo.lock
  target_chains/ethereum/sdk/stylus/examples/function-calls/src/lib.rs
  target_chains/ethereum/sdk/stylus/examples/function-calls/tests/abi/mod.rs
  target_chains/ethereum/sdk/stylus/examples/function-calls/tests/function-calls.rs
  target_chains/ethereum/sdk/stylus/examples/proxy-calls/tests/proxy-calls.rs
Due: none

fix(target_chains/ton): audit fixes (#2092)
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/Wormhole.fc
  target_chains/ton/contracts/contracts/common/constants.fc
  target_chains/ton/contracts/contracts/common/errors.fc
  target_chains/ton/contracts/contracts/common/storage.fc
  target_chains/ton/contracts/contracts/tests/PythTest.fc
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/wrappers/BaseWrapper.ts
Due: none

fix: increase threshold value (#2077)
  apps/price_pusher/package.json
  apps/price_pusher/src/solana/solana.ts
Due: none

chore(apps/fortuna): update to stable rust
  .github/workflows/ci-fortuna.yml
  .pre-commit-config.yaml
  apps/fortuna/Cargo.lock
  apps/fortuna/Dockerfile
  apps/fortuna/rust-toolchain
  apps/fortuna/src/api/revelation.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/reader.rs
  apps/fortuna/src/command/generate.rs
  apps/fortuna/src/command/register_provider.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/command/setup_provider.rs
  apps/fortuna/src/command/withdraw_fees.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/main.rs
  apps/fortuna/src/state.rs
Due: cargo-fmt-fortuna

chore: remove commented feature
  pythnet/pythnet_sdk/examples/generate_pyth_data.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

chore(apps/hermes): switch to stable rust
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-pre-commit.yml
  .pre-commit-config.yaml
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Dockerfile
  apps/hermes/server/README.md
  apps/hermes/server/rust-toolchain
  apps/hermes/server/src/main.rs
  apps/hermes/server/src/network/pythnet.rs
  apps/hermes/server/src/network/wormhole.rs
  apps/hermes/server/src/state/cache.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore(staking): upgrade recharts
  apps/staking/package.json
  pnpm-lock.yaml
Due: none

chore(governance): use proper Rust version for remote executor in CI
  .github/workflows/ci-pre-commit.yml
  .pre-commit-config.yaml
Due: none

chore(target_chains/cosmwasm): fix Rust version in CI
  .github/workflows/ci-cosmwasm-contract.yml
  .pre-commit-config.yaml
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay
  mypy: any of: express_relay/sdk/python/express_relay
