Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

kept core page separate for smooth navigation
  apps/developer-hub/content/docs/price-feeds/core/hip-3-service/index.mdx
  apps/developer-hub/content/docs/price-feeds/core/meta.json
  apps/developer-hub/content/docs/price-feeds/pro/hip-3-service/technical-specification.mdx
Due: none

turbo test fix
  apps/developer-hub/content/docs/price-feeds/core/contract-addresses/evm.mdx
  apps/developer-hub/content/docs/price-feeds/core/hip-3-service.mdx
  apps/developer-hub/content/docs/price-feeds/pro/contract-addresses.mdx
  apps/developer-hub/content/docs/price-feeds/pro/hip-3-service/technical-specification.mdx
Due: none

Add WSTUSR/USR.RR push feed on Solana
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/svm/solana-mainnet.json
Due: none

feat(hermes-server): add optional token to all apis and track usage (#3404)
  Cargo.lock
  apps/hermes/client/js/package.json
  apps/hermes/client/js/src/hermes-client.ts
  apps/hermes/client/rust/Cargo.toml
  apps/hermes/client/rust/src/client.rs
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/api.rs
  apps/hermes/server/src/api/metrics_middleware.rs
  apps/hermes/server/src/api/token.rs
  apps/hermes/server/src/api/ws.rs
  price_service/client/js/package.json
  price_service/client/js/src/PriceServiceConnection.ts
Due: cargo-fmt-hermes, cargo-clippy-hermes

md files in dev hub
  apps/developer-hub/next.config.js
Due: none

feat(developer-hub): add SKILLS.md endpoint for AI agent integration
  apps/developer-hub/src/app/SKILL.md/route.ts
  apps/developer-hub/src/app/llms.txt/route.ts
Due: none

feat(dev-hub) Add Pyth Pro ID Status
  apps/developer-hub/scripts/count-llm-tokens.ts
  apps/developer-hub/src/components/PriceFeedIdsProTable/index.module.scss
  apps/developer-hub/src/components/PriceFeedIdsProTable/index.tsx
Due: none

feat(dev-hub) Pyth Pro ID Table Improvements
  apps/developer-hub/src/components/PriceFeedIdsProTable/index.tsx
Due: none

feat(apps): add MCP server for Claude/AI agent integration
  apps/mcp-server/.eslintrc.json
  apps/mcp-server/.prettierrc
  apps/mcp-server/ARCHITECTURE.md
  apps/mcp-server/EXAMPLES.md
  apps/mcp-server/LICENSE
  apps/mcp-server/README.md
  apps/mcp-server/docs/COMPARISON.md
  apps/mcp-server/manifest.json
  apps/mcp-server/package.json
  apps/mcp-server/research/community-repo-analysis.md
  apps/mcp-server/research/pyth-api-reference.md
  apps/mcp-server/research/slack-context.md
  apps/mcp-server/src/__tests__/api.test.ts
  apps/mcp-server/src/__tests__/errors.test.ts
  apps/mcp-server/src/__tests__/integration.test.ts
  apps/mcp-server/src/__tests__/prompts.test.ts
  apps/mcp-server/src/__tests__/resources.test.ts
  apps/mcp-server/src/__tests__/server.test.ts
  apps/mcp-server/src/__tests__/tools.test.ts
  apps/mcp-server/src/__tests__/types.test.ts
  apps/mcp-server/src/api/benchmarks.ts
  apps/mcp-server/src/api/config.ts
  apps/mcp-server/src/api/hermes.ts
  apps/mcp-server/src/api/index.ts
  apps/mcp-server/src/index.ts
  apps/mcp-server/src/prompts/definitions.ts
  apps/mcp-server/src/prompts/handlers.ts
  apps/mcp-server/src/prompts/index.ts
  apps/mcp-server/src/resources/definitions.ts
  apps/mcp-server/src/resources/handlers.ts
  apps/mcp-server/src/resources/index.ts
  apps/mcp-server/src/server.ts
  apps/mcp-server/src/tools/definitions.ts
  apps/mcp-server/src/tools/handlers.ts
  apps/mcp-server/src/tools/index.ts
  apps/mcp-server/src/types/errors.ts
  apps/mcp-server/src/types/index.ts
  apps/mcp-server/src/types/pyth.ts
  apps/mcp-server/tsconfig.json
  apps/mcp-server/vitest.config.ts
Due: none

add seda section and other notes
  apps/developer-hub/content/docs/price-feeds/pro/hip-3-service/technical-specification.mdx
Due: none

feat(lazer/contracts/evm): update payload parsing
  lazer/contracts/evm/src/PythLazerLib.sol
  lazer/contracts/evm/src/PythLazerStructs.sol
  lazer/contracts/evm/test/PythLazer.t.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(dev-hub) pyth Pro ID
  apps/developer-hub/src/components/PriceFeedIdsProTable/index.module.scss
  apps/developer-hub/src/components/PriceFeedIdsProTable/index.tsx
Due: none

remove comment
  contract_manager/src/store/chains/EvmChains.json
Due: none

remove comment (#3448)
  contract_manager/src/store/chains/EvmChains.json
Due: none

docs: improve formats parameter description for offchain users
  apps/developer-hub/content/docs/price-feeds/pro/subscribe-to-prices.mdx
Due: none

fix: link Binary Formats to payload-reference page instead of same-page anchor
  apps/developer-hub/content/docs/price-feeds/pro/subscribe-to-prices.mdx
Due: none

dev-hub: fix build
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/svm/solana-mainnet.json
Due: none

enable js api for every YT frame
  apps/developer-hub/src/components/YouTubeEmbed/index.tsx
Due: none

pyth pro video
  apps/developer-hub/content/docs/price-feeds/pro/index.mdx
Due: none

chore: linting of changed files
  governance/xc_admin/packages/crank_executor/package.json
  governance/xc_admin/packages/crank_pythnet_relayer/package.json
  packages/jest-config/package.json
  target_chains/cosmwasm/tools/package.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

chore: linting and turbo tweaks so biome actually gets run in CI
  packages/jest-config/tsconfig.build.json
  target_chains/solana/sdk/js/solana_utils/tsconfig.build.json
  target_chains/ton/sdk/js/tsconfig.build.json
  turbo.json
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat(lazer/contracts/evm): update payload parsing (#3447)
  lazer/contracts/evm/src/PythLazerLib.sol
  lazer/contracts/evm/src/PythLazerStructs.sol
  lazer/contracts/evm/test/PythLazer.t.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(dev-hub) Pro ID Table improvements
  apps/developer-hub/src/components/PriceFeedIdsProTable/index.tsx
Due: none

chore: removed additional dangling prettier references and swapped to biome
  .github/workflows/update-llms-txt.yml
  apps/developer-hub/AGENTS.md
  apps/developer-hub/README.md
  doc/js-code-guidelines.md
  packages/known-publishers/tsconfig.build.json
  target_chains/ethereum/entropy_sdk/solidity/.npmignore
  target_chains/ethereum/sdk/solidity/.npmignore
  turbo.json
Due: none

chore: more linting
  packages/jest-config/package.json
  packages/jest-config/tsconfig.build.json
  target_chains/ton/sdk/js/package.json
Due: none

fix: fixed weird tsc drift in child packages and did another linting pass
  contract_manager/tsconfig.build.json
  governance/xc_admin/packages/xc_admin_common/tsconfig.build.json
  packages/component-library/tsconfig.build.json
  packages/shared-lib/tsconfig.build.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  price_service/client/js/tsconfig.build.json
  price_service/sdk/js/package.json
  price_service/sdk/js/tsconfig.build.json
  target_chains/cosmwasm/tools/tsconfig.build.json
  target_chains/solana/sdk/js/pyth_solana_receiver/tsconfig.build.json
  target_chains/sui/sdk/js-iota/tsconfig.build.json
  target_chains/sui/sdk/js/tsconfig.build.json
  target_chains/ton/sdk/js/package.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

API reference by default collapse
  apps/developer-hub/content/docs/price-feeds/pro/api/meta.json
Due: none

Implement validation and NFT contracts, typescript library
  lazer/contracts/cardano/IMPLEMENTATION.md
  lazer/contracts/cardano/USAGE.md
  lazer/contracts/cardano/aiken/plutus.json
  lazer/contracts/cardano/aiken/validators/pyth_price.ak
  lazer/contracts/cardano/aiken/validators/signer_nft.ak
  lazer/contracts/cardano/typescript/package-lock.json
  lazer/contracts/cardano/typescript/package.json
  lazer/contracts/cardano/typescript/src/admin.ts
  lazer/contracts/cardano/typescript/src/dapp.ts
  lazer/contracts/cardano/typescript/src/index.ts
  lazer/contracts/cardano/typescript/src/parse.ts
  lazer/contracts/cardano/typescript/src/types.ts
  lazer/contracts/cardano/typescript/src/validate.ts
  lazer/contracts/cardano/typescript/test/integration.test.ts
  lazer/contracts/cardano/typescript/test/parse.test.ts
  lazer/contracts/cardano/typescript/test/validate.test.ts
  lazer/contracts/cardano/typescript/tsconfig.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(cm) Add Pyth Core fees proposal config
  contract_manager/scripts/generate_governance_set_fee_config_q1_2026_evm.json
  contract_manager/scripts/generate_governance_set_fee_payload.ts
Due: none

chore(cm) Entropy Fee Proposal Script
  contract_manager/scripts/generate_entropy_set_fee_config_q1_2026.json
  contract_manager/scripts/generate_entropy_set_fee_payload.ts
  contract_manager/src/core/contracts/evm.ts
  contract_manager/src/core/contracts/evm_abis.ts
Due: none

Additional tests and cleanup
  lazer/contracts/cardano/CLAUDE.md
  lazer/contracts/cardano/TESTING.md
  lazer/contracts/cardano/aiken/aiken.toml
  lazer/contracts/cardano/aiken/plutus.json
  lazer/contracts/cardano/aiken/validators/pyth_price.ak
  lazer/contracts/cardano/scripts/run-integration-tests.sh
  lazer/contracts/cardano/scripts/setup-devnet.sh
  lazer/contracts/cardano/typescript/integration_test/integration.test.ts
  lazer/contracts/cardano/typescript/integration_test/yaci-provider.ts
  lazer/contracts/cardano/typescript/package.json
  lazer/contracts/cardano/typescript/src/dapp.ts
  lazer/contracts/cardano/typescript/src/hex.ts
  lazer/contracts/cardano/typescript/src/index.ts
  lazer/contracts/cardano/typescript/test/hello-yaci.ts
  lazer/contracts/cardano/typescript/test/parse.test.ts
  lazer/contracts/cardano/typescript/test/validate.test.ts
  lazer/contracts/cardano/typescript/vitest.config.ts
  lazer/contracts/cardano/typescript/vitest.integration.config.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(hip-3-pusher) Disable stop_after_attempt for websocket subscriptions for now
  apps/hip-3-pusher/pyproject.toml
  apps/hip-3-pusher/src/pusher/hermes_listener.py
  apps/hip-3-pusher/src/pusher/hyperliquid_listener.py
  apps/hip-3-pusher/src/pusher/lazer_listener.py
  apps/hip-3-pusher/uv.lock
Due: cargo-fmt-lazer, cargo-clippy-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
