Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./fortuna/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

some js changes
  express_relay/sdk/js/package.json
  express_relay/sdk/js/src/examples/simpleSearcher.ts
Due: none

bump
  hermes/Cargo.lock
  hermes/Cargo.toml
Due: cargo-fmt-hermes

feat(hermes): add sse endpoint (#1425)
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/src/api.rs
  hermes/src/api/rest.rs
  hermes/src/api/sse.rs
  hermes/src/main.rs
Due: cargo-fmt-hermes

implement upgrade evm entropy contracts script
  contract_manager/scripts/upgrade_evm_entropy_contracts.ts
  contract_manager/src/contracts/evm.ts
Due: none

check proposal for entropy contract upgrades
  contract_manager/scripts/check_proposal.ts
  contract_manager/src/contracts/evm.ts
Due: none

refactor scripts
  contract_manager/scripts/upgrade_evm_entropy_contracts.ts
  contract_manager/scripts/upgrade_evm_executor_contracts.ts
Due: none

minor changes in check proposal
  contract_manager/scripts/check_proposal.ts
Due: none

fix comments
  contract_manager/scripts/upgrade_evm_entropy_contracts.ts
Due: none

correct comment
  contract_manager/scripts/check_proposal.ts
Due: none

log something and continue
  contract_manager/scripts/check_proposal.ts
Due: none

log only if the owner and executor address doesn't match
  contract_manager/scripts/check_proposal.ts
Due: none

use web3 for abi encoding
  contract_manager/scripts/check_proposal.ts
Due: none

remove unused
  contract_manager/src/contracts/evm.ts
Due: none

extract code digest code
  contract_manager/scripts/check_proposal.ts
  contract_manager/src/contracts/evm.ts
Due: none

add allow_unordered query param
  hermes/src/api/sse.rs
Due: cargo-fmt-hermes

feedback implement
  contract_manager/scripts/check_proposal.ts
Due: none

feat(contract_manager): implement upgrade evm entropy contracts script (#1417)
  contract_manager/scripts/check_proposal.ts
  contract_manager/scripts/upgrade_evm_entropy_contracts.ts
  contract_manager/src/contracts/evm.ts
Due: none

fix(contract_manager): use public rpc for blast testnet
  contract_manager/store/chains/EvmChains.yaml
Due: none

fix(contract_manager): use public rpc for blast testnet (#1441)
  contract_manager/store/chains/EvmChains.yaml
Due: none

Go
  target_chains/solana/sdk/js/solana_utils/src/jito.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Go
  target_chains/solana/sdk/js/solana_utils/src/jito.ts
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Checkpoint
  target_chains/solana/sdk/js/solana_utils/benchmarks/benchmark.ts
  target_chains/solana/sdk/js/solana_utils/src/index.ts
  target_chains/solana/sdk/js/solana_utils/src/jito.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Checkpoint
  target_chains/solana/sdk/js/solana_utils/benchmarks/benchmark.ts
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Rename
  target_chains/solana/sdk/js/solana_utils/benchmarks/jito_benchmark.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Make tip account random
  target_chains/solana/sdk/js/solana_utils/src/jito.ts
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Go
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

add benchmarks_only query params
  hermes/src/api/sse.rs
Due: cargo-fmt-hermes

update docs
  hermes/src/api.rs
  hermes/src/api/rest/index.rs
Due: cargo-fmt-hermes

feat: add send usd example for solana
  target_chains/solana/Cargo.lock
  target_chains/solana/Cargo.toml
  target_chains/solana/examples/send_usd/Cargo.toml
  target_chains/solana/examples/send_usd/Xargo.toml
  target_chains/solana/examples/send_usd/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

python hex fix
  express_relay/sdk/python/express_relay/client.py
Due: none

fix: rust fmt
  target_chains/solana/examples/send_usd/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

update gen types
  express_relay/sdk/js/src/serverTypes.d.ts
Due: none

support string
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Go
  price_pusher/src/solana/command.ts
  price_pusher/src/solana/solana.ts
  target_chains/solana/sdk/js/solana_utils/src/jito.ts
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

lint
  price_pusher/src/solana/command.ts
Due: none

Lint
  price_pusher/src/solana/command.ts
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
