Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana

chore: remove multisig_wh_message_builder (#1706)
  governance/multisig_wh_message_builder/.eslintrc.js
  governance/multisig_wh_message_builder/.gitignore
  governance/multisig_wh_message_builder/LICENSE
  governance/multisig_wh_message_builder/README.md
  governance/multisig_wh_message_builder/jest.config.js
  governance/multisig_wh_message_builder/package-lock.json
  governance/multisig_wh_message_builder/package.json
  governance/multisig_wh_message_builder/src/index.ts
  governance/multisig_wh_message_builder/src/multisig.ts
  governance/multisig_wh_message_builder/src/util.ts
  governance/multisig_wh_message_builder/src/wallet.ts
  governance/multisig_wh_message_builder/src/wormhole.ts
  governance/multisig_wh_message_builder/tsconfig.json
  package-lock.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  target_chains/ethereum/contracts/package.json
Due: none

Small addition to README
  README.md
Due: none

chore(evm): Add entropy for etherlink
  contract_manager/store/contracts/EvmEntropyContracts.yaml
Due: none

chore(evm): Entropy etherlink (#1707)
  README.md
  contract_manager/store/contracts/EvmEntropyContracts.yaml
Due: none

cleaunp
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

fix state logging
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

oops
  contract_manager/scripts/upgrade_evm_entropy_contracts.ts
Due: none

gr
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

add health checks w express server
  apps/price_pusher/.gitignore
  apps/price_pusher/config.aptos.testnet.sample.json
  apps/price_pusher/config.evm.stable.sample.json
  apps/price_pusher/config.injective.testnet.sample.json
  apps/price_pusher/config.near.mainnet.sample.json
  apps/price_pusher/config.near.testnet.sample.json
  apps/price_pusher/config.sui.mainnet.sample.json
  apps/price_pusher/config.sui.testnet.sample.json
  apps/price_pusher/package.json
  apps/price_pusher/src/controller.ts
  apps/price_pusher/src/solana/command.ts
  package-lock.json
  pnpm-lock.yaml
Due: none

Upgrade pnpm
  .envrc
  .github/workflows/ci-hermes-client-api-types.yml
  .github/workflows/ci-typescript.yml
  .github/workflows/publish-js.yml
  .gitignore
  .npmrc
  .nvmrc
  Dockerfile.node
  flake.lock
  flake.nix
  governance/xc_admin/packages/xc_admin_frontend/next-env.d.ts
  package.json
  pnpm-lock.yaml
  shell.nix
  sources.json
  sources.nix
Due: cargo-fmt-hermes

define parse_price_feed_updates
  target_chains/aptos/contracts/sources/pyth.move
Due: none

define struct ParsePriceFeed
  target_chains/aptos/contracts/sources/pyth.move
Due: none

define parse_price_feed_updates_internal and check if gas fee is sufficient
  target_chains/aptos/contracts/sources/pyth.move
Due: none

update fun parse_price_feed_updates_internal
  target_chains/aptos/contracts/sources/pyth.move
Due: none

define fun parse_updates
  target_chains/aptos/contracts/sources/pyth.move
Due: none

update fun parse_updates
  target_chains/aptos/contracts/sources/pyth.move
Due: none

define code block comment
  target_chains/aptos/contracts/sources/pyth.move
Due: none

fix: Fix licenses
  express_relay/examples/easy_lend/contracts/EasyLend.sol
  express_relay/examples/easy_lend/contracts/EasyLendErrors.sol
  express_relay/examples/easy_lend/contracts/EasyLendStructs.sol
  express_relay/sdk/python/pyproject.toml
  express_relay/sdk/solidity/IExpressRelay.sol
  express_relay/sdk/solidity/IExpressRelayFeeReceiver.sol
  target_chains/ethereum/contracts/contracts/executor/Executor.sol
  target_chains/ethereum/contracts/contracts/executor/ExecutorErrors.sol
Due: none

chore(targt_chains/ethereum): add sei_testnet
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/contracts/deploy.sh
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

fix: Fix licenses (#1710)
  express_relay/examples/easy_lend/contracts/EasyLend.sol
  express_relay/examples/easy_lend/contracts/EasyLendErrors.sol
  express_relay/examples/easy_lend/contracts/EasyLendStructs.sol
  express_relay/sdk/python/pyproject.toml
  express_relay/sdk/solidity/IExpressRelay.sol
  express_relay/sdk/solidity/IExpressRelayFeeReceiver.sol
  target_chains/ethereum/contracts/contracts/executor/Executor.sol
  target_chains/ethereum/contracts/contracts/executor/ExecutorErrors.sol
Due: none

chore(targt_chains/ethereum): add sei_testnet (#1711)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/contracts/deploy.sh
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

Unify publisher keys file schema with observer and balance tracker
  governance/xc_admin/packages/xc_admin_frontend/package.json
  governance/xc_admin/packages/xc_admin_frontend/pages/index.tsx
  pnpm-lock.yaml
Due: none

Lint
  governance/xc_admin/packages/xc_admin_frontend/pages/index.tsx
Due: none

Fix copy/paste error
  governance/xc_admin/packages/xc_admin_frontend/pages/index.tsx
Due: none

Compile fix
  governance/xc_admin/packages/xc_admin_frontend/pages/index.tsx
Due: none

More compile fixes
  .tool-versions
  governance/xc_admin/packages/xc_admin_frontend/pages/index.tsx
Due: none

rm .tool-versions
  .tool-versions
Due: none

PR comments
  governance/xc_admin/packages/xc_admin_frontend/pages/index.tsx
Due: none

Add .tool-versions
  .tool-versions
Due: none

Use async for reading YAML
  governance/xc_admin/packages/xc_admin_frontend/pages/index.tsx
Due: none

add target fee parameter
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

rename
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

Validate the YAML files
  governance/xc_admin/packages/xc_admin_frontend/package.json
  governance/xc_admin/packages/xc_admin_frontend/pages/index.tsx
  pnpm-lock.yaml
Due: none

Better error and async I/O handling
  governance/xc_admin/packages/xc_admin_frontend/pages/index.tsx
Due: none

more stuff
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

add metric better
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

[fortuna] Automated fee adjustment based on gas prices (#1708)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/chain/eth_gas_oracle.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

fix(target_chains/sui/cli): add ts-node to deps
  pnpm-lock.yaml
  target_chains/sui/cli/package.json
Due: none

fix(target_chains/sui/cli): add ts-node to deps (#1713)
  pnpm-lock.yaml
  target_chains/sui/cli/package.json
Due: none
