Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay
  mypy: any of: express_relay/sdk/python/express_relay

address some lint issues
  express_relay/sdk/js/src/examples/simpleSearcher.ts
  express_relay/sdk/js/src/index.ts
Due: none

lint + name changes
  express_relay/sdk/js/src/examples/simpleSearcher.ts
Due: none

fortuna update
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna

(fix) Change fortuna error code (#1848)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/api.rs
Due: cargo-fmt-fortuna

fix(hermes): Bump pyth-sdk-solana version to fix attribute iteration bug
  apps/hermes/server/Cargo.toml
Due: cargo-fmt-hermes, cargo-clippy-hermes

fixed tx serialization to include signatures & template
  express_relay/sdk/js/src/index.ts
Due: none

fix(hermes): Bump pyth-sdk-solana version to fix attribute iteration bug (#1851)
  apps/hermes/server/Cargo.toml
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(hermes): add Cargo.lock and fix precommit
  apps/hermes/server/Cargo.lock
Due: cargo-fmt-hermes, cargo-clippy-hermes

add cargo.toml too
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
Due: cargo-fmt-hermes, cargo-clippy-hermes

add get_update_fee
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/Wormhole.fc
  target_chains/ton/contracts/contracts/common/errors.fc
  target_chains/ton/contracts/contracts/common/storage.fc
  target_chains/ton/contracts/contracts/tests/PythTest.fc
  target_chains/ton/contracts/contracts/tests/WormholeTest.fc
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tests/WormholeTest.spec.ts
  target_chains/ton/contracts/tests/utils/pyth.ts
  target_chains/ton/contracts/wrappers/PythTest.ts
  target_chains/ton/contracts/wrappers/WormholeTest.ts
Due: none

remove unused error
  target_chains/ton/contracts/contracts/common/errors.fc
Due: none

add comment
  target_chains/ton/contracts/tests/utils/pyth.ts
Due: none

address comments
  target_chains/ton/contracts/contracts/Pyth.fc
Due: none

fixed type hints
  express_relay/sdk/js/src/const.ts
  express_relay/sdk/js/src/examples/idlTypesDummy.ts
  express_relay/sdk/js/src/examples/simpleSearcher.ts
  express_relay/sdk/js/src/idlTypesExpressRelay.ts
  express_relay/sdk/js/src/index.ts
Due: none

address comments
  express_relay/sdk/js/README.md
  express_relay/sdk/js/package.json
  express_relay/sdk/js/src/const.ts
  express_relay/sdk/js/src/examples/simpleSearcher.ts
  express_relay/sdk/js/src/examples/simpleSearcherSvm.ts
  express_relay/sdk/js/src/index.ts
  express_relay/sdk/js/src/types.ts
Due: none

unused import
  express_relay/sdk/js/src/examples/simpleSearcherSvm.ts
Due: none

wip
  governance/pyth_staking_sdk/jest.config.js
  governance/pyth_staking_sdk/keypairs/alice.json
  governance/pyth_staking_sdk/keypairs/bob.json
  governance/pyth_staking_sdk/keypairs/localnet_authority.json
  governance/pyth_staking_sdk/keypairs/pyth_mint.json
  governance/pyth_staking_sdk/package.json
  governance/pyth_staking_sdk/src/constants.ts
  governance/pyth_staking_sdk/src/pdas.ts
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
  governance/pyth_staking_sdk/test/keys.ts
  governance/pyth_staking_sdk/test/start-validator.ts
  governance/pyth_staking_sdk/test/test.ts
  governance/pyth_staking_sdk/tsconfig.json
  governance/pyth_staking_sdk/types/integrity_pool.ts
  governance/pyth_staking_sdk/types/publisher_caps.ts
  governance/pyth_staking_sdk/types/staking.ts
  pnpm-lock.yaml
Due: none

wip
  governance/pyth_staking_sdk/test/start-validator.ts
  governance/pyth_staking_sdk/test/test.ts
Due: none

initial commit
  apps/api-reference/src/components/EvmApi/run-button.tsx
Due: none

pre-commit
  apps/api-reference/src/components/EvmApi/run-button.tsx
Due: none

bug fix
  apps/api-reference/src/components/EvmApi/run-button.tsx
  apps/hermes/server/Cargo.lock
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix fuel ci
  pnpm-lock.yaml
  target_chains/fuel/sdk/js/package.json
  target_chains/fuel/sdk/js/src/types/PythContract.ts
  target_chains/fuel/sdk/js/src/types/PythContractFactory.ts
  target_chains/fuel/sdk/js/src/types/common.d.ts
  target_chains/fuel/sdk/js/src/types/index.ts
Due: none

update tests names
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tests/WormholeTest.spec.ts
  target_chains/ton/contracts/wrappers/PythTest.ts
  target_chains/ton/contracts/wrappers/WormholeTest.ts
Due: none

precommit
  target_chains/ton/contracts/wrappers/PythTest.ts
Due: none

feat(target_chains/ton): add get_update_fee (#1853)
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/Wormhole.fc
  target_chains/ton/contracts/contracts/common/errors.fc
  target_chains/ton/contracts/contracts/common/storage.fc
  target_chains/ton/contracts/contracts/tests/PythTest.fc
  target_chains/ton/contracts/contracts/tests/WormholeTest.fc
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tests/WormholeTest.spec.ts
  target_chains/ton/contracts/tests/utils/pyth.ts
  target_chains/ton/contracts/wrappers/PythTest.ts
  target_chains/ton/contracts/wrappers/WormholeTest.ts
Due: none

add new storage
  target_chains/ton/contracts/contracts/common/storage.fc
  target_chains/ton/contracts/wrappers/PythTest.ts
  target_chains/ton/contracts/wrappers/WormholeTest.ts
Due: none

fix fuel ci (#1856)
  pnpm-lock.yaml
  target_chains/fuel/sdk/js/package.json
  target_chains/fuel/sdk/js/src/types/PythContract.ts
  target_chains/fuel/sdk/js/src/types/PythContractFactory.ts
  target_chains/fuel/sdk/js/src/types/common.d.ts
  target_chains/fuel/sdk/js/src/types/index.ts
Due: none

make @pythnetwork/pyth-ton private
  target_chains/ton/contracts/package.json
Due: none

make @pythnetwork/pyth-ton private (#1857)
  target_chains/ton/contracts/package.json
Due: none

update to new server bidsvm format
  express_relay/sdk/js/src/index.ts
  express_relay/sdk/js/src/serverTypes.d.ts
  express_relay/sdk/js/src/types.ts
Due: none

improve org
  express_relay/sdk/js/src/examples/simpleSearcherSvm.ts
  express_relay/sdk/js/src/index.ts
  express_relay/sdk/js/src/types.ts
Due: none

fix(hermes): add Cargo.lock to fix precommit (#1852)
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
Due: cargo-fmt-hermes, cargo-clippy-hermes

(feat) Add soneium and apechain
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

(feat) Add soneium and apechain (#1858)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

(chore) Add entropy for sonui, and apechahin
  contract_manager/store/contracts/EvmEntropyContracts.yaml
Due: none

try using the sdk in the app
  apps/staking/package.json
  apps/staking/src/api.ts
  apps/staking/src/components/Root/wallet-provider.tsx
  governance/pyth_staking_sdk/src/constants.ts
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
  governance/pyth_staking_sdk/src/staking/accounts.ts
  governance/pyth_staking_sdk/src/staking/types.ts
  governance/pyth_staking_sdk/test/test.ts
  pnpm-lock.yaml
Due: none

feat(target_chains/solana): make solana-program optional
  target_chains/solana/programs/pyth-price-publisher/Cargo.toml
  target_chains/solana/programs/pyth-price-publisher/src/accounts/publisher_prices.rs
  target_chains/solana/programs/pyth-price-publisher/src/entrypoint.rs
  target_chains/solana/programs/pyth-price-publisher/src/instruction/initialize.rs
  target_chains/solana/programs/pyth-price-publisher/src/instruction/initialize_publisher.rs
  target_chains/solana/programs/pyth-price-publisher/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

(chore) Add entropy for sonui, and apechahin (#1859)
  contract_manager/store/contracts/EvmEntropyContracts.yaml
Due: none

refactored js sdk + addressed comments
  express_relay/sdk/js/README.md
  express_relay/sdk/js/package.json
  express_relay/sdk/js/src/examples/dummyTypes.d.ts
  express_relay/sdk/js/src/examples/idlDummy.json
  express_relay/sdk/js/src/examples/idlTypesDummy.ts
  express_relay/sdk/js/src/examples/idl_dummy.json
  express_relay/sdk/js/src/examples/simpleSearcherSvm.ts
  express_relay/sdk/js/src/expressRelayTypes.d.ts
  express_relay/sdk/js/src/idlExpressRelay.json
  express_relay/sdk/js/src/index.ts
Due: none

wip
  apps/staking/package.json
  apps/staking/src/api.ts
  governance/pyth_staking_sdk/package.json
  governance/pyth_staking_sdk/src/constants.ts
  governance/pyth_staking_sdk/src/index.ts
  governance/pyth_staking_sdk/src/pdas.ts
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
  governance/pyth_staking_sdk/src/staking/accounts.ts
  governance/pyth_staking_sdk/src/staking/types.ts
  governance/pyth_staking_sdk/src/staking/utils.ts
  pnpm-lock.yaml
Due: none
