Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

feat(staking): updated simplestyle-js integration to not have the gross wrapping <div /> to contain the style tags
  apps/staking/package.json
  apps/staking/src/components/Header/index.tsx
  apps/staking/src/components/Root/index.tsx
  pnpm-lock.yaml
Due: none

fix format
  lazer/contracts/evm/script/PythLazerDeploy.s.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(contract-manager) Lazer Deploy Script
  contract_manager/scripts/deploy_evm_lazer_contracts.ts
  lazer/contracts/evm/foundry.toml
  lazer/contracts/evm/script/PythLazerDeploy.s.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer) Update Deploy Script
  contract_manager/scripts/upgrade_evm_lazer_contracts.ts
  contract_manager/src/core/contracts/evm.ts
  contract_manager/src/core/contracts/evm_abis.ts
  lazer/contracts/evm/script/PythLazerDeploy.s.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

price source config metric
  apps/hip-3-pusher/src/pusher/main.py
  apps/hip-3-pusher/src/pusher/metrics.py
  apps/hip-3-pusher/src/pusher/seda_listener.py
Due: none

Add market session filter to http endpoints
  lazer/sdk/rust/protocol/src/api.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Fix
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer) Lazer Upgrade Script
  contract_manager/scripts/upgrade_evm_lazer_contracts.ts
  lazer/contracts/evm/.gitignore
  lazer/contracts/evm/script/PythLazerDeploy.s.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer) Update deploy script: fix format
  contract_manager/scripts/upgrade_evm_lazer_contracts.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

requested changes
  contract_manager/scripts/upgrade_evm_lazer_contracts.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(dev-hub) Api Reference V2
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/chain_ids.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/explorer.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/index.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/meta.json
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/revelation.mdx
  apps/developer-hub/content/docs/api-reference/entropy/meta.json
  apps/developer-hub/content/docs/api-reference/meta.json
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_price_feed.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_vaa.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_vaa_ccip.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/index.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_price_feeds.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_price_updates.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_publisher_stake_caps.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_twaps.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_vaas.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/meta.json
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_feed_ids.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_feeds_metadata.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_stream_sse_handler.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/timestamp_price_updates.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/meta.json
  apps/developer-hub/content/docs/meta.json
  apps/developer-hub/scripts/generate-docs.ts
  apps/developer-hub/src/components/Pages/BasePage/index.tsx
  apps/developer-hub/src/components/Root/global.css
  apps/developer-hub/src/lib/openapi.ts
Due: none

chore(remote_executor): add fogo mainnet
  governance/remote_executor/programs/remote-executor/Cargo.toml
  governance/remote_executor/programs/remote-executor/src/state/governance_payload.rs
  governance/remote_executor/programs/remote-executor/src/state/posted_vaa.rs
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

chore(remote_executor): restore pythnet default
  governance/remote_executor/programs/remote-executor/Cargo.toml
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

works with tsx
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/update_price_feed.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore(remote_executor): fogo mainnet deploy (#3253)
  governance/remote_executor/programs/remote-executor/Cargo.toml
  governance/remote_executor/programs/remote-executor/src/state/governance_payload.rs
  governance/remote_executor/programs/remote-executor/src/state/posted_vaa.rs
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

Address comments
  lazer/sdk/rust/protocol/src/api.rs
  lazer/sdk/rust/protocol/src/payload.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Add Monad explorer link and hide Taiko from Entropy chainlist
  apps/developer-hub/src/components/EntropyTable/entropy-api-data-fetcher.tsx
  apps/developer-hub/src/components/EntropyTable/entropy-deployments-config.ts
Due: none

chore(staking): updates simplestyle dep to show off animations
  apps/staking/package.json
  apps/staking/src/components/Header/index.tsx
  apps/staking/src/styles/index.ts
  packages/component-library/package.json
  packages/component-library/src/BenTest/index.tsx
  pnpm-lock.yaml
Due: none

Fix lint error: use Set for HIDDEN_CHAINS
  apps/developer-hub/src/components/EntropyTable/entropy-api-data-fetcher.tsx
Due: none

chore: initial stylex config for storybook
  apps/staking/next.config.js
  apps/staking/package.json
  packages/component-library/.storybook/main.ts
  packages/component-library/.storybook/storybook.module.scss
  packages/component-library/babel.config.js
  packages/component-library/package.json
  packages/component-library/src/BenTest/index.stories.tsx
  packages/component-library/src/BenTest/index.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(component-library): integrated stylex with storybook
  packages/component-library/.storybook/main.ts
  packages/component-library/package.json
  packages/component-library/src/BenTest/index.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(staking): setup stylex, allegedly
  apps/staking/babel.config.js
  apps/staking/next.config.js
  apps/staking/package.json
  apps/staking/postcss.config.js
  apps/staking/src/app/layout.css
  apps/staking/src/app/layout.tsx
  pnpm-lock.yaml
Due: none

Add market session field to payload and subscription params (#3247)
  Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/publisher_sdk/proto/state.proto
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/publisher_sdk/rust/src/lib.rs
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/client/README.md
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
  lazer/sdk/rust/protocol/src/lib.rs
  lazer/sdk/rust/protocol/src/payload.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

updating pf council 4
  governance/xc_admin/packages/xc_admin_frontend/mappings/signers.json
Due: none

feat(staking): stylex works
  apps/staking/babel.config.js
  apps/staking/next.config.js
  apps/staking/package.json
  apps/staking/postcss.config.js
  apps/staking/src/components/Header/index.tsx
  pnpm-lock.yaml
Due: none

chore(insights): responded to first round of PR feedbacks
  apps/insights/src/hooks/pyth-pro-demo/use-coinbase-websocket.ts
  apps/insights/src/hooks/pyth-pro-demo/use-datastream.ts
  apps/insights/src/hooks/pyth-pro-demo/use-fetch-usdt-to-rate.ts
  packages/shared-lib/package.json
  packages/shared-lib/src/util/index.ts
  packages/shared-lib/src/util/is-number.ts
Due: none

chore(insights): responded to additional PR feedback
  apps/insights/src/hooks/pyth-pro-demo/use-pyth-lazer-websocket.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(insights, component-library): removed unused select prop and removed commented code
  apps/insights/src/hooks/pyth-pro-demo/use-pyth-core-websocket.ts
  packages/component-library/src/Select/index.tsx
Due: none

feat(component-library, insights): added ability to export all css variables from the main them and integrated them with the getColorForSymbol() function
  apps/insights/src/components/Root/css-vars.scss
  apps/insights/src/components/Root/index.tsx
  apps/insights/src/util/pyth-pro-demo/get-color-for-symbol.ts
  packages/component-library/src/theme.scss
Due: none

feat: swapped chart.js for the trading view charts
  apps/insights/package.json
  apps/insights/src/components/PythProDemoPriceChart/index.tsx
  apps/insights/src/util/pyth-pro-demo/get-color-for-symbol.ts
  apps/insights/src/util/pyth-pro-demo/get-theme-css-var.ts
  apps/insights/src/util/pyth-pro-demo/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(insights): made the chart responsive
  apps/insights/src/components/PythProDemoPriceChart/index.tsx
Due: none

chore: linting fixes and added color changes to the chart, based on the user's theme
  apps/insights/src/components/PythProDemoPriceChart/index.tsx
  apps/insights/src/components/Root/css-vars.scss
  packages/component-library/src/theme.scss
  packages/react-hooks/src/use-detect-theme-preference.ts
Due: none

chore(react-hooks): deleted unused hook
  packages/react-hooks/src/use-detect-theme-preference.ts
Due: none

Add market session docs for pro
  apps/developer-hub/content/docs/price-feeds/pro/payload-reference.mdx
Due: none

fix(pythapp, bootstrapper): added missing deps and config files
  apps/pythapp/package.json
  apps/pythapp/src/app/globals.scss
  apps/pythapp/src/app/layout.tsx
  apps/pythapp/stylelint.config.js
  packages/create-pyth-package/src/templates/web-app/package.json
  packages/create-pyth-package/src/templates/web-app/stylelint.config.js
  pnpm-lock.yaml
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
