Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./fortuna/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

feat(fortuna): Traced client for better observability (#1651)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/traced_client.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

doc(target_chains/starknet): add wormhole code docs and small API improvements (#1647)
  target_chains/starknet/contracts/src/wormhole.cairo
  target_chains/starknet/contracts/src/wormhole/errors.cairo
  target_chains/starknet/contracts/src/wormhole/governance.cairo
  target_chains/starknet/contracts/src/wormhole/interface.cairo
  target_chains/starknet/contracts/src/wormhole/parse_vm.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
Due: none

fix(target_chains/starknet): use second fee if first fee balance is insufficient
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/tests/pyth.cairo
Due: none

refactor(target_chains/starknet): rename fee_token_address1 and single_update_fee1
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/tests/pyth.cairo
Due: none

feat(target_chains/starknet): support two fee tokens (#1644)
  target_chains/starknet/contracts/deploy/local_deploy
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/pyth/errors.cairo
  target_chains/starknet/contracts/src/pyth/interface.cairo
  target_chains/starknet/contracts/tests/pyth.cairo
Due: none

feat(fortuna): Add tooling for load testing entropy (#1643)
  contract_manager/scripts/common.ts
  contract_manager/scripts/deploy_evm_contract.ts
  contract_manager/scripts/load_test_entropy.ts
  contract_manager/src/contracts/evm.ts
  target_chains/ethereum/contracts/contracts/entropy/EntropyTester.sol
Due: none

feat(governance): add SetFeeInToken directive
  governance/xc_admin/packages/xc_admin_common/src/__tests__/GovernancePayload.test.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/PythGovernanceAction.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/SetFee.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/index.ts
Due: none

add abis
  target_chains/fuel/contracts/.gitignore
  target_chains/fuel/contracts/pyth-contract/out/debug/pyth-contract-abi.json
  target_chains/fuel/contracts/pyth-contract/out/debug/pyth-contract-storage_slots.json
  target_chains/fuel/contracts/pyth-contract/out/debug/pyth-contract.bin
  target_chains/fuel/contracts/pyth-contract/out/deployments/pyth-contract-deployment-0x40d3edfe7c67fd1459ccc53b1dfa922bce6957d6fe57cbdd85a85d609e753451.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-abi.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-storage_slots.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract.bin
Due: none

precommit
  target_chains/fuel/contracts/pyth-contract/out/debug/pyth-contract-abi.json
  target_chains/fuel/contracts/pyth-contract/out/debug/pyth-contract-storage_slots.json
  target_chains/fuel/contracts/pyth-contract/out/deployments/pyth-contract-deployment-0x40d3edfe7c67fd1459ccc53b1dfa922bce6957d6fe57cbdd85a85d609e753451.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-abi.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-storage_slots.json
Due: none

feat(target_chains/solana): relax rust sdk dependencies
  target_chains/solana/Cargo.lock
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat(target_chain/fuel): make abis public (#1657)
  target_chains/fuel/contracts/.gitignore
  target_chains/fuel/contracts/pyth-contract/out/debug/pyth-contract-abi.json
  target_chains/fuel/contracts/pyth-contract/out/debug/pyth-contract-storage_slots.json
  target_chains/fuel/contracts/pyth-contract/out/debug/pyth-contract.bin
  target_chains/fuel/contracts/pyth-contract/out/deployments/pyth-contract-deployment-0x40d3edfe7c67fd1459ccc53b1dfa922bce6957d6fe57cbdd85a85d609e753451.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-abi.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-storage_slots.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract.bin
Due: none

address comments
  contract_manager/scripts/generate_governance_set_fee_payload.ts
Due: none

address comments
  contract_manager/scripts/send_message_to_wormhole.ts
Due: none

precommit
  contract_manager/scripts/send_message_to_wormhole.ts
Due: none

feat(contract_manager): add generate set fee payload script to contract manager (#1563)
  contract_manager/scripts/generate_governance_set_fee_payload.ts
Due: none

feat(contract_manager): add send_message_to_wormhole_script (#1564)
  contract_manager/scripts/send_message_to_wormhole.ts
Due: none

feat(target_chains/starknet): add reexports and utils
  target_chains/starknet/contracts/Scarb.toml
  target_chains/starknet/contracts/src/lib.cairo
  target_chains/starknet/contracts/src/util.cairo
  target_chains/starknet/contracts/src/util/exp10_.cairo
  target_chains/starknet/tools/test_vaas/src/bin/hex_to_cairo_calldata.rs
Due: none

refactor(governance): custom decode/encode for SetFeeInToken
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/PythGovernanceAction.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/SetFee.ts
Due: none

feat(governance): add SetFeeInToken directive (#1654)
  governance/xc_admin/packages/xc_admin_common/src/__tests__/GovernancePayload.test.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/PythGovernanceAction.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/SetFee.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/index.ts
Due: none

cleanup
  contract_manager/scripts/upgrade_evm_entropy_contracts.ts
  contract_manager/src/chains.ts
  contract_manager/src/governance.ts
Due: none

[contract_manager] Add some nice-to-have features (#1650)
  contract_manager/scripts/check_proposal.ts
  contract_manager/scripts/upgrade_evm_entropy_contracts.ts
  contract_manager/src/chains.ts
  contract_manager/src/governance.ts
Due: none

pr comments
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/command/setup_provider.rs
  apps/fortuna/src/command/withdraw_fees.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

cargo bump
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna

log
  apps/fortuna/Cargo.lock
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

[fortuna] Withdraw fees (#1610)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/command.rs
  apps/fortuna/src/command/setup_provider.rs
  apps/fortuna/src/command/withdraw_fees.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/config/withdraw_fees.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/main.rs
Due: cargo-fmt-fortuna

script to list wormhole contracts
  contract_manager/scripts/list_wormhole_contracts.ts
Due: none

minor
  contract_manager/scripts/list_wormhole_contracts.ts
Due: none

use static timestamp example
  apps/hermes/Cargo.lock
  apps/hermes/Cargo.toml
  apps/hermes/src/api/doc_examples.rs
Due: cargo-fmt-hermes

use static timestamp example (#1660)
  apps/hermes/Cargo.lock
  apps/hermes/Cargo.toml
  apps/hermes/src/api/doc_examples.rs
Due: cargo-fmt-hermes

use RpcPriceIdentifier instead of PriceIdentifier
  apps/hermes/Cargo.lock
  apps/hermes/Cargo.toml
  apps/hermes/server/src/api/types.rs
Due: cargo-fmt-hermes

use RpcPriceIdentifier instead of PriceIdentifier
  apps/hermes/Cargo.lock
  apps/hermes/Cargo.toml
  apps/hermes/src/api/types.rs
Due: cargo-fmt-hermes

fix test
  apps/hermes/src/network/pythnet.rs
  apps/hermes/src/state/aggregate.rs
Due: cargo-fmt-hermes

fix imports
  apps/hermes/src/network/pythnet.rs
  apps/hermes/src/state/aggregate.rs
Due: cargo-fmt-hermes

refactor(target_chains/starknet): use felt252 instead of bytes31 in ByteArray
  target_chains/starknet/contracts/src/byte_array.cairo
  target_chains/starknet/contracts/src/reader.cairo
  target_chains/starknet/contracts/tests/data.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
  target_chains/starknet/tools/test_vaas/src/lib.rs
Due: none

feat(target_chains/starknet): add reexports and utils (#1652)
  target_chains/starknet/contracts/Scarb.toml
  target_chains/starknet/contracts/src/lib.cairo
  target_chains/starknet/contracts/src/util.cairo
  target_chains/starknet/contracts/src/util/exp10_.cairo
  target_chains/starknet/tools/test_vaas/src/bin/hex_to_cairo_calldata.rs
Due: none

refactor(target_chains/starknet): cleanup and GetDataSources trait
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/pyth/errors.cairo
  target_chains/starknet/contracts/src/pyth/interface.cairo
  target_chains/starknet/contracts/tests/pyth.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
Due: none

refactor(target_chains/starknet): use felt252 instead of bytes31 in ByteArray (#1663)
  target_chains/starknet/contracts/src/byte_array.cairo
  target_chains/starknet/contracts/src/reader.cairo
  target_chains/starknet/contracts/tests/data.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
  target_chains/starknet/tools/test_vaas/src/lib.rs
Due: none

refactor(target_chains/starknet): cleanup and GetDataSources trait (#1664)
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/pyth/errors.cairo
  target_chains/starknet/contracts/src/pyth/interface.cairo
  target_chains/starknet/contracts/tests/pyth.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
Due: none

refactor(target_chains/starknet): rename ByteArray to ByteBuffer
  target_chains/starknet/contracts/src/byte_buffer.cairo
  target_chains/starknet/contracts/src/lib.cairo
  target_chains/starknet/contracts/src/merkle_tree.cairo
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/pyth/fake_upgrades.cairo
  target_chains/starknet/contracts/src/pyth/governance.cairo
  target_chains/starknet/contracts/src/pyth/interface.cairo
  target_chains/starknet/contracts/src/pyth/price_update.cairo
  target_chains/starknet/contracts/src/reader.cairo
  target_chains/starknet/contracts/src/wormhole.cairo
  target_chains/starknet/contracts/src/wormhole/interface.cairo
  target_chains/starknet/contracts/src/wormhole/parse_vm.cairo
  target_chains/starknet/contracts/tests/data.cairo
  target_chains/starknet/contracts/tests/pyth.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
  target_chains/starknet/tools/test_vaas/src/bin/generate_test_data.rs
  target_chains/starknet/tools/test_vaas/src/lib.rs
Due: none

refactor(target_chains/starknet): rename ByteArray to ByteBuffer (#1665)
  target_chains/starknet/contracts/src/byte_buffer.cairo
  target_chains/starknet/contracts/src/lib.cairo
  target_chains/starknet/contracts/src/merkle_tree.cairo
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/pyth/fake_upgrades.cairo
  target_chains/starknet/contracts/src/pyth/governance.cairo
  target_chains/starknet/contracts/src/pyth/interface.cairo
  target_chains/starknet/contracts/src/pyth/price_update.cairo
  target_chains/starknet/contracts/src/reader.cairo
  target_chains/starknet/contracts/src/wormhole.cairo
  target_chains/starknet/contracts/src/wormhole/interface.cairo
  target_chains/starknet/contracts/src/wormhole/parse_vm.cairo
  target_chains/starknet/contracts/tests/data.cairo
  target_chains/starknet/contracts/tests/pyth.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
  target_chains/starknet/tools/test_vaas/src/bin/generate_test_data.rs
  target_chains/starknet/tools/test_vaas/src/lib.rs
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
