Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

refactor: update streaming implementation to use eventsource crate
  apps/hermes/client/rust/Cargo.lock
  apps/hermes/client/rust/Cargo.toml
  apps/hermes/client/rust/src/streaming.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

refactor: replace streaming implementation with official version
  apps/hermes/client/rust/src/models/mod.rs
  apps/hermes/client/rust/src/models/sse_event.rs
  apps/hermes/client/rust/src/streaming.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

more tests and fixes
  apps/fortuna/.sqlx/query-24bbb5fe24f25a788e489cc80c7a1df3a12ddfefa8aad19738d2ae99a98446c8.json
  apps/fortuna/.sqlx/query-795b81369e5b039cfa38df06bd6c8da8610d84f19a294fb8d3a8370a47a3f241.json
  apps/fortuna/.sqlx/query-7d4365a9cb7c9ec16fd4ca60e1d558419954a0326b29180fa9943605813f04e6.json
  apps/fortuna/.sqlx/query-8a02df9420bfbe38457d06cae3d9e5f25a12667635bcd7b13224de2809047ca2.json
  apps/fortuna/.sqlx/query-8cd10cd5839b81bd9538aeb10fdfd27c6e36baf5d90a4fb9e61718f021812710.json
  apps/fortuna/.sqlx/query-905dbc91cd5319537c5c194277d531689ac5c1338396414467496d0f50ddc3f0.json
  apps/fortuna/.sqlx/query-913a083f9a9ae1194a264aae02f4901d5182aa6088c3e3655202d80ba310ed0d.json
  apps/fortuna/.sqlx/query-9edb888549df4f5a5cbdf1e56c22b8c324dd8293ac74d46e1d2e82ddce87f070.json
  apps/fortuna/.sqlx/query-a62e094cee65ae58bd12ce7d3e7df44f5aca31520d1ceced83f492945e850764.json
  apps/fortuna/.sqlx/query-b848d03ffc893e1719d364beb32976ef879e79727c660c973bdad670082f5c36.json
  apps/fortuna/.sqlx/query-ba011bb5690ad6821689bec939c5303c8619b6302ef33145db3bf62259492783.json
  apps/fortuna/.sqlx/query-d720a84194410b43420dc6873db29cf782ca075963fa7319d818db28faa869ff.json
  apps/fortuna/src/history.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat(argus): controller update loop, refactor chain price service to be subscription-based
  apps/argus/src/adapters/contract.rs
  apps/argus/src/adapters/types.rs
  apps/argus/src/command/run.rs
  apps/argus/src/services/chain_price_service.rs
  apps/argus/src/services/controller_service.rs
  apps/argus/src/services/price_pusher_service.rs
  apps/argus/src/services/subscription_service.rs
  apps/argus/src/state.rs
Due: none

refactor: enhance program exports for improved modularity and clarity
  governance/xc_admin/packages/xc_admin_common/src/index.ts
Due: none

fix(apps/hermes/server): allow subscriptions with empty price feed ids
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/api/ws.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

update PythUtils
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
  target_chains/ethereum/sdk/solidity/PythUtils.sol
Due: none

removed argument
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
  target_chains/ethereum/sdk/solidity/PythUtils.sol
Due: none

chore: add panic-related clippy lints to fortuna
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

chore: allow panic-related clippy lints in tests
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix: remove problematic lints.clippy.tests section
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat(fortuna): Add clippy lint attributes to warn about panic-causing lints
  apps/fortuna/src/lib.rs
  apps/fortuna/src/main.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix: Change lint attributes from warn to deny to match CI configuration
  apps/fortuna/src/lib.rs
  apps/fortuna/src/main.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix(fortuna): Replace panic-causing constructs with safer alternatives
  apps/fortuna/src/api/metrics.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/command/inspect.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/eth_utils/eth_gas_oracle.rs
  apps/fortuna/src/eth_utils/traced_client.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/track.rs
  apps/fortuna/src/state.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

more dead chains
  contract_manager/src/chains.ts
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
Due: none

fix(fortuna): Fix formatting issues
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/state.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

chore(contract manager): Remove old chains and contracts (#2690)
  contract_manager/src/chains.ts
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
Due: none

include provider and request_tx_hash as primary key
  apps/fortuna/.sqlx/query-24bbb5fe24f25a788e489cc80c7a1df3a12ddfefa8aad19738d2ae99a98446c8.json
  apps/fortuna/.sqlx/query-38998f7467be8fe7d15dd632ca6ee8e2b62466d209ce61703da313d422669d51.json
  apps/fortuna/.sqlx/query-795b81369e5b039cfa38df06bd6c8da8610d84f19a294fb8d3a8370a47a3f241.json
  apps/fortuna/.sqlx/query-7d4365a9cb7c9ec16fd4ca60e1d558419954a0326b29180fa9943605813f04e6.json
  apps/fortuna/.sqlx/query-8a02df9420bfbe38457d06cae3d9e5f25a12667635bcd7b13224de2809047ca2.json
  apps/fortuna/.sqlx/query-8cd10cd5839b81bd9538aeb10fdfd27c6e36baf5d90a4fb9e61718f021812710.json
  apps/fortuna/.sqlx/query-905dbc91cd5319537c5c194277d531689ac5c1338396414467496d0f50ddc3f0.json
  apps/fortuna/.sqlx/query-a62e094cee65ae58bd12ce7d3e7df44f5aca31520d1ceced83f492945e850764.json
  apps/fortuna/.sqlx/query-b2baa9f9d46f873a3a7117c38ecab09f56082c5267dbf5180f39c608b6262f5a.json
  apps/fortuna/.sqlx/query-b848d03ffc893e1719d364beb32976ef879e79727c660c973bdad670082f5c36.json
  apps/fortuna/.sqlx/query-ba011bb5690ad6821689bec939c5303c8619b6302ef33145db3bf62259492783.json
  apps/fortuna/.sqlx/query-d720a84194410b43420dc6873db29cf782ca075963fa7319d818db28faa869ff.json
  apps/fortuna/.sqlx/query-ec92cbfb5ec3f6506410f52370db0ea257c81bbf713061b168596afa0c5e5280.json
  apps/fortuna/README.md
  apps/fortuna/migrations/20250502164500_init.up.sql
  apps/fortuna/src/history.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

remove unwraps
  apps/fortuna/src/api.rs
  apps/fortuna/src/api/explorer.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/history.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

making this work on the new contracts
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/config.rs
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper/keeper_metrics.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

contract manager updates
  contract_manager/scripts/execute_vaas.ts
  contract_manager/scripts/list_entropy_contracts.ts
Due: none

feat(contract manager): Add sequence number support to execute_vaas and print Entropy owner (#2692)
  contract_manager/scripts/execute_vaas.ts
  contract_manager/scripts/list_entropy_contracts.ts
Due: none

cleanup
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

cleanup another thing
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/fee.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

add public key and support more types of signatures
  lazer/publisher_sdk/proto/pyth_lazer_transaction.proto
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: impl "early update" functionality, better error handling
  apps/argus/src/services/chain_price_service.rs
  apps/argus/src/services/controller_service.rs
Due: none

add comments
  lazer/publisher_sdk/proto/pyth_lazer_transaction.proto
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: checks-effects-interactions pattern for pyth parse call
  target_chains/ethereum/contracts/contracts/pulse/Scheduler.sol
Due: none

rename some fields
  lazer/publisher_sdk/proto/pyth_lazer_transaction.proto
Due: cargo-fmt-lazer, cargo-clippy-lazer

rename signature type to be more explicit
  lazer/publisher_sdk/proto/pyth_lazer_transaction.proto
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: simplify object sorting and enhance price/product account mapping logic
  governance/xc_admin/packages/xc_admin_common/src/programs/core/core_functions.ts
  governance/xc_admin/packages/xc_admin_frontend/components/ProgramSwitch.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/programs/PythCore.tsx
Due: none

fix(apps/hermes/server): allow subscriptions with empty price feed ids (#2687)
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/api/ws.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

deploy script for entropy upgrades
  target_chains/ethereum/contracts/deploy/zkSyncDeployNewEntropyImpl.ts
Due: none

chore(entropy): deployment script for entropy upgrades (#2697)
  target_chains/ethereum/contracts/deploy/zkSyncDeployNewEntropyImpl.ts
Due: none

reformat imports
  apps/fortuna/src/api.rs
  apps/fortuna/src/api/explorer.rs
  apps/fortuna/src/api/revelation.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/reader.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/eth_utils/nonce_manager.rs
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/history.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
  apps/fortuna/src/keeper/fee.rs
  apps/fortuna/src/keeper/keeper_metrics.rs
  apps/fortuna/src/keeper/process_event.rs
  apps/fortuna/src/keeper/track.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

Better API docs
  apps/fortuna/src/api/explorer.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/history.rs
  apps/fortuna/src/lib.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

cleanup
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/command/inspect.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/eth_utils/eth_gas_oracle.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/track.rs
  apps/fortuna/src/lib.rs
  apps/fortuna/src/types/mod.rs
  apps/fortuna/src/types/percentage.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

better version
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/types/percentage.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna
