Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

chore: bump ver
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(hermes): remove unwrap for product account header (#2765)
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/network/pythnet.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

Fix version
  .github/workflows/docker-quorum.yml
Due: none

Fix
  .github/workflows/docker-quorum.yml
Due: none

Further fixes: backoff reset, use broadcast::channel, default config, drain pending updates
  pyth-lazer-agent/src/lazer_publisher.rs
  pyth-lazer-agent/src/main.rs
  pyth-lazer-agent/src/relayer_session.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

working with actual wormhole transactions
  target_chains/stylus/Cargo.lock
  target_chains/stylus/contracts/wormhole/Cargo.toml
  target_chains/stylus/contracts/wormhole/src/lib.rs
Due: none

feat(entropy-tester): add docker image workflow
  .github/workflows/docker-entropy-tester.yml
Due: none

fix
  .github/workflows/docker-entropy-tester.yml
Due: none

morefix
  .github/workflows/docker-entropy-tester.yml
Due: none

feat(entropy-explorer): add all chains & improve error & not found
  apps/entropy-explorer/NOTES.org
  apps/entropy-explorer/next.config.js
  apps/entropy-explorer/src/components/Home/index.tsx
  apps/entropy-explorer/src/components/Home/results.module.scss
  apps/entropy-explorer/src/components/Home/results.tsx
  apps/entropy-explorer/src/components/Home/search-controls.tsx
  apps/entropy-explorer/src/entropy-deployments.tsx
  apps/entropy-explorer/src/requests.ts
  apps/insights/src/components/Publisher/performance.tsx
  packages/component-library/src/NoResults/index.tsx
Due: none

fix(entropy-explorer): remove placeholder wallet button
  apps/entropy-explorer/src/components/Home/request-drawer.tsx
Due: none

feat(entropy-tester): add docker image workflow (#2772)
  .github/workflows/docker-entropy-tester.yml
Due: none

fix(entropy-tester): adjust cli execution and tsconfigs
  apps/entropy-tester/.gitignore
  apps/entropy-tester/cli/run.js
  apps/entropy-tester/package.json
  apps/entropy-tester/src/index.ts
  apps/entropy-tester/tsconfig.json
Due: none

fix
  apps/entropy-tester/tsconfig.json
Due: none

fix
  apps/entropy-tester/package.json
  apps/entropy-tester/tsconfig.build.json
  apps/entropy-tester/tsconfig.json
Due: none

fix(entropy-tester): adjust cli execution and tsconfigs (#2773)
  apps/entropy-tester/.gitignore
  apps/entropy-tester/cli/run.js
  apps/entropy-tester/package.json
  apps/entropy-tester/src/index.ts
  apps/entropy-tester/tsconfig.build.json
  apps/entropy-tester/tsconfig.json
Due: none

deleting git files
  target_chains/stylus/contracts/wormhole/.github/pull_request_template.md
  target_chains/stylus/contracts/wormhole/.gitignore
  target_chains/stylus/contracts/wormhole/README.md
  target_chains/stylus/contracts/wormhole/header.png
Due: none

Add quorum docker setup (#2770)
  .github/workflows/docker-quorum.yml
  apps/quorum/Dockerfile
Due: none

Add pythnet quorum listere to hermes
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/config/pythnet.rs
  apps/hermes/server/src/network/pythnet.rs
  apps/quorum/src/api.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

Fix ci starknet contract (#2769)
  .github/workflows/ci-starknet-contract.yml
Due: none

Address review eomments
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/network/pythnet.rs
  apps/quorum/Cargo.lock
  apps/quorum/Cargo.toml
Due: cargo-fmt-hermes, cargo-clippy-hermes

Update hermes docker base runner
  apps/hermes/server/Dockerfile
Due: cargo-fmt-hermes, cargo-clippy-hermes

refactor(apps/hermes/server): enable extra clippy lints
  apps/hermes/server/Cargo.toml
  apps/hermes/server/build.rs
  apps/hermes/server/src/api.rs
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/api/rest/get_vaa_ccip.rs
  apps/hermes/server/src/api/types.rs
  apps/hermes/server/src/config.rs
  apps/hermes/server/src/config/cache.rs
  apps/hermes/server/src/main.rs
  apps/hermes/server/src/network/wormhole.rs
  apps/hermes/server/src/serde.rs
  apps/hermes/server/src/state.rs
  apps/hermes/server/src/state/aggregate.rs
  apps/hermes/server/src/state/aggregate/metrics.rs
  apps/hermes/server/src/state/aggregate/wormhole_merkle.rs
  apps/hermes/server/src/state/benchmarks.rs
  apps/hermes/server/src/state/cache.rs
  apps/hermes/server/src/state/metrics.rs
  apps/hermes/server/src/state/wormhole.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore(evm) Add combine Pricefeeds
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
  target_chains/ethereum/sdk/solidity/PythUtils.sol
Due: none

added some test
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
  target_chains/ethereum/sdk/solidity/PythUtils.sol
Due: none

update
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
Due: none

update
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
  target_chains/ethereum/sdk/solidity/PythUtils.sol
Due: none

update PythUtils
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
  target_chains/ethereum/sdk/solidity/Math.sol
  target_chains/ethereum/sdk/solidity/PythErrors.sol
  target_chains/ethereum/sdk/solidity/PythUtils.sol
Due: none

update PythUtils
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
  target_chains/ethereum/sdk/solidity/PythUtils.sol
Due: none

removed argument
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
  target_chains/ethereum/sdk/solidity/PythUtils.sol
Due: none

wip-update
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
  target_chains/ethereum/sdk/solidity/Math.sol
  target_chains/ethereum/sdk/solidity/PythUtils.sol
Due: none

update
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
  target_chains/ethereum/sdk/solidity/PythErrors.sol
  target_chains/ethereum/sdk/solidity/PythUtils.sol
Due: none

fix ci
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
Due: none
