Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

chore: linting
  governance/xc_admin/packages/xc_admin_frontend/next-env.d.ts
  lazer/sdk/js/package.json
  packages/create-pyth-package/src/templates/web-app/turbo.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: linting and updated the generator to include some missing bits
  apps/pyth-app/package.json
  apps/pyth-app/src/app/globals.scss
  apps/pyth-app/src/app/layout.tsx
  apps/pyth-app/src/app/page.module.scss
  apps/pyth-app/stylelint.config.js
  governance/xc_admin/packages/xc_admin_frontend/next-env.d.ts
  packages/create-pyth-package/src/templates/web-app/package.json
  packages/create-pyth-package/src/templates/web-app/stylelint.config.js
  pnpm-lock.yaml
Due: none

chore: fix CI
  .github/workflows/ci-lazer-evm-contract.yml
  .github/workflows/ci-lazer-rust.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: update pnpm.lock
  pnpm-lock.yaml
Due: none

fix: fixed the web-app generator and the outputted layout from the generator run
  apps/pyth-app/src/app/layout.tsx
  packages/create-pyth-package/src/templates/web-app/src/app/layout.tsx
Due: none

chore(pyth-app): removed unused next.js fonts
  apps/pyth-app/src/app/layout.tsx
Due: none

chore(New Chain) Deploy Arc Testnet
  contract_manager/src/store/chains/EvmChains.json
  contract_manager/src/store/contracts/EvmPriceFeedContracts.json
  contract_manager/src/store/contracts/EvmWormholeContracts.json
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

replace chains with formats pyth pro
  apps/developer-hub/content/docs/price-feeds/pro/payload-reference.mdx
  apps/developer-hub/content/docs/price-feeds/pro/subscribe-to-prices.mdx
Due: none

chore(pyth-app): started integrating css-in-js that actually works easily
  apps/pyth-app/package.json
  apps/pyth-app/src/app/layout.styles.ts
  apps/pyth-app/src/app/layout.tsx
  apps/pyth-app/src/pyth-app.css
  apps/pyth-app/src/styles/index.ts
  apps/pyth-app/turbo.json
  packages/component-library/package.json
  packages/component-library/src/styles/theme.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: patch dependencies
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore(pyth-app): wired up css-in-js correctly and now we have dancing text lol
  apps/pyth-app/package.json
  apps/pyth-app/src/app/globals.scss
  apps/pyth-app/src/app/layout.styles.ts
  apps/pyth-app/src/app/layout.tsx
  apps/pyth-app/src/app/page.module.scss
  apps/pyth-app/src/app/page.styles.ts
  apps/pyth-app/src/app/page.tsx
  apps/pyth-app/src/pyth-app.css
  apps/pyth-app/turbo.json
  packages/component-library/src/styles/theme.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(pyth-app): small tweaks to index page metadata
  apps/pyth-app/src/app/layout.tsx
Due: none

chore(dev-hub) Enable Vercel Analytics
  apps/developer-hub/package.json
  apps/developer-hub/src/components/Root/index.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix alloy dependency issue
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/network/ethereum.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(dev-hub) Format Pro Plaground
  apps/developer-hub/src/components/Playground/OutputPanel/index.tsx
Due: none

fix(dev-hub) Playground: Add callout for the disclaimer
  apps/developer-hub/src/components/Pages/PlaygroundPage/index.module.scss
  apps/developer-hub/src/components/Pages/PlaygroundPage/index.tsx
Due: none

changes
  apps/developer-hub/src/components/Pages/PlaygroundPage/index.tsx
  apps/developer-hub/src/components/Playground/OutputPanel/index.tsx
  apps/developer-hub/src/components/Playground/hooks/use-stream-execution.ts
Due: none

fix(dev-hub) Pyth Pro Auto scroll issue
  apps/developer-hub/src/components/Playground/OutputPanel/index.tsx
Due: none

remove pythnet guardian set
  apps/hermes/server/src/config/wormhole.rs
  apps/hermes/server/src/network/pythnet.rs
  apps/hermes/server/src/network/wormhole.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

reuse contract addr
  apps/hermes/server/src/config/wormhole.rs
  apps/hermes/server/src/network/pythnet.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix: change wormhole module visibility from public to private
  apps/hermes/server/src/config.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

feat(hermes-server): add optional token to all apis and track usage
  apps/hermes/server/Cargo.lock
  apps/hermes/server/src/api.rs
  apps/hermes/server/src/api/metrics_middleware.rs
  apps/hermes/server/src/api/token.rs
  apps/hermes/server/src/api/ws.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

feat(hermes-client): add access token support for API authentication
  Cargo.lock
  apps/hermes/client/js/package.json
  apps/hermes/client/js/src/hermes-client.ts
  apps/hermes/client/rust/Cargo.toml
  apps/hermes/client/rust/src/client.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

config metrics fix
  apps/hip-3-pusher/src/pusher/metrics.py
Due: none

feat(component-library): seeded initial v2 of the lib with a basic button and styling. also wired in all generated css
  apps/pyth-app/src/app/(page)/page.styles.ts
  apps/pyth-app/src/app/(page)/page.tsx
  apps/pyth-app/src/app/layout.tsx
  packages/component-library/eslint.config.js
  packages/component-library/package.json
  packages/component-library/src/v2/components/Button/Button.tsx
  packages/component-library/src/v2/components/Button/component.styles.ts
  packages/component-library/src/v2/components/Button/index.ts
  packages/component-library/src/v2/components/Button/types.ts
  packages/component-library/src/v2/components/index.ts
  packages/component-library/src/v2/index.ts
  packages/component-library/src/v2/theme/index.ts
  packages/component-library/src/v2/theme/style-funcs.ts
  packages/component-library/src/v2/theme/theme.ts
  packages/component-library/src/v2/v2-reset.css
  packages/component-library/src/v2/v2-theme.css
  packages/component-library/turbo.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(pyth-app): basic left nav panel on desktop is up
  apps/pyth-app/eslint.config.js
  apps/pyth-app/package.json
  apps/pyth-app/src/app/(page)/page.styles.ts
  apps/pyth-app/src/app/(page)/page.tsx
  apps/pyth-app/src/app/layout.tsx
  apps/pyth-app/src/components/Layout/PythAppLayout.tsx
  apps/pyth-app/src/components/Layout/component.styles.ts
  apps/pyth-app/src/components/Layout/index.ts
  apps/pyth-app/src/pyth-app.css
  apps/pyth-app/src/routes/index.ts
  apps/pyth-app/src/styles/index.ts
  packages/component-library/package.json
  packages/component-library/src/v2/components/Button/Button.tsx
  packages/component-library/src/v2/components/Button/component.styles.ts
  packages/component-library/src/v2/components/Button/types.ts
  packages/component-library/src/v2/components/HtmlWithLang/HtmlWithLang.tsx
  packages/component-library/src/v2/components/HtmlWithLang/index.ts
  packages/component-library/src/v2/components/HtmlWithLang/types.ts
  packages/component-library/src/v2/components/LeftNav/LeftNav.tsx
  packages/component-library/src/v2/components/LeftNav/component.styles.ts
  packages/component-library/src/v2/components/LeftNav/index.ts
  packages/component-library/src/v2/components/LeftNav/types.ts
  packages/component-library/src/v2/components/LeftNavLink/LeftNavLink.tsx
  packages/component-library/src/v2/components/LeftNavLink/component.styles.ts
  packages/component-library/src/v2/components/LeftNavLink/index.ts
  packages/component-library/src/v2/components/index.ts
  packages/component-library/src/v2/svg/PythLogo.tsx
  packages/component-library/src/v2/theme/theme.ts
  packages/component-library/src/v2/v2-theme.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: added correct project name and started working on current user placeholder
  apps/pyth-app/package.json
  apps/pyth-app/src/components/Layout/PythAppLayout.tsx
  packages/component-library/package.json
  packages/component-library/src/v2/components/LeftNav/LeftNav.tsx
  packages/component-library/src/v2/components/LeftNav/component.styles.ts
  packages/component-library/src/v2/components/LeftNav/index.ts
  packages/component-library/src/v2/components/LeftNav/types.ts
  packages/component-library/src/v2/index.ts
  packages/component-library/src/v2/types/current-user.ts
  packages/component-library/src/v2/v2-theme.css
Due: none

chore: linting
  apps/pyth-app/.prettierignore
  apps/pyth-app/package.json
  apps/pyth-app/turbo.json
  governance/xc_admin/packages/xc_admin_common/package.json
  packages/component-library/.prettierignore
  packages/component-library/turbo.json
Due: none

fix(pyth-app): fixed build:css command
  apps/pyth-app/turbo.json
Due: none

chore(pyth-app): made more tweaks to the left panel to get it closer to the in-progress designs
  apps/pyth-app/package.json
  apps/pyth-app/src/components/Layout/PythAppLayout.tsx
  packages/component-library/package.json
  packages/component-library/src/v2/components/Avatar/Avatar.tsx
  packages/component-library/src/v2/components/Avatar/component.styles.ts
  packages/component-library/src/v2/components/Avatar/index.ts
  packages/component-library/src/v2/components/LeftNav/LeftNav.tsx
  packages/component-library/src/v2/components/LeftNav/component.styles.ts
  packages/component-library/src/v2/components/LeftNav/types.ts
  packages/component-library/src/v2/components/index.ts
  packages/component-library/src/v2/theme/theme.ts
  packages/component-library/src/v2/v2-theme.css
  pnpm-lock.yaml
Due: none

temp fix
  apps/developer-hub/content/docs/price-feeds/pro/payload-reference.mdx
  apps/developer-hub/src/components/StaticCodePreview/index.module.scss
  apps/developer-hub/src/components/StaticCodePreview/index.tsx
  apps/developer-hub/src/components/TwoColumnLayout/index.module.scss
  apps/developer-hub/src/components/TwoColumnLayout/index.tsx
  apps/developer-hub/src/mdx-components.tsx
Due: none

Initial POC for cardano
  lazer/contracts/cardano/aiken/.github/workflows/continuous-integration.yml
  lazer/contracts/cardano/aiken/.gitignore
  lazer/contracts/cardano/aiken/README.md
  lazer/contracts/cardano/aiken/aiken.lock
  lazer/contracts/cardano/aiken/aiken.toml
  lazer/contracts/cardano/aiken/lib/README.md
  lazer/contracts/cardano/aiken/lib/validate.ak
  lazer/contracts/cardano/aiken/plutus.json
  lazer/contracts/cardano/aiken/validators/pyth.ak
  lazer/contracts/cardano/pyth_cardano.md
  lazer/contracts/cardano/typescript/package-lock.json
  lazer/contracts/cardano/typescript/package.json
  lazer/contracts/cardano/typescript/test/hello-yaci.ts
  lazer/contracts/cardano/typescript/test/yaci-provider.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(hip-3-pusher): Support SEDA last price field (#3358)
  apps/hip-3-pusher/pyproject.toml
  apps/hip-3-pusher/src/pusher/config.py
  apps/hip-3-pusher/src/pusher/main.py
  apps/hip-3-pusher/src/pusher/metrics.py
  apps/hip-3-pusher/src/pusher/price_state.py
  apps/hip-3-pusher/src/pusher/publisher.py
  apps/hip-3-pusher/src/pusher/seda_listener.py
  apps/hip-3-pusher/tests/test_price_state.py
  apps/hip-3-pusher/uv.lock
Due: none

chore: bumped deps to get latest fixes
  apps/pyth-app/src/components/Layout/PythAppLayout.styles.ts
  apps/pyth-app/src/components/Layout/PythAppLayout.tsx
  packages/component-library/package.json
  packages/component-library/src/v2/components/Avatar/Avatar.styles.ts
  packages/component-library/src/v2/components/Avatar/Avatar.tsx
  packages/component-library/src/v2/components/Button/Button.styles.ts
  packages/component-library/src/v2/components/Button/Button.tsx
  packages/component-library/src/v2/components/LeftNav/LeftNav.styles.ts
  packages/component-library/src/v2/components/LeftNav/LeftNav.tsx
  packages/component-library/src/v2/components/LeftNavLink/LeftNavLink.styles.ts
  packages/component-library/src/v2/components/LeftNavLink/LeftNavLink.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: lockfile
  pnpm-lock.yaml
Due: none

feat: add TableGrid component to v2 library
  packages/component-library/package.json
  packages/component-library/src/v2/components/TableGrid/TableGrid.styles.ts
  packages/component-library/src/v2/components/TableGrid/TableGrid.tsx
  packages/component-library/src/v2/components/TableGrid/index.ts
  packages/component-library/src/v2/components/TableGrid/types.ts
  packages/component-library/src/v2/components/index.ts
  packages/component-library/src/v2/v2-theme.css
Due: none
