Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/fortuna/Cargo.toml --all
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/fortuna/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./target_chains/solana/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./target_chains/solana/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./lazer/Cargo.toml --all
  pass_filenames: false

feat(target_chains/starknet): scarb & snforge upgrade (#2570)
  .github/workflows/ci-starknet-contract.yml
  .github/workflows/ci-starknet-tools.yml
  target_chains/starknet/contracts/.tool-versions
  target_chains/starknet/contracts/README.md
  target_chains/starknet/contracts/Scarb.lock
  target_chains/starknet/contracts/Scarb.toml
  target_chains/starknet/contracts/deploy/deploy.sh
  target_chains/starknet/contracts/src/byte_buffer.cairo
  target_chains/starknet/contracts/src/hash.cairo
  target_chains/starknet/contracts/src/lib.cairo
  target_chains/starknet/contracts/src/merkle_tree.cairo
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/pyth/errors.cairo
  target_chains/starknet/contracts/src/pyth/fake_upgrades.cairo
  target_chains/starknet/contracts/src/pyth/governance.cairo
  target_chains/starknet/contracts/src/pyth/interface.cairo
  target_chains/starknet/contracts/src/pyth/price_update.cairo
  target_chains/starknet/contracts/src/reader.cairo
  target_chains/starknet/contracts/src/util.cairo
  target_chains/starknet/contracts/src/wormhole.cairo
  target_chains/starknet/contracts/src/wormhole/governance.cairo
  target_chains/starknet/contracts/src/wormhole/interface.cairo
  target_chains/starknet/contracts/src/wormhole/parse_vm.cairo
  target_chains/starknet/contracts/tests/data.cairo
  target_chains/starknet/contracts/tests/pyth.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
  target_chains/starknet/contracts/tests/wormhole_guardians.cairo
  target_chains/starknet/sdk/js/src/abi/erc20.json
  target_chains/starknet/tools/test_vaas/rust-toolchain
Due: none

test: expand testActivateDeactivateSubscription
  target_chains/ethereum/contracts/contracts/pulse/scheduler/Scheduler.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
Due: none

doc: update docs for getActiveSubscriptions
  target_chains/ethereum/contracts/contracts/pulse/scheduler/IScheduler.sol
Due: none

fix(pulse-scheduler): disallow all updates to permanent subs, remove GasConfig (#2602)
  target_chains/ethereum/contracts/contracts/pulse/scheduler/Scheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/scheduler/SchedulerErrors.sol
  target_chains/ethereum/contracts/contracts/pulse/scheduler/SchedulerState.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseSchedulerTestUtils.t.sol
Due: none

feat(pulse-scheduler): optimize gas when querying active subscriptions (#2604)
  target_chains/ethereum/contracts/contracts/pulse/scheduler/IScheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/scheduler/Scheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/scheduler/SchedulerState.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
Due: none

refactor: rename pulse -> echo
  target_chains/ethereum/contracts/contracts/echo/Echo.sol
  target_chains/ethereum/contracts/contracts/echo/EchoErrors.sol
  target_chains/ethereum/contracts/contracts/echo/EchoEvents.sol
  target_chains/ethereum/contracts/contracts/echo/EchoState.sol
  target_chains/ethereum/contracts/contracts/echo/EchoUpgradeable.sol
  target_chains/ethereum/contracts/contracts/echo/IEcho.sol
  target_chains/ethereum/contracts/contracts/pulse/IScheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/README.md
  target_chains/ethereum/contracts/contracts/pulse/Scheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerErrors.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerEvents.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerState.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerUpgradeable.sol
  target_chains/ethereum/contracts/forge-test/Echo.t.sol
  target_chains/ethereum/contracts/forge-test/EchoGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/utils/EchoTestUtils.sol
  target_chains/ethereum/contracts/forge-test/utils/MockPriceFeedTestUtils.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseSchedulerTestUtils.t.sol
Due: none

refactor: rename pulse -> echo (#2606)
  target_chains/ethereum/contracts/contracts/echo/Echo.sol
  target_chains/ethereum/contracts/contracts/echo/EchoErrors.sol
  target_chains/ethereum/contracts/contracts/echo/EchoEvents.sol
  target_chains/ethereum/contracts/contracts/echo/EchoState.sol
  target_chains/ethereum/contracts/contracts/echo/EchoUpgradeable.sol
  target_chains/ethereum/contracts/contracts/echo/IEcho.sol
  target_chains/ethereum/contracts/contracts/pulse/IScheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/README.md
  target_chains/ethereum/contracts/contracts/pulse/Scheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerErrors.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerEvents.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerState.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerUpgradeable.sol
  target_chains/ethereum/contracts/forge-test/Echo.t.sol
  target_chains/ethereum/contracts/forge-test/EchoGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/utils/EchoTestUtils.sol
  target_chains/ethereum/contracts/forge-test/utils/MockPriceFeedTestUtils.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseSchedulerTestUtils.t.sol
Due: none

feat: bump ver
  target_chains/solana/Cargo.lock
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Fix missed FeedId anchor serialization patch (#2603)
  target_chains/solana/Cargo.lock
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Add governance capabilities to Pulse Scheduler contract
  target_chains/ethereum/contracts/contracts/pulse/PulseSchedulerGovInstructions.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseSchedulerGovernance.sol
  target_chains/ethereum/contracts/contracts/pulse/Scheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerState.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerUpgradeable.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGovernance.t.sol
Due: none

Consolidate admin fields in State and remove PulseSchedulerGovInstructions.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseSchedulerGovInstructions.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseSchedulerGovernance.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerState.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerUpgradeable.sol
Due: none

Update magic value to PULSE in hex
  target_chains/ethereum/contracts/contracts/pulse/SchedulerUpgradeable.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGovernance.t.sol
Due: none

feat(pulse): add governance instructions, admin transfer
  target_chains/ethereum/contracts/contracts/pulse/README.md
  target_chains/ethereum/contracts/contracts/pulse/Scheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerGovernance.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerState.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerUpgradeable.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGovernance.t.sol
Due: none

fix: small improvements
  target_chains/ethereum/contracts/contracts/pulse/SchedulerGovernance.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGovernance.t.sol
Due: none

feat(price-pusher): add market hours updates and metrics tracking
  apps/price_pusher/package.json
  apps/price_pusher/src/evm/command.ts
  apps/price_pusher/src/market-hours.ts
  apps/price_pusher/src/metrics.ts
Due: none

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix(pyth-governance): add no-op for SetFeeInToken action on EVM chains and update action indices
  target_chains/ethereum/contracts/contracts/pyth/PythGovernance.sol
  target_chains/ethereum/contracts/contracts/pyth/PythGovernanceInstructions.sol
Due: none

feat(pyth): implement TWAP calculation directly in Pyth contract
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/sdk/solidity/PythUtils.sol
Due: none

refactor: remove unused calculateTwap function definition from PythUtils.json
  target_chains/ethereum/sdk/solidity/abis/PythUtils.json
Due: none

feat(ws): add connection timeout for WebSocket connections
  apps/hermes/server/src/api/ws.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

feat(ws): replace connection timeout with connection deadline for improved WebSocket management
  apps/hermes/server/src/api/ws.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(ws): simplify return statement in WebSocket close handling
  apps/hermes/server/src/api/ws.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

feat(sse): implement connection timeout for SSE streams with a maximum duration
  apps/hermes/server/src/api/rest/v2/sse.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

feat(sse): update maximum connection duration for SSE streams to 24 hours
  apps/hermes/server/src/api/rest/v2/sse.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

refactor(sse): clone state and price_ids for use inside async block
  apps/hermes/server/src/api/rest/v2/sse.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

refactor(sse): replace connection deadline with start time for SSE stream duration check
  apps/hermes/server/src/api/rest/v2/sse.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore: bump version to 0.8.6 in Cargo files
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
Due: cargo-fmt-hermes, cargo-clippy-hermes

docs(sse): update price_stream_sse_handler documentation to clarify connection closure after 24 hours
  apps/hermes/server/src/api/rest/v2/sse.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

refactor(sse): reorganize struct
  apps/hermes/server/src/api/rest/v2/sse.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore(lazer): fix sdk package bugs link
  lazer/sdk/js/package.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer): fix sdk package bugs link (#2613)
  lazer/sdk/js/package.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer): remove wrong publish script from js package
  lazer/sdk/js/package.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer): remove wrong publish script from js package (#2614)
  lazer/sdk/js/package.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

duplicating structs and old events
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/contracts/entropy/EntropyState.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyEventsV2.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyStructsV2.sol
  target_chains/ethereum/entropy_sdk/solidity/IEntropy.sol
Due: none

ic
  contract_manager/scripts/common.ts
  contract_manager/src/chains.ts
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

update
  contract_manager/store/chains/EvmChains.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

sc
  target_chains/ethereum/contracts/deploy.sh
  target_chains/ethereum/contracts/package.json
Due: none

update
  contract_manager/scripts/common.ts
Due: none

fix
  vercel-ignore.sh
Due: none

sc
  contract_manager/scripts/common.ts
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
