Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana

json structured logging
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/main.rs
Due: cargo-fmt-fortuna

refactor(target_chains/starknet): remove Result from reader
  target_chains/starknet/contracts/src/hash.cairo
  target_chains/starknet/contracts/src/merkle_tree.cairo
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/reader.cairo
  target_chains/starknet/contracts/src/wormhole.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
Due: none

add executes_governance_instruction test
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/fuel/contracts/Cargo.lock
  target_chains/fuel/contracts/Cargo.toml
  target_chains/fuel/contracts/pyth-contract/src/data_structures/governance_instruction.sw
  target_chains/fuel/contracts/pyth-contract/src/data_structures/wormhole_light.sw
  target_chains/fuel/contracts/pyth-contract/src/events.sw
  target_chains/fuel/contracts/pyth-contract/src/main.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/wormhole_light.sw
  target_chains/fuel/contracts/pyth-interface/src/interface.sw
  target_chains/fuel/contracts/rust-toolchain
  target_chains/fuel/contracts/scripts/deploy_pyth.rs
  target_chains/fuel/contracts/src/constants.rs
  target_chains/fuel/contracts/src/pyth_utils.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/ema_price.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/ema_price_no_older_than.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/ema_price_unsafe.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/parse_price_feed_updates.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/price.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/price_no_older_than.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/price_unsafe.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/update_fee.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/update_price_feeds.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/update_price_feeds_if_necessary.rs
  target_chains/fuel/contracts/tests/functions/pyth_governance/execute_governance_instruction.rs
  target_chains/fuel/contracts/tests/functions/pyth_info/price_feed_unsafe.rs
  target_chains/fuel/contracts/tests/functions/pyth_init/constructor.rs
  target_chains/fuel/contracts/tests/utils/interface/pyth_init.rs
  target_chains/fuel/contracts/tests/utils/interface/wormhole_guardians.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

refactor(hermes): state->wormhole/metrics downcasting
  apps/hermes/src/api.rs
  apps/hermes/src/api/metrics_middleware.rs
  apps/hermes/src/api/ws.rs
  apps/hermes/src/metrics_server.rs
  apps/hermes/src/network/pythnet.rs
  apps/hermes/src/network/wormhole.rs
  apps/hermes/src/state.rs
  apps/hermes/src/state/aggregate.rs
  apps/hermes/src/state/metrics.rs
  apps/hermes/src/state/wormhole.rs
Due: cargo-fmt-hermes

refactor(target_chains/starknet): remove Result from reader (#1536)
  target_chains/starknet/contracts/src/hash.cairo
  target_chains/starknet/contracts/src/merkle_tree.cairo
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/reader.cairo
  target_chains/starknet/contracts/src/wormhole.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
Due: none

add test for SetValidPeriod
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/fuel/contracts/pyth-contract/src/main.sw
  target_chains/fuel/contracts/src/pyth_utils.rs
  target_chains/fuel/contracts/tests/functions/pyth_governance/execute_governance_instruction.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

Solve
  apps/hermes/Cargo.lock
  target_chains/cosmwasm/Cargo.lock
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes

use spans to create a hierarchy of logs
  apps/fortuna/Cargo.lock
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

minor imp
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

Solve (#1539)
  apps/hermes/Cargo.lock
  target_chains/cosmwasm/Cargo.lock
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes

remove chain id
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

add a sequence processing
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

refactor(target_chains/starknet): remove Result from wormhole
  target_chains/starknet/contracts/src/hash.cairo
  target_chains/starknet/contracts/src/merkle_tree.cairo
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/wormhole.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
Due: none

Fix sdk again
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Try this
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Revert "Fix sdk again"
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore(aptos): bump to 3.1.0 toolchain/cli
  .github/workflows/ci-aptos-contract.yml
  target_chains/aptos/contracts/Move.toml
  target_chains/aptos/start_node.sh
Due: none

added comments
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

consistent with other threads
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

extract method out
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

add field to process block range
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

add field to watch events logs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

rename method
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

extract process batch method
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

tidy
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

update log for eth
  apps/fortuna/src/chain/ethereum.rs
Due: cargo-fmt-fortuna

remove comment
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

update version
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna

add test for AuthorizeGovernanceDataSourceTransfer
  target_chains/fuel/contracts/pyth-contract/src/data_structures/governance_instruction.sw
  target_chains/fuel/contracts/pyth-contract/src/main.sw
  target_chains/fuel/contracts/src/pyth_utils.rs
  target_chains/fuel/contracts/tests/functions/pyth_governance/execute_governance_instruction.rs
  target_chains/fuel/contracts/tests/utils/interface/pyth_governance.rs
Due: none

remove SetWormholeAddress
  target_chains/fuel/contracts/pyth-contract/src/data_structures/governance_instruction.sw
  target_chains/fuel/contracts/pyth-contract/src/main.sw
Due: none

add test for SetDataSources
  target_chains/fuel/contracts/src/pyth_utils.rs
  target_chains/fuel/contracts/tests/functions/pyth_governance/execute_governance_instruction.rs
Due: none

remove WormholeAddressSetEvent
  target_chains/fuel/contracts/pyth-contract/src/events.sw
Due: none

remove SetWormholeAddress
  target_chains/fuel/contracts/pyth-interface/src/data_structures/governance_instruction.sw
Due: none

remove SetWormholeAddressPayload
  target_chains/fuel/contracts/pyth-interface/src/data_structures/governance_payload.sw
Due: none

remove SetWormholeAddressPayload and SetWormholeAddress imports
  target_chains/fuel/contracts/pyth-contract/src/data_structures/governance_instruction.sw
  target_chains/fuel/contracts/pyth-contract/src/main.sw
Due: none

remove GovernanceAction::SetWormholeAddress
  target_chains/fuel/contracts/src/pyth_utils.rs
Due: none

address feedback
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

feat(fortuna_staging): use spans to create a hierarchy of logs (#1540)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna
