Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana

remove println
  apps/fortuna/src/command/run.rs
Due: cargo-fmt-fortuna

fix
  apps/fortuna/src/command/run.rs
Due: cargo-fmt-fortuna

fix
  apps/fortuna/src/main.rs
Due: cargo-fmt-fortuna

remove RpcLabel
  apps/fortuna/src/metrics.rs
Due: cargo-fmt-fortuna

total gas spent metrics
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/metrics.rs
Due: cargo-fmt-fortuna

pre commit
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

rename track_duration
  apps/fortuna/src/command/run.rs
Due: cargo-fmt-fortuna

remove metrics file
  apps/fortuna/src/metrics.rs
Due: cargo-fmt-fortuna

isolate keeper metrics
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

add retry lag
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

simplify improt
  apps/fortuna/src/command/run.rs
Due: cargo-fmt-fortuna

move registry out of metrics
  apps/fortuna/src/api.rs
  apps/fortuna/src/api/metrics.rs
Due: cargo-fmt-fortuna

module removed
  apps/fortuna/src/main.rs
Due: cargo-fmt-fortuna

update version
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna

remove comment
  apps/fortuna/src/api/health.rs
Due: cargo-fmt-fortuna

chore(target_chains/starknet): add a tool for generating test VAA data (#1561)
  .github/workflows/ci-starknet-tools.yml
  target_chains/starknet/tools/test_vaas/Cargo.lock
  target_chains/starknet/tools/test_vaas/Cargo.toml
  target_chains/starknet/tools/test_vaas/rust-toolchain
  target_chains/starknet/tools/test_vaas/src/bin/wormhole_mainnet_upgrades.rs
  target_chains/starknet/tools/test_vaas/src/lib.rs
Due: none

feat(target_chains/starknet): verify pyth governance vm
  target_chains/starknet/contracts/deploy/local_deploy
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/pyth/errors.cairo
  target_chains/starknet/contracts/src/pyth/interface.cairo
  target_chains/starknet/contracts/tests/pyth.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
Due: none

add block timestamp lag
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

chore(target_chains/starknet): generate wormhole VAAs for tests
  .github/workflows/ci-starknet-tools.yml
  target_chains/starknet/tools/test_vaas/Cargo.lock
  target_chains/starknet/tools/test_vaas/Cargo.toml
  target_chains/starknet/tools/test_vaas/src/bin/generate_keypair.rs
  target_chains/starknet/tools/test_vaas/src/bin/generate_wormhole_vaas.rs
  target_chains/starknet/tools/test_vaas/src/lib.rs
Due: none

traced client implementation
  apps/fortuna/src/chain.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/traced_client.rs
  apps/fortuna/src/command.rs
  apps/fortuna/src/command/register_provider.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/command/setup_provider.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/main.rs
Due: cargo-fmt-fortuna

Fix
  apps/price_pusher/src/solana/solana.ts
Due: none

Improvde test
  price_service/sdk/js/src/__tests__/AccumulatorUpdateData.test.ts
Due: none

chore(target_chains/starknet): generate wormhole VAAs for tests (#1570)
  .github/workflows/ci-starknet-tools.yml
  target_chains/starknet/tools/test_vaas/Cargo.lock
  target_chains/starknet/tools/test_vaas/Cargo.toml
  target_chains/starknet/tools/test_vaas/src/bin/generate_keypair.rs
  target_chains/starknet/tools/test_vaas/src/bin/generate_wormhole_vaas.rs
  target_chains/starknet/tools/test_vaas/src/lib.rs
Due: none

feat(target_chains/starknet): verify pyth governance vm (#1569)
  target_chains/starknet/contracts/deploy/local_deploy
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/pyth/errors.cairo
  target_chains/starknet/contracts/src/pyth/interface.cairo
  target_chains/starknet/contracts/tests/pyth.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
Due: none

fix(hermes): work around clippy auto-fix bug
  apps/hermes/src/api/rest/v2/sse.rs
  apps/hermes/src/api/ws.rs
  apps/hermes/src/price_feeds_metadata.rs
  apps/hermes/src/state/aggregate.rs
  apps/hermes/src/state/wormhole.rs
Due: cargo-fmt-hermes

refactor(hermes): state->wormhole/metrics downcasting (#1535)
  apps/hermes/src/api.rs
  apps/hermes/src/api/metrics_middleware.rs
  apps/hermes/src/api/rest/v2/sse.rs
  apps/hermes/src/api/ws.rs
  apps/hermes/src/metrics_server.rs
  apps/hermes/src/network/pythnet.rs
  apps/hermes/src/network/wormhole.rs
  apps/hermes/src/price_feeds_metadata.rs
  apps/hermes/src/state.rs
  apps/hermes/src/state/aggregate.rs
  apps/hermes/src/state/metrics.rs
  apps/hermes/src/state/wormhole.rs
Due: cargo-fmt-hermes

refactor(hermes): make `State` hidden to force APIs
  apps/hermes/src/api.rs
  apps/hermes/src/api/metrics_middleware.rs
  apps/hermes/src/api/rest/v2/price_feeds_metadata.rs
  apps/hermes/src/api/rest/v2/sse.rs
  apps/hermes/src/api/ws.rs
  apps/hermes/src/main.rs
  apps/hermes/src/metrics_server.rs
  apps/hermes/src/network/pythnet.rs
  apps/hermes/src/network/wormhole.rs
  apps/hermes/src/state.rs
  apps/hermes/src/state/aggregate.rs
  apps/hermes/src/state/price_feeds_metadata.rs
Due: cargo-fmt-hermes

refactor(hermes): make `State` hidden to force APIs (#1537)
  apps/hermes/src/api.rs
  apps/hermes/src/api/metrics_middleware.rs
  apps/hermes/src/api/rest/v2/price_feeds_metadata.rs
  apps/hermes/src/api/rest/v2/sse.rs
  apps/hermes/src/api/ws.rs
  apps/hermes/src/main.rs
  apps/hermes/src/metrics_server.rs
  apps/hermes/src/network/pythnet.rs
  apps/hermes/src/network/wormhole.rs
  apps/hermes/src/state.rs
  apps/hermes/src/state/aggregate.rs
  apps/hermes/src/state/price_feeds_metadata.rs
Due: cargo-fmt-hermes

address feedback
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

tidy
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

update commetn
  apps/fortuna/src/command/run.rs
Due: cargo-fmt-fortuna

add polygon amoy and orange subnet
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

Fix default js sdk amount
  express_relay/sdk/js/src/examples/simpleSearcher.ts
Due: none

(chore): Add polygon amoy and orange subnet (#1573)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

update comment
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

feat(fortuna): implement metrics (#1560)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/api.rs
  apps/fortuna/src/api/metrics.rs
  apps/fortuna/src/api/revelation.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

deploy entropy on orange_testnet
  contract_manager/store/contracts/EvmEntropyContracts.yaml
Due: none

fix(xc_admin_frontend): inject env variable for RPC in docker build
  .github/workflows/push-xc-admin-frontend-image.yml
  governance/xc_admin/packages/xc_admin_frontend/Dockerfile
Due: none
