Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/solana/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

fix lightlink issue
  fortuna/src/chain/ethereum.rs
Due: none

update link
  fortuna/config.yaml
Due: none

[fortuna] update config and abi (#1187)
  fortuna/Cargo.lock
  fortuna/Cargo.toml
  fortuna/config.yaml
  fortuna/src/abi.json
  fortuna/src/chain/ethereum.rs
  target_chains/ethereum/entropy_sdk/solidity/README.md
Due: none

chore(eth) Add zksync-sepolia
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/contracts/networks/300.json
Due: none

Update status
  fortuna/Cargo.toml
Due: none

Lfg
  target_chains/cosmwasm/Cargo.lock
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Initialize
  target_chains/solana/cli/src/cli.rs
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Update address
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

[pythnet-sdk] Fix CI. Make dependency path. (#1188)
  fortuna/Cargo.toml
  target_chains/cosmwasm/Cargo.lock
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

cleanup
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

[solana-receiver] Initialize receiver from CLI (#1191)
  target_chains/solana/cli/src/cli.rs
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Do it
  .pre-commit-config.yaml
  pythnet/pythnet_sdk/src/messages.rs
  target_chains/solana/Cargo.lock
  target_chains/solana/cli/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/output.rs
  target_chains/solana/programs/pyth-solana-receiver/src/error.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/anchor_vaa.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/config.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/price_update.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

add check comment
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Remove keypairs
  target_chains/solana/program_address.json
  target_chains/solana/program_address_orig.json
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Works
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/pyth-solana-receiver/output.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Next
  target_chains/solana/programs/pyth-solana-receiver/src/state/price_update.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Cleanup deps
  target_chains/solana/Cargo.lock
  target_chains/solana/cli/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Add better docs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/config.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

[solana-receiver] Post price update (#1189)
  .pre-commit-config.yaml
  pythnet/pythnet_sdk/src/messages.rs
  target_chains/solana/Cargo.lock
  target_chains/solana/cli/Cargo.toml
  target_chains/solana/cli/src/main.rs
  target_chains/solana/program_address.json
  target_chains/solana/program_address_orig.json
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/error.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/anchor_vaa.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/config.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/price_update.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Docs
  target_chains/solana/Anchor.toml
  target_chains/solana/README.md
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Fix
  target_chains/solana/README.md
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Do it
  target_chains/solana/README.md
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

it should be a sample config
  fortuna/.gitignore
  fortuna/README.md
  fortuna/config.sample.yaml
Due: none

chore(eth) Add zksync-sepolia (#1190)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/contracts/networks/300.json
Due: none

fix pre commit
  fortuna/README.md
Due: none

Address feedback
  target_chains/solana/README.md
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

[solana-reciever] update docs (#1192)
  target_chains/solana/Anchor.toml
  target_chains/solana/README.md
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

implement code for upgrade contract
  target_chains/ethereum/contracts/contracts/executor/Executor.sol
  target_chains/ethereum/contracts/contracts/executor/ExecutorState.sol
  target_chains/ethereum/contracts/contracts/executor/ExecutorUpgradable.sol
  target_chains/ethereum/contracts/forge-test/Executor.t.sol
Due: none

upgrade executor tests
  target_chains/ethereum/contracts/forge-test/ExecutorUpgrade.t.sol
Due: none

feat(contract_manager): add a script to deploy evm contract
  contract_manager/scripts/deploy_evm_contract.ts
Due: none

address feedbacks
  contract_manager/scripts/deploy_evm_contract.ts
  contract_manager/src/chains.ts
Due: none

chore(price_service): update spy version and bootstrappers
  price_service/server/docker-compose.mainnet.yaml
  price_service/server/docker-compose.testnet.yaml
Due: none

remove config.yaml
  fortuna/config.yaml
Due: none

[fortuna] sample config (#1193)
  fortuna/.gitignore
  fortuna/README.md
  fortuna/config.sample.yaml
Due: none

get all test to work
  target_chains/ethereum/contracts/contracts/executor/Executor.sol
  target_chains/ethereum/contracts/contracts/executor/ExecutorErrors.sol
  target_chains/ethereum/contracts/contracts/executor/ExecutorUpgradable.sol
  target_chains/ethereum/contracts/forge-test/Executor.t.sol
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana
