Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana

fix per sdk pypi workflow (#1454)
  .github/workflows/pypi-express-relay-utils.yml
Due: none

Update
  target_chains/solana/Dockerfile
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: add pyth_push_oracle to dockerfile (#1470)
  target_chains/solana/Dockerfile
  target_chains/solana/scripts/build_verifiable_program.sh
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Fix ci
  .github/workflows/publish-js.yml
  package.json
Due: none

address feedback
  apps/fortuna/Cargo.toml
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

feat(fortuna): improve logging (#1472)
  apps/fortuna/Cargo.toml
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

cleanup
  .github/workflows/publish-js.yml
Due: none

refactor(target_chains/starknet): errors modules, reexport errors
  target_chains/starknet/contracts/src/reader.cairo
  target_chains/starknet/contracts/src/wormhole.cairo
Due: none

refactor(target_chains/starknet): check value in Hasher::push_num_bytes
  target_chains/starknet/contracts/src/hash.cairo
Due: none

feat(target_chains/starknet): wormhole VAA verification and parsing
  target_chains/starknet/contracts/.tool-versions
  target_chains/starknet/contracts/src/lib.cairo
  target_chains/starknet/contracts/src/reader.cairo
  target_chains/starknet/contracts/src/wormhole.cairo
Due: none

feat(target_chains/starknet): add multi-purpose keccak hasher
  target_chains/starknet/contracts/src/hash.cairo
  target_chains/starknet/contracts/src/lib.cairo
  target_chains/starknet/contracts/src/reader.cairo
  target_chains/starknet/contracts/src/util.cairo
  target_chains/starknet/contracts/src/wormhole.cairo
Due: none

chore(target_chains/starknet): add workflow
  .github/workflows/ci-starknet-contract.yml
  target_chains/starknet/contracts/.tool-versions
Due: none

test(target_chains/starknet): add wormhole contract tests
  target_chains/starknet/contracts/.gitignore
  target_chains/starknet/contracts/Scarb.lock
  target_chains/starknet/contracts/Scarb.toml
  target_chains/starknet/contracts/src/lib.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
Due: none

refactor(target_chains/starknet): use enum errors
  target_chains/starknet/contracts/src/hash.cairo
  target_chains/starknet/contracts/src/lib.cairo
  target_chains/starknet/contracts/src/reader.cairo
  target_chains/starknet/contracts/src/util.cairo
  target_chains/starknet/contracts/src/wormhole.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
Due: none

fix(target_chains/starknet): make parse_and_verify_vm a read-only method
  target_chains/starknet/contracts/src/wormhole.cairo
Due: none

fix(target_chains/starknet): verify new guardian set before writing to storage
  target_chains/starknet/contracts/src/wormhole.cairo
Due: none

refactor(express-relay): Update execution params hash data
  express_relay/sdk/js/src/index.ts
  express_relay/sdk/python/express_relay/client.py
Due: none

remove unused import
  express_relay/sdk/js/src/index.ts
Due: none

feat: add solana target chain example (#1446)
  target_chains/solana/Anchor.toml
  target_chains/solana/Cargo.lock
  target_chains/solana/Cargo.toml
  target_chains/solana/examples/send_usd/Cargo.toml
  target_chains/solana/examples/send_usd/Xargo.toml
  target_chains/solana/examples/send_usd/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver
