Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/solana/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

Update comments
  price_service/server/src/listen.ts
  price_service/server/src/rest.ts
Due: none

[eth] Deploy to gnosis mainnet (#892)
  target_chains/ethereum/contracts/.env.prod.gnosis
  target_chains/ethereum/contracts/networks/100.json
  target_chains/ethereum/contracts/truffle-config.js
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

helper functions
  target_chains/sui/scripts/pyth/update_price_feeds.ts
  target_chains/sui/scripts/utils/transfer_tokens.ts
  target_chains/sui/scripts/wormhole/deploy_coins.ts
Due: none

Remove parse price feed entrypoint for now
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
  target_chains/cosmwasm/sdk/rust/src/lib.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Refactor is_fee_sufficient tests
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Rename function and simplify process_batch_attestation tests
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Address review comments
  price_service/server/src/listen.ts
  price_service/server/src/rest.ts
Due: none

feat: guardian source from ethereum to pythnet
  hermes/src/config.rs
  hermes/src/main.rs
  hermes/src/network.rs
  hermes/src/network/ethereum.rs
  hermes/src/network/pythnet.rs
  hermes/src/store.rs
  hermes/src/store/wormhole.rs
Due: cargo-fmt-hermes

feat: guardian source from ethereum to pythnet (#894)
  hermes/src/config.rs
  hermes/src/main.rs
  hermes/src/network.rs
  hermes/src/network/ethereum.rs
  hermes/src/network/pythnet.rs
  hermes/src/store.rs
  hermes/src/store/wormhole.rs
Due: cargo-fmt-hermes

Fix cors policy error
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/src/api.rs
Due: cargo-fmt-hermes

Bump version
  hermes/Cargo.lock
  hermes/Cargo.toml
Due: cargo-fmt-hermes

blah
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/BufferLayoutExt.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/GovernanceDataSourceTransfer.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/SetDataSources.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/SetFee.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/SetValidPeriod.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/UpgradeContract.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/index.ts
Due: none

Remove unused dependencies
  hermes/Cargo.lock
  hermes/Cargo.toml
Due: cargo-fmt-hermes

fix docker build
  .github/workflows/xc-admin-frontend-image-push.yaml
  governance/xc_admin/packages/xc_admin_frontend/Dockerfile
Due: none

rename workflow
  .github/workflows/xc-admin-frontend-image-push.yaml
Due: none

[hermes] Add health probe
  hermes/src/api.rs
  hermes/src/api/rest.rs
  hermes/src/store.rs
Due: cargo-fmt-hermes

fix docker build (#898)
  .github/workflows/xc-admin-frontend-image-push.yaml
  governance/xc_admin/packages/xc_admin_frontend/Dockerfile
Due: none

ok progress
  governance/xc_admin/packages/xc_admin_common/src/__tests__/GovernancePayload.test.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/BufferLayoutExt.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/ExecutePostedVaa.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/PythGovernanceAction.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/UpgradeContract.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/index.ts
Due: none

ok progress
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/BufferLayoutExt.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/GovernanceDataSourceTransfer.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/PythGovernanceAction.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/SetFee.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/SetValidPeriod.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/UpgradeContract.ts
Due: none

ok progress
  governance/xc_admin/packages/xc_admin_common/src/__tests__/GovernancePayload.test.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/BufferLayoutExt.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/GovernanceDataSourceTransfer.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/PythGovernanceAction.ts
Due: none

[hermes] fix cors bug (#896)
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/src/api.rs
Due: cargo-fmt-hermes

[hermes] Switch to message structs in pythnet_sdk
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/src/network/pythnet.rs
  hermes/src/store.rs
  hermes/src/store/proof/wormhole_merkle.rs
  hermes/src/store/storage.rs
  hermes/src/store/storage/local_storage.rs
  hermes/src/store/types.rs
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-hermes, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

[hermes] Switch to message structs in pythnet_sdk (#897)
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/src/network/pythnet.rs
  hermes/src/store.rs
  hermes/src/store/proof/wormhole_merkle.rs
  hermes/src/store/storage.rs
  hermes/src/store/storage/local_storage.rs
  hermes/src/store/types.rs
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-hermes, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

Address feedbacks
  hermes/src/api.rs
  hermes/src/api/rest.rs
  hermes/src/store.rs
Due: cargo-fmt-hermes

Address feedbacks
  hermes/src/api/rest.rs
Due: cargo-fmt-hermes

[hermes] Add health probe (#899)
  hermes/src/api.rs
  hermes/src/api/rest.rs
  hermes/src/store.rs
Due: cargo-fmt-hermes

feat: old ignore
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/contracts/pyth/PythAccumulator.sol
  target_chains/ethereum/contracts/contracts/wormhole-receiver/ReceiverMessages.sol
  target_chains/ethereum/contracts/contracts/wormhole/interfaces/IWormhole.sol
Due: none

feat(eth): optimize ReceiverMessages parseAndVerifyVM
  target_chains/ethereum/contracts/contracts/libraries/external/UnsafeCalldataBytesLib.sol
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/contracts/pyth/PythAccumulator.sol
  target_chains/ethereum/contracts/contracts/pyth/PythGovernance.sol
  target_chains/ethereum/contracts/contracts/wormhole-receiver/ReceiverMessages.sol
  target_chains/ethereum/contracts/contracts/wormhole/interfaces/IWormhole.sol
  target_chains/ethereum/contracts/forge-test/GasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/VerificationExperiments.t.sol
  target_chains/ethereum/contracts/forge-test/utils/WormholeTestUtils.t.sol
Due: none

fix
  price_pusher/src/injective/injective.ts
Due: none

bump version
  price_pusher/package.json
Due: none

test(eth): update test setups to use wormholeReceiver
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/contracts/wormhole/interfaces/IWormhole.sol
  target_chains/ethereum/contracts/forge-test/Pyth.WormholeMerkleAccumulator.t.sol
  target_chains/ethereum/contracts/forge-test/Pyth.t.sol
  target_chains/ethereum/contracts/forge-test/VerificationExperiments.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
  target_chains/ethereum/contracts/forge-test/utils/WormholeTestUtils.t.sol
  target_chains/ethereum/contracts/foundry.toml
Due: none

chore(eth): remove console logging
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/forge-test/VerificationExperiments.t.sol
Due: none

[price_pusher] fix account sequence mismatch bug (#902)
  price_pusher/package.json
  price_pusher/src/injective/injective.ts
Due: none

feat(eth): optimize & revert return type for parseAndVerifyVM
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/contracts/pyth/PythAccumulator.sol
  target_chains/ethereum/contracts/contracts/pyth/PythGovernance.sol
  target_chains/ethereum/contracts/contracts/wormhole-receiver/ReceiverMessages.sol
  target_chains/ethereum/contracts/contracts/wormhole/interfaces/IWormhole.sol
  target_chains/ethereum/contracts/forge-test/VerificationExperiments.t.sol
  target_chains/ethereum/contracts/forge-test/utils/WormholeTestUtils.t.sol
  target_chains/ethereum/contracts/foundry.toml
Due: none

fix(eth): add index boundary checks
  target_chains/ethereum/contracts/contracts/wormhole-receiver/ReceiverMessages.sol
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana
