Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./fortuna/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

Comment
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Add customizable shard id
  price_pusher/src/solana/command.ts
  price_pusher/src/solana/solana.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

hm this still sucks
  target_chains/ethereum/contracts/forge-test/PythMulticall.t.sol
  target_chains/ethereum/contracts/foundry.toml
  target_chains/ethereum/sdk/solidity/PythMulticall.sol
Due: none

Update price evm Oracle Example (#1411)
  target_chains/ethereum/examples/oracle_swap/README.md
  target_chains/ethereum/examples/oracle_swap/contract/package-lock.json
  target_chains/ethereum/examples/oracle_swap/contract/package.json
  target_chains/ethereum/examples/oracle_swap/contract/remappings.txt
  target_chains/ethereum/examples/oracle_swap/contract/src/OracleSwap.sol
  target_chains/ethereum/examples/oracle_swap/contract/test/OracleSwap.t.sol
Due: none

ok
  target_chains/ethereum/contracts/forge-test/PythMulticall.t.sol
  target_chains/ethereum/sdk/solidity/PythMulticall.sol
Due: none

minor
  target_chains/ethereum/contracts/forge-test/PythMulticall.t.sol
Due: none

add polling support for when no wss url
  fortuna/src/command/run.rs
  fortuna/src/config.rs
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

version update
  fortuna/Cargo.lock
  fortuna/Cargo.toml
Due: cargo-fmt-fortuna

test check
  fortuna/src/chain/reader.rs
Due: cargo-fmt-fortuna

add price feed council signers
  governance/xc_admin/packages/xc_admin_frontend/mappings/signers.json
Due: none

update signers.json
  governance/xc_admin/packages/xc_admin_frontend/mappings/signers.json
Due: none

feat(xc-admin): add price feed council signers (#1413)
  governance/xc_admin/packages/xc_admin_frontend/mappings/signers.json
Due: none

Allow configurable priority fees
  price_pusher/src/solana/command.ts
  price_pusher/src/solana/solana.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Update readme
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Update text
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

readme updates
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Readme
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

More text
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

More text
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Review
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Text
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore(solana): use instruction builders
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

update comment
  fortuna/src/chain/reader.rs
Due: cargo-fmt-fortuna

update key comment
  fortuna/src/config/run.rs
Due: cargo-fmt-fortuna

rename chain_config to chain_state
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

update version
  fortuna/Cargo.lock
  fortuna/Cargo.toml
Due: cargo-fmt-fortuna

whoops
  contract_manager/src/chains.ts
Due: none

pad gas estimate
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

add comments
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

feat(fortuna-v2): implement a keeper service for entropy v2 (#1366)
  fortuna/Cargo.lock
  fortuna/Cargo.toml
  fortuna/src/api.rs
  fortuna/src/chain/ethereum.rs
  fortuna/src/chain/reader.rs
  fortuna/src/command/run.rs
  fortuna/src/config.rs
  fortuna/src/config/run.rs
  fortuna/src/keeper.rs
  fortuna/src/main.rs
Due: cargo-fmt-fortuna

whoops (#1416)
  contract_manager/src/chains.ts
Due: none

add support for priority fee
  contract_manager/src/governance.ts
  governance/xc_admin/packages/xc_admin_common/src/propose.ts
Due: none

chore(solana): use instruction builders (#1415)
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

add support for priority fee (#1418)
  contract_manager/src/governance.ts
  governance/xc_admin/packages/xc_admin_common/src/propose.ts
Due: none

chore(target_chains/cosmwasm): add rol_testnet network
  contract_manager/store/chains/CosmWasmChains.yaml
  contract_manager/store/contracts/CosmWasmPriceFeedContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/cosmwasm/deploy-scripts/README.md
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
