Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy, cargo-fmt-lazer, cargo-clippy-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/fortuna/Cargo.toml --all
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/fortuna/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./target_chains/solana/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./target_chains/solana/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

poetry-install:
  name: poetry install
  entry: poetry -C express_relay/sdk/python/express_relay install
  pass_filenames: false
  language: system

test(lazer): add ser/de tests
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/sdk/rust/protocol/src/message.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(networks) Add new networks (#2178)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

feat(lazer): add solana contract migration script, add message parsing to protocol (#2181)
  lazer/Cargo.lock
  lazer/contracts/solana/package.json
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/contracts/solana/scripts/migrate_from_0_1_0.ts
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/lib.rs
  lazer/sdk/rust/protocol/src/message.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: address pr comments
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore: fix some typos in comment
  apps/api-reference/src/apis/evm/get-price-unsafe.ts
  apps/hermes/server/src/config/pythnet.rs
  apps/hermes/server/src/network/wormhole.rs
  target_chains/solana/sdk/js/pyth_solana_receiver/src/idl/wormhole_core_bridge_solana.ts
Due: cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix(lazer): serialize Option<Price> as i64 in publisher protocol
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/lib.rs
  lazer/sdk/rust/protocol/src/publisher.rs
  lazer/sdk/rust/protocol/src/serde_price_as_i64.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(lazer): serialize Option<Price> as i64 in publisher protocol (#2182)
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/lib.rs
  lazer/sdk/rust/protocol/src/publisher.rs
  lazer/sdk/rust/protocol/src/serde_price_as_i64.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(solana-receiver-cli): Add `post-twap-update` cmd to CLI, update TWAP data model & validations (#2180)
  target_chains/solana/Cargo.lock
  target_chains/solana/cli/Cargo.toml
  target_chains/solana/cli/src/cli.rs
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/pyth-solana-receiver/src/error.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_twap_updates.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

docs: add typescript version requirements to development section
  README.md
Due: none

style: fix prettier formatting in readme
  README.md
Due: none

refactor: load TON chain configuration from yaml store
  contract_manager/scripts/generate_upgrade_ton_contract_proposal.ts
Due: none

feat: add postTwapUpdates function
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/compute_budget.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

docs: add build command to README
  README.md
Due: none

feat(ethereum): implement TWAP verification method
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/contracts/pyth/PythInternalStructs.sol
  target_chains/ethereum/contracts/contracts/pyth/PythState.sol
Due: none

docs: remove build command from README
  README.md
Due: none

go
  apps/hermes/client/js/src/examples/HermesClient.ts
Due: cargo-fmt-hermes, cargo-clippy-hermes

Revert "go"
  apps/hermes/client/js/src/examples/HermesClient.ts
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore(staking): tighten up account summary bar
  apps/staking/src/components/AccountSummary/index.tsx
  apps/staking/src/components/Dashboard/index.tsx
  apps/staking/src/components/Root/index.tsx
Due: none

feat(fortuna): add eip1559_fee_multiplier_pct to adjust gas fees
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

refactor: address PR feedback
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

refactor: restore original tracking functionality and fix balance conversion
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix: improve hermes client example (#2188)
  apps/hermes/client/js/src/examples/HermesClient.ts
Due: cargo-fmt-hermes, cargo-clippy-hermes

refactor: move fee multiplier to GasOracle
  apps/fortuna/src/chain/eth_gas_oracle.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

style: apply cargo fmt changes
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

remove min slot check
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Revert "fix: use higher commitment for blockhash to remove 'Minimum context slot has not been reached' errors (#2170)"
  target_chains/solana/sdk/js/solana_utils/package.json
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

version
  target_chains/solana/sdk/js/solana_utils/package.json
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix(proposer server) (#2193)
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

refactor: remove unnecessary span tracking and clean up keeper.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

refactor: clean up
  pnpm-lock.yaml
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: add configurable priority fee multiplier
  apps/fortuna/src/chain/eth_gas_oracle.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

hm
  apps/fortuna/src/chain/eth_gas_oracle.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat: add priceFeedIdToTwapUpdateAccount and update docs
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_twap_update.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix this up a bit
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain/eth_gas_oracle.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix this up a bit
  apps/fortuna/src/chain/eth_gas_oracle.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix this up a bit
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

chore: fix rust formatting
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  mypy: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
