Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

feat: make price formatting feed-exponent aware
  apps/insights/src/components/LivePrices/index.tsx
  apps/insights/src/components/PriceFeed/Chart/chart.tsx
  apps/insights/src/hooks/use-live-price-data.tsx
  apps/insights/src/hooks/use-price-formatter.ts
Due: none

chore(lazer-sdk-js): responded to PR feedback about how the URL for the connection is constructed and fixed a websocket constructor bug
  lazer/sdk/js/src/socket/resilient-websocket.ts
  lazer/sdk/js/src/socket/websocket-pool.ts
  lazer/sdk/js/src/util/index.ts
  lazer/sdk/js/src/util/url-util.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer-sdk-js): made a slightly more specific error message and throw it to let the browser bubble it up
  lazer/sdk/js/src/socket/websocket-pool.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer-sdk-js): responded to further PR feedback about typing exhaustivity, using a utility function for buffer creation, as well as one for adding the token to the URL
  lazer/sdk/js/src/client.ts
  lazer/sdk/js/src/socket/resilient-websocket.ts
  lazer/sdk/js/src/socket/websocket-pool.ts
  lazer/sdk/js/src/util/buffer-util.ts
  lazer/sdk/js/src/util/index.ts
  lazer/sdk/js/src/util/url-util.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer-sdk-js): more PR feedback changes about brevity
  lazer/sdk/js/src/util/env-util.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer-sdk-js)!: major bump, considering the changes
  lazer/sdk/js/package.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer-sdk-js): linting issue
  lazer/sdk/js/src/util/env-util.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer) Requested comments
  lazer/contracts/evm/src/PythLazerLib.sol
  lazer/contracts/evm/src/PythLazerStructs.sol
  lazer/contracts/evm/test/PythLazer.t.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(pyth-lazer-agent): add HTTP proxy support for WebSocket connections
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
  apps/pyth-lazer-agent/README.md
  apps/pyth-lazer-agent/src/config.rs
  apps/pyth-lazer-agent/src/jrpc_handle.rs
  apps/pyth-lazer-agent/src/lazer_publisher.rs
  apps/pyth-lazer-agent/src/relayer_session.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: address clippy warnings in proxy implementation
  apps/pyth-lazer-agent/src/relayer_session.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: apply rustfmt formatting
  apps/pyth-lazer-agent/src/relayer_session.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Update lazer/publisher_sdk/rust/Cargo.toml
  lazer/publisher_sdk/rust/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

prettier fixes
  apps/price_pusher/src/evm/command.ts
  apps/price_pusher/src/evm/evm.ts
  apps/price_pusher/src/metrics.ts
Due: none

feat(pyth-lazer-agent): add proxy URL to logging statements for debugging
  apps/pyth-lazer-agent/src/relayer_session.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(target_chains/ton): update contract address
  contract_manager/store/contracts/TonPriceFeedContracts.json
  contract_manager/store/contracts/TonWormholeContracts.json
  target_chains/ton/sdk/js/README.md
  target_chains/ton/sdk/js/package.json
  target_chains/ton/sdk/js/src/index.ts
Due: none

chore(target_chains/ton): update contract address (#3143)
  contract_manager/store/contracts/TonPriceFeedContracts.json
  contract_manager/store/contracts/TonWormholeContracts.json
  target_chains/ton/sdk/js/README.md
  target_chains/ton/sdk/js/package.json
  target_chains/ton/sdk/js/src/index.ts
Due: none

feat(lazer-protocol): Add nasdaq_symbol to SymbolMetadata
  Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/jrpc.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(pyth-lazer-agent): Add nasdaq_symbol to SymbolMetadata fetched from history service symbols endpoint
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
  apps/pyth-lazer-agent/src/jrpc_handle.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(pyth-lazer-agent): Add nasdaq_symbol to SymbolMetadata fetched from history service symbols endpoint (#3146)
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
  apps/pyth-lazer-agent/src/jrpc_handle.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

update cargo lock
  Cargo.lock
Due: none

bump publisher sdk
  Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(hip-3-pusher): Multisig update support (only 1/N, no KMS)
  apps/hip-3-pusher/config/config.toml
  apps/hip-3-pusher/pyproject.toml
  apps/hip-3-pusher/src/pusher/config.py
  apps/hip-3-pusher/src/pusher/publisher.py
  apps/hip-3-pusher/uv.lock
Due: none

feat(lazer/publisher-sdk): add asset state and governance messages (#3140)
  Cargo.lock
  lazer/publisher_sdk/proto/governance_instruction.proto
  lazer/publisher_sdk/proto/state.proto
  lazer/publisher_sdk/rust/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

add asset id
  lazer/sdk/rust/protocol/src/lib.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat!: baseline bun setup is in place
  .nvmrc
  .prettierrc
  README.md
  apps/price_pusher/README.md
  bun.lock
  bunfig.toml
  lazer/contracts/sui/sdk/js/package.json
  package.json
  pnpm-workspace.yaml
  prettier.config.mjs
  target_chains/cosmwasm/deploy-scripts/README.md
  target_chains/ethereum/pulse_sdk/solidity/package.json
  target_chains/sui/cli/README.md
  target_chains/sui/sdk/js/README.md
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-lazer, cargo-clippy-lazer

fix: fixed some typing issues and transitive deps that were accidentally being used
  apps/hermes/client/js/package.json
  apps/insights/package.json
  bun.lock
  package.json
  packages/component-library/package.json
  packages/component-library/src/AppShell/report-accessibility.ts
  packages/component-library/src/unstyled/Tabs/index.tsx
  packages/component-library/src/use-prefetch.ts
  packages/component-library/src/useQueryParamsPagination/index.ts
  target_chains/solana/sdk/js/solana_utils/package.json
  turbo.json
Due: cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore(insights): migrated to bun for local dev, which is egregiously slow
  apps/insights/package.json
  apps/insights/src/components/PriceComponentsCard/index.tsx
  apps/insights/src/components/PriceFeed/Chart/chart-toolbar.tsx
  apps/insights/src/components/PriceFeed/Chart/chart.tsx
  apps/insights/src/components/PriceFeed/publishers-card.tsx
  apps/insights/src/components/PriceFeeds/asset-class-table.tsx
  apps/insights/src/components/PriceFeeds/price-feeds-card.tsx
  apps/insights/src/components/Publishers/publishers-card.tsx
  apps/insights/src/hooks/use-live-price-data.tsx
  bun.lock
  package.json
Due: none

chore(lazer) Add funding rate properties
  lazer/sdk/js/package.json
  lazer/sdk/js/src/protocol.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix market name
  apps/hip-3-pusher/src/pusher/publisher.py
Due: none

chore: attempting to fix the component-library typescript config for building
  .gitignore
  README.md
  lazer/contracts/sui/sdk/js/package.json
  lazer/sdk/js-solana/package.json
  lazer/sdk/js/package.json
  packages/component-library/package.json
  packages/component-library/tsconfig.build.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

Update package.json
  lazer/sdk/js/package.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: added tsdown via an internal, easy-to-use wrapper CLI
  packages/build-ts-package/eslint.config.js
  packages/build-ts-package/package.json
  packages/build-ts-package/src/build-ts-package.js
  packages/component-library/package.json
  packages/component-library/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: none

chore: removed references to tshy, in favor of our in-house wrapper around tsdown
  .gitignore
  apps/hermes/client/js/package.json
  apps/price_pusher/package.json
  governance/pyth_staking_sdk/package.json
  lazer/contracts/sui/sdk/js/package.json
  lazer/sdk/js-solana/package.json
  lazer/sdk/js-solana/turbo.json
  lazer/sdk/js/.tshy/build.json
  lazer/sdk/js/.tshy/commonjs.json
  lazer/sdk/js/.tshy/esm.json
  lazer/sdk/js/package.json
  package.json
  packages/build-ts-package/src/build-ts-package.js
  packages/component-library/turbo.json
  pnpm-lock.yaml
  price_service/client/js/package.json
  price_service/sdk/js/.tshy/build.json
  price_service/sdk/js/.tshy/commonjs.json
  price_service/sdk/js/.tshy/esm.json
  price_service/sdk/js/package.json
  target_chains/aptos/sdk/js/package.json
  target_chains/ethereum/entropy_sdk/solidity/package.json
  target_chains/ethereum/pulse_sdk/solidity/package.json
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/solidity/package.json
  target_chains/ethereum/sdk/stylus/pyth-mock-solidity/package.json
  target_chains/fuel/sdk/js/package.json
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/solana_utils/package.json
  target_chains/starknet/sdk/js/package.json
  target_chains/sui/sdk/js-iota/package.json
  target_chains/sui/sdk/js/package.json
  target_chains/ton/sdk/js/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
