Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

fix
  contract_manager/scripts/common.ts
  contract_manager/src/core/contracts/evm.ts
  contract_manager/src/store/contracts/EvmWormholeContracts.json
Due: none

checkpoint
  target_chains/solana/Cargo.lock
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

checkpoint
  .github/workflows/ci-solana-contract.yml
Due: none

fmt
  target_chains/solana/crates/wormhole-solana/src/instructions/post_vaa.rs
  target_chains/solana/programs/core-bridge/src/legacy/instruction/mod.rs
  target_chains/solana/programs/core-bridge/src/utils/vaa/zero_copy/posted_vaa_v1.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/config.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix
  contract_manager/scripts/common.ts
  contract_manager/src/core/base.ts
Due: none

fix
  contract_manager/scripts/sync_wormhole_guardian_set.ts
Due: none

fix
  contract_manager/scripts/common.ts
Due: none

go
  target_chains/solana/common_test_utils/src/lib.rs
  target_chains/solana/programs/core-bridge/src/processor/parse_and_verify_vaa/init_encoded_vaa.rs
  target_chains/solana/programs/core-bridge/src/processor/parse_and_verify_vaa/verify_encoded_vaa_v1.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

anchor 0.30.1
  target_chains/solana/programs/core-bridge/src/legacy/utils/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

bump: solana contracts to anchor 0.30.1 (#3644)
  .github/workflows/ci-solana-contract.yml
  target_chains/solana/Cargo.lock
  target_chains/solana/Cargo.toml
  target_chains/solana/common_test_utils/Cargo.toml
  target_chains/solana/programs/core-bridge/src/legacy/processor/governance/transfer_fees.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/governance/upgrade_contract.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/post_message/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/post_message/unreliable.rs
  target_chains/solana/programs/core-bridge/src/legacy/utils/mod.rs
  target_chains/solana/programs/core-bridge/src/lib.rs
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

add cli multisig commands
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/ExpressRelayMultisigInstruction.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/index.ts
Due: none

fix
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/index.ts
Due: none

tests
  governance/xc_admin/packages/xc_admin_common/src/__tests__/ExpressRelayMultisigInstruction.test.ts
Due: none

fix(lazer-sui): regenerate Move.lock with valid Sui framework rev (#3641)
  lazer/contracts/sui/Move.lock
Due: cargo-fmt-lazer, cargo-clippy-lazer

no-verify
  target_chains/solana/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

update dep
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

cleanup dep
  target_chains/solana/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

cleanup dep
  target_chains/solana/Cargo.toml
  target_chains/solana/cli/Cargo.toml
  target_chains/solana/common_test_utils/Cargo.toml
  target_chains/solana/programs/pyth-push-oracle/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore: remove deprecated Solana push feeds
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/svm/solana-mainnet.json
Due: none

improve imports order
  target_chains/solana/programs/core-bridge/src/processor/parse_and_verify_vaa/verify_encoded_vaa_v1.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore: remove Aptos from push feeds
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/aptos.mdx
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/aptos/aptos-mainnet.json
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/index.mdx
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/meta.json
Due: none

rever this
  .github/workflows/ci-solana-contract.yml
Due: none

tb/solana-cli/solana-devnet-chain
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

tb/solana-cli/solana-devnet-chain (#3647)
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix cargo lock
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

no-verify
  .github/workflows/ci-solana-contract.yml
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/core-bridge/Cargo.toml
  target_chains/solana/programs/core-bridge/src/lib.rs
  target_chains/solana/programs/core-bridge/src/sdk/mod.rs
  target_chains/solana/programs/core-bridge/src/utils/mod.rs
  target_chains/solana/programs/pyth-push-oracle/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_price_update_from_vaa.rs
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/__tests__/ExpressRelayMultisigInstruction.test.ts
  governance/xc_admin/packages/xc_admin_common/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/AnchorMultisigInstruction.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/ExpressRelayMultisigInstruction.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/index.ts
Due: none

fix
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
Due: none

no-verify
  target_chains/solana/programs/core-bridge/src/utils/mod.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore: bump solana contracts to 0.32.1, reincorporate pyth-solana-receiver-sdk to the workspace (#3646)
  .github/workflows/ci-solana-contract.yml
  pythnet/pythnet_sdk/src/wire/prefixed_vec.rs
  rust-toolchain.toml
  target_chains/solana/Cargo.lock
  target_chains/solana/Cargo.toml
  target_chains/solana/cli/Cargo.toml
  target_chains/solana/cli/src/main.rs
  target_chains/solana/common_test_utils/Cargo.toml
  target_chains/solana/common_test_utils/src/lib.rs
  target_chains/solana/crates/wormhole-solana/Cargo.toml
  target_chains/solana/crates/wormhole-solana/src/instructions/post_vaa.rs
  target_chains/solana/program_simulator/Cargo.toml
  target_chains/solana/program_simulator/src/lib.rs
  target_chains/solana/programs/core-bridge/src/legacy/instruction/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/governance/upgrade_contract.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/post_message/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/state/config.rs
  target_chains/solana/programs/core-bridge/src/legacy/state/emitter_sequence.rs
  target_chains/solana/programs/core-bridge/src/legacy/state/guardian_set.rs
  target_chains/solana/programs/core-bridge/src/legacy/state/posted_message_v1/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/state/posted_message_v1/unreliable.rs
  target_chains/solana/programs/core-bridge/src/legacy/state/posted_vaa_v1.rs
  target_chains/solana/programs/core-bridge/src/legacy/state/signature_set.rs
  target_chains/solana/programs/core-bridge/src/legacy/utils/mod.rs
  target_chains/solana/programs/core-bridge/src/processor/parse_and_verify_vaa/close_encoded_vaa.rs
  target_chains/solana/programs/core-bridge/src/processor/parse_and_verify_vaa/init_encoded_vaa.rs
  target_chains/solana/programs/core-bridge/src/processor/parse_and_verify_vaa/verify_encoded_vaa_v1.rs
  target_chains/solana/programs/core-bridge/src/processor/post_message/init_message_v1.rs
  target_chains/solana/programs/core-bridge/src/state/encoded_vaa.rs
  target_chains/solana/programs/core-bridge/src/utils/mod.rs
  target_chains/solana/programs/core-bridge/src/utils/vaa/zero_copy/encoded_vaa.rs
  target_chains/solana/programs/core-bridge/src/utils/vaa/zero_copy/mod.rs
  target_chains/solana/programs/core-bridge/src/utils/vaa/zero_copy/posted_vaa_v1.rs
  target_chains/solana/programs/pyth-push-oracle/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.lock
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
  target_chains/solana/pyth_solana_receiver_sdk/src/config.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

checkpoint
  .github/workflows/ci-solana-contract.yml
  target_chains/solana/programs/core-bridge/src/utils/mod.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Add test_post_update_with_wormhole using core-bridge VAA flow
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_with_wormhole.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Update Cargo.lock with solana-program-test dev-dependency
  target_chains/solana/Cargo.lock
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Fix wormhole core-bridge test by using native processor instead of .so
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_with_wormhole.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: add er old format idl (#3639)
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/__tests__/ExpressRelayMultisigInstruction.test.ts
  governance/xc_admin/packages/xc_admin_common/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/AnchorMultisigInstruction.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/idl/express_relay.json
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/index.ts
Due: none

fix(developer-hub): avoid mdx components cast
  apps/developer-hub/src/mdx-components.tsx
Due: none

fix(developer-hub): adapt fumadocs image component
  apps/developer-hub/src/mdx-components.tsx
Due: none

request change to mantain ts standard
  apps/developer-hub/src/components/PropertyFieldLinker/index.tsx
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
