Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./fortuna/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

chore(target_chains/cosmwasm): add rol_testnet network (#1419)
  contract_manager/store/chains/CosmWasmChains.yaml
  contract_manager/store/contracts/CosmWasmPriceFeedContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/cosmwasm/deploy-scripts/README.md
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Fix pusher dockerfile
  price_pusher/Dockerfile
Due: none

Fix pusher dockerfile (#1420)
  price_pusher/Dockerfile
Due: none

feat(pusher): cleanup vaa accounts
  price_pusher/src/solana/solana.ts
Due: none

feat(pusher): cleanup vaa accounts (#1422)
  price_pusher/src/solana/solana.ts
Due: none

fix(solana_pusher): forgot await
  price_pusher/src/solana/solana.ts
Due: none

readme
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update_instructions.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/update_price_feed.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: support account lookup table
  target_chains/solana/sdk/js/solana_utils/src/__tests__/TransactionSize.test.ts
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

remove console log
  target_chains/solana/sdk/js/solana_utils/src/__tests__/TransactionSize.test.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Support ALT
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Commas
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: support lta
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Go
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

add processed commitment
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update_instructions.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/update_price_feed.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix comment
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

whoops
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

export MerklePriceUpdate
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

add initial sse code
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/src/api.rs
  hermes/src/api/sse.rs
Due: cargo-fmt-hermes

fix typo
  hermes/src/main.rs
Due: cargo-fmt-hermes

Checkpoint
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals.tsx
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

CI
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feature: export merkle price update (#1428)
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Continue
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals.tsx
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Revert
  governance/xc_admin/packages/proposer_server/src/index.ts
Due: none

Revert
  governance/xc_admin/packages/xc_admin_frontend/package.json
Due: none

Update proposer
  governance/xc_admin/packages/xc_admin_common/src/propose.ts
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Clean
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Lint
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

nit
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

add more error handling
  hermes/src/api/rest.rs
  hermes/src/api/sse.rs
Due: cargo-fmt-hermes

fix formatting
  hermes/src/api.rs
Due: cargo-fmt-hermes

revert import format
  hermes/src/api/rest.rs
Due: cargo-fmt-hermes

add error handling for nonexistent price feeds in the middle of sub
  hermes/src/api/sse.rs
Due: cargo-fmt-hermes

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
