Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-accumulator-updater, cargo-clippy-accumulator-updater, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-accumulator-updater: any of: accumulator_updater
  cargo-clippy-accumulator-updater: any of: accumulator_updater
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana

Please work
  .github/workflows/remote-executor.yml
Due: none

Modify workflow
  .github/workflows/remote-executor.yml
Due: none

[remote-executor] Move overflow check (#837)
  .github/workflows/remote-executor.yml
  governance/remote_executor/Cargo.toml
  governance/remote_executor/programs/remote-executor/Cargo.toml
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

[eth] Update accumulator deserialization
  target_chains/ethereum/contracts/contracts/pyth/PythAccumulator.sol
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
Due: none

[cosmwasm] osmosis mainnet deployment (#833)
  target_chains/cosmwasm/tools/src/chains-manager/chains.ts
  target_chains/cosmwasm/tools/src/helper.ts
  target_chains/cosmwasm/tools/src/instantiate-pyth.ts
  target_chains/cosmwasm/tools/src/wormhole-stub.ts
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/osmosis-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/osmosis-1.2.0.json
  target_chains/cosmwasm/wormhole-stub/stable/osmosis-2.14.9.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

[eth] Update accumulator deserialization (#838)
  target_chains/ethereum/contracts/contracts/pyth/PythAccumulator.sol
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
Due: none

contracts test and updates
  target_chains/cosmwasm/tools/src/chains-manager/cosmwasm.ts
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/injective_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/juno_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/neutron_testnet_pion_1-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/osmosis_testnet_4-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/osmosis_testnet_5-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/test-contracts/injective_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/test-contracts/juno_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/test-contracts/neutron_testnet_pion_1-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/injective_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/juno_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/neutron_testnet_pion_1-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/osmosis_testnet_4-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/osmosis_testnet_5-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/sei_testnet_atlantic_2-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/injective_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/juno_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/neutron_testnet_pion_1-1.2.0.json
  target_chains/cosmwasm/wormhole-stub/edge/sei_atlantic_testnet_2-2.14.9.json
  target_chains/cosmwasm/wormhole-stub/edge/sei_testnet_atlantic_2-2.14.9.json
  target_chains/cosmwasm/wormhole-stub/stable/sei_testnet_atlantic_2-2.14.9.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

wormhole deployment
  target_chains/cosmwasm/wormhole-stub/stable/sei_testnet_atlantic_2-2.14.9.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

sei contract details update
  target_chains/cosmwasm/tools/src/chains-manager/cosmwasm.ts
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/sei_testnet_atlantic_2-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/test-contracts/injective_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/test-contracts/sei_testnet_atlantic_2-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/sei_testnet_atlantic_2-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/injective_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/sei_testnet_atlantic_2-1.2.0.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Make proposer server url a serverside prop
  governance/xc_admin/packages/proposer_server/src/index.ts
  governance/xc_admin/packages/xc_admin_frontend/components/PermissionDepermissionKey.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/General.tsx
  governance/xc_admin/packages/xc_admin_frontend/pages/index.tsx
Due: none

Make low caps
  governance/xc_admin/packages/xc_admin_frontend/components/PermissionDepermissionKey.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/General.tsx
  governance/xc_admin/packages/xc_admin_frontend/pages/index.tsx
Due: none

Remove rent hack
  governance/remote_executor/cli/src/main.rs
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

Make proposer server url a serverside prop (#840)
  governance/xc_admin/packages/proposer_server/src/index.ts
  governance/xc_admin/packages/xc_admin_frontend/components/PermissionDepermissionKey.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/General.tsx
  governance/xc_admin/packages/xc_admin_frontend/pages/index.tsx
Due: none

Bump deps
  governance/remote_executor/Cargo.lock
  governance/remote_executor/cli/Cargo.toml
  governance/remote_executor/cli/src/main.rs
  governance/remote_executor/programs/remote-executor/Cargo.toml
  governance/remote_executor/programs/remote-executor/src/tests/executor_simulator.rs
  governance/remote_executor/programs/remote-executor/src/tests/test_adversarial.rs
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

Fix comment
  governance/remote_executor/programs/remote-executor/src/tests/test_adversarial.rs
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

Add rust pin
  governance/remote_executor/rust-toolchain.toml
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

Bump more packages
  .github/workflows/remote-executor.yml
  governance/remote_executor/Cargo.lock
  governance/remote_executor/cli/Cargo.toml
  governance/remote_executor/programs/remote-executor/Cargo.toml
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

Remove rent hack (#841)
  governance/remote_executor/cli/src/main.rs
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

Point to another wormhole sdk
  governance/remote_executor/Cargo.lock
  governance/remote_executor/cli/Cargo.toml
  governance/remote_executor/programs/remote-executor/Cargo.toml
  governance/remote_executor/rust-toolchain.toml
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

Works
  governance/remote_executor/Cargo.lock
  governance/remote_executor/Cargo.toml
  governance/remote_executor/cli/Cargo.toml
  governance/remote_executor/cli/src/main.rs
  governance/remote_executor/programs/remote-executor/Cargo.toml
  governance/remote_executor/programs/remote-executor/src/lib.rs
  governance/remote_executor/programs/remote-executor/src/state/governance_payload.rs
  governance/remote_executor/programs/remote-executor/src/tests/executor_simulator.rs
  target_chains/solana/Cargo.lock
  target_chains/solana/cli/Cargo.toml
  target_chains/solana/programs/solana-receiver/Cargo.toml
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Reset this dir
  target_chains/solana/Cargo.lock
  target_chains/solana/cli/Cargo.toml
  target_chains/solana/programs/solana-receiver/Cargo.toml
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Refresh cargo lock
  wormhole_attester/Cargo.lock
  wormhole_attester/Cargo.toml
Due: cargo-fmt-attester, cargo-clippy-attester

Bump solana
  .github/workflows/remote-executor.yml
Due: none

Pin git packages
  governance/remote_executor/cli/Cargo.toml
  governance/remote_executor/cli/src/main.rs
  governance/remote_executor/programs/remote-executor/Cargo.toml
  wormhole_attester/Cargo.lock
  wormhole_attester/Cargo.toml
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester

Allow large errors
  governance/remote_executor/programs/remote-executor/src/lib.rs
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

Update to the right wormhole-solana
  wormhole_attester/Cargo.lock
Due: cargo-fmt-attester, cargo-clippy-attester

Fix cli
  governance/remote_executor/Cargo.lock
  governance/remote_executor/cli/Cargo.toml
  governance/remote_executor/cli/src/main.rs
  governance/remote_executor/programs/remote-executor/Cargo.toml
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

Add cargo lock
  wormhole_attester/Cargo.lock
Due: cargo-fmt-attester, cargo-clippy-attester

Remove print statement
  governance/remote_executor/cli/src/main.rs
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

[cosmwasm] contracts test and updates (#839)
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/injective_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/juno_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/neutron_testnet_pion_1-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/osmosis_testnet_4-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/osmosis_testnet_5-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/sei_testnet_atlantic_2-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/test-contracts/injective_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/test-contracts/juno_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/test-contracts/neutron_testnet_pion_1-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/test-contracts/sei_testnet_atlantic_2-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/injective_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/juno_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/neutron_testnet_pion_1-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/osmosis_testnet_4-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/osmosis_testnet_5-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/sei_testnet_atlantic_2-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/injective_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/juno_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/neutron_testnet_pion_1-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/sei_testnet_atlantic_2-1.2.0.json
  target_chains/cosmwasm/wormhole-stub/edge/sei_atlantic_testnet_2-2.14.9.json
  target_chains/cosmwasm/wormhole-stub/edge/sei_testnet_atlantic_2-2.14.9.json
  target_chains/cosmwasm/wormhole-stub/stable/sei_testnet_atlantic_2-2.14.9.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

feat(message-buffer): add init msg buffer pda to script, fix msg buffer pid
  pythnet/message_buffer/Anchor.toml
  pythnet/message_buffer/package.json
  pythnet/message_buffer/programs/message_buffer/src/lib.rs
  pythnet/message_buffer/scripts/.env.integration
  pythnet/message_buffer/scripts/.env.local
  pythnet/message_buffer/scripts/.env.pythtest
  pythnet/message_buffer/scripts/.env.template
  pythnet/message_buffer/scripts/setup_message_buffer.ts
  pythnet/message_buffer/yarn.lock
  pythnet/pythnet_sdk/src/lib.rs
Due: none

feat(message-buffer): add init msg buffer pda to script, fix msg buffer pid (#845)
  pythnet/message_buffer/Anchor.toml
  pythnet/message_buffer/package.json
  pythnet/message_buffer/programs/message_buffer/src/lib.rs
  pythnet/message_buffer/scripts/.env.integration
  pythnet/message_buffer/scripts/.env.local
  pythnet/message_buffer/scripts/.env.pythtest
  pythnet/message_buffer/scripts/.env.template
  pythnet/message_buffer/scripts/setup_message_buffer.ts
  pythnet/message_buffer/yarn.lock
  pythnet/pythnet_sdk/src/lib.rs
Due: none

test(pythnet-sdk): add hardcoded expected pythtest accumulator sequence unit test
  pythnet/pythnet_sdk/src/lib.rs
Due: none

Fix race condition once and for all
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/General.tsx
Due: none

[remote-executor] Isolate wormhole-solana crate (#843)
  .github/workflows/remote-executor.yml
  governance/remote_executor/Cargo.lock
  governance/remote_executor/Cargo.toml
  governance/remote_executor/cli/Cargo.toml
  governance/remote_executor/cli/src/main.rs
  governance/remote_executor/programs/remote-executor/Cargo.toml
  governance/remote_executor/programs/remote-executor/src/lib.rs
  governance/remote_executor/programs/remote-executor/src/state/governance_payload.rs
  governance/remote_executor/programs/remote-executor/src/tests/executor_simulator.rs
  governance/remote_executor/rust-toolchain.toml
  wormhole_attester/Cargo.lock
  wormhole_attester/Cargo.toml
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester

Increase payload to 50MB
  governance/xc_admin/packages/proposer_server/src/index.ts
Due: none

Fix race condition once and for all (#847)
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/General.tsx
Due: none

update price service sdk
  price_service/sdk/js/src/schemas/PriceFeed.ts
  price_service/sdk/js/src/schemas/price_feed.json
Due: none

bump version
  price_service/sdk/js/package.json
Due: none

fix test
  price_service/sdk/js/src/index.ts
Due: none
