Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana

chore(contract_manager): fix Blast API env var (#1326)
  contract_manager/store/chains/EvmChains.yaml
Due: none

fix(solana-receiver-js): Add test script to make prepublishOnly work (#1327)
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Remove Substack link from SocialLinks component
  governance/xc_admin/packages/xc_admin_frontend/components/common/SocialLinks.tsx
Due: none

update wallet interface
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/UpdatePermissions.tsx
Due: none

Update copyright year in Footer component
  governance/xc_admin/packages/xc_admin_frontend/components/layout/Footer.tsx
Due: none

fix useEffect dep
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/General.tsx
Due: none

Add custom error class for easier excpetion handling
  express_relay/sdk/js/src/index.ts
Due: none

Docs
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

revert import format
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
Due: none

fix
  governance/xc_admin/packages/xc_admin_common/src/propose.ts
Due: none

fix
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/UpdatePermissions.tsx
Due: none

Address comments
  express_relay/sdk/js/src/examples/SimpleSearcher.ts
  express_relay/sdk/js/src/index.ts
Due: none

Comments
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/address.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/compute_budget.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Docs
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Don't touch this
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Readme
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Cleanup
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/index.ts
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Fix
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Audit 1
  target_chains/solana/programs/pyth-solana-receiver/src/error.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_governance.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Pin wh sdk
  target_chains/solana/Cargo.lock
  target_chains/solana/Cargo.toml
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Typo
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Add constraint to initialize
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Move deps to the workspace level
  target_chains/solana/Cargo.lock
  target_chains/solana/Cargo.toml
  target_chains/solana/cli/Cargo.toml
  target_chains/solana/program_simulator/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Pay treasury rent
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_price_update_from_vaa.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_atomic.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Update ser.rs
  pythnet/pythnet_sdk/src/wire/ser.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

Update message_buffer.ts
  pythnet/message_buffer/tests/message_buffer.ts
Due: cargo-fmt-message-buffer, cargo-clippy-message-buffer

Update SECURITY.md
  SECURITY.md
Due: none

chore: run pre-commit
  price_pusher/README.md
  price_pusher/src/near/command.ts
  price_pusher/src/near/near.ts
Due: none

fix: make private key optional
  price_pusher/src/near/near.ts
Due: none
