Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/solana/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

Works
  target_chains/solana/program_simulator/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/config.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/price_update.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_initialize.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Final cleanup
  target_chains/solana/programs/pyth-solana-receiver/tests/test_initialize.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

set provider fee and uri
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyEvents.sol
  target_chains/ethereum/entropy_sdk/solidity/IEntropy.sol
Due: none

update comment
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
Due: none

pre commit
  target_chains/ethereum/entropy_sdk/solidity/EntropyEvents.sol
  target_chains/ethereum/entropy_sdk/solidity/IEntropy.sol
Due: none

abis gen
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyEvents.json
  target_chains/ethereum/entropy_sdk/solidity/abis/IEntropy.json
Due: none

Remove async
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Continue
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_initialize.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

[Solana] tests (#1226)
  target_chains/solana/Cargo.lock
  target_chains/solana/program_simulator/Cargo.toml
  target_chains/solana/program_simulator/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/sdk.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/config.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/price_update.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/cases/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/program_test/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_all.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_initialize.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Do it
  target_chains/solana/Cargo.lock
  target_chains/solana/Cargo.toml
  target_chains/solana/cli/Cargo.toml
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Do it
  target_chains/solana/Cargo.lock
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

[Solana] Elevate wormhole core bridge dependency to workspace, stop using my branch (#1228)
  target_chains/solana/Cargo.lock
  target_chains/solana/Cargo.toml
  target_chains/solana/cli/Cargo.toml
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

update tests
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
Due: none

[entropy] set provider fee and uri (#1230)
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyEvents.sol
  target_chains/ethereum/entropy_sdk/solidity/IEntropy.sol
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyEvents.json
  target_chains/ethereum/entropy_sdk/solidity/abis/IEntropy.json
Due: none

renaming
  fortuna/src/command.rs
  fortuna/src/command/setup_provider.rs
  fortuna/src/config.rs
  fortuna/src/config/setup_provider.rs
  fortuna/src/main.rs
Due: none

auto register script
  fortuna/.gitignore
  fortuna/src/command.rs
  fortuna/src/command/register_provider_on_all.rs
  fortuna/src/config.rs
  fortuna/src/config/register_provider_on_all.rs
  fortuna/src/main.rs
Due: none

add comments
  fortuna/src/command/setup_provider.rs
Due: none

update abi file path
  fortuna/Dockerfile
  fortuna/src/abi.json
  fortuna/src/chain/ethereum.rs
  fortuna/src/command/setup_provider.rs
Due: none

pre commit
  fortuna/src/command/setup_provider.rs
Due: none

pre commit
  fortuna/src/chain/ethereum.rs
  fortuna/src/command.rs
  fortuna/src/command/setup_provider.rs
  fortuna/src/config.rs
  fortuna/src/config/setup_provider.rs
Due: none

Update hermes/src/api/types.rs
  hermes/src/api/types.rs
Due: cargo-fmt-hermes

move to v2 module and address comments
  hermes/src/api.rs
  hermes/src/api/rest.rs
  hermes/src/api/rest/v2/latest_price_updates.rs
  hermes/src/api/rest/v2/mod.rs
  hermes/src/api/types.rs
Due: cargo-fmt-hermes

address more comments
  hermes/src/api/rest/v2/latest_price_updates.rs
  hermes/src/api/types.rs
Due: cargo-fmt-hermes

add /v2/updates/price/latest endpoint (#1225)
  hermes/src/api.rs
  hermes/src/api/rest.rs
  hermes/src/api/rest/index.rs
  hermes/src/api/rest/v2/latest_price_updates.rs
  hermes/src/api/rest/v2/mod.rs
  hermes/src/api/types.rs
Due: cargo-fmt-hermes

Commit for testnet address
  target_chains/sui/contracts/Move.mainnet.toml
  target_chains/sui/contracts/Move.testnet.toml
  target_chains/sui/contracts/Move.toml
Due: none

Commit for mainnet address
  target_chains/sui/contracts/Move.mainnet.toml
  target_chains/sui/contracts/Move.testnet.toml
  target_chains/sui/contracts/Move.toml
Due: none

Fix wormhole dependency
  target_chains/sui/contracts/Move.toml
Due: none

resolved some
  fortuna/src/command/setup_provider.rs
Due: none

better comment
  fortuna/src/config.rs
Due: none

resolve comments
  fortuna/src/command/setup_provider.rs
Due: none

fix bug
  fortuna/src/command/setup_provider.rs
Due: none

chore(ethereum): add new networks
  contract_manager/src/contracts/evm.ts
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/contracts/networks/314.json
  target_chains/ethereum/contracts/networks/314159.json
Due: none

fix
  fortuna/src/command/register_provider.rs
  fortuna/src/command/setup_provider.rs
  fortuna/src/config/setup_provider.rs
Due: none

update version
  fortuna/Cargo.lock
  fortuna/Cargo.toml
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana
