Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

fix(fortuna): callback_failed check against int (#2936)
  Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/history.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

fix(fortuna): set last_updated_at correctly, use ms precision
  apps/fortuna/src/history.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

bump ver
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

fix(fortuna): set last_updated_at correctly, use ms precision (#2937)
  apps/fortuna/Cargo.toml
  apps/fortuna/src/history.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

fix(fortuna): migrate timestamp columns integer -> bigint
  Cargo.lock
  apps/fortuna/migrations/20250707000000_init.down.sql
  apps/fortuna/migrations/20250707000000_init.up.sql
  apps/fortuna/migrations/20250801232728_add_callback_fields.down.sql
  apps/fortuna/migrations/20250801232728_add_callback_fields.up.sql
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

fix(fortuna): migrate timestamp columns integer -> bigint
  apps/fortuna/migrations/20250807000000_init.down.sql
  apps/fortuna/migrations/20250807000000_init.up.sql
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

bump ver
  Cargo.lock
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

fix(fortuna): add Bytes utoipa schema
  apps/fortuna/src/history.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

fix(fortuna): migrate timestamp columns to bigint (#2938)
  Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/migrations/20250801232728_add_callback_fields.down.sql
  apps/fortuna/migrations/20250801232728_add_callback_fields.up.sql
  apps/fortuna/migrations/20250807000000_init.down.sql
  apps/fortuna/migrations/20250807000000_init.up.sql
  apps/fortuna/src/history.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

feat: chunk cache
  apps/insights/src/app/actions.ts
  apps/insights/src/components/PriceFeed/publishers.tsx
  apps/insights/src/server/pyth.ts
  apps/insights/src/utils/cache.ts
Due: none

feat: replaced more cached functions
  apps/insights/src/components/Publishers/index.tsx
  apps/insights/src/components/Root/index.tsx
  apps/insights/src/server/clickhouse.ts
  apps/insights/src/server/pyth.ts
Due: none

fix: use in memory cache
  apps/insights/src/server/pyth.ts
Due: none

feat(lazer): improve protocol types and modules (#2934)
  Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/publisher_sdk/rust/src/lib.rs
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/client/src/client.rs
  lazer/sdk/rust/client/src/resilient_ws_connection.rs
  lazer/sdk/rust/client/src/ws_connection.rs
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
  lazer/sdk/rust/protocol/src/binary_update.rs
  lazer/sdk/rust/protocol/src/jrpc.rs
  lazer/sdk/rust/protocol/src/lib.rs
  lazer/sdk/rust/protocol/src/message.rs
  lazer/sdk/rust/protocol/src/payload.rs
  lazer/sdk/rust/protocol/src/price.rs
  lazer/sdk/rust/protocol/src/price/tests.rs
  lazer/sdk/rust/protocol/src/publisher.rs
  lazer/sdk/rust/protocol/src/rate.rs
  lazer/sdk/rust/protocol/src/rate/tests.rs
  lazer/sdk/rust/protocol/src/router.rs
  lazer/sdk/rust/protocol/src/serde_price_as_i64.rs
  lazer/sdk/rust/protocol/src/serde_str.rs
  lazer/sdk/rust/protocol/src/subscription.rs
  lazer/sdk/rust/protocol/src/time.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: cache key issue
  apps/insights/src/components/PriceFeed/publishers.tsx
  apps/insights/src/server/clickhouse.ts
  apps/insights/src/server/pyth.ts
Due: none

chore: added logging
  apps/insights/src/server/clickhouse.ts
  apps/insights/src/server/pyth.ts
  apps/insights/src/utils/cache.ts
Due: none

fix bounce msg processing issue (#2833)
  target_chains/ton/contracts/contracts/Main.fc
  target_chains/ton/contracts/contracts/tests/PythTest.fc
Due: none

chore: revalidate false
  apps/insights/src/utils/cache.ts
Due: none

Include Immunefi Bug Bounty in SECURITY.md
  SECURITY.md
Due: none

feat: migrated to redis
  apps/insights/package.json
  apps/insights/src/app/price-feeds/[slug]/layout.ts
  apps/insights/src/components/Overview/index.tsx
  apps/insights/src/components/PriceFeed/get-feed.tsx
  apps/insights/src/components/PriceFeed/publishers.tsx
  apps/insights/src/components/PriceFeeds/index.tsx
  apps/insights/src/components/Root/index.tsx
  apps/insights/src/config/server.ts
  apps/insights/src/server/clickhouse.ts
  apps/insights/src/server/pyth.ts
  apps/insights/src/server/pyth/get-feeds.ts
  apps/insights/src/server/pyth/get-metadata.ts
  apps/insights/src/server/pyth/get-publishers-for-cluster.ts
  apps/insights/src/utils/cache.ts
  apps/insights/turbo.json
  pnpm-lock.yaml
Due: none

feat: drop jito bundle size and improve packing
  apps/price_pusher/config.solana.mainnet.sample.json
  apps/price_pusher/package.json
  apps/price_pusher/src/solana/command.ts
  apps/price_pusher/src/solana/solana.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/solana_utils/package.json
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

add alt
  apps/price_pusher/config.solana.mainnet.sample.json
Due: none

chore(entropy-explorer): use production Fortuna for entropy explorer
  apps/entropy-explorer/src/requests.ts
Due: none

feat: add more test to pyth lazer protocol
  lazer/sdk/rust/protocol/src/price/tests.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(component-library): upgrade react-aria and react-aria-components
  apps/insights/src/components/Root/search-button.tsx
  packages/component-library/src/unstyled/ListBox/index.tsx
  packages/component-library/src/unstyled/Table/index.tsx
  packages/component-library/src/unstyled/Tabs/index.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(pyth-lazer-agent) Allow deduplicating updates within each batch
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
  apps/pyth-lazer-agent/README.md
  apps/pyth-lazer-agent/config/config.toml
  apps/pyth-lazer-agent/src/config.rs
  apps/pyth-lazer-agent/src/jrpc_handle.rs
  apps/pyth-lazer-agent/src/lazer_publisher.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fmt fix
  apps/pyth-lazer-agent/src/config.rs
  apps/pyth-lazer-agent/src/lazer_publisher.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add more test to pyth lazer protocol (#2943)
  lazer/sdk/rust/protocol/src/price/tests.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: refactor pyth lazer protocol
  Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/price.rs
  lazer/sdk/rust/protocol/src/price/tests.rs
  lazer/sdk/rust/protocol/src/rate.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

comment
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: drop jito bundle size and improve packing (#2940)
  apps/price_pusher/config.solana.mainnet.sample.json
  apps/price_pusher/package.json
  apps/price_pusher/src/solana/command.ts
  apps/price_pusher/src/solana/solana.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/solana_utils/package.json
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: added fetch routes
  apps/insights/src/app/api/pyth/get-feeds/[symbol]/route.ts
  apps/insights/src/app/api/pyth/get-feeds/route.ts
  apps/insights/src/app/api/pyth/get-publishers/route.ts
  apps/insights/src/components/Overview/index.tsx
  apps/insights/src/components/PriceFeed/get-feed.tsx
  apps/insights/src/components/PriceFeeds/index.tsx
  apps/insights/src/components/Root/index.tsx
  apps/insights/src/config/server.ts
  apps/insights/src/server/clickhouse.ts
  apps/insights/src/server/pyth.ts
  apps/insights/src/server/pyth/get-feeds.ts
  apps/insights/src/utils/cache.ts
  apps/insights/turbo.json
Due: none

fix contract
  lazer/contracts/solana/Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: added all endpoints
  apps/insights/src/app/api/pyth/get-feeds-for-publisher/[publisher]/route.ts
  apps/insights/src/app/api/pyth/get-publishers/[symbol]/route.ts
  apps/insights/src/app/api/pyth/get-publishers/route.ts
  apps/insights/src/components/PriceFeed/publishers.tsx
  apps/insights/src/components/Publishers/index.tsx
  apps/insights/src/server/clickhouse.ts
  apps/insights/src/server/pyth.ts
  apps/insights/src/server/pyth/get-feeds.ts
  apps/insights/src/server/pyth/get-publishers-for-cluster.ts
  apps/insights/src/utils/cache.ts
Due: none

Revert "feat: add more test to pyth lazer protocol (#2943)"
  lazer/sdk/rust/protocol/src/price/tests.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Revert "feat: add more test to pyth lazer protocol (#2943)" (#2946)
  lazer/sdk/rust/protocol/src/price/tests.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Revert "feat(lazer): improve protocol types and modules (#2934)"
  Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/publisher_sdk/rust/src/lib.rs
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/client/src/client.rs
  lazer/sdk/rust/client/src/resilient_ws_connection.rs
  lazer/sdk/rust/client/src/ws_connection.rs
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
  lazer/sdk/rust/protocol/src/binary_update.rs
  lazer/sdk/rust/protocol/src/jrpc.rs
  lazer/sdk/rust/protocol/src/lib.rs
  lazer/sdk/rust/protocol/src/message.rs
  lazer/sdk/rust/protocol/src/payload.rs
  lazer/sdk/rust/protocol/src/price.rs
  lazer/sdk/rust/protocol/src/price/tests.rs
  lazer/sdk/rust/protocol/src/publisher.rs
  lazer/sdk/rust/protocol/src/rate.rs
  lazer/sdk/rust/protocol/src/rate/tests.rs
  lazer/sdk/rust/protocol/src/router.rs
  lazer/sdk/rust/protocol/src/serde_price_as_i64.rs
  lazer/sdk/rust/protocol/src/serde_str.rs
  lazer/sdk/rust/protocol/src/subscription.rs
  lazer/sdk/rust/protocol/src/time.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Revert "feat(lazer): improve protocol types and modules (#2934)" (#2947)
  Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/publisher_sdk/rust/src/lib.rs
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/client/src/client.rs
  lazer/sdk/rust/client/src/resilient_ws_connection.rs
  lazer/sdk/rust/client/src/ws_connection.rs
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
  lazer/sdk/rust/protocol/src/binary_update.rs
  lazer/sdk/rust/protocol/src/jrpc.rs
  lazer/sdk/rust/protocol/src/lib.rs
  lazer/sdk/rust/protocol/src/message.rs
  lazer/sdk/rust/protocol/src/payload.rs
  lazer/sdk/rust/protocol/src/price.rs
  lazer/sdk/rust/protocol/src/price/tests.rs
  lazer/sdk/rust/protocol/src/publisher.rs
  lazer/sdk/rust/protocol/src/rate.rs
  lazer/sdk/rust/protocol/src/rate/tests.rs
  lazer/sdk/rust/protocol/src/router.rs
  lazer/sdk/rust/protocol/src/serde_price_as_i64.rs
  lazer/sdk/rust/protocol/src/serde_str.rs
  lazer/sdk/rust/protocol/src/subscription.rs
  lazer/sdk/rust/protocol/src/time.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

deleted split_into_reverse_chunks method
  target_chains/ton/contracts/contracts/common/utils.fc
Due: none

fix: handle remaining data in read_and_store_large_data when size > input
  target_chains/ton/contracts/contracts/common/utils.fc
Due: none
