Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay
  mypy: any of: express_relay/sdk/python/express_relay

forge install: openzeppelin-contracts
  .gitmodules
Due: none

fix(rust): update cargo.lock files after pythnet sdk release
  apps/fortuna/Cargo.lock
  apps/hermes/server/Cargo.lock
  target_chains/cosmwasm/Cargo.lock
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna

Deny clippy warnings in CI properly (#2109)
  .pre-commit-config.yaml
  apps/fortuna/src/api/revelation.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/reader.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/state.rs
  apps/hermes/server/src/network/wormhole.rs
  governance/remote_executor/programs/remote-executor/src/tests/executor_simulator.rs
  governance/remote_executor/programs/remote-executor/src/tests/test_adversarial.rs
  governance/remote_executor/programs/remote-executor/src/tests/test_basic_instructions.rs
  pythnet/message_buffer/programs/message_buffer/src/lib.rs
  pythnet/message_buffer/programs/mock-cpi-caller/src/lib.rs
  pythnet/message_buffer/programs/mock-cpi-caller/src/state/mod.rs
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
  target_chains/cosmwasm/sdk/rust/src/testing.rs
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/sdk.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/cpi/accounts.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix(rust): update cargo.lock files after pythnet sdk release (#2111)
  apps/fortuna/Cargo.lock
  apps/hermes/server/Cargo.lock
  target_chains/cosmwasm/Cargo.lock
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna

upd addr
  contract_manager/store/contracts/TonPriceFeedContracts.yaml
  contract_manager/store/contracts/TonWormholeContracts.yaml
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/common/constants.fc
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tests/utils/wormhole.ts
  target_chains/ton/sdk/js/src/index.ts
Due: none

upd addr
  contract_manager/store/contracts/TonPriceFeedContracts.yaml
  contract_manager/store/contracts/TonWormholeContracts.yaml
  target_chains/ton/sdk/js/src/index.ts
Due: none

fix(apps/hermes/server): add crypto redemption rate asset type
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/api/types.rs
  apps/hermes/server/src/state/price_feeds_metadata.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

add dynamic jito tips
  apps/price_pusher/src/solana/solana.ts
Due: none

uncomment
  apps/price_pusher/src/solana/solana.ts
Due: none

go
  apps/price_pusher/src/solana/solana.ts
Due: none

using jito tip
  apps/price_pusher/src/solana/solana.ts
Due: none

go
  apps/price_pusher/src/solana/command.ts
  apps/price_pusher/src/solana/solana.ts
Due: none

bump
  apps/price_pusher/package.json
Due: none

cap it
  apps/price_pusher/src/solana/solana.ts
Due: none

fix(apps/hermes): make sure FX gets to `fx`
  apps/hermes/server/src/api/types.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(apps/hermes/server): add crypto redemption rate asset type (#2112)
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/api/types.rs
  apps/hermes/server/src/state/price_feeds_metadata.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

test
  apps/price_pusher/src/solana/command.ts
  apps/price_pusher/src/solana/solana.ts
Due: none

disable health check
  apps/price_pusher/src/solana/solana.ts
Due: none

feat: add dynamic jito tips (#2113)
  apps/price_pusher/package.json
  apps/price_pusher/src/solana/command.ts
  apps/price_pusher/src/solana/solana.ts
Due: none

feat(ton): update ton testnet addr (#2110)
  contract_manager/store/chains/TonChains.yaml
  contract_manager/store/contracts/TonPriceFeedContracts.yaml
  contract_manager/store/contracts/TonWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ton/contracts/README.md
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/common/constants.fc
  target_chains/ton/contracts/scripts/deployPyth.ts
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tests/utils/wormhole.ts
  target_chains/ton/sdk/js/package.json
  target_chains/ton/sdk/js/src/index.ts
Due: none

fix
  apps/hermes/client/js/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

revert version
  apps/hermes/client/js/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(hermes-client): fix hermes-client prepublish script (#2115)
  apps/hermes/client/js/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(staking): use catalog for react-aria & react-aria-components
  apps/staking/package.json
  pnpm-lock.yaml
Due: none

chore: formated code
  target_chains/ethereum/sdk/stylus/benches/src/function_calls.rs
  target_chains/ethereum/sdk/stylus/benches/src/lib.rs
  target_chains/ethereum/sdk/stylus/benches/src/main.rs
  target_chains/ethereum/sdk/stylus/benches/src/proxy_calls.rs
  target_chains/ethereum/sdk/stylus/contracts/src/lib.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/errors.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/events.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/functions.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/mock.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/mod.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/pyth_contract.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/types.rs
  target_chains/ethereum/sdk/stylus/contracts/src/utils/helpers.rs
  target_chains/ethereum/sdk/stylus/examples/function-calls/src/lib.rs
  target_chains/ethereum/sdk/stylus/examples/function-calls/tests/abi/mod.rs
  target_chains/ethereum/sdk/stylus/examples/function-calls/tests/function-calls.rs
  target_chains/ethereum/sdk/stylus/examples/proxy-calls/src/lib.rs
  target_chains/ethereum/sdk/stylus/examples/proxy-calls/tests/abi/mod.rs
  target_chains/ethereum/sdk/stylus/examples/proxy-calls/tests/proxy-calls.rs
Due: none

increase to 50 pct, take max
  apps/price_pusher/package.json
  apps/price_pusher/src/solana/solana.ts
Due: none

add to sample
  apps/price_pusher/config.solana.mainnet.sample.json
Due: none

feat: dynamic jito tips 2 (#2117)
  apps/price_pusher/config.solana.mainnet.sample.json
  apps/price_pusher/package.json
  apps/price_pusher/src/solana/solana.ts
Due: none

forge install: forge-std
  .gitmodules
Due: none

forge install: openzeppelin-contracts-upgradeable
  .gitmodules
Due: none

chore: add CIs for lazer
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-lazer-sdk-evm.yml
  .github/workflows/ci-lazer-sdk-js.yml
  .github/workflows/ci-lazer-solana-contract.yml
  .pre-commit-config.yaml
  lazer/contracts/evm/src/PythLazer.sol
  lazer/contracts/evm/src/PythLazerLib.sol
  lazer/rust-toolchain
  lazer/sdk/js/examples/index.ts
  lazer/sdk/js/package.json
  lazer/sdk/js/src/index.ts
  lazer/sdk/js/tsconfig.json
Due: none

chore: prepare lazer js sdk publish
  lazer/sdk/js/package.json
Due: none

chore: prepare pyth lazer rust packages publish
  .github/workflows/publish-rust-lazer-contract.yml
  .github/workflows/publish-rust-lazer-protocol.yml
  .github/workflows/publish-rust-lazer-sdk.yml
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/solana/Cargo.toml
Due: none

chore: prepare Pyth Lazer packages publish (#2120)
  .github/workflows/publish-rust-lazer-contract.yml
  .github/workflows/publish-rust-lazer-protocol.yml
  .github/workflows/publish-rust-lazer-sdk.yml
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/sdk/js/package.json
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/solana/Cargo.toml
Due: none
