Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-accumulator-updater, cargo-clippy-accumulator-updater, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-accumulator-updater:
  name: Cargo format for accumulator updater contract
  language: rust
  entry: cargo +nightly fmt --manifest-path ./accumulator_updater/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-accumulator-updater:
  name: Cargo clippy for accumulator-updater contract
  language: rust
  entry: cargo +nightly clippy --manifest-path ./accumulator_updater/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +nightly fmt --manifest-path ./target_chains/solana/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cargo +nightly clippy --manifest-path ./target_chains/solana/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

add error abis
  target_chains/ethereum/sdk/solidity/abis/PythErrors.json
Due: none

add to script too
  target_chains/ethereum/sdk/solidity/scripts/generateAbi.js
Due: none

[message-buffer] Fix setup message buffer command
  pythnet/message_buffer/package.json
Due: none

fix
  price_pusher/src/evm/evm.ts
Due: none

bump version
  price_pusher/package.json
  price_pusher/src/evm/evm.ts
Due: none

update chain structure
  governance/xc_governance_sdk_js/src/chains.ts
  target_chains/cosmwasm/tools/src/chains-manager/chains.ts
  target_chains/cosmwasm/tools/src/configs.ts
  target_chains/cosmwasm/tools/src/helper.ts
  target_chains/cosmwasm/tools/src/instantiate-pyth.ts
  target_chains/cosmwasm/tools/src/test.ts
  target_chains/cosmwasm/tools/src/wormhole-stub.ts
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/injective_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/juno_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/neutron_testnet_pion_1-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/osmosis_testnet_4-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/osmosis_testnet_5-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/sei_testnet_atlantic_2-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/injective_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/juno_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/neutron_testnet_pion_1-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/osmosis_testnet_4-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/osmosis_testnet_5-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/sei_testnet_atlantic_2-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/injective-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/osmosis_4-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/osmosis_5-1.2.0.json
  target_chains/cosmwasm/tools/testnet-stable/instantiate-pyth/sei_atlantic_2-1.2.0.json
  target_chains/cosmwasm/wormhole-stub/edge/injective_testnet-2.14.9.json
  target_chains/cosmwasm/wormhole-stub/edge/juno_testnet-2.14.9.json
  target_chains/cosmwasm/wormhole-stub/edge/neutron_testnet_pion_1-2.14.9.json
  target_chains/cosmwasm/wormhole-stub/edge/osmosis_testnet_4-2.14.9.json
  target_chains/cosmwasm/wormhole-stub/edge/osmosis_testnet_5-2.14.9.json
  target_chains/cosmwasm/wormhole-stub/edge/sei_atlantic_testnet_2-2.14.9.json
  target_chains/cosmwasm/wormhole-stub/stable/injective_testnet-2.14.9.json
  target_chains/cosmwasm/wormhole-stub/stable/juno_testnet-2.14.9.json
  target_chains/cosmwasm/wormhole-stub/stable/neutron_testnet_pion_1-2.14.9.json
  target_chains/cosmwasm/wormhole-stub/stable/osmosis_testnet_4-2.14.9.json
  target_chains/cosmwasm/wormhole-stub/stable/osmosis_testnet_5-2.14.9.json
  target_chains/cosmwasm/wormhole-stub/stable/sei_testnet_atlantic_2-2.14.9.json
  target_chains/cosmwasm/wormhole-stub/testnet-stable/sei_atlantic_2-2.14.9.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

feat: update serialization for MerkelPath/MerkleAccumulator
  .pre-commit-config.yaml
  pythnet/pythnet_sdk/examples/generate_pyth_data.rs
  pythnet/pythnet_sdk/src/accumulators/merkle.rs
Due: none

Fix incorrect variable name.
  pythnet/pythnet_sdk/src/accumulators/merkle.rs
Due: none

update test script
  target_chains/cosmwasm/tools/src/helper.ts
  target_chains/cosmwasm/tools/src/instantiate-pyth.ts
  target_chains/cosmwasm/tools/src/test.ts
  target_chains/cosmwasm/tools/store/edge/test-contracts/injective_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/test-contracts/osmosis_testnet_4-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/test-contracts/osmosis_testnet_5-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/injective-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/injective_testnet-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/osmosis_testnet_4-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/osmosis_testnet_5-1.2.0.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

log error
  price_pusher/src/evm/evm.ts
Due: none

[arbitrum] fix: max fee per gas less than block base fee (#829)
  price_pusher/package.json
  price_pusher/src/evm/evm.ts
Due: none

[pythnet] Update serialization for MerkelPath/MerkleAccumulator (#830)
  .pre-commit-config.yaml
  pythnet/pythnet_sdk/examples/generate_pyth_data.rs
  pythnet/pythnet_sdk/src/accumulators/merkle.rs
Due: none

Test different precommit level
  governance/xc_admin/packages/xc_admin_common/src/propose.ts
Due: none

Test different precommit level (#831)
  governance/xc_admin/packages/xc_admin_common/src/propose.ts
Due: none

Switch to axios
  governance/xc_admin/packages/xc_admin_frontend/components/PermissionDepermissionKey.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/General.tsx
  governance/xc_admin/packages/xc_admin_frontend/pages/index.tsx
Due: none

Fix
  governance/xc_admin/packages/xc_admin_frontend/components/PermissionDepermissionKey.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/General.tsx
Due: none

Error handling
  governance/xc_admin/packages/xc_admin_frontend/components/PermissionDepermissionKey.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/General.tsx
Due: none

update chain id guidelines
  governance/xc_governance_sdk_js/src/chains.ts
Due: none

if brackets
  target_chains/cosmwasm/tools/src/configs.ts
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

correct test arguments
  target_chains/cosmwasm/tools/src/test.ts
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

correct lable
  target_chains/cosmwasm/tools/src/instantiate-pyth.ts
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

osmosis mainnet deploymnent
  target_chains/cosmwasm/tools/src/chains-manager/chains.ts
  target_chains/cosmwasm/tools/src/helper.ts
  target_chains/cosmwasm/tools/src/wormhole-stub.ts
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/osmosis-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/osmosis-1.2.0.json
  target_chains/cosmwasm/wormhole-stub/stable/osmosis-2.14.9.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

[message-buffer] Fix setup message buffer command (#828)
  pythnet/message_buffer/package.json
Due: none

Add PythErrors abi (#827)
  target_chains/ethereum/sdk/solidity/abis/PythErrors.json
  target_chains/ethereum/sdk/solidity/scripts/generateAbi.js
Due: none

build(pythnet-sdk): pin wormhole-sdk & serde_wormhole tag
  pythnet/pythnet_sdk/Cargo.toml
Due: none

build(pythnet-sdk): pin wormhole-sdk & serde_wormhole tag (#835)
  pythnet/pythnet_sdk/Cargo.toml
Due: none

Clippy
  governance/remote_executor/Anchor.toml
  governance/remote_executor/Cargo.toml
  governance/remote_executor/cli/src/main.rs
  governance/remote_executor/programs/remote-executor/Cargo.toml
  governance/remote_executor/programs/remote-executor/src/tests/executor_simulator.rs
  governance/remote_executor/programs/remote-executor/src/tests/test_adversarial.rs
  governance/remote_executor/programs/remote-executor/src/tests/test_basic_instructions.rs
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

Pass CI
  governance/remote_executor/programs/remote-executor/src/tests/executor_simulator.rs
  governance/remote_executor/rust-toolchain.toml
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

Cleanup
  governance/remote_executor/cli/src/main.rs
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

Pin rust
  .github/workflows/remote-executor.yml
Due: none

Cleanup
  .github/workflows/remote-executor.yml
Due: none

Move overflow check
  governance/remote_executor/Cargo.toml
  governance/remote_executor/programs/remote-executor/Cargo.toml
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

Please work
  .github/workflows/remote-executor.yml
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-accumulator-updater: any of: accumulator_updater
  cargo-clippy-accumulator-updater: any of: accumulator_updater
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana
