Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

chore(Dev-hub) fixes
  apps/developer-hub/next.config.js
Due: none

Update unit tests
  apps/hip-3-pusher/tests/test_price_state.py
Due: none

chore(dev-hub) fix
  apps/developer-hub/next.config.js
  apps/developer-hub/src/app/llms.txt/route.ts
  apps/developer-hub/src/app/mdx/[...slug]/route.ts
Due: none

chore(dev-hub) fix
  apps/developer-hub/src/app/llms.txt/route.ts
Due: none

chore(dev-hub) god please fix this
  apps/developer-hub/next.config.js
  apps/developer-hub/src/app/llms.txt/route.ts
  apps/developer-hub/src/app/mdx/[...slug]/route.ts
  apps/developer-hub/src/lib/get-llm-text.ts
Due: none

chore(dev-hub) fix
  apps/developer-hub/src/lib/get-llm-text.ts
Due: none

chore(dev-hub) fix
  apps/developer-hub/next.config.js
  apps/developer-hub/src/components/LLMShare/index.tsx
  apps/developer-hub/src/lib/get-llm-text.ts
Due: none

chore: bumped ts-duality
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: updated deps which fixed builds
  apps/entropy-tester/package.json
  apps/hermes/client/js/package.json
  apps/price_pusher/package.json
  apps/staking/next-env.d.ts
  contract_manager/package.json
  governance/pyth_staking_sdk/package.json
  governance/xc_admin/packages/crank_executor/package.json
  governance/xc_admin/packages/crank_pythnet_relayer/package.json
  governance/xc_admin/packages/proposer_server/package.json
  governance/xc_admin/packages/xc_admin_cli/package.json
  governance/xc_admin/packages/xc_admin_common/package.json
  lazer/contracts/sui/sdk/js/package.json
  lazer/sdk/js-solana/package.json
  lazer/sdk/js/package.json
  packages/component-library/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  price_service/client/js/package.json
  price_service/sdk/js/package.json
  target_chains/aptos/cli/package.json
  target_chains/aptos/sdk/js/package.json
  target_chains/cosmwasm/deploy-scripts/package.json
  target_chains/cosmwasm/tools/package.json
  target_chains/ethereum/sdk/js/package.json
  target_chains/fuel/sdk/js/package.json
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/solana_utils/package.json
  target_chains/starknet/sdk/js/package.json
  target_chains/sui/cli-iota/package.json
  target_chains/sui/cli/package.json
  target_chains/sui/sdk/js-iota/package.json
  target_chains/sui/sdk/js/package.json
  target_chains/ton/sdk/js/package.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer

chore: prettier fixes
  apps/api-reference/package.json
  apps/developer-hub/package.json
  apps/entropy-explorer/package.json
  apps/insights/package.json
  apps/staking/package.json
  governance/xc_admin/packages/xc_admin_frontend/package.json
  packages/component-library/tsconfig.build.json
  packages/known-publishers/package.json
  packages/known-publishers/tsconfig.build.json
  pythnet/message_buffer/package.json
  target_chains/ethereum/abi_generator/package.json
  target_chains/ethereum/contracts/package.json
  target_chains/ethereum/entropy_sdk/solidity/package.json
  target_chains/ethereum/pulse_sdk/solidity/package.json
  target_chains/ethereum/sdk/solidity/package.json
  target_chains/ethereum/sdk/stylus/pyth-mock-solidity/package.json
  target_chains/ton/contracts/package.json
Due: cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk

chore: export reusable useCopy hook
  packages/component-library/package.json
  packages/component-library/src/CopyButton/index.tsx
  packages/component-library/src/useCopy/index.ts
Due: none

fix(known-publishers): added missing build script I flubbed somehow
  packages/known-publishers/package.json
Due: none

chore(dev-hub) Page Actions
  apps/developer-hub/src/components/LLMShare/index.tsx
  apps/developer-hub/src/components/PageActions/index.module.scss
  apps/developer-hub/src/components/PageActions/index.tsx
  apps/developer-hub/src/components/Pages/BasePage/index.tsx
Due: none

chore(dev-hub) fix
  apps/developer-hub/src/app/llms.txt/route.ts
  apps/developer-hub/src/app/mdx/[...slug]/route.ts
Due: none

chore(evm): add some hoodi networks (#3170)
  contract_manager/store/chains/EvmChains.json
  contract_manager/store/contracts/EvmPriceFeedContracts.json
  contract_manager/store/contracts/EvmWormholeContracts.json
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

chore(dev-hub) Requested changes
  apps/developer-hub/src/app/llms.txt/route.ts
  apps/developer-hub/src/app/mdx/[...slug]/route.ts
  apps/developer-hub/src/components/PageActions/index.tsx
Due: none

chore(lazer/evm) exponent parsing fix
  lazer/contracts/evm/src/PythLazerLib.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

remove unnecessary import
  lazer/sdk/rust/protocol/src/api.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer-protocol): add utoipa schema to api types (#3168)
  Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
  lazer/sdk/rust/protocol/src/lib.rs
  lazer/sdk/rust/protocol/src/price.rs
  lazer/sdk/rust/protocol/src/rate.rs
  lazer/sdk/rust/protocol/src/time.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

use solana_borsh instead of solana
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.lock
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore: start of vitest migration
  apps/staking/jest.config.js
  apps/staking/package.json
  apps/staking/src/tokens.test.ts
  apps/staking/vite.config.ts
  packages/test-config/config.d.ts
  packages/test-config/config.js
  packages/test-config/eslint.config.js
  packages/test-config/package.json
  packages/test-config/tsconfig.json
  packages/test-config/unit-test.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: made our unit-tester a CLI
  apps/staking/package.json
  packages/test-config/package.json
Due: none

chore(@pythnetwork/price-service-sdk): migrated to vitest
  lazer/sdk/js/package.json
  pnpm-lock.yaml
  price_service/sdk/js/src/__tests__/AccumulatorUpdateData.test.ts
  price_service/sdk/js/src/__tests__/PriceFeed.test.ts
  target_chains/ton/sdk/js/package.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(dev-docs) requested comments
  apps/developer-hub/src/components/PageActions/index.tsx
  apps/developer-hub/src/lib/get-llm-text.ts
Due: none

chore: migrated to plain JS config to not confuse typescript output locations
  apps/api-reference/vite.config.js
  apps/developer-hub/vite.config.js
  apps/entropy-explorer/vite.config.js
  apps/hermes/client/js/vite.config.js
  apps/insights/vite.config.js
  apps/price_pusher/vite.config.js
  apps/staking/vite.config.js
  governance/pyth_staking_sdk/vite.config.js
  governance/xc_admin/packages/xc_admin_common/vite.config.js
  packages/component-library/vite.config.js
  packages/known-publishers/vite.config.js
  price_service/client/js/vite.config.js
  price_service/sdk/js/vite.config.js
  target_chains/aptos/sdk/js/vite.config.js
  target_chains/ethereum/sdk/js/vite.config.js
  target_chains/solana/sdk/js/solana_utils/src/__tests__/TransactionSize.test.ts
  target_chains/solana/sdk/js/solana_utils/vite.config.js
  target_chains/sui/sdk/js-iota/vite.config.js
  target_chains/sui/sdk/js/vite.config.js
  target_chains/ton/contracts/vite.config.js
Due: cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore(@pythnetwork/xc-admin-common): ported to vitest
  apps/entropy-explorer/package.json
  apps/hermes/client/js/package.json
  governance/pyth_staking_sdk/package.json
  governance/xc_admin/packages/xc_admin_common/package.json
  governance/xc_admin/packages/xc_admin_common/src/__tests__/BpfUpgradableLoaderInstruction.test.ts
  governance/xc_admin/packages/xc_admin_common/src/__tests__/BufferLayoutExt.test.ts
  governance/xc_admin/packages/xc_admin_common/src/__tests__/GovernancePayload.test.ts
  governance/xc_admin/packages/xc_admin_common/src/__tests__/LazerMultisigInstruction.test.ts
  governance/xc_admin/packages/xc_admin_common/src/__tests__/MessageBufferMultisigInstruction.test.ts
  governance/xc_admin/packages/xc_admin_common/src/__tests__/PriceStoreProgramInstruction.test.ts
  governance/xc_admin/packages/xc_admin_common/src/__tests__/PythMultisigInstruction.test.ts
  governance/xc_admin/packages/xc_admin_common/src/__tests__/SystemProgramInstruction.test.ts
  governance/xc_admin/packages/xc_admin_common/src/__tests__/TransactionSize.test.ts
  governance/xc_admin/packages/xc_admin_common/src/__tests__/UpgradeContract.test.ts
  governance/xc_admin/packages/xc_admin_common/src/__tests__/WormholeMultisigInstruction.test.ts
  lazer/sdk/js/package.json
  packages/component-library/package.json
  packages/known-publishers/package.json
  packages/test-config/config.cjs
  packages/test-config/package.json
  price_service/client/js/package.json
  price_service/sdk/js/package.json
  target_chains/aptos/sdk/js/package.json
  target_chains/cosmwasm/tools/package.json
  target_chains/cosmwasm/tools/tsconfig.build.json
  target_chains/solana/sdk/js/solana_utils/package.json
  target_chains/sui/sdk/js-iota/package.json
  target_chains/sui/sdk/js/package.json
  target_chains/ton/contracts/package.json
  target_chains/ton/sdk/js/package.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer

feat: all packages that can be tested with vitest have been migrated
  governance/xc_admin/packages/xc_admin_common/src/__tests__/MessageBufferMultisigInstruction.test.ts
  governance/xc_admin/packages/xc_admin_common/src/__tests__/PythMultisigInstruction.test.ts
  governance/xc_admin/packages/xc_admin_common/src/__tests__/TransactionSize.test.ts
  governance/xc_admin/packages/xc_admin_common/src/__tests__/WormholeMultisigInstruction.test.ts
  packages/component-library/package.json
  packages/test-config/config.cjs
  packages/test-config/config.d.ts
  packages/test-config/config.js
  packages/test-config/package.json
  packages/test-config/unit-test.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  price_service/client/js/src/__tests__/connection.e2e.test.ts
  target_chains/cosmwasm/tools/package.json
  target_chains/cosmwasm/tools/tsconfig.build.json
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/starknet/sdk/js/package.json
  target_chains/ton/contracts/.prettierignore
  target_chains/ton/contracts/jest.config.ts
  target_chains/ton/contracts/package.json
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tsconfig.json
  target_chains/ton/contracts/vite.config.js
  target_chains/ton/sdk/js/package.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore: updated lockfile
  pnpm-lock.yaml
Due: none

fix: fixed cobtract-manager build
  contract_manager/src/node/utils/governance.ts
  packages/test-config/config.cjs
  packages/test-config/config.d.ts
  packages/test-config/package.json
  packages/test-config/src/config.ts
  packages/test-config/src/index.ts
  packages/test-config/tsconfig.json
  packages/test-config/unit-test.js
  pnpm-lock.yaml
Due: none

chore(dev-hub) fix
  apps/developer-hub/src/components/PageActions/index.tsx
Due: none

chore(dev-hub) Fix
  apps/developer-hub/next.config.js
Due: none

chore(dev-hub) Open in LLM button
  apps/developer-hub/src/app/(docs)/[section]/[...slug]/page.tsx
  apps/developer-hub/src/app/llms.txt/route.ts
  apps/developer-hub/src/app/mdx/[...slug]/route.ts
  apps/developer-hub/src/components/LLMShare/index.tsx
  apps/developer-hub/src/components/Pages/BasePage/index.tsx
  apps/developer-hub/src/lib/get-llm-text.ts
  apps/developer-hub/src/lib/icons.tsx
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
