Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

fix: run turbo fix (#2803)
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
  target_chains/ethereum/sdk/solidity/Math.sol
  target_chains/ethereum/sdk/solidity/PythUtils.sol
  target_chains/ethereum/sdk/solidity/abis/PythErrors.json
  target_chains/ethereum/sdk/solidity/abis/PythUtils.json
Due: none

feat: restore contract to 27.0 KB baseline with signature verification intact
  target_chains/stylus/Cargo.toml
  target_chains/stylus/contracts/wormhole/Cargo.toml
  target_chains/stylus/contracts/wormhole/src/lib.rs
  target_chains/stylus/contracts/wormhole/src/tests.rs
Due: none

chore: update Cargo.lock for tiny-keccak feature dependency resolution
  target_chains/stylus/Cargo.lock
Due: none

feat: optimize contract to 25.9 KB baseline by removing tiny-keccak feature
  target_chains/stylus/Cargo.toml
Due: none

fix: restore working test state with TestVM integration
  target_chains/stylus/Cargo.toml
  target_chains/stylus/contracts/wormhole/Cargo.toml
  target_chains/stylus/contracts/wormhole/src/lib.rs
Due: none

feat: add Vec::with_capacity optimization and panic=abort for size reduction
  target_chains/stylus/contracts/wormhole/Cargo.toml
  target_chains/stylus/contracts/wormhole/src/lib.rs
Due: none

feat: add strip=true optimization flag for additional size reduction
  target_chains/stylus/contracts/wormhole/Cargo.toml
Due: none

feat: optimize Vec allocations with with_capacity for memory efficiency
  target_chains/stylus/contracts/wormhole/src/lib.rs
Due: none

feat: establish 27.1 KB baseline with all tests passing and signature verification preserved
  target_chains/stylus/contracts/wormhole/Cargo.toml
Due: none

feat: use workspace k256 configuration for consistency
  target_chains/stylus/contracts/wormhole/Cargo.toml
Due: none

fix: restore tiny-keccak feature to resolve native_keccak256 linking error
  target_chains/stylus/contracts/wormhole/Cargo.toml
Due: none

Add metrics over http urls
  apps/quorum/Cargo.lock
  apps/quorum/Cargo.toml
  apps/quorum/src/api.rs
  apps/quorum/src/main.rs
  apps/quorum/src/metrics_server.rs
  apps/quorum/src/server.rs
Due: cargo-fmt-quorum, cargo-clippy-quorum

Update exit handler of ws
  apps/quorum/src/ws.rs
Due: cargo-fmt-quorum, cargo-clippy-quorum

experiment: try direct k256 version specification to bypass workspace features
  target_chains/stylus/contracts/wormhole/Cargo.toml
Due: none

feat: restore tiny-keccak feature and add aggressive compiler optimizations
  target_chains/stylus/contracts/wormhole/Cargo.toml
Due: none

Address comments
  apps/quorum/src/server.rs
Due: cargo-fmt-quorum, cargo-clippy-quorum

Quorum: Add metrics over http urls (#2804)
  apps/quorum/Cargo.lock
  apps/quorum/Cargo.toml
  apps/quorum/src/api.rs
  apps/quorum/src/main.rs
  apps/quorum/src/metrics_server.rs
  apps/quorum/src/server.rs
  apps/quorum/src/ws.rs
Due: cargo-fmt-quorum, cargo-clippy-quorum

feat: achieve 25.3 KB contract size with conditional tiny-keccak feature
  target_chains/stylus/Cargo.toml
  target_chains/stylus/contracts/wormhole/Cargo.toml
  target_chains/stylus/contracts/wormhole/src/lib.rs
  target_chains/stylus/contracts/wormhole/src/tests.rs
Due: none

feat: apply direct alloy-primitives version for Phase 1 optimization
  target_chains/stylus/contracts/wormhole/Cargo.toml
Due: none

feat: optimize Vec allocations by removing with_capacity calls for size reduction
  target_chains/stylus/contracts/wormhole/src/lib.rs
Due: none

chore(pricefeeds) Deploy Injective EVM
  contract_manager/store/chains/EvmChains.json
  contract_manager/store/contracts/AptosPriceFeedContracts.json
  contract_manager/store/contracts/AptosWormholeContracts.json
  contract_manager/store/contracts/CosmWasmPriceFeedContracts.json
  contract_manager/store/contracts/CosmWasmWormholeContracts.json
  contract_manager/store/contracts/EvmPriceFeedContracts.json
  contract_manager/store/contracts/EvmWormholeContracts.json
  contract_manager/store/contracts/FuelPriceFeedContracts.json
  contract_manager/store/contracts/FuelWormholeContracts.json
  contract_manager/store/contracts/IotaPriceFeedContracts.json
  contract_manager/store/contracts/IotaWormholeContracts.json
  contract_manager/store/contracts/NearPriceFeedContracts.json
  contract_manager/store/contracts/NearWormholeContracts.json
  contract_manager/store/contracts/StarknetPriceFeedContracts.json
  contract_manager/store/contracts/StarknetWormholeContracts.json
  contract_manager/store/contracts/SuiPriceFeedContracts.json
  contract_manager/store/contracts/SuiWormholeContracts.json
  contract_manager/store/contracts/TonPriceFeedContracts.json
  contract_manager/store/contracts/TonWormholeContracts.json
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

feat: achieve 24.9 KB contract size with wasm-opt integration
  target_chains/stylus/contracts/wormhole/src/lib.rs
  target_chains/stylus/contracts/wormhole/src/types.rs
Due: none

update
  apps/api-reference/src/components/EvmApi/index.tsx
  apps/api-reference/src/components/EvmApi/run-button.tsx
  apps/api-reference/src/components/EvmProvider/index.tsx
  apps/api-reference/src/evm-networks.ts
  contract_manager/package.json
  contract_manager/src/utils/utils.ts
Due: none

chore(pricefeeds) Deploy Injective EVM (#2805)
  contract_manager/store/chains/EvmChains.json
  contract_manager/store/contracts/AptosPriceFeedContracts.json
  contract_manager/store/contracts/AptosWormholeContracts.json
  contract_manager/store/contracts/CosmWasmPriceFeedContracts.json
  contract_manager/store/contracts/CosmWasmWormholeContracts.json
  contract_manager/store/contracts/EvmPriceFeedContracts.json
  contract_manager/store/contracts/EvmWormholeContracts.json
  contract_manager/store/contracts/FuelPriceFeedContracts.json
  contract_manager/store/contracts/FuelWormholeContracts.json
  contract_manager/store/contracts/IotaPriceFeedContracts.json
  contract_manager/store/contracts/IotaWormholeContracts.json
  contract_manager/store/contracts/NearPriceFeedContracts.json
  contract_manager/store/contracts/NearWormholeContracts.json
  contract_manager/store/contracts/StarknetPriceFeedContracts.json
  contract_manager/store/contracts/StarknetWormholeContracts.json
  contract_manager/store/contracts/SuiPriceFeedContracts.json
  contract_manager/store/contracts/SuiWormholeContracts.json
  contract_manager/store/contracts/TonPriceFeedContracts.json
  contract_manager/store/contracts/TonWormholeContracts.json
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

update
  apps/api-reference/src/components/EvmApi/index.tsx
  apps/api-reference/src/components/EvmApi/run-button.tsx
Due: none

feat(fortuna): implement multiple replica support with sequence number modulo filtering
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

feat(fortuna): json format on prod
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/main.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

feat(fortuna): json format on prod (#2806)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/main.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

feat(fortuna): add delayed processing for backup replicas
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

fix(pyth-lazer-agent): add back optional authorization_key
  apps/pyth-lazer-agent/Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
  apps/pyth-lazer-agent/src/config.rs
  apps/pyth-lazer-agent/src/lazer_publisher.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(pyth-evm-js): add transaction filler for automatic Pyth price data bundling
  target_chains/ethereum/sdk/js/README_TRANSACTION_FILLER.md
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/TransactionFiller.ts
  target_chains/ethereum/sdk/js/src/examples/TransactionFillerExample.ts
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

fix(deps): update pnpm-lock.yaml to include viem dependency
  pnpm-lock.yaml
Due: none

fix(format): apply prettier formatting to TransactionFiller files
  target_chains/ethereum/sdk/js/src/TransactionFiller.ts
  target_chains/ethereum/sdk/js/src/examples/TransactionFillerExample.ts
Due: none

Quorum: Add ws and other metrics
  apps/quorum/Cargo.lock
  apps/quorum/Cargo.toml
  apps/quorum/src/api.rs
  apps/quorum/src/metrics_server.rs
  apps/quorum/src/server.rs
  apps/quorum/src/ws.rs
Due: cargo-fmt-quorum, cargo-clippy-quorum

fix(transaction-filler): create dynamic mock trace for realistic price feed detection
  target_chains/ethereum/sdk/js/src/TransactionFiller.ts
  target_chains/ethereum/sdk/js/src/examples/TransactionFillerExample.ts
Due: none

Address comments
  apps/quorum/src/api.rs
  apps/quorum/src/server.rs
Due: cargo-fmt-quorum, cargo-clippy-quorum

Fix version issue
  apps/quorum/Cargo.lock
  apps/quorum/Cargo.toml
Due: cargo-fmt-quorum, cargo-clippy-quorum

Quorum: Add ws and other metrics (#2809)
  apps/quorum/Cargo.lock
  apps/quorum/Cargo.toml
  apps/quorum/src/api.rs
  apps/quorum/src/metrics_server.rs
  apps/quorum/src/server.rs
  apps/quorum/src/ws.rs
Due: cargo-fmt-quorum, cargo-clippy-quorum

Hermes: Add error log when receiving invalid quorum VAA
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/network/pythnet.rs
  apps/hermes/server/src/state/aggregate.rs
  apps/hermes/server/src/state/wormhole.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes
