Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy, cargo-fmt-lazer, cargo-clippy-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/fortuna/Cargo.toml --all
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/fortuna/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./target_chains/solana/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./target_chains/solana/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

poetry-install:
  name: poetry install
  entry: poetry -C express_relay/sdk/python/express_relay install
  pass_filenames: false
  language: system

feat: impl post_twap_update and necessary types
  apps/hermes/server/Cargo.lock
  pythnet/pythnet_sdk/Cargo.toml
  pythnet/pythnet_sdk/src/messages.rs
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/error.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/sdk.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_twap_updates.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

handle promise error
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/ProposalRow.tsx
Due: none

fix: minor fixes (#2166)
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/General.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/ProposalRow.tsx
Due: none

add comments and ignore bounced messages (#2151)
  target_chains/ton/contracts/README.md
  target_chains/ton/contracts/contracts/Main.fc
  target_chains/ton/contracts/contracts/Pyth.fc
Due: none

use getSignaturesForAddress
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/ProposalRow.tsx
Due: none

feat(xc-admin-frontend): add a filter to show voted proposals
  governance/xc_admin/packages/xc_admin_frontend/components/ProposalStatusFilter.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/Select.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/ProposalRow.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/Proposals.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/utils.ts
  governance/xc_admin/packages/xc_admin_frontend/contexts/StatusFilterContext.tsx
  governance/xc_admin/packages/xc_admin_frontend/package.json
  governance/xc_admin/packages/xc_admin_frontend/pages/_app.tsx
  governance/xc_admin/packages/xc_admin_frontend/pages/index.tsx
  pnpm-lock.yaml
Due: none

fix rebase
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/ProposalRow.tsx
Due: none

feat: filter for voted props (#2173)
  governance/xc_admin/packages/xc_admin_frontend/components/ProposalStatusFilter.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/Select.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/ProposalRow.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/Proposals.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/utils.ts
  governance/xc_admin/packages/xc_admin_frontend/contexts/StatusFilterContext.tsx
  governance/xc_admin/packages/xc_admin_frontend/package.json
  governance/xc_admin/packages/xc_admin_frontend/pages/_app.tsx
  governance/xc_admin/packages/xc_admin_frontend/pages/index.tsx
  pnpm-lock.yaml
Due: none

Adjust values
  lazer/contracts/evm/src/PythLazer.sol
  lazer/contracts/evm/test/PythLazer.t.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

Add fees and test
  lazer/contracts/evm/src/PythLazer.sol
  lazer/contracts/evm/test/PythLazer.t.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

Initialize verification fee in init function
  lazer/contracts/evm/src/PythLazer.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

Pre-commit... again?!
  lazer/contracts/evm/README.md
Due: cargo-fmt-lazer, cargo-clippy-lazer

Change storage layout for trusted signers
  lazer/contracts/evm/src/PythLazer.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

Change fee to 1 wei
  lazer/contracts/evm/src/PythLazer.sol
  lazer/contracts/evm/test/PythLazer.t.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

Bob calls
  lazer/contracts/evm/test/PythLazer.t.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

Update README
  lazer/contracts/evm/README.md
Due: cargo-fmt-lazer, cargo-clippy-lazer

pre-commit
  lazer/contracts/evm/script/PythLazerDeploy.s.sol
  lazer/contracts/evm/src/PythLazer.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

Successfully perform upgrade on local anvil
  lazer/contracts/evm/script/PythLazerDeploy.s.sol
  lazer/contracts/evm/src/PythLazer.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

precommit
  lazer/contracts/evm/test/PythLazer.t.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

Reduce size to 100 for smaller gas cost
  lazer/contracts/evm/src/PythLazer.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

Increase trusted signer array to size 200
  lazer/contracts/evm/script/PythLazerDeploy.s.sol
  lazer/contracts/evm/src/PythLazer.sol
  lazer/contracts/evm/test/PythLazer.t.sol
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: move TwapPrice to receiver sdk
  apps/hermes/server/Cargo.lock
  pythnet/pythnet_sdk/Cargo.toml
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_twap_updates.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: add functions to consume twapupdate accounts
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

refactor: move twapprice to solana receiver sdk
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

feat(pyth-solana-receiver): add `post_twap_update` instruction & types (#2172)
  pythnet/pythnet_sdk/src/messages.rs
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/error.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/sdk.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_twap_updates.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix: merge conflict
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

feat(insights): add StatCard icons and Alerts, plus code cleanup
  apps/insights/src/components/PriceFeeds/asset-classes-drawer.tsx
  apps/insights/src/components/PriceFeeds/change-percent.module.scss
  apps/insights/src/components/PriceFeeds/change-percent.tsx
  apps/insights/src/components/PriceFeeds/featured-recently-added.module.scss
  apps/insights/src/components/PriceFeeds/index.module.scss
  apps/insights/src/components/PriceFeeds/index.tsx
  apps/insights/src/components/PriceFeeds/use-filtered-price-feeds.tsx
  apps/insights/src/components/Publishers/index.module.scss
  apps/insights/src/components/Publishers/index.tsx
  packages/app-logger/src/index.tsx
  packages/component-library/.storybook/preview.tsx
  packages/component-library/src/Alert/index.module.scss
  packages/component-library/src/Alert/index.stories.tsx
  packages/component-library/src/Alert/index.tsx
  packages/component-library/src/Drawer/index.module.scss
  packages/component-library/src/Drawer/index.tsx
  packages/component-library/src/Modal/index.tsx
  packages/component-library/src/StatCard/index.module.scss
  packages/component-library/src/StatCard/index.stories.tsx
  packages/component-library/src/StatCard/index.tsx
  packages/component-library/src/theme.scss
Due: none

chore: improve landing rate in examples (#2162)
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update_from_benchmarks.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update_instructions.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/update_price_feed.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: bump crate version
  target_chains/solana/Cargo.lock
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat(solana-receiver-sdk): add `get_twap_no_older_than` to consume TwapUpdates (#2174)
  target_chains/solana/Cargo.lock
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

go
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update_atomic.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore(networks) Add new networks
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

chore: add post partially verified updates example (#2177)
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_price_update_atomic.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore(price-pusher) Add hermes beta mention
  apps/price_pusher/README.md
Due: none

feat: removed verification_level & posted_slot from TwapUpdate struct, added post twap subcommand to CLI
  target_chains/solana/Cargo.lock
  target_chains/solana/cli/Cargo.toml
  target_chains/solana/cli/src/cli.rs
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/pyth-solana-receiver/src/error.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_twap_updates.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: update IDL
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/idl/pyth_solana_receiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat(lazer): add solana contract migration script, add message parsing to protocol
  lazer/Cargo.lock
  lazer/contracts/solana/package.json
  lazer/contracts/solana/scripts/migrate_from_0_1_0.ts
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/lib.rs
  lazer/sdk/rust/protocol/src/message.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(price-pusher) Add hermes beta mention (#2179)
  apps/price_pusher/README.md
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  mypy: any of: express_relay/sdk/python/express_relay, but not: express_relay/sdk/python/express_relay/svm/generated/
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
