Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

fix
  apps/fortuna/src/api.rs
  apps/fortuna/src/command/run.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

requested changes
  apps/fortuna/src/api.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

added in event emission assertion for set_valid_period
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

removed state in tests
  apps/fortuna/src/api.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

arc -> &
  apps/fortuna/src/api.rs
  apps/fortuna/src/command/run.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

feat(lazer): create js solana sdk package
  lazer/contracts/solana/Cargo.lock
  lazer/contracts/solana/package.json
  lazer/sdk/js-solana/.gitignore
  lazer/sdk/js-solana/.prettierignore
  lazer/sdk/js-solana/eslint.config.js
  lazer/sdk/js-solana/package.json
  lazer/sdk/js-solana/src/ed25519.ts
  lazer/sdk/js-solana/src/idl/pyth-lazer-solana-contract.json
  lazer/sdk/js-solana/src/idl/pyth-lazer-solana-contract.ts
  lazer/sdk/js-solana/src/index.ts
  lazer/sdk/js-solana/tsconfig.build.json
  lazer/sdk/js-solana/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix
  lazer/sdk/rust/client/src/client.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: add backoff wrapper + ai generated docs (#2890)
  Cargo.lock
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/client/src/backoff.rs
  lazer/sdk/rust/client/src/client.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(fortuna) Config API (#2895)
  apps/fortuna/src/api.rs
  apps/fortuna/src/api/config.rs
  apps/fortuna/src/command/run.rs
  target_chains/cosmwasm/examples/cw-contract/Cargo.lock
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

bump version
  Cargo.lock
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

chore(bump) Bump Fortuna version
  Cargo.lock
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

chore(bump) Bump Fortuna version (#2901)
  Cargo.lock
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

properly account for undefined requests
  Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain/ethereum.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

review improvements
  lazer/publisher_sdk/proto/publisher_update.proto
  lazer/publisher_sdk/rust/src/lib.rs
  lazer/sdk/rust/protocol/src/jrpc.rs
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

linter fixes
  lazer/sdk/rust/protocol/src/jrpc.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

linter fixes
  lazer/publisher_sdk/rust/src/lib.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

added proxy contract framework
  target_chains/stylus/Cargo.toml
  target_chains/stylus/contracts/pyth-proxy/.cargo/config.toml
  target_chains/stylus/contracts/pyth-proxy/.env.example
  target_chains/stylus/contracts/pyth-proxy/Cargo.lock
  target_chains/stylus/contracts/pyth-proxy/Cargo.toml
  target_chains/stylus/contracts/pyth-proxy/rust-toolchain.toml
  target_chains/stylus/contracts/pyth-proxy/src/lib.rs
  target_chains/stylus/contracts/pyth-proxy/src/main.rs
Due: none

feat(known-publishers): add Portofino to known-publishers
  packages/known-publishers/src/icons/color/portofino.svg
  packages/known-publishers/src/icons/monochrome/portofino.svg
  packages/known-publishers/src/index.tsx
Due: none

properly account for undefined requests (#2902)
  Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain/ethereum.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

chore(fortuna)-add-network-id-api
  apps/fortuna/src/api.rs
  apps/fortuna/src/api/config.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

fortuna update
  Cargo.lock
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

chore(fortuna)-add-network-id-api (#2904)
  Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/api.rs
  apps/fortuna/src/api/config.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

Implement proxy contract setup with comprehensive motsu tests
  target_chains/stylus/contracts/README.md
  target_chains/stylus/contracts/pyth-proxy/Cargo.toml
  target_chains/stylus/contracts/pyth-proxy/src/end_to_end_proxy_tests.rs
  target_chains/stylus/contracts/pyth-proxy/src/lib.rs
  target_chains/stylus/contracts/pyth-proxy/src/proxy_integration_tests.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
  target_chains/stylus/contracts/pyth-receiver/src/proxy_tests.rs
Due: none

fix: resolve function selector mismatches in proxy delegation tests
  target_chains/stylus/contracts/pyth-proxy/src/end_to_end_proxy_tests.rs
  target_chains/stylus/contracts/pyth-receiver/src/error.rs
  target_chains/stylus/contracts/pyth-receiver/src/main.rs
Due: none

feat: add positive test cases for successful proxy delegation operations
  target_chains/stylus/contracts/pyth-proxy/src/end_to_end_proxy_tests.rs
Due: none

feat: add positive test for successful price updates through proxy
  target_chains/stylus/contracts/pyth-proxy/Cargo.toml
  target_chains/stylus/contracts/pyth-proxy/src/end_to_end_proxy_tests.rs
  target_chains/stylus/contracts/pyth-proxy/src/lib.rs
Due: none

feat: add payable function tests for price updates through proxy
  target_chains/stylus/contracts/pyth-proxy/src/end_to_end_proxy_tests.rs
Due: none

feat: add comprehensive failing positive update tests for proxy price feeds
  target_chains/stylus/contracts/pyth-proxy/src/end_to_end_proxy_tests.rs
Due: none

feat: modify payable function tests to fail until ETH forwarding is implemented
  target_chains/stylus/contracts/pyth-proxy/src/end_to_end_proxy_tests.rs
Due: none

add interval to FeedUpdate proto
  lazer/publisher_sdk/proto/state.proto
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(pyth-lazer-agent) Make the id in jrpc request optional
  lazer/sdk/rust/protocol/src/jrpc.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(pyth-lazer-protocol) Bump to 0.10.0
  Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(pyth-lazer-protocol) Bump to 0.10.0 (#2905)
  Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

running into issue passing fee from proxy to pyth
  target_chains/stylus/Cargo.lock
  target_chains/stylus/contracts/pyth-proxy/src/end_to_end_proxy_tests.rs
  target_chains/stylus/contracts/pyth-proxy/src/lib.rs
Due: none

chore(pyth-lazer-publisher-sdk) Bump to 0.2.1
  Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(pyth-lazer-publisher-sdk) Bump to 0.2.1 (#2906)
  Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix dep versions
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

update readme
  Cargo.lock
  apps/pyth-lazer-agent/README.md
Due: cargo-fmt-lazer, cargo-clippy-lazer

add the interval to jrpc proto
  Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/jrpc.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

research: test modern Stylus API for ETH value preservation in delegate_call
  target_chains/stylus/contracts/pyth-proxy/src/end_to_end_proxy_tests.rs
  target_chains/stylus/contracts/pyth-proxy/src/lib.rs
Due: none
