Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay
  mypy: any of: express_relay/sdk/python/express_relay

chore: removed workflow
  target_chains/ethereum/sdk/stylus/.github/codecov.yml
  target_chains/ethereum/sdk/stylus/.github/dependabot.yml
  target_chains/ethereum/sdk/stylus/.github/workflows/check-links.yml
  target_chains/ethereum/sdk/stylus/.github/workflows/check-publish.yml
  target_chains/ethereum/sdk/stylus/.github/workflows/check-wasm.yml
  target_chains/ethereum/sdk/stylus/.github/workflows/check.yml
  target_chains/ethereum/sdk/stylus/.github/workflows/e2e-tests.yml
  target_chains/ethereum/sdk/stylus/.github/workflows/gas-bench.yml
  target_chains/ethereum/sdk/stylus/.github/workflows/nostd.yml
  target_chains/ethereum/sdk/stylus/.github/workflows/test.yml
Due: none

chore:Added Guidlines
  target_chains/ethereum/sdk/stylus/GUIDELINES.md
  target_chains/ethereum/sdk/stylus/benches/src/function_calls.rs
  target_chains/ethereum/sdk/stylus/benches/src/proxy_calls.rs
Due: none

address comment
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/common/errors.fc
  target_chains/ton/contracts/tests/PythTest.spec.ts
Due: none

address comments
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/common/constants.fc
  target_chains/ton/contracts/contracts/common/gas.fc
Due: none

feat: added gas multiplier arg for injective
  apps/price_pusher/README.md
  apps/price_pusher/src/injective/command.ts
  apps/price_pusher/src/injective/injective.ts
Due: none

chore: bump version
  apps/price_pusher/package.json
  apps/price_pusher/src/injective/command.ts
  apps/price_pusher/src/injective/injective.ts
Due: none

chore: update default gas price
  apps/price_pusher/README.md
  apps/price_pusher/src/injective/injective.ts
  target_chains/cosmwasm/tools/src/chains-manager/injective.ts
  target_chains/cosmwasm/tools/src/ci/deployer/injective.ts
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

feat: added gas multiplier arg for injective (#2104)
  apps/price_pusher/README.md
  apps/price_pusher/package.json
  apps/price_pusher/src/injective/command.ts
  apps/price_pusher/src/injective/injective.ts
  target_chains/cosmwasm/tools/src/chains-manager/injective.ts
  target_chains/cosmwasm/tools/src/ci/deployer/injective.ts
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

chore: motsu changes
  target_chains/ethereum/sdk/stylus/Cargo.lock
  target_chains/ethereum/sdk/stylus/Cargo.toml
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/mock.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/types.rs
Due: none

address comments
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/tests/PythTest.spec.ts
Due: none

Create Test.md
  target_chains/ethereum/sdk/stylus/Test.md
Due: none

Update Test.md
  target_chains/ethereum/sdk/stylus/Test.md
Due: none

Rename Test.md to TEST.md
  target_chains/ethereum/sdk/stylus/TEST.md
Due: none

Update README.md
  target_chains/ethereum/sdk/stylus/README.md
Due: none

Delete target_chains/ethereum/sdk/stylus/TEST.md
  target_chains/ethereum/sdk/stylus/TEST.md
Due: none

Fix compatibility with Anchor's idl-build
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

bump
  pythnet/pythnet_sdk/Cargo.toml
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

cargo lock
  target_chains/solana/Cargo.lock
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

refactor(governance): fix clippy warnings
  .pre-commit-config.yaml
  governance/remote_executor/programs/remote-executor/src/tests/executor_simulator.rs
  governance/remote_executor/programs/remote-executor/src/tests/test_adversarial.rs
  governance/remote_executor/programs/remote-executor/src/tests/test_basic_instructions.rs
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

refactor(target_chains/cosmwasm): fix clippy warnings
  .pre-commit-config.yaml
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
  target_chains/cosmwasm/sdk/rust/src/testing.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

refactor(apps/hermes): fix clippy warnings
  .pre-commit-config.yaml
  apps/hermes/server/src/network/wormhole.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

refactor(apps/fortuna): fix clippy warnings
  .pre-commit-config.yaml
  apps/fortuna/src/api/revelation.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/reader.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/state.rs
Due: cargo-fmt-fortuna

refactor(pythnet): fix clippy warnings
  .pre-commit-config.yaml
  pythnet/message_buffer/programs/message_buffer/src/lib.rs
  pythnet/message_buffer/programs/mock-cpi-caller/src/lib.rs
  pythnet/message_buffer/programs/mock-cpi-caller/src/state/mod.rs
Due: cargo-fmt-message-buffer, cargo-clippy-message-buffer

refactor(target_chains/solana): fix clippy warnings
  .pre-commit-config.yaml
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/sdk.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/cpi/accounts.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

format
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

chore: removed mostu
  target_chains/ethereum/sdk/stylus/Cargo.lock
  target_chains/ethereum/sdk/stylus/Cargo.toml
  target_chains/ethereum/sdk/stylus/lib/motsu-proc/Cargo.toml
  target_chains/ethereum/sdk/stylus/lib/motsu-proc/README.md
  target_chains/ethereum/sdk/stylus/lib/motsu-proc/src/lib.rs
  target_chains/ethereum/sdk/stylus/lib/motsu-proc/src/test.rs
  target_chains/ethereum/sdk/stylus/lib/motsu/Cargo.toml
  target_chains/ethereum/sdk/stylus/lib/motsu/README.md
  target_chains/ethereum/sdk/stylus/lib/motsu/src/context.rs
  target_chains/ethereum/sdk/stylus/lib/motsu/src/lib.rs
  target_chains/ethereum/sdk/stylus/lib/motsu/src/prelude.rs
  target_chains/ethereum/sdk/stylus/lib/motsu/src/shims.rs
  target_chains/ethereum/sdk/stylus/lib/motsu/src/storage.rs
Due: none

chore: changed Fixedbytes<32> to B256
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/functions.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/mock.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/pyth_contract.rs
  target_chains/ethereum/sdk/stylus/contracts/src/pyth/types.rs
Due: none

fix: anchor idl gen (#2108)
  pythnet/pythnet_sdk/Cargo.toml
  pythnet/pythnet_sdk/src/messages.rs
  target_chains/solana/Cargo.lock
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore: removed local e2e testing library
  target_chains/ethereum/sdk/stylus/Cargo.lock
  target_chains/ethereum/sdk/stylus/Cargo.toml
  target_chains/ethereum/sdk/stylus/lib/e2e-proc/Cargo.toml
  target_chains/ethereum/sdk/stylus/lib/e2e-proc/README.md
  target_chains/ethereum/sdk/stylus/lib/e2e-proc/src/lib.rs
  target_chains/ethereum/sdk/stylus/lib/e2e-proc/src/test.rs
  target_chains/ethereum/sdk/stylus/lib/e2e/Cargo.toml
  target_chains/ethereum/sdk/stylus/lib/e2e/README.md
  target_chains/ethereum/sdk/stylus/lib/e2e/src/account.rs
  target_chains/ethereum/sdk/stylus/lib/e2e/src/deploy.rs
  target_chains/ethereum/sdk/stylus/lib/e2e/src/environment.rs
  target_chains/ethereum/sdk/stylus/lib/e2e/src/error.rs
  target_chains/ethereum/sdk/stylus/lib/e2e/src/event.rs
  target_chains/ethereum/sdk/stylus/lib/e2e/src/lib.rs
  target_chains/ethereum/sdk/stylus/lib/e2e/src/project.rs
  target_chains/ethereum/sdk/stylus/lib/e2e/src/receipt.rs
  target_chains/ethereum/sdk/stylus/lib/e2e/src/system.rs
Due: none

feat(target_chains/ton): add parse_price_feed_updates (#2099)
  target_chains/ton/contracts/contracts/Main.fc
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/common/constants.fc
  target_chains/ton/contracts/contracts/common/errors.fc
  target_chains/ton/contracts/contracts/common/gas.fc
  target_chains/ton/contracts/contracts/common/op.fc
  target_chains/ton/contracts/contracts/common/utils.fc
  target_chains/ton/contracts/contracts/tests/PythTest.fc
  target_chains/ton/contracts/contracts/tests/PythTestUpgraded.fc
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tests/utils/pyth.ts
  target_chains/ton/contracts/wrappers/PythTest.ts
Due: none

update ton testnet addr
  contract_manager/store/contracts/TonPriceFeedContracts.yaml
  contract_manager/store/contracts/TonWormholeContracts.yaml
  target_chains/ton/contracts/README.md
  target_chains/ton/sdk/js/package.json
  target_chains/ton/sdk/js/src/index.ts
Due: none

update addr
  contract_manager/store/contracts/TonPriceFeedContracts.yaml
  contract_manager/store/contracts/TonWormholeContracts.yaml
  target_chains/ton/contracts/README.md
  target_chains/ton/contracts/scripts/deployPyth.ts
  target_chains/ton/sdk/js/src/index.ts
Due: none

update deploy script
  target_chains/ton/contracts/scripts/deployPyth.ts
Due: none

update mainnet addr
  contract_manager/store/chains/TonChains.yaml
  contract_manager/store/contracts/TonPriceFeedContracts.yaml
  contract_manager/store/contracts/TonWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

update mainnet addr
  target_chains/ton/sdk/js/src/index.ts
Due: none

chore: changes
  target_chains/ethereum/sdk/stylus/benches/src/proxy_calls.rs
  target_chains/ethereum/sdk/stylus/pyth-solidity/script/MockPyth.s.sol
  target_chains/ethereum/sdk/stylus/scripts/bench.sh
Due: none

forge install: openzeppelin-foundry-upgrades
  .gitmodules
Due: none
