Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

feat: remove unused functions (#4006)
  target_chains/solana/programs/core-bridge/src/constants.rs
  target_chains/solana/programs/core-bridge/src/error.rs
  target_chains/solana/programs/core-bridge/src/legacy/accounts/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/instruction/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/governance/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/governance/set_message_fee.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/governance/transfer_fees.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/governance/upgrade_contract.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/post_message/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/post_message/unreliable.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/update_guardian_set_ttl.rs
  target_chains/solana/programs/core-bridge/src/legacy/state/posted_message_v1/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/state/posted_message_v1/unreliable.rs
  target_chains/solana/programs/core-bridge/src/lib.rs
  target_chains/solana/programs/core-bridge/src/processor/mod.rs
  target_chains/solana/programs/core-bridge/src/processor/post_message/close_message_v1.rs
  target_chains/solana/programs/core-bridge/src/processor/post_message/finalize_message_v1.rs
  target_chains/solana/programs/core-bridge/src/processor/post_message/init_message_v1.rs
  target_chains/solana/programs/core-bridge/src/processor/post_message/mod.rs
  target_chains/solana/programs/core-bridge/src/processor/post_message/write_message_v1.rs
  target_chains/solana/programs/core-bridge/src/sdk/mod.rs
  target_chains/solana/programs/core-bridge/src/sdk/prepare_message.rs
  target_chains/solana/programs/core-bridge/src/sdk/publish_message.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: migrate wormhole to new guardian set (#4007)
  target_chains/solana/Cargo.lock
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/core-bridge/Cargo.toml
  target_chains/solana/programs/core-bridge/src/error.rs
  target_chains/solana/programs/core-bridge/src/legacy/instruction/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/close_guardian_set.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/governance/guardian_set_update.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/initialize.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/verify_signatures.rs
  target_chains/solana/programs/core-bridge/src/legacy/state/guardian_set.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

do it (#4010)
  target_chains/solana/programs/core-bridge/src/utils/mod.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix: update wormhole tests (#4011)
  .github/workflows/ci-solana-contract.yml
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_price_update_from_vaa.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_with_wormhole.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

docs(sui): mark XAUM/USD.RR as pro-compatible available
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/sui/sui-mainnet.json
Due: none

fix(contract_manager): give the Fogo chains resolvable wormhole chain names
  contract_manager/src/store/chains/SvmChains.json
Due: none

refactor(contract_manager): drop --sequence from the SVM migration execute script
  contract_manager/scripts/execute_svm_guardian_set_migration.ts
Due: none

refactor(contract_manager): drop the raw instruction dump from the propose script
  contract_manager/scripts/propose_svm_guardian_set_migration.ts
Due: none

feat(contract_manager): print the full on-chain state per chain when proposing
  contract_manager/scripts/propose_svm_guardian_set_migration.ts
  contract_manager/scripts/svm_guardian_set_migration.ts
  contract_manager/scripts/test_solana_lazer_contract.ts
  contract_manager/src/core/contracts/svm.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(contract_manager): gate proposing on the price relay, one instruction per VAA
  contract_manager/scripts/propose_svm_guardian_set_migration.ts
  contract_manager/src/core/chains.ts
Due: none

feat(contract_manager): propose and execute scripts for the SVM guardian set migration
  contract_manager/package.json
  contract_manager/scripts/execute_svm_guardian_set_migration.ts
  contract_manager/scripts/propose_svm_guardian_set_migration.ts
  contract_manager/scripts/svm_guardian_set_migration.sample.json
  contract_manager/scripts/svm_guardian_set_migration.ts
  contract_manager/src/core/chains.ts
  contract_manager/src/core/contracts/index.ts
  contract_manager/src/core/contracts/svm.ts
  contract_manager/src/node/utils/executor.ts
  contract_manager/src/node/utils/governance.ts
  contract_manager/src/node/utils/store.ts
  contract_manager/src/store/contracts/SvmPriceFeedContracts.json
  contract_manager/src/store/contracts/SvmWormholeContracts.json
  governance/xc_admin/packages/xc_admin_common/src/bpf_upgradable_loader.ts
Due: none

feat(contract_manager): relay a price update before proposing the SVM migration
  contract_manager/scripts/execute_svm_guardian_set_migration.ts
  contract_manager/scripts/propose_svm_guardian_set_migration.ts
  contract_manager/scripts/svm_guardian_set_migration.ts
  contract_manager/src/core/contracts/svm.ts
Due: none

fix(contract_manager): require a proposal, and relay one that already executed
  contract_manager/scripts/execute_svm_guardian_set_migration.ts
  contract_manager/src/node/utils/governance.ts
Due: none

add fogo
  contract_manager/src/core/chains.ts
  contract_manager/src/store/chains/SvmChains.json
Due: none

refactor(contract_manager): pin the pre-flight feed to each Hermes' SOL/USD
  contract_manager/scripts/propose_svm_guardian_set_migration.ts
Due: none

refactor(contract_manager): decode and encode SVM accounts through the IDLs
  contract_manager/scripts/propose_svm_guardian_set_migration.ts
  contract_manager/scripts/svm_guardian_set_migration.ts
  contract_manager/src/core/contracts/svm.ts
Due: none

refactor(contract_manager): drive the remote executor through its IDL
  contract_manager/src/node/utils/executor.ts
  governance/remote_executor/idl.ts
  governance/remote_executor/package.json
  governance/xc_admin/packages/xc_admin_common/package.json
  governance/xc_admin/packages/xc_admin_common/src/remote_executor.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

Refine futures terminology in documentation
  apps/developer-hub/content/docs/price-feeds/pro/futures-terminology.mdx
Due: none

Update terminology from 'contract' to 'feed'
  apps/developer-hub/content/docs/price-feeds/pro/symbology-reference.mdx
Due: none

feat(contract_manager): propose the SVM migration as one proposal
  contract_manager/scripts/execute_svm_guardian_set_migration.ts
  contract_manager/scripts/propose_svm_guardian_set_migration.ts
  contract_manager/src/node/utils/governance.ts
  governance/xc_admin/packages/xc_admin_common/src/propose.ts
Due: none

remove comment
  governance/remote_executor/idl.ts
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

remove comment
  governance/xc_admin/packages/xc_admin_common/src/remote_executor.ts
Due: none

refactor(contract_manager): cut the commentary in the SVM migration code
  contract_manager/scripts/execute_svm_guardian_set_migration.ts
  contract_manager/scripts/propose_svm_guardian_set_migration.ts
  contract_manager/scripts/svm_guardian_set_migration.ts
  contract_manager/src/core/chains.ts
  contract_manager/src/core/contracts/svm.ts
  contract_manager/src/node/utils/executor.ts
  contract_manager/src/node/utils/governance.ts
  contract_manager/src/node/utils/store.ts
  governance/xc_admin/packages/xc_admin_common/src/bpf_upgradable_loader.ts
  governance/xc_admin/packages/xc_admin_common/src/propose.ts
Due: none

go
  governance/xc_admin/packages/xc_admin_common/src/bpf_upgradable_loader.ts
Due: none

feat(contract_manager): make the SVM contracts implement the shared interfaces
  contract_manager/scripts/svm_guardian_set_migration.ts
  contract_manager/src/core/contracts/svm.ts
  contract_manager/src/node/utils/executor.ts
  contract_manager/src/node/utils/store.ts
  lazer/contracts/cardano/sdk/js/package.json
  lazer/contracts/cardano/sdk/js/tsconfig.build.json
  packages/jest-config/package.json
  packages/jest-config/tsconfig.build.json
  packages/known-publishers/package.json
  target_chains/ton/sdk/js/package.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: revert incidental reformatting of unrelated package manifests
  lazer/contracts/cardano/sdk/js/package.json
  lazer/contracts/cardano/sdk/js/tsconfig.build.json
  packages/jest-config/package.json
  packages/jest-config/tsconfig.build.json
  packages/known-publishers/package.json
  target_chains/ton/sdk/js/package.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

add(developer-hub): Aug 14-21 public changelog entries; fix shims sunset date
  apps/developer-hub/content/changelog/2026-08-12-pyth-core-benchmarks-tradingview-shims-deprecation.mdx
  apps/developer-hub/content/changelog/2026-08-17-pyth-core-upgrade-moves-to-august-26.mdx
  apps/developer-hub/content/changelog/2026-08-17-pyth-pro-sei-evm-mainnet.mdx
  apps/developer-hub/content/changelog/2026-08-18-pyth-core-fogo-ihub-push-feed.mdx
  apps/developer-hub/content/changelog/2026-08-19-pyth-core-update-fees-zeroed.mdx
Due: none

feat(contract_manager): implement executeGovernanceInstruction for the SVM receiver
  contract_manager/src/core/contracts/svm.ts
  contract_manager/src/node/utils/executor.ts
Due: none

fix(contract_manager): give the squads connection a confirmed commitment
  contract_manager/src/node/utils/governance.ts
Due: none

refactor(contract_manager): parse proposal transactions one signature at a time
  contract_manager/src/node/utils/governance.ts
Due: none

refactor(contract_manager): inline the wormhole message lookup into the proposal
  contract_manager/src/node/utils/governance.ts
Due: none

feat(contract_manager): print the on-chain state per chain when executing
  contract_manager/scripts/execute_svm_guardian_set_migration.ts
Due: none

clippy
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_with_wormhole.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

clean
  target_chains/solana/programs/core-bridge/src/legacy/processor/initialize.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

clean
  .github/workflows/ci-solana-contract.yml
  target_chains/solana/Cargo.lock
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/core-bridge/Cargo.toml
  target_chains/solana/programs/core-bridge/src/legacy/processor/initialize.rs
  target_chains/solana/programs/core-bridge/src/legacy/state/guardian_set.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

clean
  target_chains/solana/programs/core-bridge/src/legacy/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/initialize.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_migrate_guardian_set.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_with_wormhole.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
