Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

ran turbo fix
  .gitignore
  apps/developer-hub/.gitignore
  contract_manager/store/contracts/AptosPriceFeedContracts.json
  contract_manager/store/contracts/AptosWormholeContracts.json
  contract_manager/store/contracts/CosmWasmPriceFeedContracts.json
  contract_manager/store/contracts/CosmWasmWormholeContracts.json
  contract_manager/store/contracts/EvmEntropyContracts.json
  contract_manager/store/contracts/EvmPriceFeedContracts.json
  contract_manager/store/contracts/EvmWormholeContracts.json
  contract_manager/store/contracts/FuelPriceFeedContracts.json
  contract_manager/store/contracts/FuelWormholeContracts.json
  contract_manager/store/contracts/IotaPriceFeedContracts.json
  contract_manager/store/contracts/IotaWormholeContracts.json
  contract_manager/store/contracts/NearPriceFeedContracts.json
  contract_manager/store/contracts/NearWormholeContracts.json
  contract_manager/store/contracts/StarknetPriceFeedContracts.json
  contract_manager/store/contracts/StarknetWormholeContracts.json
  contract_manager/store/contracts/SuiPriceFeedContracts.json
  contract_manager/store/contracts/SuiWormholeContracts.json
  contract_manager/store/contracts/TonPriceFeedContracts.json
  contract_manager/store/contracts/TonWormholeContracts.json
  packages/known-publishers/src/icons/color/lotech.svg
  packages/known-publishers/src/icons/monochrome/lotech.svg
  target_chains/fuel/contracts/fuel-toolchain.toml
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-abi.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-storage_slots.json
  target_chains/fuel/contracts/pyth-contract/src/main.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/wormhole_light.sw
  target_chains/fuel/sdk/js/src/types/PythContract.ts
  target_chains/fuel/sdk/js/src/types/PythContractFactory.ts
  target_chains/near/example/Cargo.lock
  target_chains/stylus/contracts/pyth-receiver/Cargo.toml
  target_chains/stylus/contracts/wormhole/contract_tests/initialize_contract.sh
  target_chains/stylus/contracts/wormhole/contract_tests/test_parse_and_verify_vm.py
  target_chains/stylus/contracts/wormhole/src/lib.rs
  target_chains/stylus/contracts/wormhole/tests/integration_test.rs
  target_chains/ton/contracts/.prettierignore
Due: none

Revert "more cleaning 2"
  target_chains/fuel/contracts/tests/utils/interface/wormhole_guardians.rs
Due: none

Revert "ran turbo fix"
  .gitignore
  apps/developer-hub/.gitignore
  contract_manager/store/contracts/AptosPriceFeedContracts.json
  contract_manager/store/contracts/AptosWormholeContracts.json
  contract_manager/store/contracts/CosmWasmPriceFeedContracts.json
  contract_manager/store/contracts/CosmWasmWormholeContracts.json
  contract_manager/store/contracts/EvmEntropyContracts.json
  contract_manager/store/contracts/EvmPriceFeedContracts.json
  contract_manager/store/contracts/EvmWormholeContracts.json
  contract_manager/store/contracts/FuelPriceFeedContracts.json
  contract_manager/store/contracts/FuelWormholeContracts.json
  contract_manager/store/contracts/IotaPriceFeedContracts.json
  contract_manager/store/contracts/IotaWormholeContracts.json
  contract_manager/store/contracts/NearPriceFeedContracts.json
  contract_manager/store/contracts/NearWormholeContracts.json
  contract_manager/store/contracts/StarknetPriceFeedContracts.json
  contract_manager/store/contracts/StarknetWormholeContracts.json
  contract_manager/store/contracts/SuiPriceFeedContracts.json
  contract_manager/store/contracts/SuiWormholeContracts.json
  contract_manager/store/contracts/TonPriceFeedContracts.json
  contract_manager/store/contracts/TonWormholeContracts.json
  packages/known-publishers/src/icons/color/lotech.svg
  packages/known-publishers/src/icons/monochrome/lotech.svg
  target_chains/fuel/contracts/fuel-toolchain.toml
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-abi.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-storage_slots.json
  target_chains/fuel/contracts/pyth-contract/src/main.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/wormhole_light.sw
  target_chains/fuel/sdk/js/src/types/PythContract.ts
  target_chains/fuel/sdk/js/src/types/PythContractFactory.ts
  target_chains/near/example/Cargo.lock
  target_chains/stylus/contracts/pyth-receiver/Cargo.toml
  target_chains/stylus/contracts/wormhole/contract_tests/initialize_contract.sh
  target_chains/stylus/contracts/wormhole/contract_tests/test_parse_and_verify_vm.py
  target_chains/stylus/contracts/wormhole/src/lib.rs
  target_chains/stylus/contracts/wormhole/tests/integration_test.rs
  target_chains/ton/contracts/.prettierignore
Due: none

feat(insights): allow overriding rpc from env
  apps/insights/src/config/isomorphic.ts
  apps/insights/src/services/pyth.ts
  apps/insights/turbo.json
Due: none

only made changes to the fuel folder
  target_chains/fuel/contracts/fuel-toolchain.toml
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-abi.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-storage_slots.json
  target_chains/fuel/contracts/pyth-contract/src/main.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/wormhole_light.sw
  target_chains/fuel/sdk/js/src/types/PythContract.ts
  target_chains/fuel/sdk/js/src/types/PythContractFactory.ts
Due: none

explaining byte padding
  target_chains/fuel/contracts/pyth-interface/src/data_structures/wormhole_light.sw
  target_chains/fuel/contracts/pyth-interface/src/pyth_merkle_proof.sw
Due: none

fixed test
  target_chains/fuel/contracts/pyth-contract/src/main.sw
  target_chains/fuel/contracts/tests/utils/interface/wormhole_guardians.rs
Due: none

Update FuelPriceFeedContracts.json
  contract_manager/store/contracts/FuelPriceFeedContracts.json
Due: none

Update hermes responses to no content
  apps/hermes/server/src/api/rest.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

feat(fortuna): track balance of fee manager (#2915)
  Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

merge
  apps/fortuna/sqlite_migrations/20250605004757_add_indices_for_advanced_search.up.sql
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

feat(fortuna): use requestV2 event, parse revealed event from tx logs, add gas and callback fields to history API
  apps/fortuna/migrations/20250801232728_add_callback_fields.down.sql
  apps/fortuna/migrations/20250801232728_add_callback_fields.up.sql
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/history.rs
  apps/fortuna/src/keeper/process_event.rs
  apps/fortuna/src/serde.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

fix: delete SMR from tokens
  contract_manager/store/tokens/Tokens.json
Due: none

feat: add cached methods
  apps/insights/src/app/price-feeds/[slug]/layout.ts
  apps/insights/src/components/Overview/index.tsx
  apps/insights/src/components/PriceFeed/get-feed.tsx
  apps/insights/src/components/PriceFeed/publishers.tsx
  apps/insights/src/components/PriceFeeds/index.tsx
  apps/insights/src/server/pyth.ts
Due: none

feat: add more cached methods
  apps/insights/src/components/PriceFeed/get-feed.tsx
  apps/insights/src/components/PriceFeed/publishers.tsx
  apps/insights/src/server/clickhouse.ts
Due: none

feat(insights): add more cached methods 2
  apps/insights/src/components/Publisher/get-price-feeds.tsx
  apps/insights/src/components/Publisher/layout.tsx
  apps/insights/src/components/Publisher/performance.tsx
  apps/insights/src/components/Publishers/index.tsx
  apps/insights/src/server/clickhouse.ts
  apps/insights/src/server/pyth.ts
Due: none

feat(insights): testing in memory data
  apps/insights/src/services/pyth.ts
Due: none

Optimize read_and_store_large_data to eliminate double reversal
  target_chains/ton/contracts/contracts/common/utils.fc
Due: none

updated linear approach to reading large data
  target_chains/ton/contracts/contracts/common/utils.fc
Due: none

Fix direct approach implementation in read_and_store_large_data
  target_chains/ton/contracts/contracts/common/utils.fc
Due: none

setting up 10 id test case
  target_chains/ton/contracts/contracts/common/utils.fc
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tests/utils/pyth.ts
Due: none

feat: add test case for parsing 10 price feed updates in TON contract
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tests/utils/pyth.ts
Due: none

fix(fortuna): validate request v2 seq_num
  apps/fortuna/src/chain/ethereum.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

chore(fortuna): better name
  apps/fortuna/src/eth_utils/utils.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

feat(pyth-lazer) Add funding_rate_interval to feed properties
  Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/payload.rs
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fmt fix
  lazer/sdk/rust/protocol/src/payload.rs
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

update comment
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(pyth-lazer) Add funding_rate_interval to feed properties (#2923)
  Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/payload.rs
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: test with partial cache
  apps/insights/src/server/pyth.ts
  apps/insights/src/services/pyth.ts
Due: none

perf: reduce partial cache
  apps/insights/src/server/pyth.ts
  apps/insights/src/services/pyth.ts
Due: none

chore: test with max memory setting
  apps/insights/next.config.js
  apps/insights/src/components/Root/index.tsx
  apps/insights/src/server/pyth.ts
  apps/insights/src/services/pyth.ts
Due: none

chore: bump next version
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(apps/price_pusher): bump version
  apps/price_pusher/package.json
Due: none

chore: add logs
  apps/insights/src/server/pyth.ts
Due: none

chore(apps/price_pusher): bump version (#2924)
  apps/price_pusher/package.json
Due: none

chore: add cache test function
  apps/insights/src/components/PriceFeed/publishers.tsx
  apps/insights/src/components/Publishers/index.tsx
Due: none

trying out 1 price feed test case
  target_chains/ton/contracts/contracts/common/utils.fc
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tests/utils/pyth.ts
Due: none

fixed tests
  target_chains/ton/contracts/contracts/common/utils.fc
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tests/utils/pyth.ts
Due: none

added 8 test
  target_chains/ton/contracts/tests/PythTest.spec.ts
Due: none

added 8 test variables
  target_chains/ton/contracts/tests/utils/pyth.ts
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
