Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

feat(contract-manager): add EVM Pyth Pro cutover tooling (#4008)
  apps/developer-hub/src/components/EvmContractsStatusTable/index.tsx
  apps/hermes/client/js/.gitignore
  apps/hermes/client/js/package.json
  apps/hermes/client/js/schema.json
  biome.json
  contract_manager/README.md
  contract_manager/package.json
  contract_manager/scripts/check_proposal.ts
  contract_manager/scripts/common.ts
  contract_manager/scripts/deploy_evm_pro_cutover.ts
  contract_manager/scripts/deploy_solana_programs.ts
  contract_manager/scripts/execute_evm_pro_cutover.ts
  contract_manager/scripts/execute_proposal.ts
  contract_manager/scripts/preflight_evm_pro_cutover.ts
  contract_manager/scripts/pro_cutover.ts
  contract_manager/scripts/proposal_review.ts
  contract_manager/scripts/propose_evm_pro_cutover.ts
  contract_manager/scripts/sync_pro_guardian_set.ts
  contract_manager/scripts/sync_pro_guardian_set_svm.ts
  contract_manager/scripts/update_pricefeed.ts
  contract_manager/src/core/base.ts
  contract_manager/src/core/contracts/sui.ts
  contract_manager/src/core/contracts/wormhole.ts
  contract_manager/src/core/pro_guardian_sets.ts
  contract_manager/src/store/chains/EvmChains.json
  contract_manager/src/store/chains/SuiChains.json
  contract_manager/src/store/contracts/EvmPriceFeedContracts.json
  contract_manager/src/store/contracts/EvmWormholeContracts.json
  contract_manager/src/store/guardian_sets/ProCompatibleProductionGuardianSetVaas.json
  contract_manager/src/store/guardian_sets/ProCompatibleStagingGuardianSetVaas.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

docs: leave a pointer README where the developer hub used to live
  apps/developer-hub/README.md
Due: none

Hydra worker auto-commit for task s-belfdgjj
  Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/keeper/block.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

fix(staking): authenticate Solflare SDK postMessage events
  apps/staking/next.config.js
  patches/@solflare-wallet__sdk@1.4.2.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(entropy): re-resolve request after callback in revealWithCallback
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/test/Entropy.t.sol
Due: none

docs(solana): record what breaks with v1 transactions
  contract_manager/src/node/utils/governance.ts
  target_chains/solana/docs/transaction-v1-readiness.md
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Hydra worker auto-commit for task s-lgvhndpr
  apps/hermes/client/js/schema.json
  contract_manager/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

Hydra worker auto-commit for task s-wsghmsnt
  apps/hermes/client/js/schema.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

Hydra worker auto-commit for task s-xhzkmmat
  apps/hermes/client/js/schema.json
  contract_manager/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

Hydra worker auto-commit for task s-wdjiynwk
  apps/hermes/client/js/schema.json
  contract_manager/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

Make the gatekeeper's manual dispatch actually work
  .github/workflows/ci-ai-gatekeeper.yml
Due: none

Hydra worker auto-commit for task s-kvebadae
  apps/hermes/client/js/schema.json
  contract_manager/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

Hydra worker auto-commit for task s-mdkhhscz
  apps/hermes/client/js/schema.json
  contract_manager/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(entropy): re-resolve request after callback in revealWithCallback (#4047)
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/test/Entropy.t.sol
Due: none

Hydra worker auto-commit for task s-gpppdofe
  apps/hermes/client/js/schema.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

Hydra worker auto-commit for task s-qktzlesu
  apps/hermes/client/js/schema.json
  contract_manager/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

Hydra worker auto-commit for task s-mjaloikv
  apps/hermes/client/js/schema.json
  contract_manager/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

Hydra worker auto-commit for task s-pccczjbm
  apps/hermes/client/js/schema.json
  contract_manager/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

Hydra worker auto-commit for task s-oqgiwomi
  apps/hermes/client/js/schema.json
  contract_manager/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

Hydra worker auto-commit for task s-vnqnszvq
  apps/hermes/client/js/schema.json
  contract_manager/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

refactor(staking): remove the PYTHNET_RPC dependency
  apps/staking/src/api.ts
  apps/staking/src/components/OracleIntegrityStaking/index.tsx
  apps/staking/src/components/Root/index.tsx
  apps/staking/src/config/server.ts
  apps/staking/src/hooks/use-api.tsx
Due: none

chore(staking): drop redundant `async` in api.ts
  apps/staking/src/api.ts
Due: none

Hydra worker auto-commit for task s-msitatce
  apps/hermes/client/js/schema.json
  contract_manager/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

Hydra worker auto-commit for task s-yqamopzb
  apps/hermes/client/js/schema.json
  contract_manager/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

refactor(staking): remove the PYTHNET_RPC dependency (#4052)
  apps/staking/src/api.ts
  apps/staking/src/components/OracleIntegrityStaking/index.tsx
  apps/staking/src/components/Root/index.tsx
  apps/staking/src/config/server.ts
  apps/staking/src/hooks/use-api.tsx
Due: none

Hydra worker auto-commit for task s-cxckshmo
  lazer/contracts/cardano/aiken.lock
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(staking): drop the Solflare wallet adapter
  apps/staking/next.config.js
  apps/staking/src/components/WalletProvider/index.tsx
Due: none

Hydra worker auto-commit for task s-uagyaark
  apps/hermes/client/js/schema.json
  contract_manager/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

Hydra worker auto-commit for task s-jtxejtiq
  apps/hermes/client/js/schema.json
  contract_manager/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

ci: add greenlight AI review caller workflow
  .github/workflows/greenlight-review.yml
Due: none
