Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-p2w-sdk, cargo-clippy-p2w-sdk

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
  # Hook to format many type of files in the repo
  # including solidity contracts.
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        additional_dependencies:
          - "prettier@2.7.1"
          - "prettier-plugin-solidity@1.0.0-rc.1"
  - repo: local
    hooks:
      # Hooks for the remote executor
      - id: cargo-fmt-remote-executor
        name: Cargo format for remote executor
        language: "rust"
        entry: cargo +nightly fmt --manifest-path ./pythnet/remote-executor/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: pythnet/remote-executor/
      - id: cargo-clippy-remote-executor
        name: Cargo clippy for remote executor
        language: "rust"
        entry: cargo +nightly clippy --manifest-path ./pythnet/remote-executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
        pass_filenames: false
        files: pythnet/remote-executor/
      # Hooks for the attester
      - id: cargo-fmt-attester
        name: Cargo format for attester
        language: "rust"
        entry: cargo +nightly fmt --manifest-path ./solana/pyth2wormhole/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: solana/pyth2wormhole/
      - id: cargo-clippy-attester
        name: Cargo clippy for attester
        language: "rust"
        entry: |
          bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly clippy --manifest-path \
            ./solana/pyth2wormhole/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'
        pass_filenames: false
        files: solana/pyth2wormhole/
      # Hooks for cosmwasm contract
      - id: cargo-fmt-cosmwasm
        name: Cargo format for cosmwasm contract
        language: "rust"
        entry: cargo +nightly fmt --manifest-path ./cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: cosmwasm/
      - id: cargo-clippy-cosmwasm
        name: Cargo clippy for cosmwasm contract
        language: "rust"
        entry: cargo +nightly clippy --manifest-path ./cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
        pass_filenames: false
        files: cosmwasm/
      # Hooks for p2w-sdk/rust
      - id: cargo-fmt-p2w-sdk
        name: Cargo format for p2w-sdk
        language: "rust"
        entry: cargo +nightly fmt --manifest-path ./third_party/pyth/p2w-sdk/rust/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: third_party/pyth/p2w-sdk/rust/
      - id: cargo-clippy-p2w-sdk
        name: Cargo clippy for p2w-sdk
        language: "rust"
        entry: cargo +nightly clippy --manifest-path ./third_party/pyth/p2w-sdk/rust/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
        pass_filenames: false
        files: third_party/pyth/p2w-sdk/rust/

Rename to pyth_oracle.so
  third_party/pyth/pyth_utils.py
  tilt-devnet/docker-images/Dockerfile.solana
Due: none

Cleanup
  third_party/pyth/pyth_utils.py
  tilt-devnet/docker-images/Dockerfile.solana
Due: none

[xc-admin] Add wormhole logic to the crank-executor (#504)
  governance/xc-admin/package-lock.json
  governance/xc-admin/packages/crank-executor/package.json
  governance/xc-admin/packages/crank-executor/src/index.ts
  governance/xc-admin/packages/xc-admin-common/src/multisig_transaction/index.ts
  governance/xc-admin/packages/xc-admin-common/src/propose.ts
Due: none

Add pythnet to tilt
  Tiltfile
  tilt-devnet/k8s/node.yaml
  tilt-devnet/k8s/pythnet-devnet.yaml
Due: none

Fix tilt deps
  Tiltfile
  tilt-devnet/k8s/node.yaml
Due: none

[price-service] Hotfix a serde problem (#503)
  price-service/package-lock.json
  price-service/package.json
  price-service/src/__tests__/rest.test.ts
  price-service/src/listen.ts
  price-service/src/rest.ts
Due: none

[price-service] Hotfix leading 0x problem
  price-service/package-lock.json
  price-service/package.json
  price-service/src/rest.ts
Due: none

add osmosis testnet config
  target-chains/cosmwasm/tools/src/deployer/config.ts
  target-chains/cosmwasm/tools/src/network.ts
  target-chains/cosmwasm/tools/src/pyth_config.ts
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

[price-service] Hotfix leading 0x problem (#507)
  price-service/package-lock.json
  price-service/package.json
  price-service/src/rest.ts
Due: none

[cosmwasm] Add osmosis testnet config (#499)
  target-chains/cosmwasm/tools/src/deployer/config.ts
  target-chains/cosmwasm/tools/src/network.ts
  target-chains/cosmwasm/tools/src/pyth_config.ts
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

wormhole-attester: Use publish_time instead of attestation_time
  third_party/pyth/p2w-sdk/rust/src/lib.rs
  wormhole-attester/Cargo.lock
  wormhole-attester/program/Cargo.toml
  wormhole-attester/program/src/attest.rs
  wormhole-attester/program/src/attestation_state.rs
Due: cargo-fmt-p2w-sdk, cargo-clippy-p2w-sdk

wormhole-attester: Add a previous attestation timestamp field
  third_party/pyth/p2w-sdk/rust/src/lib.rs
  wormhole-attester/client/src/lib.rs
  wormhole-attester/program/src/attest.rs
  wormhole-attester/program/src/attestation_state.rs
  wormhole-attester/program/src/lib.rs
  wormhole-attester/program/src/message.rs
Due: cargo-fmt-p2w-sdk, cargo-clippy-p2w-sdk

[tilt] Bump pyth-client to 2.20 (#505)
  third_party/pyth/Dockerfile.pyth
  third_party/pyth/pyth_utils.py
  tilt-devnet/docker-images/Dockerfile.solana
Due: none

wormhole_attester: use prev_publish_time for non-trading prices
  wormhole-attester/program/src/attest.rs
  wormhole-attester/program/src/attestation_state.rs
Due: none

[price-service] Hotfix cache
  price-service/package-lock.json
  price-service/package.json
  price-service/src/listen.ts
Due: none

[price-service] Hotfix cache (#508)
  price-service/package-lock.json
  price-service/package.json
  price-service/src/listen.ts
Due: none

contract updated
  target-chains/cosmwasm/Cargo.lock
  target-chains/cosmwasm/contracts/pyth/Cargo.toml
  target-chains/cosmwasm/contracts/pyth/src/contract.rs
  target-chains/cosmwasm/contracts/pyth/src/lib.rs
  target-chains/cosmwasm/contracts/pyth/src/msg.rs
  target-chains/cosmwasm/contracts/pyth/src/state.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

add tests for the logic
  target-chains/cosmwasm/contracts/pyth/src/contract.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Add idl
  governance/remote-executor/idl.json
Due: none

For convinience
  third_party/pyth/prepare_multisig.py
  tilt-devnet/secrets/solana/squads/member_carol.json
Due: none

Fix comment
  third_party/pyth/prepare_multisig.py
Due: none

[tilt] make multisig approvals easy (#512)
  third_party/pyth/prepare_multisig.py
  tilt-devnet/secrets/solana/squads/member_carol.json
Due: none

add edit feature
  governance/xc-admin/package-lock.json
  governance/xc-admin/packages/xc-admin-frontend/components/EditButton.tsx
  governance/xc-admin/packages/xc-admin-frontend/components/tabs/UpdatePermissions.tsx
  governance/xc-admin/packages/xc-admin-frontend/package.json
Due: none

[wip] fix multisig hook
  governance/xc-admin/packages/xc-admin-frontend/components/tabs/UpdatePermissions.tsx
  governance/xc-admin/packages/xc-admin-frontend/hooks/useMultisig.ts
Due: none

[wip] sqds proposal
  governance/xc-admin/packages/xc-admin-frontend/components/tabs/UpdatePermissions.tsx
Due: none

fix wallet hydration error
  governance/xc-admin/packages/xc-admin-frontend/components/layout/Header.tsx
  governance/xc-admin/packages/xc-admin-frontend/components/layout/Layout.tsx
  governance/xc-admin/packages/xc-admin-frontend/components/tabs/UpdatePermissions.tsx
  governance/xc-admin/packages/xc-admin-frontend/package.json
Due: none

update package-lock.json
  governance/xc-admin/package-lock.json
Due: none

checkpoint
  governance/xc-admin/package-lock.json
  governance/xc-admin/packages/xc-admin-frontend/components/tabs/UpdatePermissions.tsx
  governance/xc-admin/packages/xc-admin-frontend/package.json
  package-lock.json
Due: none

[cosmwasm] update contract (#509)
  target-chains/cosmwasm/Cargo.lock
  target-chains/cosmwasm/contracts/pyth/Cargo.toml
  target-chains/cosmwasm/contracts/pyth/src/contract.rs
  target-chains/cosmwasm/contracts/pyth/src/lib.rs
  target-chains/cosmwasm/contracts/pyth/src/msg.rs
  target-chains/cosmwasm/contracts/pyth/src/state.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

update key to v4
  target-chains/cosmwasm/contracts/pyth/src/state.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

schema gen
  target-chains/cosmwasm/Cargo.lock
  target-chains/cosmwasm/contracts/pyth/Cargo.toml
  target-chains/cosmwasm/contracts/pyth/schema/pyth-cosmwasm.json
  target-chains/cosmwasm/contracts/pyth/src/msg.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

include bin for schema gen
  target-chains/cosmwasm/.gitignore
  target-chains/cosmwasm/contracts/pyth/src/bin/schema.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

update key to v4 (#513)
  target-chains/cosmwasm/contracts/pyth/src/state.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

[xc-governance-sdk] Add cosmwasm upgrade ix
  governance/xc-governance-sdk-js/src/instructions.ts
Due: none

wormhole-attester: Add a previous attestation timestamp field (#488)
  third_party/pyth/p2w-sdk/rust/src/lib.rs
  wormhole-attester/Cargo.lock
  wormhole-attester/client/src/lib.rs
  wormhole-attester/program/Cargo.toml
  wormhole-attester/program/src/attest.rs
  wormhole-attester/program/src/attestation_state.rs
  wormhole-attester/program/src/lib.rs
  wormhole-attester/program/src/message.rs
Due: cargo-fmt-p2w-sdk, cargo-clippy-p2w-sdk

Format the file
  governance/xc-governance-sdk-js/src/instructions.ts
Due: none

add swap example
  target-chains/ethereum/examples/oracle_swap/README.md
  target-chains/ethereum/examples/oracle_swap/app/package-lock.json
  target-chains/ethereum/examples/oracle_swap/app/package.json
  target-chains/ethereum/examples/oracle_swap/app/public/favicon.ico
  target-chains/ethereum/examples/oracle_swap/app/public/index.html
  target-chains/ethereum/examples/oracle_swap/app/public/logo192.png
  target-chains/ethereum/examples/oracle_swap/app/public/manifest.json
  target-chains/ethereum/examples/oracle_swap/app/public/robots.txt
  target-chains/ethereum/examples/oracle_swap/app/src/App.css
  target-chains/ethereum/examples/oracle_swap/app/src/App.test.tsx
  target-chains/ethereum/examples/oracle_swap/app/src/App.tsx
  target-chains/ethereum/examples/oracle_swap/app/src/PythExampleAbi.json
  target-chains/ethereum/examples/oracle_swap/app/src/index.css
  target-chains/ethereum/examples/oracle_swap/app/src/index.tsx
  target-chains/ethereum/examples/oracle_swap/app/src/logo.svg
  target-chains/ethereum/examples/oracle_swap/app/src/react-app-env.d.ts
  target-chains/ethereum/examples/oracle_swap/app/src/reportWebVitals.ts
  target-chains/ethereum/examples/oracle_swap/app/src/setupTests.ts
  target-chains/ethereum/examples/oracle_swap/app/tsconfig.json
  target-chains/ethereum/examples/oracle_swap/contract/.gitignore
  target-chains/ethereum/examples/oracle_swap/contract/foundry.toml
  target-chains/ethereum/examples/oracle_swap/contract/lib/README.md
  target-chains/ethereum/examples/oracle_swap/contract/remappings.txt
  target-chains/ethereum/examples/oracle_swap/contract/script/PythExample.s.sol
  target-chains/ethereum/examples/oracle_swap/contract/src/PythExample.sol
  target-chains/ethereum/examples/oracle_swap/contract/test/PythExample.t.sol
Due: none

make example a swap
  target-chains/ethereum/examples/oracle_swap/README.md
  target-chains/ethereum/examples/oracle_swap/contract/remappings.txt
  target-chains/ethereum/examples/oracle_swap/contract/src/PythExample.sol
  target-chains/ethereum/examples/oracle_swap/contract/test/PythExample.t.sol
Due: none

whatever
  target-chains/ethereum/examples/oracle_swap/contract/src/PythExample.sol
Due: none
