Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

go
  apps/developer-hub/content/docs/price-feeds/core/upgrade/contracts.mdx
  apps/developer-hub/content/docs/price-feeds/core/upgrade/how-it-works.mdx
  apps/developer-hub/content/docs/price-feeds/core/upgrade/preparing/index.mdx
Due: none

undo this
  apps/developer-hub/content/docs/price-feeds/core/upgrade/preparing/index.mdx
Due: none

undo this
  apps/developer-hub/content/docs/price-feeds/core/upgrade/how-it-works.mdx
Due: none

remove whitespace
  apps/developer-hub/content/docs/price-feeds/core/upgrade/how-it-works.mdx
Due: none

fix: minor editing (#3765)
  apps/developer-hub/content/docs/price-feeds/core/upgrade/contracts.mdx
  apps/developer-hub/content/docs/price-feeds/core/upgrade/how-it-works.mdx
Due: none

docs: add PAXG push feed on optimism
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/evm/optimism-mainnet.json
Due: none

deploy(lazer) Injective new COre
  contract_manager/src/store/contracts/EvmPriceFeedContracts.json
  contract_manager/src/store/contracts/EvmWormholeContracts.json
Due: none

docs: rename inEVM to Injective EVM on contract addresses page
  apps/developer-hub/src/components/MigrationContractsTable/deployments-config.ts
Due: none

docs: move "Injective EVM" rename to network 1776
  apps/developer-hub/src/components/MigrationContractsTable/deployments-config.ts
Due: none

docs: hide deprecated inEVM rollup from EVM contracts table
  apps/developer-hub/src/components/EvmContractsStatusTable/index.tsx
Due: none

fix(hermes): disconnect slow WS/SSE consumers to prevent OOM
  apps/hermes/server/src/api.rs
  apps/hermes/server/src/api/metrics_middleware.rs
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/api/rest/v2/sse.rs
  apps/hermes/server/src/api/ws.rs
  apps/hermes/server/src/config/rpc.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore(hermes): bump version to 0.11.0
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(hermes): address review feedback and CI failures
  apps/hermes/server/src/api/metrics_middleware.rs
  apps/hermes/server/src/api/rest/v2/sse.rs
  apps/hermes/server/src/api/ws.rs
  apps/hermes/server/src/config/rpc.rs
  apps/hermes/server/src/network/wormhole.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(hermes): match axum's tungstenite version for WS slow consumer detection
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/api/ws.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(hermes): disconnect slow WS/SSE consumers to prevent OOM (#3769)
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/api.rs
  apps/hermes/server/src/api/metrics_middleware.rs
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/api/rest/v2/sse.rs
  apps/hermes/server/src/api/ws.rs
  apps/hermes/server/src/config/rpc.rs
  apps/hermes/server/src/network/wormhole.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

ci(starknet): pass --locked to cargo install + bump deprecated actions
  .github/workflows/ci-starknet-contract.yml
Due: none

fix(ci): bump turbo workflow actions to fix cache breakage
  .github/workflows/ci-turbo-build.yml
  .github/workflows/ci-turbo-test.yml
Due: none

fix(cosmwasm): add explicit lifetimes to state helpers and bump checkout to v4
  .github/workflows/ci-cosmwasm-contract.yml
  target_chains/cosmwasm/contracts/pyth/src/state.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

fix(ci): add --locked to cargo-stylus install, bump checkout@v5
  .github/workflows/ci-stylus-check-wasm.yml
Due: none

fix(pythnet_sdk): fix example compile error and bump actions/checkout to v4
  .github/workflows/ci-pythnet-sdk.yml
  pythnet/pythnet_sdk/examples/generate_pyth_data.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

fix(quorum): fix lifetime-syntax lint error in api.rs and bump checkout to v4
  .github/workflows/ci-quorum.yml
  apps/quorum/src/api.rs
Due: cargo-fmt-quorum, cargo-clippy-quorum

fix(fortuna): fix clippy warnings and bump checkout action to v4
  .github/workflows/ci-fortuna.yml
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/history.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

ci(message-buffer): fix IDL check and bump actions to Node 24
  .github/workflows/ci-message-buffer.yml
Due: none

fix(starknet): fix Check Starknet Tools CI by clearing RUSTFLAGS for scarb
  .github/workflows/ci-starknet-tools.yml
  target_chains/starknet/tools/test_vaas/src/bin/generate_test_data.rs
Due: none

fix(ci): disable setup-node package-manager-cache to fix pnpm not found
  .github/workflows/ci-turbo-build.yml
  .github/workflows/ci-turbo-test.yml
Due: none

ci(starknet): pass --locked to cargo install + bump deprecated actions (#3770)
  .github/workflows/ci-starknet-contract.yml
Due: none

fix(cosmwasm): add explicit lifetimes to state helpers and bump checkout to v4 (#3772)
  .github/workflows/ci-cosmwasm-contract.yml
  target_chains/cosmwasm/contracts/pyth/src/state.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

fix(ci): add --locked to cargo-stylus install, bump checkout@v5 (#3773)
  .github/workflows/ci-stylus-check-wasm.yml
Due: none

fix(pythnet_sdk): fix example compile error and bump actions/checkout to v4 (#3774)
  .github/workflows/ci-pythnet-sdk.yml
  pythnet/pythnet_sdk/examples/generate_pyth_data.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

ci(message-buffer): fix action ordering — install pnpm before setup-node
  .github/workflows/ci-message-buffer.yml
Due: none

fix(fortuna): fix clippy warnings and bump checkout action to v4 (#3776)
  .github/workflows/ci-fortuna.yml
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/history.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

fix(starknet): fix Check Starknet Tools CI by clearing RUSTFLAGS for scarb (#3778)
  .github/workflows/ci-starknet-tools.yml
  target_chains/starknet/tools/test_vaas/src/bin/generate_test_data.rs
Due: none

fix(quorum): bump checkout@v2→v4 in docker-quorum.yml to fix CI
  .github/workflows/docker-quorum.yml
Due: none

feat(price_pusher): add EIP-1559 gas model to EVM pusher
  apps/price_pusher/README.md
  apps/price_pusher/package.json
  apps/price_pusher/src/common.ts
  apps/price_pusher/src/evm/__tests__/gas-price.test.ts
  apps/price_pusher/src/evm/command.ts
  apps/price_pusher/src/evm/evm.ts
  apps/price_pusher/src/evm/gas-price.ts
Due: none

fix(quorum): bump Dockerfile rust 1.87.0→1.89.0 to match repo toolchain
  apps/quorum/Dockerfile
Due: cargo-fmt-quorum, cargo-clippy-quorum

fix(message-buffer): suppress dead_code warning on MessageBuffer struct
  pythnet/message_buffer/programs/message_buffer/src/state/message_buffer.rs
Due: cargo-fmt-message-buffer, cargo-clippy-message-buffer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
