Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

fix(developer-hub): use a description map
  apps/developer-hub/scripts/generate-docs.ts
Due: none

fix(dev-hub) lint fix
  apps/developer-hub/src/app/llms.txt/route.ts
Due: none

fix: swapped to using an isomorphic Buffer implementation to make our SolanaReceiver work anywhere (and also unbreak developer hub). also linting
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/index.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/index.mdx
  apps/developer-hub/package.json
  apps/developer-hub/src/components/PriceFeedIdsCoreTable/index.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/address.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore: linting
  governance/xc_admin/packages/xc_admin_frontend/hooks/useMultisig.ts
  governance/xc_admin/packages/xc_admin_frontend/hooks/usePyth.ts
  governance/xc_admin/packages/xc_admin_frontend/turbopack-hacks/empty.ts
Due: none

fix: staking
  apps/staking/.gitignore
  apps/staking/next-env.d.ts
Due: none

fix: staking includes the next.d.ts file
  apps/staking/tsconfig.json
Due: none

fix(developer-hub): upgraded developer hub to latest fuma docs and added boilerplate descriptions to pages (which are now required)
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/chain_ids.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/explorer.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/index.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/revelation.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_price_feed.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_vaa.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_vaa_ccip.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/index.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_price_feeds.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_price_updates.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_publisher_stake_caps.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_twaps.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_vaas.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_feed_ids.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_feeds_metadata.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_stream_sse_handler.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/timestamp_price_updates.mdx
  apps/developer-hub/src/components/Root/index.tsx
  apps/developer-hub/src/lib/source.ts
  apps/developer-hub/src/mdx-components.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Draft: test
  lazer/sdk/js/examples/streaming.ts
  lazer/sdk/js/package.json
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(dev-hub) gh action llm strict prompt
  .github/workflows/update-llms-txt.yml
Due: none

feat(developer-hub): add account addresses to Fogo mainnet push feeds
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/svm/fogo-mainnet.json
Due: none

fix
  .github/workflows/update-llms-txt.yml
Due: none

feat(dev-hub) Update Market Hours
  apps/developer-hub/content/docs/price-feeds/core/market-hours.mdx
Due: none

chore(hermes) Add new Asset classes
  apps/hermes/server/src/api/types.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore: linting
  apps/insights/src/hooks/pyth-pro-demo/use-http-datastream.ts
Due: none

chore: linting
  apps/staking/src/components/Footer/index.tsx
  apps/staking/src/components/GovernanceGuide/index.tsx
  apps/staking/src/components/NoWalletHome/index.tsx
  apps/staking/src/components/OracleIntegrityStakingGuide/index.tsx
Due: none

fix(xc_admin_frontend): remove ts aliases to fix build
  governance/xc_admin/packages/xc_admin_frontend/components/ClusterSwitch.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/PermissionDepermissionKey.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/Select.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/common/CopyText.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/common/SocialLinks.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/layout/Header.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/layout/MobileMenu.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/InstructionsSummary.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/Proposal.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/UpdatePermissions.tsx
  governance/xc_admin/packages/xc_admin_frontend/tsconfig.json
Due: none

chore: linting
  governance/xc_admin/packages/xc_admin_frontend/components/PermissionDepermissionKey.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/Select.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/common/SocialLinks.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/layout/MobileMenu.tsx
Due: none

feat(shared-lib): added reusable, lightweight isomorphic event emitter
  packages/shared-lib/src/emitter/__tests__/emitter.test.ts
  packages/shared-lib/src/emitter/index.ts
Due: none

fix(xc_admin_frontend): commit the next typings file
  governance/xc_admin/packages/xc_admin_frontend/.gitignore
  governance/xc_admin/packages/xc_admin_frontend/next-env.d.ts
Due: none

fix(staking): add explicit type annotations to fix ESLint no-unsafe-assignment errors
  apps/staking/src/components/Footer/index.tsx
  apps/staking/src/components/GovernanceGuide/index.tsx
  apps/staking/src/components/NoWalletHome/index.tsx
  apps/staking/src/components/OracleIntegrityStakingGuide/index.tsx
Due: none

chore: yak shaving of the nth degree
  governance/xc_admin/packages/xc_admin_frontend/next-env.d.ts
Due: none

fix(lazer-sdk-js): ensure the pool error calls a user-provided callback and that everything is cleaned up properly
  lazer/sdk/js/examples/streaming.ts
  lazer/sdk/js/src/emitter/__tests__/emitter.test.ts
  lazer/sdk/js/src/emitter/index.ts
  lazer/sdk/js/src/socket/websocket-pool.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer-sdk-js): ignore test files when testing via eslint and updated package.json files
  lazer/sdk/js/eslint.config.js
  lazer/sdk/js/package.json
  packages/shared-lib/package.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: added jest types
  lazer/sdk/js/package.json
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

SVM errors introduced
  apps/developer-hub/content/docs/price-feeds/core/error-codes/index.mdx
  apps/developer-hub/content/docs/price-feeds/core/error-codes/meta.json
  apps/developer-hub/content/docs/price-feeds/core/error-codes/svm.mdx
Due: none

remove blank integrate publisher guide
  apps/developer-hub/content/docs/price-feeds/pro/integrate-as-publisher.mdx
  apps/developer-hub/content/docs/price-feeds/pro/meta.json
Due: none

fix format
  apps/developer-hub/content/docs/price-feeds/core/error-codes/index.mdx
  apps/developer-hub/content/docs/price-feeds/core/error-codes/svm.mdx
Due: none

wip(lazer/contracts/sui): use updated Wormhole with new manifest, typo
  lazer/contracts/sui/Move.lock
  lazer/contracts/sui/Move.toml
  lazer/contracts/sui/sdk/js/README.md
Due: cargo-fmt-lazer, cargo-clippy-lazer

contract_manager: check Sui Lazer package metadata before publishing
  contract_manager/package.json
  contract_manager/scripts/manage_sui_lazer_contract.ts
  contract_manager/src/core/chains.ts
  pnpm-lock.yaml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(component-library): css-in-js prep for SPA and SSR rendering
  packages/component-library/package.json
  packages/component-library/src/Button/index.stories.tsx
  packages/component-library/src/Button/index.tsx
  packages/component-library/src/Card/index.stories.tsx
  packages/component-library/src/Card/index.tsx
  packages/component-library/src/Header/index.tsx
  packages/component-library/src/InfoBox/index.tsx
  packages/component-library/src/Link/index.tsx
  packages/component-library/src/SearchButton/index.stories.tsx
  packages/component-library/src/SearchInput/index.stories.tsx
  packages/component-library/src/SearchInput/index.tsx
  packages/component-library/src/Select/index.tsx
  packages/component-library/src/StatCard/index.tsx
  packages/component-library/src/Status/index.stories.tsx
  packages/component-library/src/Status/index.tsx
  packages/component-library/src/TableGrid/table-grid-props.ts
  packages/component-library/src/index.ts
  packages/component-library/src/ssr/index.ts
  packages/component-library/src/styles/index.ts
  packages/component-library/src/styles/registry.ts
  packages/component-library/src/styles/style-funcs.ts
  packages/component-library/src/styles/theme.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update .github/workflows/update-llms-txt.yml
  .github/workflows/update-llms-txt.yml
Due: none

chore(ga) fix
  .github/workflows/update-llms-txt.yml
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
