Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

fix bug
  contract_manager/src/node/utils/store.ts
  contract_manager/src/store/chains/SvmChains.json
Due: none

feedback
  contract_manager/scripts/deploy_solana_programs.ts
Due: none

feat: add new lazer addresses for solana contracts to the sdk
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/pyth_solana_receiver/src/address.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/index.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: deploy lazer hermes contracts on EVM chains (#3656)
  contract_manager/src/store/contracts/EvmPriceFeedContracts.json
  contract_manager/src/store/contracts/EvmWormholeContracts.json
Due: none

feat: minor changes to the solana contracts (#3659)
  target_chains/solana/Cargo.toml
  target_chains/solana/programs/core-bridge/Cargo.toml
  target_chains/solana/programs/core-bridge/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_price_update_from_vaa.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Remove unneeded browserslist settings
  apps/api-reference/package.json
  apps/developer-hub/package.json
  apps/entropy-explorer/package.json
  apps/insights/package.json
  apps/staking/package.json
  governance/xc_admin/packages/xc_admin_frontend/package.json
  packages/create-pyth-package/src/templates/web-app/package.json
Due: none

go
  contract_manager/scripts/deploy_solana_programs.ts
Due: none

Update contract_manager/scripts/deploy_solana_programs.ts
  contract_manager/scripts/deploy_solana_programs.ts
Due: none

feat(contract-manager): multi-contract support + safety in sync_governance_vaas
  contract_manager/scripts/sync_governance_vaas.ts
Due: none

feat: add solana deploy script (#3660)
  contract_manager/package.json
  contract_manager/scripts/deploy_solana_programs.ts
  contract_manager/src/core/chains.ts
  contract_manager/src/node/utils/store.ts
  contract_manager/src/store/chains/SvmChains.json
  pnpm-lock.yaml
Due: none

checkpoint
  apps/price_pusher/package.json
  apps/price_pusher/src/solana/command.ts
  apps/price_pusher/src/solana/solana.ts
  apps/price_pusher/tsconfig.build.json
  pnpm-lock.yaml
Due: none

checkpoint
  target_chains/sui/vendor/wormhole_lazer_sui_mainnet/.gitignore
  target_chains/sui/vendor/wormhole_lazer_sui_mainnet/examples/coins/.gitignore
  target_chains/sui/vendor/wormhole_lazer_sui_mainnet/testing/.gitignore
  target_chains/sui/vendor/wormhole_lazer_sui_mainnet/testing/Makefile
  target_chains/sui/vendor/wormhole_lazer_sui_mainnet/testing/package-lock.json
  target_chains/sui/vendor/wormhole_lazer_sui_mainnet/testing/package.json
  target_chains/sui/vendor/wormhole_lazer_sui_mainnet/testing/run_integration_test.sh
  target_chains/sui/vendor/wormhole_lazer_sui_mainnet/token_bridge/.gitignore
  target_chains/sui/vendor/wormhole_lazer_sui_mainnet/wormhole/.gitignore
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/.gitignore
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/examples/coins/.gitignore
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/testing/.gitignore
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/testing/Makefile
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/testing/package-lock.json
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/testing/package.json
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/testing/run_integration_test.sh
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/token_bridge/.gitignore
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/wormhole/.gitignore
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/wormhole/Move.lock
Due: cargo-fmt-lazer, cargo-clippy-lazer

test-pass
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/wormhole/sources/resources/guardian_set.move
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/wormhole/sources/test/wormhole_scenario.move
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/wormhole/sources/vaa.move
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix mainnet too
  target_chains/sui/vendor/wormhole_lazer_sui_mainnet/wormhole/sources/resources/guardian_set.move
  target_chains/sui/vendor/wormhole_lazer_sui_mainnet/wormhole/sources/test/wormhole_scenario.move
  target_chains/sui/vendor/wormhole_lazer_sui_mainnet/wormhole/sources/vaa.move
Due: cargo-fmt-lazer, cargo-clippy-lazer

update comment
  target_chains/sui/vendor/wormhole_lazer_sui_mainnet/wormhole/sources/vaa.move
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/wormhole/sources/vaa.move
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(dev-hub): make light/dark theme override Lightning CSS prefers-color-scheme polyfill
  apps/developer-hub/src/components/Root/global.css
Due: none

go
  contract_manager/src/store/contracts/SuiPriceFeedContracts.json
  contract_manager/src/store/contracts/SuiWormholeContracts.json
  pnpm-lock.yaml
  target_chains/sui/cli/package.json
  target_chains/sui/cli/src/cli.ts
  target_chains/sui/cli/src/pyth_deploy.ts
  target_chains/sui/cli/tsconfig.build.json
  target_chains/sui/contracts/Move.lazer.testnet.toml
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/wormhole/Move.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

Replace ts-node with tsx in CLI packages for ESM/Node 24 compatibility
  contract_manager/package.json
  pnpm-lock.yaml
  target_chains/aptos/cli/package.json
  target_chains/sui/cli-iota/package.json
  target_chains/sui/cli/package.json
Due: none

Fix preserve-native-fetch ESM import resolution
  contract_manager/src/node/utils/preserve-native-fetch.ts
  contract_manager/src/node/utils/store.ts
  target_chains/sui/cli/tsconfig.build.json
Due: none

developer-hub/pro: add Cardano contract address
  apps/developer-hub/content/docs/price-feeds/pro/contract-addresses.mdx
Due: none

undo this change
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/wormhole/Move.lock
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: sui quorum (#3665)
  target_chains/sui/vendor/wormhole_lazer_sui_mainnet/wormhole/sources/resources/guardian_set.move
  target_chains/sui/vendor/wormhole_lazer_sui_mainnet/wormhole/sources/test/wormhole_scenario.move
  target_chains/sui/vendor/wormhole_lazer_sui_mainnet/wormhole/sources/vaa.move
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/wormhole/sources/resources/guardian_set.move
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/wormhole/sources/test/wormhole_scenario.move
  target_chains/sui/vendor/wormhole_lazer_sui_testnet/wormhole/sources/vaa.move
Due: cargo-fmt-lazer, cargo-clippy-lazer

go
  target_chains/sui/cli/package.json
  target_chains/sui/cli/src/cli.ts
  target_chains/sui/cli/src/pyth_deploy.ts
  target_chains/sui/cli/tsconfig.build.json
Due: none

go
  contract_manager/src/core/base.ts
  pnpm-lock.yaml
  target_chains/sui/cli/src/cli.ts
  target_chains/sui/cli/src/pyth_deploy.ts
Due: none

go
  target_chains/sui/cli/package.json
  target_chains/sui/cli/src/cli.ts
Due: none

go
  target_chains/sui/cli/src/cli.ts
Due: none

format
  contract_manager/src/core/base.ts
Due: none

fix
  target_chains/sui/cli/src/cli.ts
  target_chains/sui/cli/src/pyth_deploy.ts
Due: none

format
  target_chains/sui/cli/src/cli.ts
Due: none

feat: update sui cli (#3670)
  contract_manager/src/core/base.ts
  pnpm-lock.yaml
  target_chains/sui/cli/package.json
  target_chains/sui/cli/src/cli.ts
  target_chains/sui/cli/src/pyth_deploy.ts
  target_chains/sui/cli/tsconfig.build.json
Due: none

no-verify
  contract_manager/src/store/contracts/SuiPriceFeedContracts.json
  contract_manager/src/store/contracts/SuiWormholeContracts.json
  target_chains/sui/contracts/Move.lazer.sui_testnet.lock
  target_chains/sui/contracts/Move.lazer.sui_testnet.toml
  target_chains/sui/vendor/wormhole_lazer/wormhole/Move.sui_testnet.lock
  target_chains/sui/vendor/wormhole_lazer/wormhole/Move.sui_testnet.toml
  target_chains/sui/vendor/wormhole_lazer/wormhole/Move.testnet.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

go
  contract_manager/src/store/contracts/SuiPriceFeedContracts.json
  contract_manager/src/store/contracts/SuiWormholeContracts.json
Due: none

oops
  target_chains/sui/contracts/Move.lazer.sui_testnet.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

docs(developer-hub): update Hermes/Benchmarks rate limit to 20/10s
  apps/developer-hub/content/docs/price-feeds/core/api-instances-and-providers/hermes.mdx
  apps/developer-hub/content/docs/price-feeds/core/rate-limits.mdx
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
