Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./fortuna/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

remove res block from watch_blocks
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

remove res block from process events
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

load private key from file
  fortuna/src/command/run.rs
  fortuna/src/config/run.rs
Due: cargo-fmt-fortuna

add gas limit to blockchain config
  fortuna/src/chain/ethereum.rs
  fortuna/src/command/run.rs
  fortuna/src/config.rs
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

remove unused imports
  fortuna/src/command/run.rs
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

remove a log
  fortuna/src/chain/ethereum.rs
Due: cargo-fmt-fortuna

gas param u256
  fortuna/src/chain/ethereum.rs
  fortuna/src/config.rs
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

spell simulate
  fortuna/src/chain/ethereum.rs
  fortuna/src/chain/reader.rs
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

rename keeper private keeper file
  fortuna/src/config/run.rs
Due: cargo-fmt-fortuna

More comments
  target_chains/solana/pyth_solana_receiver_sdk/README.md
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Typo
  target_chains/solana/pyth_solana_receiver_sdk/README.md
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

docs: update solana readme, add rust sdk readme (#1387)
  target_chains/solana/README.md
  target_chains/solana/pyth_solana_receiver_sdk/README.md
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

wait for only api to exit
  fortuna/src/command/run.rs
Due: cargo-fmt-fortuna

remove exit check from keeper
  fortuna/src/command/run.rs
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

remove is valid request method as simulate will cover things
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

refactor(hermes): use broadcast channel for api notifications
  hermes/src/aggregate.rs
  hermes/src/api.rs
  hermes/src/api/ws.rs
  hermes/src/main.rs
  hermes/src/state.rs
Due: cargo-fmt-hermes

remove some parameters
  fortuna/src/command/run.rs
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

add provider parameter to entropy callback
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
  target_chains/ethereum/entropy_sdk/solidity/IEntropyConsumer.sol
Due: none

refactor(hermes): use broadcast channel for api notifications (#1388)
  hermes/src/aggregate.rs
  hermes/src/api.rs
  hermes/src/api/ws.rs
  hermes/src/main.rs
  hermes/src/state.rs
Due: cargo-fmt-hermes

order
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
Due: none

abis regen
  target_chains/ethereum/entropy_sdk/solidity/abis/IEntropyConsumer.json
Due: none

update version
  target_chains/ethereum/contracts/contracts/entropy/EntropyUpgradable.sol
  target_chains/ethereum/entropy_sdk/solidity/package.json
Due: none

remove exit check from keeper
  fortuna/src/command/run.rs
Due: cargo-fmt-fortuna

use saturating sub
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

correct condition
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

update logging statement
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

combine logs
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

feat(entropy-v2): add provider parameter to entropy callback (#1389)
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/contracts/entropy/EntropyUpgradable.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
  target_chains/ethereum/entropy_sdk/solidity/IEntropyConsumer.sol
  target_chains/ethereum/entropy_sdk/solidity/abis/IEntropyConsumer.json
  target_chains/ethereum/entropy_sdk/solidity/package.json
Due: none

Moving convertToUint to utils
  target_chains/ethereum/examples/oracle_swap/contract/src/OracleSwap.sol
  target_chains/ethereum/sdk/solidity/PythUtils.sol
Due: none

use nonce manager to send transaction
  fortuna/src/chain/ethereum.rs
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

pre-commit fix
  target_chains/ethereum/sdk/solidity/PythUtils.sol
Due: none

pre-commit fix
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

feat: add walletconnect
  governance/xc_admin/packages/xc_admin_frontend/pages/_app.tsx
Due: none

alphabetical
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

poll instead of stream and add nonce middleware
  fortuna/src/chain/ethereum.rs
  fortuna/src/command/run.rs
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
