Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

fix(entropy): Only mark callbacks as failed if enough gas was provided, regardless of revert code (#3106)
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/test/Entropy.t.sol
Due: none

fix(hip-3-pusher): exception tweak, version bump
  apps/hip-3-pusher/pyproject.toml
  apps/hip-3-pusher/src/pusher/kms_signer.py
Due: none

uv.lock update
  apps/hip-3-pusher/uv.lock
Due: none

fix(hip-3-pusher): config paths optional
  apps/hip-3-pusher/pyproject.toml
  apps/hip-3-pusher/src/pusher/config.py
  apps/hip-3-pusher/uv.lock
Due: none

feat(contract_manager): migrate from web3.js to viem
  contract_manager/package.json
  contract_manager/scripts/batchDeployReceivers.ts
  contract_manager/scripts/check_proposal.ts
  contract_manager/scripts/common.ts
  contract_manager/scripts/deploy_evm_entropy_contracts.ts
  contract_manager/scripts/deploy_evm_executor_contracts.ts
  contract_manager/scripts/deploy_evm_pricefeed_contracts.ts
  contract_manager/scripts/deploy_evm_pulse_contracts.ts
  contract_manager/scripts/fetch_accrued_entropy_dao_fees.ts
  contract_manager/scripts/latency_entropy_with_callback.ts
  contract_manager/scripts/list_entropy_contracts.ts
  contract_manager/scripts/load_test_entropy.ts
  contract_manager/scripts/transfer_balance_entropy_chains.ts
  contract_manager/src/core/chains.ts
  contract_manager/src/core/contracts/evm.ts
  contract_manager/store/contracts/AptosPriceFeedContracts.json
  contract_manager/store/contracts/AptosWormholeContracts.json
  contract_manager/store/contracts/CosmWasmPriceFeedContracts.json
  contract_manager/store/contracts/CosmWasmWormholeContracts.json
  contract_manager/store/contracts/EvmEntropyContracts.json
  contract_manager/store/contracts/EvmExecutorContracts.json
  contract_manager/store/contracts/EvmPriceFeedContracts.json
  contract_manager/store/contracts/EvmWormholeContracts.json
  contract_manager/store/contracts/FuelWormholeContracts.json
  contract_manager/store/contracts/IotaPriceFeedContracts.json
  contract_manager/store/contracts/IotaWormholeContracts.json
  contract_manager/store/contracts/NearPriceFeedContracts.json
  contract_manager/store/contracts/NearWormholeContracts.json
  contract_manager/store/contracts/StarknetPriceFeedContracts.json
  contract_manager/store/contracts/StarknetWormholeContracts.json
  contract_manager/store/contracts/SuiPriceFeedContracts.json
  contract_manager/store/contracts/SuiWormholeContracts.json
  contract_manager/store/contracts/TonPriceFeedContracts.json
  contract_manager/store/contracts/TonWormholeContracts.json
Due: none

chore: update pnpm-lock.yaml after removing web3 dependencies
  pnpm-lock.yaml
Due: none

use ref
  packages/component-library/src/TableGrid/index.stories.tsx
  packages/component-library/src/TableGrid/index.tsx
Due: none

remove ref
  packages/component-library/src/TableGrid/index.module.scss
  packages/component-library/src/TableGrid/index.stories.tsx
  packages/component-library/src/TableGrid/index.tsx
Due: none

formatting
  packages/component-library/src/TableGrid/index.tsx
Due: none

Move some files around
  apps/insights/src/app/price-feeds/[slug]/(main)/loading.ts
  apps/insights/src/app/price-feeds/[slug]/(main)/page.ts
  apps/insights/src/components/PriceFeed/Chart/chart-page.module.scss
  apps/insights/src/components/PriceFeed/Chart/chart-page.tsx
  apps/insights/src/components/PriceFeed/Chart/chart.module.scss
  apps/insights/src/components/PriceFeed/Chart/chart.tsx
Due: none

add tests
  apps/insights/src/components/PriceFeed/Chart/chart.test.tsx
  apps/insights/src/components/PriceFeed/Chart/chart.tsx
Due: none

feat: Add resolution/lookback support to charts
  apps/insights/src/app/historical-prices/route.ts
  apps/insights/src/components/PriceFeed/Chart/chart-page.tsx
  apps/insights/src/components/PriceFeed/Chart/chart-toolbar.tsx
  apps/insights/src/components/PriceFeed/Chart/chart.module.scss
  apps/insights/src/components/PriceFeed/Chart/chart.tsx
  apps/insights/src/components/PriceFeed/Chart/use-chart-toolbar.tsx
  apps/insights/src/services/clickhouse.ts
Due: none

update query
  apps/insights/src/components/PriceFeed/Chart/chart.module.scss
  apps/insights/src/services/clickhouse.ts
Due: none

add feature flag
  apps/insights/src/components/PriceFeed/Chart/chart-toolbar.tsx
Due: none

feat: export breakpoint vars
  packages/component-library/README.md
  packages/component-library/package.json
  packages/component-library/src/TableGrid/index.tsx
  packages/component-library/src/theme/index.module.scss
  packages/component-library/src/theme/index.ts
Due: none

PR feedback
  apps/insights/src/app/historical-prices/route.ts
  apps/insights/src/components/PriceFeed/Chart/chart-toolbar.tsx
  apps/insights/src/components/PriceFeed/Chart/chart.tsx
  apps/insights/src/components/PriceFeed/Chart/use-chart-toolbar.tsx
  apps/insights/src/services/clickhouse.ts
Due: none

Add request_failovers_triggered metric to Fortuna
  apps/fortuna/src/keeper/keeper_metrics.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

chore: doc, version bump
  Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/keeper/keeper_metrics.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

feat(lazer-protocol): add metadata v3 response types
  Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/lib.rs
  lazer/sdk/rust/protocol/src/metadata.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

doc(lazer-protocol): tweak examples
  lazer/sdk/rust/protocol/src/metadata.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Add GitHub Actions workflow for NodeJS with Grunt
  .github/workflows/npm-grunt.yml
Due: none

Add GitHub Actions workflow for NodeJS with Gulp
  .github/workflows/npm-gulp.yml
Due: none

Add Datadog Synthetic tests workflow
  .github/workflows/datadog-synthetics.yml
Due: none

normalize foundry bytecode
  contract_manager/scripts/upgrade_evm_entropy_contracts.ts
  contract_manager/scripts/upgrade_evm_pricefeed_contracts.ts
Due: none

upgrade contract fix: artifacts bytecode error resolve
  contract_manager/scripts/deploy_evm_contract.ts
  contract_manager/scripts/upgrade_evm_entropy_contracts.ts
  contract_manager/scripts/upgrade_evm_pricefeed_contracts.ts
Due: none

fix: PR fixes
  packages/component-library/src/TableGrid/index.stories.tsx
  packages/component-library/src/TableGrid/index.tsx
  packages/component-library/src/TableGrid/table-grid-props.ts
Due: none

PR feedback
  apps/insights/src/app/historical-prices/route.ts
  apps/insights/src/components/PriceFeed/Chart/chart.tsx
  apps/insights/src/components/PriceFeed/Chart/use-chart-toolbar.tsx
Due: none

feat: remove app shell for now
  apps/developer-hub/src/app/(docs)/[section]/layout.tsx
  apps/developer-hub/src/components/Root/global.css
  apps/developer-hub/src/components/Root/index.tsx
  apps/developer-hub/src/config/layout.config.tsx
Due: none

add pages
  apps/developer-hub/content/docs/meta.json
Due: none

remove price-feeds
  apps/developer-hub/content/docs/meta.json
  apps/developer-hub/src/app/price-feeds/page.tsx
Due: none

added back pages
  apps/developer-hub/content/docs/meta.json
Due: none

chore(entropy-explorer) Add Sonic Testnet
  apps/entropy-explorer/src/entropy-deployments.tsx
Due: none

feat: add logo
  apps/developer-hub/src/config/layout.config.tsx
  packages/component-library/src/Header/index.tsx
Due: none

feat(lazer-protocol): add SymbolV3 type & validation, add strum::EnumString to InstrumentType for string parsing, add tests
  Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/lib.rs
  lazer/sdk/rust/protocol/src/metadata.rs
  lazer/sdk/rust/protocol/src/symbol_v3.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(apps/pyth-lazer-agent): determine correct update type in /v2/publisher endpoint handler
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
  apps/pyth-lazer-agent/src/publisher_handle.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(apps/pyth-lazer-agent): determine correct update type in /v2/publisher endpoint handler (#3116)
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
  apps/pyth-lazer-agent/src/publisher_handle.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

entropy changes
  contract_manager/scripts/upgrade_evm_entropy_contracts.ts
  contract_manager/src/core/chains.ts
Due: none

feat: Add date range picker
  packages/component-library/package.json
  packages/component-library/src/DateRangeCalendar/index.module.scss
  packages/component-library/src/DateRangeCalendar/index.stories.tsx
  packages/component-library/src/DateRangeCalendar/index.tsx
  packages/component-library/src/DateRangePicker/index.module.scss
  packages/component-library/src/DateRangePicker/index.stories.tsx
  packages/component-library/src/DateRangePicker/index.tsx
  packages/component-library/src/TimeField/index.module.scss
  packages/component-library/src/TimeField/index.stories.tsx
  packages/component-library/src/TimeField/index.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(lazer-protocol): use Strings instead of enums in the public API, make SymbolV3.quote optional
  lazer/sdk/rust/protocol/src/metadata.rs
  lazer/sdk/rust/protocol/src/symbol_v3.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
