Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

fix(component-library): fixed broken story
  packages/component-library/src/v2/components/LeftNav/LeftNav.stories.tsx
Due: none

feat(component-library v2): added a card component and a story for it
  packages/component-library/src/v2/components/Card/Card.stories.tsx
  packages/component-library/src/v2/components/Card/Card.styles.ts
  packages/component-library/src/v2/components/Card/Card.tsx
  packages/component-library/src/v2/components/Card/index.ts
  packages/component-library/src/v2/components/Card/types.ts
  packages/component-library/src/v2/components/LeftNav/LeftNav.stories.tsx
  packages/component-library/src/v2/components/index.ts
  packages/component-library/src/v2/theme/theme.ts
Due: none

chore: fixed sizes so their not idiotic to read lol. also made text have have size variants
  apps/pyth-app/src/app/layout.tsx
  packages/component-library/src/v2/components/Badge/Badge.styles.ts
  packages/component-library/src/v2/components/Dialog/Dialog.styles.ts
  packages/component-library/src/v2/components/Switch/Switch.styles.ts
  packages/component-library/src/v2/components/Text/Text.styles.ts
  packages/component-library/src/v2/components/Text/Text.tsx
  packages/component-library/src/v2/theme/theme.ts
Due: none

feat(hermes): Deprecate TWAP endpoint
  apps/hermes/client/js/src/hermes-client.ts
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/api/rest/v2/latest_twaps.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore(component-library v2): changed name of component
  apps/pyth-app/src/components/Layout/PythAppLayout.tsx
  packages/component-library/package.json
  packages/component-library/src/v2/components/LeftNav/LeftNav.stories.tsx
  packages/component-library/src/v2/components/NavigationButtonLink/ButtonLink.stories.tsx
  packages/component-library/src/v2/components/NavigationButtonLink/ButtonLink.styles.ts
  packages/component-library/src/v2/components/NavigationButtonLink/ButtonLink.tsx
  packages/component-library/src/v2/components/NavigationButtonLink/NavigationButtonLink.stories.tsx
  packages/component-library/src/v2/components/NavigationButtonLink/NavigationButtonLink.tsx
  packages/component-library/src/v2/components/NavigationButtonLink/index.ts
Due: none

chore: regen'd package.json
  packages/component-library/package.json
Due: none

add tempo chain
  contract_manager/src/core/chains.ts
  contract_manager/src/store/chains/EvmChains.json
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

chore(contracts) Deploy Pro & Core on TEMPO
  apps/hermes/server/Cargo.lock
  contract_manager/src/core/chains.ts
  contract_manager/src/store/chains/EvmChains.json
  contract_manager/src/store/contracts/EvmExecutorContracts.json
  contract_manager/src/store/contracts/EvmLazerContracts.json
  contract_manager/src/store/contracts/EvmPriceFeedContracts.json
  contract_manager/src/store/contracts/EvmWormholeContracts.json
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: cargo-fmt-hermes, cargo-clippy-hermes

docs(developer-hub): add Tempo mainnet and testnet contract addresses
  apps/developer-hub/content/docs/price-feeds/core/contract-addresses/evm.mdx
  apps/developer-hub/content/docs/price-feeds/pro/contract-addresses.mdx
Due: none

docs(developer-hub): keep only Tempo testnet, update explorer URL
  apps/developer-hub/content/docs/price-feeds/core/contract-addresses/evm.mdx
  apps/developer-hub/content/docs/price-feeds/pro/contract-addresses.mdx
Due: none

feat!(hermes): deprecate twap endpoint
  apps/hermes/client/js/package.json
  apps/hermes/client/js/src/examples/hermes-client.ts
  apps/hermes/client/js/src/hermes-client.ts
  apps/hermes/server/Cargo.lock
  apps/hermes/server/src/api.rs
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/api/rest/index.rs
  apps/hermes/server/src/api/rest/v2/latest_twaps.rs
  apps/hermes/server/src/api/types.rs
  apps/hermes/server/src/state/aggregate.rs
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_twap_update.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/compute_budget.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
Due: cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix(hermes): remove unused LatestTimeEarliestSlot variant after TWAP deprecation
  apps/hermes/server/src/api/rest/v2/latest_twaps.rs
  apps/hermes/server/src/state/aggregate.rs
  apps/hermes/server/src/state/cache.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix(pyth-app): fixed build
  apps/pyth-app/src/components/ComingSoonNavLink/ComingSoonNavLink.tsx
Due: none

sui/lazer/contract: refactor `pyth_lazer::i{16, 64}`, fix `i16` representation
  lazer/contracts/sui/sources/i16.move
  lazer/contracts/sui/sources/i64.move
Due: cargo-fmt-lazer, cargo-clippy-lazer

contract_manager: Move Sui Lazer proposal execution to `SuiLazerContract`
  contract_manager/scripts/check_proposal.ts
  contract_manager/scripts/manage_sui_lazer_contract.ts
  contract_manager/src/core/chains.ts
  contract_manager/src/core/contracts/sui.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: responded to PR feedback about button styles consistencies
  packages/component-library/src/v2/components/Button/Button.stories.tsx
  packages/component-library/src/v2/components/Button/Button.styles.ts
  packages/component-library/src/v2/components/Button/Button.tsx
  packages/component-library/src/v2/components/Button/IconButton.stories.tsx
  packages/component-library/src/v2/components/Button/types.ts
  packages/component-library/src/v2/components/Card/Card.stories.tsx
  packages/component-library/src/v2/components/Card/Card.styles.ts
  packages/component-library/src/v2/components/Card/types.ts
  packages/component-library/src/v2/components/Checkbox/Checkbox.styles.ts
  packages/component-library/src/v2/components/Input/Input.styles.ts
  packages/component-library/src/v2/components/Spinner/Spinner.stories.tsx
  packages/component-library/src/v2/components/Spinner/Spinner.styles.ts
  packages/component-library/src/v2/theme/theme.ts
Due: none

chore: moved backdrop color to the theme object
  packages/component-library/src/v2/components/Dialog/Dialog.styles.ts
  packages/component-library/src/v2/theme/theme.ts
Due: none

chore: linting
  packages/component-library/src/v2/components/Dialog/Dialog.styles.ts
Due: none

contract_manager: Sui Lazer update trusted signer proposal CLI
  contract_manager/scripts/manage_sui_lazer_contract.ts
  lazer/contracts/sui/README.md
Due: cargo-fmt-lazer, cargo-clippy-lazer

doc(dev-hub) Remove TWAP
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/index.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_twaps.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/meta.json
  apps/developer-hub/content/docs/price-feeds/core/contract-addresses/evm.mdx
  apps/developer-hub/content/docs/price-feeds/core/error-codes/svm.mdx
  apps/developer-hub/content/docs/price-feeds/core/use-real-time-data/pull-integration/solana.mdx
  apps/developer-hub/content/docs/price-feeds/pro/contract-addresses.mdx
Due: none

chore(pyth-app): added boilerplate better-auth integration with a bunch of placeholders
  apps/pyth-app/.env.example
  apps/pyth-app/package.json
  apps/pyth-app/src/app/api/auth/[...all]/route.ts
  apps/pyth-app/src/app/auth/(page)/page.tsx
  apps/pyth-app/src/app/dashboard/(page)/page.tsx
  apps/pyth-app/src/db/schema/auth.ts
  apps/pyth-app/src/lib/auth-client.ts
  apps/pyth-app/src/routes/index.ts
  apps/pyth-app/src/utils/auth.ts
  apps/pyth-app/src/utils/index.ts
  apps/pyth-app/turbo.json
  opencode.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(governance): fixed UI build by making the project an ESM project
  governance/xc_admin/packages/xc_admin_frontend/next-env.d.ts
  governance/xc_admin/packages/xc_admin_frontend/package.json
  governance/xc_admin/packages/xc_admin_frontend/postcss.config.js
Due: none

fix(governance): transpile the old pythnetwork/client package so it doesn't blow us up (we are on ESM now)
  governance/xc_admin/packages/xc_admin_frontend/next-env.d.ts
  governance/xc_admin/packages/xc_admin_frontend/next.config.js
Due: none

feat: added before and after icons to the input element. further tweaked the login page styles
  apps/pyth-app/package.json
  apps/pyth-app/public/img/bitmex.svg
  apps/pyth-app/public/img/cityscape.png
  apps/pyth-app/public/img/hyperliquid.svg
  apps/pyth-app/public/img/kalshi.svg
  apps/pyth-app/public/img/revolut.svg
  apps/pyth-app/src/app/(app)/layout.tsx
  apps/pyth-app/src/app/(app)/page.styles.ts
  apps/pyth-app/src/app/(app)/page.tsx
  apps/pyth-app/src/app/(auth)/auth/page.styles.ts
  apps/pyth-app/src/app/(auth)/auth/page.tsx
  apps/pyth-app/src/app/(auth)/layout.tsx
  apps/pyth-app/src/app/layout.tsx
  apps/pyth-app/src/components/ComingSoonNavLink/ComingSoonNavLink.tsx
  apps/pyth-app/src/components/Layout/AuthLayout.styles.ts
  apps/pyth-app/src/components/Layout/AuthLayout.tsx
  apps/pyth-app/src/components/Layout/index.ts
  packages/component-library/package.json
  packages/component-library/src/v2/components/Divider/Divider.styles.ts
  packages/component-library/src/v2/components/Divider/Divider.tsx
  packages/component-library/src/v2/components/Divider/index.ts
  packages/component-library/src/v2/components/Input/Input.icons.stories.tsx
  packages/component-library/src/v2/components/Input/Input.styles.ts
  packages/component-library/src/v2/components/Input/Input.tsx
  packages/component-library/src/v2/components/Switch/Switch.stories.tsx
  packages/component-library/src/v2/components/Switch/Switch.styles.ts
  packages/component-library/src/v2/components/Switch/Switch.tsx
  packages/component-library/src/v2/components/Switch/ThemeSwitch.tsx
  packages/component-library/src/v2/components/Switch/index.ts
  packages/component-library/src/v2/components/index.ts
  packages/component-library/src/v2/index.ts
  packages/component-library/src/v2/theme/theme.ts
  packages/react-hooks/src/use-app-theme.ts
Due: none

chore(pyth-app): login page layout is mostly okay
  apps/pyth-app/src/app/(auth)/auth/page.styles.ts
  apps/pyth-app/src/app/(auth)/auth/page.tsx
  packages/component-library/src/v2/components/Input/Input.styles.ts
Due: none

chore(pyth-app): small tweaks just to get a sample ready
  apps/pyth-app/src/app/auth/(page)/page.tsx
Due: none

fix!: remove TwapsResponse export from pyth-sui-js
  target_chains/sui/sdk/js/package.json
  target_chains/sui/sdk/js/src/index.ts
Due: none

feat!(hermes): deprecate twap endpoint (#3438)
  apps/hermes/client/js/package.json
  apps/hermes/client/js/src/examples/hermes-client.ts
  apps/hermes/client/js/src/hermes-client.ts
  apps/hermes/server/src/api.rs
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/api/rest/index.rs
  apps/hermes/server/src/api/rest/v2/latest_twaps.rs
  apps/hermes/server/src/api/types.rs
  apps/hermes/server/src/state/aggregate.rs
  apps/hermes/server/src/state/cache.rs
  target_chains/solana/sdk/js/pyth_solana_receiver/README.md
  target_chains/solana/sdk/js/pyth_solana_receiver/examples/post_twap_update.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/package.json
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/compute_budget.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/vaa.ts
  target_chains/sui/sdk/js/package.json
  target_chains/sui/sdk/js/src/index.ts
Due: cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

exclude token suffix in latency metrics
  apps/hermes/server/src/api/metrics_middleware.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore: update hermes version to 0.10.8
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
Due: cargo-fmt-hermes, cargo-clippy-hermes

feat: enhance token extraction to support case-insensitive Bearer scheme
  apps/hermes/server/src/api/token.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

refactor: remove access token as query param for SSE connections
  apps/hermes/client/js/src/hermes-client.ts
Due: cargo-fmt-hermes, cargo-clippy-hermes

chore: update version to 3.1.0 in package.json
  apps/hermes/client/js/package.json
Due: cargo-fmt-hermes, cargo-clippy-hermes

feat: update package version to 1.11.0 and enhance access token handling in PriceServiceConnection
  price_service/client/js/package.json
  price_service/client/js/src/PriceServiceConnection.ts
Due: none

hip 3 price pusher technical spec
  apps/developer-hub/content/docs/price-feeds/core/hip-3-service/index.mdx
  apps/developer-hub/content/docs/price-feeds/core/meta.json
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/index.mdx
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/meta.json
  apps/developer-hub/content/docs/price-feeds/pro/hip-3-service/index.mdx
  apps/developer-hub/content/docs/price-feeds/pro/hip-3-service/meta.json
  apps/developer-hub/content/docs/price-feeds/pro/hip-3-service/technical-specification.mdx
  apps/developer-hub/content/docs/price-feeds/pro/meta.json
  apps/developer-hub/next.config.js
Due: none
