Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./fortuna/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

Add new request method to check original commitment
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/contracts/entropy/EntropyUpgradable.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyErrors.sol
  target_chains/ethereum/entropy_sdk/solidity/IEntropy.sol
Due: none

Remove old berachain (#1792)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

Update abis
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyErrors.json
  target_chains/ethereum/entropy_sdk/solidity/abis/IEntropy.json
Due: none

Update abis
  target_chains/ethereum/entropy_sdk/solidity/package.json
Due: none

bump fuel-toolchain and refactor
  target_chains/fuel/contracts/Cargo.lock
  target_chains/fuel/contracts/Cargo.toml
  target_chains/fuel/contracts/Forc.lock
  target_chains/fuel/contracts/README.md
  target_chains/fuel/contracts/fuel-toolchain.toml
  target_chains/fuel/contracts/pyth-interface/src/data_structures/price.sw
  target_chains/fuel/contracts/pyth-interface/src/pyth_merkle_proof.sw
  target_chains/fuel/contracts/src/pyth_utils.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/ema_price.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/ema_price_no_older_than.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/ema_price_unsafe.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/price.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/price_no_older_than.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/price_unsafe.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/update_price_feeds.rs
  target_chains/fuel/contracts/tests/functions/pyth_info/price_feed_unsafe.rs
  target_chains/fuel/contracts/tests/utils/interface/pyth_core.rs
  target_chains/fuel/contracts/tests/utils/interface/pyth_governance.rs
  target_chains/fuel/contracts/tests/utils/interface/pyth_info.rs
  target_chains/fuel/contracts/tests/utils/interface/pyth_init.rs
  target_chains/fuel/contracts/tests/utils/interface/wormhole_guardians.rs
Due: none

remove troubleshooting log
  target_chains/fuel/contracts/tests/functions/pyth_core/update_price_feeds.rs
Due: none

redeploy
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-abi.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-storage_slots.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract.bin
Due: none

precommit
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-abi.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-storage_slots.json
Due: none

feat(target_chains/fuel): bump fuel-toolchain and refactor (#1794)
  target_chains/fuel/contracts/Cargo.lock
  target_chains/fuel/contracts/Cargo.toml
  target_chains/fuel/contracts/Forc.lock
  target_chains/fuel/contracts/README.md
  target_chains/fuel/contracts/fuel-toolchain.toml
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-abi.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-storage_slots.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract.bin
  target_chains/fuel/contracts/pyth-interface/src/data_structures/price.sw
  target_chains/fuel/contracts/pyth-interface/src/pyth_merkle_proof.sw
  target_chains/fuel/contracts/src/pyth_utils.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/ema_price.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/ema_price_no_older_than.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/ema_price_unsafe.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/price.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/price_no_older_than.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/price_unsafe.rs
  target_chains/fuel/contracts/tests/functions/pyth_core/update_price_feeds.rs
  target_chains/fuel/contracts/tests/functions/pyth_info/price_feed_unsafe.rs
  target_chains/fuel/contracts/tests/utils/interface/pyth_core.rs
  target_chains/fuel/contracts/tests/utils/interface/pyth_governance.rs
  target_chains/fuel/contracts/tests/utils/interface/pyth_info.rs
  target_chains/fuel/contracts/tests/utils/interface/pyth_init.rs
  target_chains/fuel/contracts/tests/utils/interface/wormhole_guardians.rs
Due: none

update fuel js sdk
  pnpm-lock.yaml
  target_chains/fuel/sdk/js/package.json
  target_chains/fuel/sdk/js/src/abi/pyth-contract-abi.json
  target_chains/fuel/sdk/js/src/index.ts
  target_chains/fuel/sdk/js/src/types/PythContractAbi.d.ts
  target_chains/fuel/sdk/js/src/types/PythContractAbi.hex.ts
  target_chains/fuel/sdk/js/src/types/common.d.ts
  target_chains/fuel/sdk/js/src/types/factories/PythContractAbi__factory.ts
  target_chains/fuel/sdk/js/src/types/index.ts
Due: none

new text
  apps/api-reference/src/apis/evm/get-ema-price-no-older-than.ts
  apps/api-reference/src/apis/evm/get-ema-price-unsafe.ts
  apps/api-reference/src/apis/evm/get-ema-price.ts
  apps/api-reference/src/apis/evm/get-price-no-older-than.ts
  apps/api-reference/src/apis/evm/get-price-unsafe.ts
  apps/api-reference/src/apis/evm/get-price.ts
  apps/api-reference/src/apis/evm/get-update-fee.tsx
  apps/api-reference/src/apis/evm/get-valid-time-period.ts
  apps/api-reference/src/apis/evm/parse-price-feed-updates-unique.tsx
  apps/api-reference/src/apis/evm/parse-price-feed-updates.tsx
  apps/api-reference/src/apis/evm/update-price-feeds-if-necessary.tsx
  apps/api-reference/src/apis/evm/update-price-feeds.tsx
Due: none

pre-commit
  apps/api-reference/src/apis/evm/get-update-fee.tsx
  apps/api-reference/src/apis/evm/parse-price-feed-updates-unique.tsx
  apps/api-reference/src/apis/evm/parse-price-feed-updates.tsx
  apps/api-reference/src/apis/evm/update-price-feeds-if-necessary.tsx
  apps/api-reference/src/apis/evm/update-price-feeds.tsx
Due: none

tiny edits
  apps/api-reference/src/apis/evm/get-ema-price-no-older-than.ts
  apps/api-reference/src/apis/evm/get-ema-price-unsafe.ts
  apps/api-reference/src/apis/evm/get-ema-price.ts
  apps/api-reference/src/apis/evm/get-price-no-older-than.ts
  apps/api-reference/src/apis/evm/get-price-unsafe.ts
  apps/api-reference/src/apis/evm/get-price.ts
  apps/api-reference/src/apis/evm/get-valid-time-period.ts
Due: none

minor edits
  apps/api-reference/src/apis/evm/get-ema-price-no-older-than.ts
  apps/api-reference/src/apis/evm/get-ema-price-unsafe.ts
  apps/api-reference/src/apis/evm/get-ema-price.ts
  apps/api-reference/src/apis/evm/get-price-no-older-than.ts
  apps/api-reference/src/apis/evm/get-price-unsafe.ts
  apps/api-reference/src/apis/evm/get-price.ts
  apps/api-reference/src/apis/evm/parse-price-feed-updates-unique.tsx
  apps/api-reference/src/apis/evm/parse-price-feed-updates.tsx
  apps/api-reference/src/apis/evm/update-price-feeds-if-necessary.tsx
Due: none

prettier
  apps/api-reference/src/apis/evm/parse-price-feed-updates-unique.tsx
  apps/api-reference/src/apis/evm/parse-price-feed-updates.tsx
  apps/api-reference/src/apis/evm/update-price-feeds-if-necessary.tsx
  apps/api-reference/src/apis/evm/update-price-feeds.tsx
Due: none

fix: hermes
  apps/hermes/server/src/state/cache.rs
Due: cargo-fmt-hermes

fix: make match statement explicit
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix: make feed_id return an option
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

fix: revert, add commment
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

fix: solana tests
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/solana/programs/pyth-push-oracle/tests/test_update_price_feed.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_price_update_from_vaa.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_atomic.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix: other tests
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
  target_chains/near/receiver/tests/workspaces.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

PRNG Library with Pyth Entropy Integration (#1733)
  target_chains/ethereum/contracts/forge-test/PRNG.t.sol
  target_chains/ethereum/entropy_sdk/solidity/PRNG.sol
  target_chains/ethereum/entropy_sdk/solidity/README.md
  target_chains/ethereum/entropy_sdk/solidity/abis/PRNG.json
  target_chains/ethereum/entropy_sdk/solidity/package.json
Due: none

remove strict engine
  .npmrc
Due: none

chore(target_chains/fuel): update sdk to use the latest abi (#1795)
  .npmrc
  pnpm-lock.yaml
  target_chains/fuel/sdk/js/package.json
  target_chains/fuel/sdk/js/src/abi/pyth-contract-abi.json
  target_chains/fuel/sdk/js/src/index.ts
  target_chains/fuel/sdk/js/src/types/PythContractAbi.d.ts
  target_chains/fuel/sdk/js/src/types/PythContractAbi.hex.ts
  target_chains/fuel/sdk/js/src/types/common.d.ts
  target_chains/fuel/sdk/js/src/types/factories/PythContractAbi__factory.ts
  target_chains/fuel/sdk/js/src/types/index.ts
Due: none

feat: Update SUI SDK import and required functions to new version @mysten/sui 🚀
  apps/price_pusher/package.json
  apps/price_pusher/src/sui/command.ts
  apps/price_pusher/src/sui/sui.ts
Due: none

feat: Update SUI SDK import and required functions to new version @mysten/sui 🚀
  contract_manager/package.json
  contract_manager/src/chains.ts
  contract_manager/src/contracts/sui.ts
Due: none

feat: Update SUI SDK import and required functions to new version @mysten/sui 🚀
  target_chains/sui/sdk/js/package.json
  target_chains/sui/sdk/js/src/client.ts
  target_chains/sui/sdk/js/src/examples/SuiRelay.ts
Due: none

feat: Update SUI SDK import and required functions to new version @mysten/sui 🚀
  target_chains/sui/cli/package.json
  target_chains/sui/cli/src/cli.ts
  target_chains/sui/cli/src/pyth_deploy.ts
  target_chains/sui/cli/src/upgrade_pyth.ts
Due: none

chore: remove old @mysten/sui version and add new version 🚀
  pnpm-lock.yaml
Due: none

feat: add default
  pythnet/pythnet_sdk/src/publisher_stake_caps.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

feat: add rs client
  apps/hermes/client/rs/Cargo.lock
  apps/hermes/client/rs/Cargo.toml
  apps/hermes/client/rs/src/error.rs
  apps/hermes/client/rs/src/lib.rs
  apps/hermes/client/rs/src/price_service_connection.rs
Due: cargo-fmt-hermes

refactor: fix clippy
  apps/hermes/client/rs/src/price_service_connection.rs
Due: cargo-fmt-hermes

chore: remove comments
  apps/hermes/client/rs/src/price_service_connection.rs
Due: cargo-fmt-hermes

PN-02: Absolute difference function allows price updates from the future
  target_chains/fuel/contracts/pyth-contract/src/main.sw
  target_chains/fuel/contracts/pyth-interface/src/errors.sw
  target_chains/fuel/contracts/pyth-interface/src/utils.sw
Due: none

PN-01: Guardians are assumed trusted and no input checks are done
  target_chains/fuel/contracts/pyth-contract/src/main.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/price.sw
Due: none

refactor magic number
  target_chains/fuel/contracts/pyth-contract/src/main.sw
Due: none

fix(target_chains/fuel): address audit (#1799)
  target_chains/fuel/contracts/pyth-contract/src/main.sw
  target_chains/fuel/contracts/pyth-interface/src/data_structures/price.sw
  target_chains/fuel/contracts/pyth-interface/src/errors.sw
  target_chains/fuel/contracts/pyth-interface/src/utils.sw
Due: none

update abi
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-abi.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-storage_slots.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract.bin
Due: none

update abi
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-abi.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-storage_slots.json
  target_chains/fuel/sdk/js/src/abi/pyth-contract-abi.json
  target_chains/fuel/sdk/js/src/types/PythContractAbi.d.ts
  target_chains/fuel/sdk/js/src/types/PythContractAbi.hex.ts
  target_chains/fuel/sdk/js/src/types/factories/PythContractAbi__factory.ts
Due: none

chore(target_chains/fuel): update abi (#1800)
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract-abi.json
  target_chains/fuel/contracts/pyth-contract/out/release/pyth-contract.bin
  target_chains/fuel/sdk/js/src/abi/pyth-contract-abi.json
  target_chains/fuel/sdk/js/src/types/PythContractAbi.d.ts
  target_chains/fuel/sdk/js/src/types/PythContractAbi.hex.ts
  target_chains/fuel/sdk/js/src/types/factories/PythContractAbi__factory.ts
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
