Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

polish
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/command/setup_provider.rs
  apps/fortuna/src/config.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix: remove pull:env command until Vercel is configured
  apps/developer-hub/package.json
Due: none

chore: stop using TypeScript path aliases
  apps/developer-hub/src/app/(docs)/[section]/[...slug]/page.tsx
  apps/developer-hub/src/app/(docs)/[section]/page.tsx
  apps/developer-hub/src/app/(docs)/layout.tsx
  apps/developer-hub/src/app/(homepage)/layout.tsx
  apps/developer-hub/src/app/(homepage)/page.tsx
  apps/developer-hub/src/components/Pages/BasePage/index.tsx
  apps/developer-hub/src/config/layout.config.tsx
  apps/developer-hub/src/source.ts
  apps/developer-hub/tsconfig.json
Due: none

chore: ignore local command runner
  .gitignore
Due: none

chore: add ts-ignore for import of generated file
  apps/developer-hub/src/source.ts
Due: none

fix: remove missed use of path alias
  apps/developer-hub/src/app/api/search/route.ts
Due: none

fix: update frontmatter schema for docs and meta
  apps/developer-hub/source.config.ts
Due: none

chore: remove ts-ignore and ensure build runs before type checking
  apps/developer-hub/src/source.ts
  apps/developer-hub/turbo.json
Due: none

chore: fix type and lint checking errors
  apps/developer-hub/next.config.js
  apps/developer-hub/package.json
  apps/developer-hub/src/app/(docs)/[section]/[...slug]/page.tsx
  apps/developer-hub/src/app/(docs)/[section]/page.tsx
  apps/developer-hub/src/app/(docs)/layout.tsx
  apps/developer-hub/src/app/(homepage)/layout.tsx
  apps/developer-hub/src/app/api/search/route.ts
  apps/developer-hub/src/components/Pages/BasePage/index.tsx
  apps/developer-hub/src/components/Pages/Homepage/index.tsx
  apps/developer-hub/src/config/layout.config.tsx
  apps/developer-hub/src/source.ts
  apps/developer-hub/turbo.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: fix developer hub vercel build command
  apps/developer-hub/vercel.json
Due: none

feat(lazer): update rust client protocol version
  lazer/sdk/rust/client/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

update vresion
  lazer/Cargo.lock
  lazer/sdk/rust/client/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer): update rust client protocol version (#2710)
  lazer/Cargo.lock
  lazer/sdk/rust/client/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(target_chains/ethereum): add new networks (#2707)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/contracts/foundry.toml
  target_chains/ethereum/contracts/hardhat.config.ts
  target_chains/ethereum/contracts/truffle-config.js
Due: none

feat(fortuna): extract RETRY_PREVIOUS_BLOCKS into EthereumConfig
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

style: format keeper.rs
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

chore(target_chains/ethereum): use versioned artifacts for deployment
  target_chains/ethereum/contracts/deploy.sh
Due: none

chore(target_chains/ethereum): add mezo testnet
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
Due: none

chore(target_chains/ethereum): update deploy.sh
  target_chains/ethereum/contracts/deploy.sh
Due: none

feat(fortuna): better logging + avoid unnecessary fee syncs (#2708)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/command/setup_provider.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper/commitment.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

refactor: remove RETRY_PREVIOUS_BLOCKS constant as requested in PR feedback
  apps/fortuna/src/keeper/block.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat(fortuna): configurable block batch size
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix: remove profile: minimal from CI workflows
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-message-buffer.yml
  .github/workflows/ci-pythnet-sdk.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
  .github/workflows/ci-starknet-tools.yml
  .github/workflows/ci-sui-contract.yml
  .github/workflows/publish-pyth-price-store.yml
  .github/workflows/publish-pyth-solana-receiver-state.yml
Due: none

chore(target_chains/ethereum): use versioned artifacts for deployment (#2714)
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  target_chains/ethereum/contracts/deploy.sh
Due: none

fix: add components to toolchain configuration
  .github/workflows/ci-pythnet-sdk.yml
  .github/workflows/ci-solana-contract.yml
Due: none

fix: remove profile: minimal from workflow files and add components where needed
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-message-buffer.yml
  .github/workflows/ci-pythnet-sdk.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
  .github/workflows/ci-starknet-tools.yml
  .github/workflows/ci-sui-contract.yml
  .github/workflows/publish-pyth-price-store.yml
  .github/workflows/publish-pyth-solana-receiver-state.yml
Due: none

Revert "feat(fortuna): extract RETRY_PREVIOUS_BLOCKS into EthereumConfig (#2713)"
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

optional provider random number in case of failure
  apps/fortuna/src/history.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

add gas
  apps/fortuna/migrations/20250521203448_gas.down.sql
  apps/fortuna/migrations/20250521203448_gas.up.sql
  apps/fortuna/src/history.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

more fields
  apps/fortuna/migrations/20250521203448_gas.down.sql
  apps/fortuna/migrations/20250521203448_gas.up.sql
  apps/fortuna/src/api/explorer.rs
  apps/fortuna/src/history.rs
  apps/fortuna/src/keeper/process_event.rs
  apps/fortuna/src/lib.rs
  apps/fortuna/src/serde.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

limit and offset
  apps/fortuna/src/api/explorer.rs
  apps/fortuna/src/history.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

add network id as the main identifier
  apps/fortuna/.sqlx/query-03901bcfb28b127d99fe8a53e480b88336dd2aab632411114f02ce8dd8fe07e8.json
  apps/fortuna/.sqlx/query-16635b3d9c6f9b743614e0e08bfa2b26d7ec6346f0323d9f16b98c32fd9a91f6.json
  apps/fortuna/.sqlx/query-392da9e5fdd212a4a665c86e5fc6d4f619355294490248e656ad0fc97a252471.json
  apps/fortuna/.sqlx/query-4c8c05ec08e128d847faafdd3d79fa50da70066f30b74f354e5d3a843ba6a2c0.json
  apps/fortuna/.sqlx/query-78be8c62d5eb764995221f927b0f166e38d6fba8eb8fddb07f50c572fd27b4e2.json
  apps/fortuna/.sqlx/query-8cd10cd5839b81bd9538aeb10fdfd27c6e36baf5d90a4fb9e61718f021812710.json
  apps/fortuna/.sqlx/query-905dbc91cd5319537c5c194277d531689ac5c1338396414467496d0f50ddc3f0.json
  apps/fortuna/.sqlx/query-9d7448c9bbad50d6242dfc0ba7d5ad4837201a1585bd56cc9a65fe75d0fa5952.json
  apps/fortuna/.sqlx/query-a62e094cee65ae58bd12ce7d3e7df44f5aca31520d1ceced83f492945e850764.json
  apps/fortuna/.sqlx/query-b0d9afebb3825c3509ad80e5ebab5d72360326593407518770fe537ac3da1e10.json
  apps/fortuna/.sqlx/query-b2baa9f9d46f873a3a7117c38ecab09f56082c5267dbf5180f39c608b6262f5a.json
  apps/fortuna/.sqlx/query-c9e3089b1ffd52d20cfcd89e71e051c0f351643dce9be4b84b6343909c816c22.json
  apps/fortuna/.sqlx/query-f58bdd3e0ecb30f35356c22e9ab1b3802f8eebda455efabc18d30f02d23787b7.json
  apps/fortuna/migrations/20250502164500_init.up.sql
  apps/fortuna/src/api.rs
  apps/fortuna/src/api/explorer.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/history.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix: fix scripts to use the new structure
  contract_manager/scripts/check_proposal.ts
  contract_manager/scripts/common.ts
  contract_manager/scripts/deploy_cosmwasm.ts
  contract_manager/scripts/deploy_evm_contract.ts
  contract_manager/scripts/deploy_evm_entropy_contracts.ts
  contract_manager/scripts/deploy_evm_pricefeed_contracts.ts
  contract_manager/scripts/deploy_evm_pulse_contracts.ts
  contract_manager/scripts/entropy-accept-admin-and-ownership.ts
  contract_manager/scripts/entropy_debug_reveal.ts
  contract_manager/scripts/execute_vaas.ts
  contract_manager/scripts/fetch_account_balance.ts
  contract_manager/scripts/fetch_fees.ts
  contract_manager/scripts/generate_governance_set_fee_payload.ts
  contract_manager/scripts/generate_upgrade_near_contract_proposal.ts
  contract_manager/scripts/generate_upgrade_ton_contract_proposal.ts
  contract_manager/scripts/get_entropy_registration.ts
  contract_manager/scripts/latency_entropy.ts
  contract_manager/scripts/latency_entropy_with_callback.ts
  contract_manager/scripts/list_entropy_contracts.ts
  contract_manager/scripts/list_evm_contracts.ts
  contract_manager/scripts/list_wormhole_contracts.ts
  contract_manager/scripts/load_test_entropy.ts
  contract_manager/scripts/send_message_to_wormhole.ts
  contract_manager/scripts/sync_governance_vaas.ts
  contract_manager/scripts/sync_wormhole_guardian_set.ts
  contract_manager/scripts/update_all_pricefeeds.ts
  contract_manager/scripts/update_pricefeed.ts
  contract_manager/scripts/upgrade_evm_entropy_contracts.ts
  contract_manager/scripts/upgrade_evm_pricefeed_contracts.ts
  contract_manager/scripts/upgrade_ton_contract.ts
  contract_manager/scripts/upload_cosmwasm.ts
Due: none

refactor: split structure into core/node
  contract_manager/package.json
  contract_manager/src/core/base.ts
  contract_manager/src/core/chains.ts
  contract_manager/src/core/contracts/aptos.ts
  contract_manager/src/core/contracts/cosmwasm.ts
  contract_manager/src/core/contracts/evm.ts
  contract_manager/src/core/contracts/evm_abis.ts
  contract_manager/src/core/contracts/fuel.ts
  contract_manager/src/core/contracts/index.ts
  contract_manager/src/core/contracts/iota.ts
  contract_manager/src/core/contracts/near.ts
  contract_manager/src/core/contracts/starknet.ts
  contract_manager/src/core/contracts/sui.ts
  contract_manager/src/core/contracts/ton.ts
  contract_manager/src/core/contracts/wormhole.ts
  contract_manager/src/core/token.ts
  contract_manager/src/index.ts
  contract_manager/src/node/utils/executor.ts
  contract_manager/src/node/utils/governance.ts
  contract_manager/src/node/utils/shell.ts
  contract_manager/src/node/utils/store.ts
  contract_manager/tsconfig.json
  pnpm-lock.yaml
  src/browser/index.ts
  src/core/index.ts
  src/node/index.ts
  target_chains/aptos/cli/src/commands/aptos.ts
  target_chains/aptos/cli/tsconfig.json
  target_chains/cosmwasm/deploy-scripts/src/configs.ts
  target_chains/cosmwasm/deploy-scripts/src/instantiate-pyth.ts
  target_chains/cosmwasm/deploy-scripts/src/instantiate-wormhole.ts
  target_chains/cosmwasm/deploy-scripts/tsconfig.json
  target_chains/sui/cli-iota/src/cli.ts
  target_chains/sui/cli-iota/src/upgrade_pyth.ts
  target_chains/sui/cli-iota/tsconfig.json
  target_chains/sui/cli/src/cli.ts
  target_chains/sui/cli/src/upgrade_pyth.ts
  target_chains/sui/cli/tsconfig.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

chore: use json for sample config
  contract_manager/scripts/generate_governance_set_fee_config.sample.json
  contract_manager/scripts/generate_governance_set_fee_config.sample.yaml
Due: none

fix: aptos imports
  target_chains/aptos/cli/src/commands/aptos.ts
Due: none

fix: json exports
  contract_manager/package.json
Due: none
