Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana

fix(js-publish): make aptos cli package private
  target_chains/aptos/cli/package.json
Due: none

fix(js-publish): make aptos cli package private (#1807)
  target_chains/aptos/cli/package.json
Due: none

fix js release
  pnpm-lock.yaml
  target_chains/fuel/sdk/js/package.json
Due: none

remove test from prepublishOnly
  pnpm-lock.yaml
  target_chains/fuel/sdk/js/package.json
Due: none

Reverted pnpm-lock.yaml to main branch version
  pnpm-lock.yaml
Due: none

update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix(target_chains/fuel): remove test from prepublishOnly (#1808)
  pnpm-lock.yaml
  target_chains/fuel/sdk/js/package.json
Due: none

fix: resolve issue with abi paths (#1806)
  target_chains/fuel/contracts/src/constants.rs
  target_chains/fuel/contracts/src/pyth_utils.rs
Due: none

fix: change from [0;32]
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

add version
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

skeleton of swap adapter
  express_relay/swap-beacon/package.json
  express_relay/swap-beacon/src/adapter/kim.ts
  express_relay/swap-beacon/src/const.ts
  express_relay/swap-beacon/src/index.ts
  express_relay/swap-beacon/src/types.ts
  express_relay/swap-beacon/tsconfig.json
  pnpm-lock.yaml
Due: none

Revert "add version"
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

bump
  pythnet/pythnet_sdk/Cargo.toml
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

feat: add publisher stake caps to validator (#1778)
  apps/hermes/server/src/state/cache.rs
  pythnet/pythnet_sdk/Cargo.toml
  pythnet/pythnet_sdk/src/messages.rs
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
  target_chains/near/receiver/tests/workspaces.rs
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
  target_chains/solana/programs/pyth-push-oracle/tests/test_update_price_feed.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_price_update_from_vaa.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_atomic.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

initialize ton contracts
  target_chains/ton/contracts/README.md
  target_chains/ton/contracts/contracts/imports/stdlib.fc
  target_chains/ton/contracts/contracts/pyth.fc
  target_chains/ton/contracts/jest.config.ts
  target_chains/ton/contracts/package-lock.json
  target_chains/ton/contracts/package.json
  target_chains/ton/contracts/scripts/deployPyth.ts
  target_chains/ton/contracts/tests/Pyth.spec.ts
  target_chains/ton/contracts/tsconfig.json
  target_chains/ton/contracts/wrappers/Pyth.compile.ts
  target_chains/ton/contracts/wrappers/Pyth.ts
Due: none

precommit
  target_chains/ton/contracts/README.md
  target_chains/ton/contracts/contracts/imports/stdlib.fc
  target_chains/ton/contracts/jest.config.ts
  target_chains/ton/contracts/package-lock.json
  target_chains/ton/contracts/package.json
  target_chains/ton/contracts/scripts/deployPyth.ts
  target_chains/ton/contracts/tests/Pyth.spec.ts
  target_chains/ton/contracts/tsconfig.json
  target_chains/ton/contracts/wrappers/Pyth.compile.ts
  target_chains/ton/contracts/wrappers/Pyth.ts
Due: none

feat(target_chains/ton): initialize ton contracts (#1810)
  target_chains/ton/contracts/README.md
  target_chains/ton/contracts/contracts/imports/stdlib.fc
  target_chains/ton/contracts/contracts/pyth.fc
  target_chains/ton/contracts/jest.config.ts
  target_chains/ton/contracts/package-lock.json
  target_chains/ton/contracts/package.json
  target_chains/ton/contracts/scripts/deployPyth.ts
  target_chains/ton/contracts/tests/Pyth.spec.ts
  target_chains/ton/contracts/tsconfig.json
  target_chains/ton/contracts/wrappers/Pyth.compile.ts
  target_chains/ton/contracts/wrappers/Pyth.ts
Due: none

finish swapper impl, change kim -> odos
  express_relay/swap-beacon/src/abi.ts
  express_relay/swap-beacon/src/adapter/odos.ts
  express_relay/swap-beacon/src/index.ts
  express_relay/swap-beacon/src/types.ts
  pnpm-lock.yaml
Due: none

rough impl of odos
  express_relay/swap-beacon/package.json
  express_relay/swap-beacon/src/adapter/odos.ts
  express_relay/swap-beacon/src/index.ts
  express_relay/swap-beacon/src/types.ts
  pnpm-lock.yaml
Due: none

feat/publisher-caps-program
  pythnet/pythnet_sdk/Cargo.toml
  target_chains/solana/Cargo.lock
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

add to vec
  pythnet/pythnet_sdk/src/accumulators/merkle.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

feat: remove getPrice from IPyth and mentions of it
  apps/api-reference/src/apis/evm/get-price.ts
  apps/api-reference/src/apis/evm/get-valid-time-period.ts
  apps/api-reference/src/apis/evm/parse-price-feed-updates-unique.tsx
  apps/api-reference/src/components/Home/index.tsx
  express_relay/examples/easy_lend/contracts/EasyLend.sol
  pnpm-lock.yaml
  target_chains/ethereum/contracts/forge-test/GasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/Pyth.Aave.t.sol
  target_chains/ethereum/contracts/package.json
  target_chains/ethereum/sdk/js/README.md
  target_chains/ethereum/sdk/js/src/examples/EvmRelay.ts
  target_chains/ethereum/sdk/solidity/AbstractPyth.sol
  target_chains/ethereum/sdk/solidity/IPyth.sol
  target_chains/ethereum/sdk/solidity/README.md
  target_chains/ethereum/sdk/solidity/abis/IPyth.json
  target_chains/ethereum/sdk/solidity/package.json
Due: none

fix ci
  .github/workflows/ci-pre-commit.yml
  .pre-commit-config.yaml
Due: none

Change create accumulator message
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/cosmwasm/Cargo.lock
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
  target_chains/near/receiver/tests/workspaces.rs
  target_chains/solana/programs/pyth-push-oracle/tests/test_update_price_feed.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_price_update_from_vaa.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_atomic.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

cargo lock
  pythnet/pythnet_sdk/Cargo.toml
  target_chains/cosmwasm/Cargo.lock
  target_chains/solana/Cargo.lock
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

update xc-admin-frontend to show eclipse_mainnet proposals
  governance/remote_executor/programs/remote-executor/Cargo.toml
  governance/remote_executor/programs/remote-executor/src/state/governance_payload.rs
  governance/remote_executor/programs/remote-executor/src/state/posted_vaa.rs
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  governance/xc_admin/packages/xc_admin_common/src/cluster.ts
  governance/xc_admin/packages/xc_admin_common/src/propose.ts
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/Proposal.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/utils.ts
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

fix test
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/Proposal.tsx
Due: none

precommit
  governance/remote_executor/programs/remote-executor/src/state/posted_vaa.rs
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

no longer need OAConfigs
  express_relay/swap-beacon/src/index.ts
Due: none

revert specific files to match main
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/cluster.ts
  governance/xc_admin/packages/xc_admin_common/src/propose.ts
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/Proposal.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/utils.ts
Due: none

dont show text if targetNetwork is not resolved
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/Proposal.tsx
Due: none

feat(remote_executor): update eclipse_mainnet (#1813)
  governance/remote_executor/programs/remote-executor/Cargo.toml
  governance/remote_executor/programs/remote-executor/src/state/governance_payload.rs
  governance/remote_executor/programs/remote-executor/src/state/posted_vaa.rs
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/Proposal.tsx
Due: cargo-fmt-remote-executor, cargo-clippy-remote-executor

chore(target_chains/ethereum) Organize chain patches
  target_chains/ethereum/contracts/chain_patches/blast-gas-claim-patch.diff
  target_chains/ethereum/contracts/chain_patches/canto-deployment-patch.diff
  target_chains/ethereum/contracts/chain_patches/mode-gas-claim-patch.diff
Due: none

chore(target_chains/ethereum) Organize chain patches (#1816)
  target_chains/ethereum/contracts/chain_patches/blast-gas-claim-patch.diff
  target_chains/ethereum/contracts/chain_patches/canto-deployment-patch.diff
  target_chains/ethereum/contracts/chain_patches/mode-gas-claim-patch.diff
Due: none

feat: publisher-caps-program (#1812)
  .github/workflows/ci-pre-commit.yml
  .pre-commit-config.yaml
  pythnet/pythnet_sdk/Cargo.toml
  pythnet/pythnet_sdk/src/accumulators/merkle.rs
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/cosmwasm/Cargo.lock
  target_chains/cosmwasm/contracts/pyth/src/contract.rs
  target_chains/near/receiver/tests/workspaces.rs
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-push-oracle/tests/test_update_price_feed.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_price_update_from_vaa.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_atomic.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

go
  apps/hermes/client/js/src/examples/HermesClient.ts
Due: cargo-fmt-hermes

update
  apps/hermes/server/Cargo.lock
Due: cargo-fmt-hermes

fix: switch to false
  apps/hermes/client/js/src/examples/HermesClient.ts
Due: cargo-fmt-hermes

Removed unused error IncorrectSender() (#1756)
  target_chains/ethereum/examples/coin_flip/contract/src/CoinFlip.sol
Due: none

fix: address feedback
  target_chains/ethereum/sdk/solidity/AbstractPyth.sol
Due: none
