Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/fortuna/Cargo.toml --all
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/fortuna/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./target_chains/solana/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./target_chains/solana/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./lazer/Cargo.toml --all
  pass_filenames: false

test
  .github/workflows/ci-lazer-solana-contract.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

undo changes to solana test workflow
  .github/workflows/ci-lazer-solana-contract.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: implement gas benchmark for PulseScheduler
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
Due: none

refactor: remove unnecessary whitelist setup
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
Due: none

feat: extend benchmark to support 20 feeds
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
Due: none

feat: replace estimation logic with actual gas benchmarks
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
Due: none

feat: remove parameter limits in benchmarks
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
Due: none

anchor test
  .github/workflows/ci-lazer-solana-contract.yml
Due: cargo-fmt-lazer, cargo-clippy-lazer

test: refactor utils
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseSchedulerTestUtils.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseTestUtils.t.sol
Due: none

add impl for timestampus
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

undo change to proc macro version
  lazer/Cargo.lock
Due: cargo-fmt-lazer, cargo-clippy-lazer

test: refactor, fix under/overflows
  target_chains/ethereum/contracts/contracts/pulse/scheduler/Scheduler.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseSchedulerTestUtils.t.sol
Due: none

test(pulse-scheduler): add gas benchmark, refactor common helpers into util
  target_chains/ethereum/contracts/contracts/pulse/scheduler/Scheduler.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseSchedulerTestUtils.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseTestUtils.t.sol
Due: none

doc: test comment
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
Due: none

fix: import
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
Due: none

fix: overflow, DRY
  target_chains/ethereum/contracts/contracts/pulse/scheduler/Scheduler.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
Due: none

doc: comment
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
Due: none

fix: remove unused constants
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
Due: none

chore(lazer): fix CI
  .github/workflows/ci-lazer-solana-contract.yml
  lazer/contracts/solana/package.json
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(lazer): add missing derives (#2591)
  .github/workflows/ci-lazer-solana-contract.yml
  lazer/Cargo.lock
  lazer/contracts/solana/package.json
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
  lazer/sdk/rust/protocol/src/payload.rs
  lazer/sdk/rust/protocol/src/publisher.rs
  lazer/sdk/rust/protocol/src/router.rs
  lazer/sdk/rust/protocol/src/subscription.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

test(pulse-scheduler): add gas benchmark (#2596)
  target_chains/ethereum/contracts/contracts/pulse/scheduler/Scheduler.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseSchedulerTestUtils.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseTestUtils.t.sol
Due: none

fix: disallow config and whitelist updates for permanent subs
  target_chains/ethereum/contracts/contracts/pulse/scheduler/Scheduler.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
Due: none

fix: disallow updating isActive for permanent subscriptions
  target_chains/ethereum/contracts/contracts/pulse/scheduler/Scheduler.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
Due: none

doc: clarify comment
  target_chains/ethereum/contracts/contracts/pulse/scheduler/Scheduler.sol
Due: none

feat(pulse-scheduler): add permanent subscriptions, allow permissionless funding, clean up tests (#2593)
  target_chains/ethereum/contracts/contracts/pulse/scheduler/Scheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/scheduler/SchedulerErrors.sol
  target_chains/ethereum/contracts/contracts/pulse/scheduler/SchedulerState.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
Due: none

fix: merge
  target_chains/ethereum/contracts/contracts/pulse/scheduler/SchedulerErrors.sol
Due: none

refactor(pulse-scheduler): improve SubscriptionParams validation (#2594)
  target_chains/ethereum/contracts/contracts/pulse/scheduler/Scheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/scheduler/SchedulerErrors.sol
  target_chains/ethereum/contracts/contracts/pulse/scheduler/SchedulerState.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseSchedulerTestUtils.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseTestUtils.t.sol
Due: none

add readme
  target_chains/ethereum/contracts/contracts/pulse/scheduler/README.md
Due: none

doc: update readme
  target_chains/ethereum/contracts/contracts/pulse/scheduler/README.md
Due: none

fix(apps/hermes): use last ip in the headers
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/api/ws.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

feat(hermes-server) Add `ignore_invalid_price_ids` flag to hermes ws endpoint
  apps/hermes/server/src/api/ws.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

run publish script to test imports
  lazer/publisher_sdk/rust/publish.sh
  lazer/publisher_sdk/rust/src/lib.rs
  lazer/publisher_sdk/rust/src/protobuf/mod.rs
  lazer/publisher_sdk/rust/src/protobuf/publisher_update.rs
  lazer/publisher_sdk/rust/src/protobuf/pyth_lazer_transaction.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

update publish script
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/publisher_sdk/rust/publish.sh
Due: cargo-fmt-lazer, cargo-clippy-lazer

Return files to normal
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/publisher_sdk/rust/src/lib.rs
  lazer/publisher_sdk/rust/src/protobuf/mod.rs
  lazer/publisher_sdk/rust/src/protobuf/publisher_update.rs
  lazer/publisher_sdk/rust/src/protobuf/pyth_lazer_transaction.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
