Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana

Fault tolerant start of api and keeper
  apps/fortuna/src/command/run.rs
Due: cargo-fmt-fortuna

Bump
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna

fix(fortuna): Eip1559 fixes (#1597)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/config.rs
Due: cargo-fmt-fortuna

fix(fortuna): Fix eip1559 detection
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/chain/ethereum.rs
Due: cargo-fmt-fortuna

fix(fortuna): Fix eip1559 detection (#1598)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/chain/ethereum.rs
Due: cargo-fmt-fortuna

fix(fortuna): missed a ! on the logic for eip1559
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/state.rs
Due: cargo-fmt-fortuna

fix(fortuna): missed a ! on the logic for eip1559 (#1600)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/state.rs
Due: cargo-fmt-fortuna

Add
  target_chains/solana/common_test_utils/src/lib.rs
  target_chains/solana/programs/pyth-push-oracle/Cargo.toml
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
  target_chains/solana/programs/pyth-push-oracle/src/sdk.rs
  target_chains/solana/programs/pyth-solana-receiver/output.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/sdk.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_governance.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/cpi/mod.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/cpi/post_update.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/cpi/post_update_atomic.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/params.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/pda.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/program.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Bump
  target_chains/solana/Cargo.lock
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Cleanup
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/sdk.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/cpi/accounts.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/cpi/mod.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/cpi/post_update.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/params.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Delete cargo expand
  target_chains/solana/programs/pyth-solana-receiver/output.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

cleanup
  target_chains/solana/pyth_solana_receiver_sdk/src/cpi/accounts.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/cpi/mod.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix(fortuna): improve eip1559 detection
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain/ethereum.rs
Due: cargo-fmt-fortuna

fix(fortuna): Minor improvements on latency script
  contract_manager/scripts/latency_entropy_with_callback.ts
Due: none

fix(fortuna): EIP1559 and script improvements (#1603)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain/ethereum.rs
  contract_manager/scripts/latency_entropy_with_callback.ts
Due: cargo-fmt-fortuna

cleanup config
  apps/fortuna/README.md
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/command/setup_provider.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/config/register_provider.rs
  apps/fortuna/src/config/run.rs
  apps/fortuna/src/config/setup_provider.rs
Due: cargo-fmt-fortuna

fix(fortuna): Manual eip1559 as the automatic version buggy
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/config.rs
Due: cargo-fmt-fortuna

merge configs
  apps/fortuna/config.sample.yaml
  apps/fortuna/provider-config.sample.yaml
  apps/fortuna/src/config.rs
Due: cargo-fmt-fortuna

more simplification
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/command/register_provider.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/command/setup_provider.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/config/register_provider.rs
Due: cargo-fmt-fortuna

move everything to config
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/command/register_provider.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/command/setup_provider.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/config/generate.rs
  apps/fortuna/src/config/register_provider.rs
  apps/fortuna/src/config/run.rs
  apps/fortuna/src/config/setup_provider.rs
Due: cargo-fmt-fortuna

version bump
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna

nicer loading of secrets
  apps/fortuna/Cargo.lock
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/command/register_provider.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/command/setup_provider.rs
  apps/fortuna/src/config.rs
Due: cargo-fmt-fortuna

fix readme
  apps/fortuna/README.md
  apps/fortuna/config.sample.yaml
Due: cargo-fmt-fortuna

precommit
  apps/fortuna/README.md
  apps/fortuna/config.sample.yaml
Due: cargo-fmt-fortuna

fix
  apps/fortuna/src/command/register_provider.rs
  apps/fortuna/src/command/setup_provider.rs
Due: cargo-fmt-fortuna

precommit
  apps/fortuna/config.sample.yaml
Due: cargo-fmt-fortuna

fix(fortuna): Manual eip1559 as the automatic version buggy (#1604)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/config.rs
Due: cargo-fmt-fortuna

feat(target_chains/starknet): add view methods to wormhole (#1595)
  target_chains/starknet/contracts/src/wormhole.cairo
  target_chains/starknet/contracts/src/wormhole/errors.cairo
  target_chains/starknet/contracts/src/wormhole/interface.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
  target_chains/starknet/contracts/tests/wormhole_guardians.cairo
Due: none

fix(governance/xc_admin): prettify the files
  governance/xc_admin/packages/crank_executor/src/index.ts
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/ProposalRow.tsx
Due: none

chore(target_chains/starknet): remove owner from pyth contract
  target_chains/starknet/contracts/deploy/local_deploy
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/pyth/fake_upgrades.cairo
  target_chains/starknet/contracts/src/pyth/interface.cairo
  target_chains/starknet/contracts/tests/data.cairo
  target_chains/starknet/contracts/tests/pyth.cairo
Due: none

chore(target_chains/starknet): remove owner from pyth contract (#1607)
  target_chains/starknet/contracts/deploy/local_deploy
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/pyth/fake_upgrades.cairo
  target_chains/starknet/contracts/src/pyth/interface.cairo
  target_chains/starknet/contracts/tests/data.cairo
  target_chains/starknet/contracts/tests/pyth.cairo
Due: none
