Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

add suspense
  apps/developer-hub/content/docs/price-feeds/core/price-feeds/price-feed-ids.mdx
Due: none

nit
  apps/developer-hub/content/docs/price-feeds/core/price-feeds/price-feed-ids.mdx
Due: none

fix
  apps/developer-hub/src/components/PriceFeedIdsCoreTable/index.tsx
Due: none

fix(dev-hub): feed ids
  apps/developer-hub/package.json
  apps/developer-hub/src/components/PriceFeedIdsCoreTable/index.module.scss
  apps/developer-hub/src/components/PriceFeedIdsCoreTable/index.tsx
  pnpm-lock.yaml
Due: none

feat(dev-hub) Pyth Pro pages Part-1
  apps/developer-hub/content/docs/price-feeds/pro/acquire-access-token.mdx
  apps/developer-hub/content/docs/price-feeds/pro/getting-started.mdx
  apps/developer-hub/content/docs/price-feeds/pro/how-lazer-works.mdx
  apps/developer-hub/content/docs/price-feeds/pro/index.mdx
  apps/developer-hub/content/docs/price-feeds/pro/integrate-as-consumer/evm.mdx
  apps/developer-hub/content/docs/price-feeds/pro/integrate-as-consumer/index.mdx
  apps/developer-hub/content/docs/price-feeds/pro/integrate-as-consumer/meta.json
  apps/developer-hub/content/docs/price-feeds/pro/integrate-as-consumer/svm.mdx
  apps/developer-hub/content/docs/price-feeds/pro/integrate-as-publisher.mdx
  apps/developer-hub/content/docs/price-feeds/pro/meta.json
  apps/developer-hub/content/docs/price-feeds/pro/payload-reference.mdx
  apps/developer-hub/content/docs/price-feeds/pro/subscribe-to-prices.mdx
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(dev-hub): pyth-pro-table
  apps/developer-hub/content/docs/price-feeds/pro/price-feed-ids.mdx
  apps/developer-hub/src/components/PriceFeedIdsProTable/index.module.scss
  apps/developer-hub/src/components/PriceFeedIdsProTable/index.tsx
Due: none

feat(dev-hub) Fix Pyth Pro table
  apps/developer-hub/src/components/PriceFeedIdsProTable/index.tsx
Due: none

refactor(lazer): add exponent to AggregatedPriceFeedData
  Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/publisher_sdk/proto/state.proto
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
  lazer/sdk/rust/protocol/src/payload.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

update dashboard page
  apps/developer-hub/content/docs/metrics/pyth-dashboard.mdx
Due: none

feat(hip-3-pusher): market subscription, price move clamping
  apps/hip-3-pusher/src/pusher/hyperliquid_listener.py
  apps/hip-3-pusher/src/pusher/price_state.py
Due: none

feat(dev-hub) Landing Page(WIP)
  apps/developer-hub/src/app/(homepage)/page.tsx
  apps/developer-hub/src/components/Pages/TempPage/index.module.scss
  apps/developer-hub/src/components/Pages/TempPage/index.tsx
Due: none

price feeds core fix
  apps/developer-hub/content/docs/price-feeds/core/index.mdx
Due: none

broken links for core price feeds
  apps/developer-hub/content/docs/price-feeds/core/api-instances-and-providers/hermes.mdx
  apps/developer-hub/content/docs/price-feeds/core/best-practices.mdx
  apps/developer-hub/content/docs/price-feeds/core/contract-addresses/evm.mdx
  apps/developer-hub/content/docs/price-feeds/core/contract-addresses/pythnet.mdx
  apps/developer-hub/content/docs/price-feeds/core/create-your-first-pyth-app/evm/part-1.mdx
  apps/developer-hub/content/docs/price-feeds/core/derive-cross-rate.mdx
  apps/developer-hub/content/docs/price-feeds/core/fetch-price-updates.mdx
  apps/developer-hub/content/docs/price-feeds/core/migrate-an-app-to-pyth/chainlink.mdx
  apps/developer-hub/content/docs/price-feeds/core/price-feeds/index.mdx
  apps/developer-hub/content/docs/price-feeds/core/publish-data/index.mdx
  apps/developer-hub/content/docs/price-feeds/core/pull-updates.mdx
  apps/developer-hub/content/docs/price-feeds/core/troubleshoot/evm.mdx
  apps/developer-hub/content/docs/price-feeds/core/use-pyth-for-morpho.mdx
Due: none

refactor
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
  apps/pyth-lazer-agent/src/jrpc_handle.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor(lazer): add exponent to AggregatedPriceFeedData (#3193)
  Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/publisher_sdk/proto/state.proto
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
  lazer/sdk/rust/protocol/src/payload.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore(apps/quorum): add recovered addr on sig error
  Cargo.lock
  apps/quorum/Cargo.toml
  apps/quorum/src/api.rs
Due: cargo-fmt-quorum, cargo-clippy-quorum

chore(apps/quorum): add recovered addr on sig error (#3196)
  Cargo.lock
  apps/quorum/Cargo.toml
  apps/quorum/src/api.rs
Due: cargo-fmt-quorum, cargo-clippy-quorum

HL allMids support
  apps/hip-3-pusher/pyproject.toml
  apps/hip-3-pusher/src/pusher/hyperliquid_listener.py
  apps/hip-3-pusher/src/pusher/main.py
  apps/hip-3-pusher/src/pusher/price_state.py
  apps/hip-3-pusher/uv.lock
Due: none

Add market session to lazer
  Cargo.lock
  lazer/publisher_sdk/proto/state.proto
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/publisher_sdk/rust/src/lib.rs
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
  lazer/sdk/rust/protocol/src/payload.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(dev-hub) Footer
  apps/developer-hub/src/components/Footer/index.tsx
  apps/developer-hub/src/components/Root/index.tsx
Due: none

fix(pyth-lazer-agent): Only send one success response per batch update (#3186)
  Cargo.lock
  apps/pyth-lazer-agent/Cargo.toml
  apps/pyth-lazer-agent/src/jrpc_handle.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Fix
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

price feeds core few other links
  apps/developer-hub/content/docs/price-feeds/core/create-your-first-pyth-app/index.mdx
  apps/developer-hub/content/docs/price-feeds/core/publish-data/index.mdx
Due: none

correct link
  apps/developer-hub/content/docs/price-feeds/core/publish-data/index.mdx
Due: none

feat(dev-hub):draft
  apps/developer-hub/apps/developer-hub/src/components/Pages/TempPage/index.tsx
  apps/developer-hub/src/app/(homepage)/page.tsx
  apps/developer-hub/src/components/Pages/TempPage/index.module.scss
  apps/developer-hub/src/components/Pages/TempPage/index.tsx
Due: none

docs: updated readme to callout the new `create-pyth-package` script and the best practices docsite
  README.md
Due: none

fix leak (#3181)
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/common/constants.fc
Due: none

fix(target_chains/ton/contracts): fix type issues on the deploy script
  target_chains/ton/contracts/scripts/deployPyth.ts
Due: none

chore: bump pyth-lazer-client to 10.0.0
  Cargo.lock
  lazer/sdk/rust/client/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: bump pyth-lazer-client to 10.0.0 (#3202)
  Cargo.lock
  lazer/sdk/rust/client/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: Use benchmarks API for historical data
  apps/insights/src/components/PriceFeed/Chart/chart.tsx
Due: none

PR feedback
  apps/insights/src/components/PriceFeed/Chart/chart.tsx
Due: none

chore(pyth-ton): added bun to unblock those who need to interact with blueprint, but THIS SHOULD NOT BE MERGED INTO MAIN 💣
  pnpm-lock.yaml
  pnpm-workspace.yaml
  target_chains/ton/contracts/package.json
  target_chains/ton/contracts/wrappers/Main.ts
  target_chains/ton/contracts/wrappers/PythTest.ts
  target_chains/ton/contracts/wrappers/WormholeTest.ts
Due: none

fix(dev-hub) Fix Pro links
  apps/developer-hub/content/docs/price-feeds/core/contract-addresses/pythnet.mdx
  apps/developer-hub/content/docs/price-feeds/index.mdx
  apps/developer-hub/content/docs/price-feeds/pro/acquire-access-token.mdx
  apps/developer-hub/content/docs/price-feeds/pro/getting-started.mdx
  apps/developer-hub/content/docs/price-feeds/pro/index.mdx
  apps/developer-hub/content/docs/price-feeds/pro/integrate-as-consumer/evm.mdx
  apps/developer-hub/content/docs/price-feeds/pro/integrate-as-consumer/index.mdx
  apps/developer-hub/content/docs/price-feeds/pro/integrate-as-consumer/svm.mdx
Due: none
