Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

chore(contract-manager): un-redact monad chain name
  contract_manager/src/store/chains/EvmChains.json
  contract_manager/src/store/contracts/EvmEntropyContracts.json
  contract_manager/src/store/contracts/EvmExecutorContracts.json
  contract_manager/src/store/contracts/EvmPriceFeedContracts.json
  contract_manager/src/store/contracts/EvmWormholeContracts.json
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

fix(insights): fixed historical fake websocket fetcher to stop fetching if the component becomes unmounted
  apps/insights/src/hooks/pyth-pro-demo/use-http-datastream.ts
Due: none

fix(insights): fixed the crosshair formatter
  apps/insights/src/components/PythProDemoPriceChart/index.tsx
Due: none

chore(insights): for nasdaq data, hide the current price
  apps/insights/src/components/PythProDemoPriceChart/index.tsx
  apps/insights/src/context/pyth-pro-demo/pyth-pro-app-state.tsx
  apps/insights/src/schemas/pyth/pyth-pro-demo-schema.ts
Due: none

fix(insights): fixed concurrency race conditions where the datapoint reference was changing in async calls
  apps/insights/src/hooks/pyth-pro-demo/use-http-datastream.ts
Due: none

feat(insights): fetch in 15 second increments instead of batches of 1000. this ensures all data sources are returned that have data for this period
  apps/insights/src/app/api/pyth/get-pyth-feeds-demo-data/[symbol]/route.ts
  apps/insights/src/hooks/pyth-pro-demo/use-http-datastream.ts
  apps/insights/src/static-data/pyth-pro-demo/index.ts
Due: none

feat(insights): added a sqlite db creation mechanism for this demo, because I'm tired of using DBeaver
  apps/insights/package.json
  apps/insights/src/pyth-feed-demo-data/.gitignore
  apps/insights/src/pyth-feed-demo-data/fix-data.ts
  apps/insights/src/pyth-feed-demo-data/types.ts
  apps/insights/src/schemas/pyth/pyth-pro-demo-schema.ts
  packages/create-pyth-package/package.json
  packages/create-pyth-package/src/create-pyth-package.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  target_chains/fuel/sdk/js/package.json
Due: none

feat(lazer/contracts/sui): expect Bech32 instead of Hex private key in SDK example
  lazer/contracts/sui/sdk/js/examples/fetch-and-verify-update.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

Add SPYX/USD to Ethereum mainnet push feeds docs
  apps/developer-hub/content/docs/price-feeds/core/push-feeds/data/evm/ethereum-mainnet.json
Due: none

feat(developer-hub): integrate cookbook chat
  apps/developer-hub/package.json
  apps/developer-hub/src/components/AskCookbook/index.tsx
  apps/developer-hub/src/components/Root/index.tsx
  apps/developer-hub/src/cookbookdev-docsbot.d.ts
  pnpm-lock.yaml
Due: none

Check for staleness in each Hyperliquid websocket channel
  apps/hip-3-pusher/src/pusher/hermes_listener.py
  apps/hip-3-pusher/src/pusher/hyperliquid_listener.py
  apps/hip-3-pusher/src/pusher/lazer_listener.py
Due: cargo-fmt-lazer, cargo-clippy-lazer

version bump
  apps/hip-3-pusher/pyproject.toml
  apps/hip-3-pusher/uv.lock
Due: none

Add missing external perp error reason
  apps/hip-3-pusher/src/pusher/publisher.py
Due: none

feat: Revamp Developer Hub homepage with new content sections, cards, and shared components; fix Fuel SDK package type definitions.
  apps/developer-hub/src/app/(homepage)/layout.tsx
  apps/developer-hub/src/components/Pages/Homepage/home-content-cards.tsx
  apps/developer-hub/src/components/Pages/Homepage/index.module.scss
  apps/developer-hub/src/components/Pages/Homepage/index.tsx
  apps/developer-hub/src/components/Pages/Homepage/section-card.module.scss
  apps/developer-hub/src/components/Pages/Homepage/section-card.tsx
  apps/developer-hub/src/components/Pages/Homepage/section.module.scss
  apps/developer-hub/src/components/Pages/Homepage/section.tsx
  apps/developer-hub/src/components/ProductCard/index.tsx
  apps/developer-hub/src/components/Root/global.css
  apps/developer-hub/src/components/Shared/content-section.module.scss
  apps/developer-hub/src/components/Shared/content-section.tsx
  apps/developer-hub/src/components/Shared/footer.tsx
  apps/developer-hub/src/components/Shared/section-container.module.scss
  apps/developer-hub/src/components/Shared/section-container.tsx
  apps/developer-hub/src/components/Shared/section-title.module.scss
  apps/developer-hub/src/components/Shared/section-title.tsx
  target_chains/fuel/sdk/js/package.json
Due: none

feat: Add new BoxSVG component and integrate it into homepage content and styling.
  apps/developer-hub/src/components/Pages/Homepage/BoxSVG.tsx
  apps/developer-hub/src/components/Pages/Homepage/home-content-cards.tsx
  apps/developer-hub/src/components/Pages/Homepage/index.tsx
  apps/developer-hub/src/components/ProductCard/index.tsx
  apps/developer-hub/src/components/Shared/footer.tsx
  apps/developer-hub/src/components/Shared/section-container.module.scss
  apps/developer-hub/src/components/Shared/section-title.module.scss
Due: none

Add max_fee configuration option and update documentation
  apps/fortuna/AGENTS.md
  apps/fortuna/README.md
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/api.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/fee.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

add movement previewnet
  contract_manager/src/store/chains/AptosChains.json
  contract_manager/src/store/contracts/AptosPriceFeedContracts.json
  contract_manager/src/store/contracts/AptosWormholeContracts.json
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

bump ver
  Cargo.lock
  apps/fortuna/AGENTS.md
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

feat(fortuna): Add `max_fee` config option and add AGENTS.md (#3291)
  Cargo.lock
  apps/fortuna/AGENTS.md
  apps/fortuna/Cargo.toml
  apps/fortuna/README.md
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/api.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/fee.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

User rate limit listener, async-ify sdk calls
  apps/hip-3-pusher/src/pusher/config.py
  apps/hip-3-pusher/src/pusher/hermes_listener.py
  apps/hip-3-pusher/src/pusher/hyperliquid_listener.py
  apps/hip-3-pusher/src/pusher/lazer_listener.py
  apps/hip-3-pusher/src/pusher/main.py
  apps/hip-3-pusher/src/pusher/metrics.py
  apps/hip-3-pusher/src/pusher/publisher.py
  apps/hip-3-pusher/src/pusher/user_limit_listener.py
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(dev-hub) Api Reference V2
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/chain_ids.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/explorer.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/index.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/meta.json
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/revelation.mdx
  apps/developer-hub/content/docs/api-reference/entropy/meta.json
  apps/developer-hub/content/docs/api-reference/meta.json
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_price_feed.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_vaa.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_vaa_ccip.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/index.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_price_feeds.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_price_updates.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_publisher_stake_caps.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_twaps.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_vaas.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/meta.json
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_feed_ids.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_feeds_metadata.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_stream_sse_handler.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/timestamp_price_updates.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/meta.json
  apps/developer-hub/content/docs/meta.json
  apps/developer-hub/scripts/generate-docs.ts
  apps/developer-hub/src/components/Pages/BasePage/index.tsx
  apps/developer-hub/src/components/Root/global.css
  apps/developer-hub/src/lib/openapi.ts
Due: none

chore(dev-hub) Updated APIs
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/chain_ids.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/explorer.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/index.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/meta.json
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/revelation.mdx
  apps/developer-hub/content/docs/api-reference/entropy/meta.json
  apps/developer-hub/content/docs/api-reference/meta.json
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_price_feed.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_vaa.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_vaa_ccip.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/index.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_price_feeds.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_price_updates.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_publisher_stake_caps.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_twaps.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_vaas.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_feed_ids.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_feeds_metadata.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_stream_sse_handler.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/timestamp_price_updates.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/meta.json
Due: none

new index page
  apps/developer-hub/README.md
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/chain_ids.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/explorer.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/index.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/meta.json
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/revelation.mdx
  apps/developer-hub/content/docs/api-reference/entropy/meta.json
  apps/developer-hub/content/docs/api-reference/index.mdx
  apps/developer-hub/content/docs/api-reference/meta.json
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_price_feed.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_vaa.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_vaa_ccip.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/index.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_price_feeds.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_price_updates.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_publisher_stake_caps.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_twaps.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_vaas.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_feed_ids.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_feeds_metadata.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_stream_sse_handler.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/timestamp_price_updates.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/meta.json
  apps/developer-hub/scripts/generate-docs.ts
Due: none

ai-readme
  apps/developer-hub/README.md
  apps/developer-hub/scripts/generate-docs.ts
  apps/developer-hub/turbo.json
Due: none

chore(dev-hub) Add API card component
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/index.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/index.mdx
  apps/developer-hub/scripts/generate-docs.ts
  apps/developer-hub/src/components/APICard/index.module.scss
  apps/developer-hub/src/components/APICard/index.tsx
  apps/developer-hub/src/mdx-components.tsx
Due: none

fix build
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/chain_ids.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/explorer.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/index.mdx
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/meta.json
  apps/developer-hub/content/docs/api-reference/entropy/fortuna/revelation.mdx
  apps/developer-hub/content/docs/api-reference/entropy/meta.json
  apps/developer-hub/content/docs/api-reference/index.mdx
  apps/developer-hub/content/docs/api-reference/meta.json
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_price_feed.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_vaa.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/get_vaa_ccip.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/index.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_price_feeds.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_price_updates.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_publisher_stake_caps.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_twaps.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/latest_vaas.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_feed_ids.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_feeds_metadata.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/price_stream_sse_handler.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/hermes/timestamp_price_updates.mdx
  apps/developer-hub/content/docs/api-reference/pyth-core/meta.json
Due: none

fixes
  apps/hip-3-pusher/src/pusher/config.py
  apps/hip-3-pusher/src/pusher/hyperliquid_listener.py
  apps/hip-3-pusher/src/pusher/metrics.py
  apps/hip-3-pusher/src/pusher/user_limit_listener.py
Due: none

wait fixed 1s between all websocket connections
  apps/hip-3-pusher/src/pusher/hermes_listener.py
  apps/hip-3-pusher/src/pusher/hyperliquid_listener.py
  apps/hip-3-pusher/src/pusher/lazer_listener.py
Due: cargo-fmt-lazer, cargo-clippy-lazer

populate balance metric more frequently
  apps/hip-3-pusher/src/pusher/user_limit_listener.py
Due: none

refactor: Improve code formatting across components and remove redundant image container from homepage section cards.
  apps/developer-hub/src/app/(homepage)/layout.tsx
  apps/developer-hub/src/components/Pages/Homepage/BoxSVG.tsx
  apps/developer-hub/src/components/Pages/Homepage/box-svg.tsx
  apps/developer-hub/src/components/Pages/Homepage/home-content-cards.tsx
  apps/developer-hub/src/components/Pages/Homepage/index.module.scss
  apps/developer-hub/src/components/Pages/Homepage/index.tsx
  apps/developer-hub/src/components/Pages/Homepage/section-card.module.scss
  apps/developer-hub/src/components/Pages/Homepage/section-card.tsx
  apps/developer-hub/src/components/Pages/Homepage/section.module.scss
  apps/developer-hub/src/components/ProductCard/index.tsx
  apps/developer-hub/src/components/Root/global.css
  apps/developer-hub/src/components/Shared/content-section.module.scss
  apps/developer-hub/src/components/Shared/content-section.tsx
  apps/developer-hub/src/components/Shared/footer.tsx
  apps/developer-hub/src/components/Shared/section-container.module.scss
  apps/developer-hub/src/components/Shared/section-container.tsx
  apps/developer-hub/src/components/Shared/section-title.module.scss
  apps/developer-hub/src/components/Shared/section-title.tsx
Due: none

fixed eslint errors
  apps/developer-hub/src/app/(homepage)/layout.tsx
  apps/developer-hub/src/components/Pages/Homepage/index.tsx
  apps/developer-hub/src/components/ProductCard/index.tsx
  apps/developer-hub/src/components/Shared/content-section.tsx
Due: none

fix(insights): we're finally back online with the demo. querying works as expected
  apps/insights/src/app/api/pyth/get-pyth-feeds-demo-data/[datasource]/[symbol]/route.ts
  apps/insights/src/components/PythProDemoPriceChart/index.tsx
  apps/insights/src/hooks/pyth-pro-demo/use-binance-websocket.ts
  apps/insights/src/hooks/pyth-pro-demo/use-bybit-websocket.ts
  apps/insights/src/hooks/pyth-pro-demo/use-coinbase-websocket.ts
  apps/insights/src/hooks/pyth-pro-demo/use-http-datastream.ts
  apps/insights/src/hooks/pyth-pro-demo/use-okx-websocket.ts
  apps/insights/src/hooks/pyth-pro-demo/use-pyth-core-websocket.ts
  apps/insights/src/hooks/pyth-pro-demo/use-pyth-lazer-websocket.ts
  apps/insights/src/pyth-feed-demo-data/fetch-historical-data-from-db.ts
  apps/insights/src/schemas/pyth/pyth-pro-demo-schema.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(insights): do not plot a data point that's below zero
  apps/insights/src/components/PythProDemoPriceChart/index.tsx
  apps/insights/src/schemas/pyth/pyth-pro-demo-schema.ts
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
