Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/solana/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

Remove contracts dir
  governance/xc_admin/packages/xc_admin_common/src/contracts/Contract.ts
  governance/xc_admin/packages/xc_admin_common/src/contracts/EvmPythUpgradable.ts
  governance/xc_admin/packages/xc_admin_common/src/contracts/EvmWormholeReceiver.ts
  governance/xc_admin/packages/xc_admin_common/src/contracts/config.ts
  governance/xc_admin/packages/xc_admin_common/src/contracts/index.ts
  governance/xc_admin/packages/xc_admin_common/src/index.ts
Due: none

Remove old cli
  governance/xc_admin/packages/xc_admin_cli/src/cli.ts
Due: none

Update dockerfile (#1041)
  .github/workflows/lerna.yaml
  governance/xc_admin/packages/xc_admin_cli/src/cli.ts
  governance/xc_admin/packages/xc_admin_common/package.json
  governance/xc_admin/packages/xc_admin_common/src/contracts/Contract.ts
  governance/xc_admin/packages/xc_admin_common/src/contracts/EvmPythUpgradable.ts
  governance/xc_admin/packages/xc_admin_common/src/contracts/EvmWormholeReceiver.ts
  governance/xc_admin/packages/xc_admin_common/src/contracts/config.ts
  governance/xc_admin/packages/xc_admin_common/src/contracts/index.ts
  governance/xc_admin/packages/xc_admin_common/src/index.ts
  governance/xc_admin/packages/xc_admin_frontend/Dockerfile
Due: none

fix: underflow issue
  target_chains/ethereum/examples/oracle_swap/contract/src/OracleSwap.sol
Due: none

fix(hermes): match p2p config with wh spy
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/src/network/p2p.go
Due: cargo-fmt-hermes

feat(hermes): add tracing
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/src/api.rs
  hermes/src/api/ws.rs
  hermes/src/main.rs
  hermes/src/network/p2p.go
  hermes/src/network/p2p.rs
  hermes/src/network/pythnet.rs
  hermes/src/store.rs
  hermes/src/store/proof/wormhole_merkle.rs
  hermes/src/store/types.rs
Due: cargo-fmt-hermes

fix(hermes): improve tracing logs
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/shell.nix
  hermes/src/main.rs
Due: cargo-fmt-hermes

Small fixes and logging improvement
  contract_manager/scripts/fetch_fees.ts
  contract_manager/scripts/sync_governance_vaas.ts
Due: none

Switch evmos rpc as the older one was not working anymore
  contract_manager/store/chains/EvmChains.yaml
Due: none

Improve contract manager and switch evmos rpc (#1044)
  contract_manager/scripts/fetch_fees.ts
  contract_manager/scripts/sync_governance_vaas.ts
  contract_manager/store/chains/EvmChains.yaml
Due: none

feat(hermes): add benchmarks for histroical data
  hermes/README.md
  hermes/src/api/rest/get_price_feed.rs
  hermes/src/api/rest/get_vaa.rs
  hermes/src/api/rest/get_vaa_ccip.rs
  hermes/src/api/rest/latest_vaas.rs
  hermes/src/api/rest/price_feed_ids.rs
  hermes/src/api/types.rs
  hermes/src/api/ws.rs
  hermes/src/config.rs
  hermes/src/doc_examples.rs
  hermes/src/main.rs
  hermes/src/network/p2p.rs
  hermes/src/store.rs
  hermes/src/store/benchmarks.rs
  hermes/src/store/proof/wormhole_merkle.rs
  hermes/src/store/types.rs
  pythnet/pythnet_sdk/src/wire/prefixed_vec.rs
Due: cargo-fmt-hermes, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

refactor(hermes): use tokio sync primitives in p2p
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/src/network/p2p.rs
Due: cargo-fmt-hermes

Add system instruction
  governance/xc_admin/packages/xc_admin_common/src/__tests__/SystemProgramInstruction.test.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/SystemProgramInstruction.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/index.ts
  governance/xc_admin/packages/xc_admin_frontend/components/InstructionViews/WormholeInstructionView.tsx
  governance/xc_admin/packages/xc_admin_frontend/utils/lamportsToSol.ts
Due: none

Update string logic
  governance/xc_admin/packages/xc_admin_frontend/utils/lamportsToSol.ts
Due: none

Fix comments
  governance/xc_admin/packages/xc_admin_frontend/components/InstructionViews/WormholeInstructionView.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals.tsx
Due: none

Add system instruction (#1046)
  governance/xc_admin/packages/xc_admin_common/src/__tests__/SystemProgramInstruction.test.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/SystemProgramInstruction.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/index.ts
  governance/xc_admin/packages/xc_admin_frontend/components/InstructionViews/WormholeInstructionView.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals.tsx
  governance/xc_admin/packages/xc_admin_frontend/utils/lamportsToSol.ts
Due: none

doc(hermes): update readme
  hermes/README.md
Due: cargo-fmt-hermes

chore: improve precommit ci
  .github/workflows/pre-commit.yml
Due: none

one more fix
  .github/workflows/push-xc-admin-frontend-image.yml
Due: none

wording
  README.md
Due: none

clean up workflows
  .github/workflows/ci-aptos-contract.yml
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-ethereum-contract.yml
  .github/workflows/ci-message-buffer-idl.yml
  .github/workflows/ci-pre-commit.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-typescript.yml
  .github/workflows/publish-js.yml
  .github/workflows/publish-pyth-sdk-cw.yml
  .github/workflows/push-attester-image.yml
  .github/workflows/push-hermes-image.yml
  .github/workflows/push-price-pusher-image.yml
  .github/workflows/push-price-server-image.yml
  .github/workflows/push-xc-admin-frontend-image.yml
  .github/workflows/push-xc-admin-image.yml
  .github/workflows/release-pyth-cosmwasm-contract.yml
  README.md
Due: cargo-fmt-hermes

chore: rename sui ci workflow
  .github/workflows/ci-sui-contract.yml
Due: none

docs
  price_pusher/src/aptos/aptos.ts
  price_pusher/src/sui/sui.ts
Due: none

refactor(hermes): storage design
  hermes/Cargo.toml
  hermes/src/api/rest/get_price_feed.rs
  hermes/src/api/rest/get_vaa.rs
  hermes/src/api/rest/get_vaa_ccip.rs
  hermes/src/api/rest/latest_price_feeds.rs
  hermes/src/api/rest/latest_vaas.rs
  hermes/src/api/rest/price_feed_ids.rs
  hermes/src/api/rest/ready.rs
  hermes/src/api/ws.rs
  hermes/src/network/p2p.rs
  hermes/src/network/pythnet.rs
  hermes/src/store.rs
  hermes/src/store/storage.rs
Due: cargo-fmt-hermes

Update README.md
  target_chains/ethereum/sdk/solidity/README.md
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana
