Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./fortuna/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-07-23 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

Checkpoint
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-push-oracle/Cargo.toml
  target_chains/solana/programs/pyth-push-oracle/src/sdk.rs
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_update_price.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Cleanup deps
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-push-oracle/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

remove published at
  target_chains/sui/contracts/Move.toml
Due: none

Refactor tests
  target_chains/solana/Cargo.lock
  target_chains/solana/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_governance.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_price_update_from_vaa.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_atomic.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_update_price.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Cleanup deps
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore: env variables for rpcs (#1407)
  governance/xc_admin/packages/xc_admin_frontend/hooks/useMultisig.ts
  governance/xc_admin/packages/xc_admin_frontend/hooks/usePyth.ts
  governance/xc_admin/packages/xc_admin_frontend/utils/pythClusterApiUrl.ts
Due: none

Write test
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-push-oracle/Cargo.toml
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
  target_chains/solana/programs/pyth-push-oracle/src/sdk.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Fix comment
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Shard id
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
  target_chains/solana/programs/pyth-push-oracle/src/sdk.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

ADd tests
  target_chains/solana/programs/pyth-push-oracle/tests/test_update_price_feed.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Extract common test utils
  target_chains/solana/common_test_utils/Cargo.toml
  target_chains/solana/common_test_utils/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Fix test
  target_chains/solana/programs/pyth-push-oracle/tests/test_update_price_feed.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Better name
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/solana/programs/pyth-push-oracle/tests/test_update_price_feed.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Cleanup
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Instance -> shard
  target_chains/solana/programs/pyth-push-oracle/tests/test_update_price_feed.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Update test
  target_chains/solana/programs/pyth-push-oracle/tests/test_update_price_feed.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

addr
  target_chains/sui/contracts/Move.lock
  target_chains/sui/contracts/Move.toml
Due: none

Make shard id a u16
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
  target_chains/solana/programs/pyth-push-oracle/src/sdk.rs
  target_chains/solana/programs/pyth-push-oracle/tests/test_update_price_feed.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: pyth pull-based push oracle (#1370)
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/solana/Cargo.lock
  target_chains/solana/Cargo.toml
  target_chains/solana/common_test_utils/Cargo.toml
  target_chains/solana/common_test_utils/src/lib.rs
  target_chains/solana/programs/pyth-push-oracle/Cargo.toml
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
  target_chains/solana/programs/pyth-push-oracle/src/sdk.rs
  target_chains/solana/programs/pyth-push-oracle/tests/test_update_price_feed.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_governance.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_price_update_from_vaa.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_atomic.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Checkpoint
  price_pusher/src/index.ts
  price_pusher/src/solana/command.ts
Due: none

Checkpoint
  price_pusher/config.solana.testnet.sample.json
  price_pusher/package.json
  price_pusher/src/solana/command.ts
  price_pusher/src/solana/solana.ts
  target_chains/solana/programs/pyth-push-oracle/src/lib.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/address.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/idl/pyth_push_oracle.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

replace simulation with gas estimation
  fortuna/src/chain/ethereum.rs
  fortuna/src/chain/reader.rs
  fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

refactor(hermes): remove benchmarks_url from state
  hermes/src/aggregate.rs
  hermes/src/api.rs
  hermes/src/api/rest/get_price_feed.rs
  hermes/src/api/rest/get_vaa.rs
  hermes/src/api/rest/get_vaa_ccip.rs
  hermes/src/api/rest/latest_price_feeds.rs
  hermes/src/api/rest/latest_vaas.rs
  hermes/src/api/rest/v2/latest_price_updates.rs
  hermes/src/api/rest/v2/timestamp_price_updates.rs
  hermes/src/api/ws.rs
  hermes/src/main.rs
  hermes/src/state.rs
  hermes/src/state/benchmarks.rs
Due: cargo-fmt-hermes

chore(hermes): clean up warnings
  hermes/src/aggregate.rs
  hermes/src/state/cache.rs
Due: cargo-fmt-hermes

chore(hermes): bump to version 0.5.4
  hermes/Cargo.toml
Due: cargo-fmt-hermes

Checkpoint
  price_pusher/src/solana/command.ts
  price_pusher/src/solana/solana.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
  target_chains/solana/sdk/js/pyth_solana_receiver/src/idl/pyth_push_oracle.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix: pusher
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

stuff
  target_chains/ethereum/contracts/forge-test/PythMulticall.t.sol
  target_chains/ethereum/sdk/solidity/PythMulticall.sol
Due: none

Checkpoint
  price_pusher/src/solana/solana.ts
Due: none

grrr
  target_chains/ethereum/contracts/forge-test/PythMulticall.t.sol
  target_chains/ethereum/sdk/solidity/PythMulticall.sol
Due: none

Works
  price_pusher/src/solana/solana.ts
Due: none

pre-commit fix
  target_chains/ethereum/examples/oracle_swap/contract/src/OracleSwap.sol
Due: none

price-ethereum-example-udpate
  target_chains/ethereum/examples/oracle_swap/README.md
  target_chains/ethereum/examples/oracle_swap/contract/package-lock.json
  target_chains/ethereum/examples/oracle_swap/contract/package.json
  target_chains/ethereum/examples/oracle_swap/contract/remappings.txt
  target_chains/ethereum/examples/oracle_swap/contract/src/OracleSwap.sol
  target_chains/ethereum/examples/oracle_swap/contract/test/OracleSwap.t.sol
Due: none

fix: pass pusher program id
  price_pusher/src/solana/command.ts
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
  target_chains/solana/sdk/js/pyth_solana_receiver/src/address.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

We are not we
  target_chains/ethereum/examples/oracle_swap/README.md
Due: none

Add docs
  target_chains/solana/sdk/js/pyth_solana_receiver/src/PythSolanaReceiver.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
