Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/fortuna/Cargo.toml --all
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/fortuna/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./target_chains/solana/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./target_chains/solana/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./lazer/Cargo.toml --all
  pass_filenames: false

test(fortuna): add unit tests for HashChainState
  apps/fortuna/src/state.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

test(fortuna): add unit tests for eth_gas_oracle functions
  apps/fortuna/src/eth_utils/eth_gas_oracle.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

test(fortuna): add test for max_priority_fee computed from estimate_priority_fee
  apps/fortuna/src/eth_utils/eth_gas_oracle.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

chore: fix formatting in eth_gas_oracle.rs
  apps/fortuna/src/eth_utils/eth_gas_oracle.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

Add user and provider random number
  apps/fortuna/migrations/20250502164500_init.up.sql
  apps/fortuna/src/history.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

bump version
  lazer/Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor(fortuna): address PR feedback for HashChainState tests
  apps/fortuna/src/state.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

update sqlx files
  apps/fortuna/.sqlx/query-16635b3d9c6f9b743614e0e08bfa2b26d7ec6346f0323d9f16b98c32fd9a91f6.json
  apps/fortuna/.sqlx/query-38998f7467be8fe7d15dd632ca6ee8e2b62466d209ce61703da313d422669d51.json
  apps/fortuna/.sqlx/query-795b81369e5b039cfa38df06bd6c8da8610d84f19a294fb8d3a8370a47a3f241.json
  apps/fortuna/.sqlx/query-7d4365a9cb7c9ec16fd4ca60e1d558419954a0326b29180fa9943605813f04e6.json
  apps/fortuna/.sqlx/query-8cd10cd5839b81bd9538aeb10fdfd27c6e36baf5d90a4fb9e61718f021812710.json
  apps/fortuna/.sqlx/query-905dbc91cd5319537c5c194277d531689ac5c1338396414467496d0f50ddc3f0.json
  apps/fortuna/.sqlx/query-9d7448c9bbad50d6242dfc0ba7d5ad4837201a1585bd56cc9a65fe75d0fa5952.json
  apps/fortuna/.sqlx/query-a62e094cee65ae58bd12ce7d3e7df44f5aca31520d1ceced83f492945e850764.json
  apps/fortuna/.sqlx/query-b848d03ffc893e1719d364beb32976ef879e79727c660c973bdad670082f5c36.json
  apps/fortuna/.sqlx/query-ba011bb5690ad6821689bec939c5303c8619b6302ef33145db3bf62259492783.json
  apps/fortuna/.sqlx/query-ec92cbfb5ec3f6506410f52370db0ea257c81bbf713061b168596afa0c5e5280.json
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

Add pre-commit for sqlx prepare
  .pre-commit-config.yaml
  apps/fortuna/check-sqlx.sh
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

attempt to fix ci
  .github/workflows/ci-fortuna.yml
Due: none

dev: remove Vercel's `ignoreCommand`, using skip deployments instead
  apps/api-reference/vercel.json
  apps/entropy-debugger/vercel.json
  apps/entropy-explorer/vercel.json
  apps/insights/vercel.json
  apps/staking/vercel.json
  governance/xc_admin/packages/xc_admin_frontend/vercel.json
  packages/component-library/vercel.json
  vercel-ignore.sh
Due: none

better metrics tracking for alerting
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
  apps/fortuna/src/keeper/keeper_metrics.rs
  apps/fortuna/src/keeper/track.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

refactor: simplify configuration retrieval and enhance type safety across programs
  governance/xc_admin/packages/xc_admin_common/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/programs/core/core_functions.ts
  governance/xc_admin/packages/xc_admin_common/src/programs/lazer/lazer_functions.ts
  governance/xc_admin/packages/xc_admin_common/src/programs/program_registry.ts
  governance/xc_admin/packages/xc_admin_common/src/programs/types.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: remove redundant programType parameter in Pyth configuration parsing
  governance/xc_admin/packages/xc_admin_frontend/hooks/usePyth.ts
Due: none

refactor: fix product filtering and improve account processing logging in usePyth
  governance/xc_admin/packages/xc_admin_common/src/programs/core/core_functions.ts
  governance/xc_admin/packages/xc_admin_frontend/hooks/usePyth.ts
Due: none

fix: checks-effects-interactions pattern for pyth parse call (#2694)
  target_chains/ethereum/contracts/contracts/pulse/Scheduler.sol
Due: none

chore(target_chains/ethereum): cut another release for pyth
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/package.json
Due: none

chore(target_chains/ethereum): cut another release for pyth (#2705)
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/package.json
Due: none

chore: remove unnecessary nextjs configs
  apps/developer-hub/next.config.js
Due: none

chore: change local server port
  apps/developer-hub/package.json
Due: none

fix: update page imports and JSX rendering
  apps/developer-hub/src/app/(docs)/[section]/[...slug]/page.tsx
  apps/developer-hub/src/app/(docs)/[section]/page.tsx
  apps/developer-hub/src/app/(homepage)/page.tsx
  apps/developer-hub/src/components/Pages/DocumentationPage/index.tsx
  apps/developer-hub/src/components/Pages/LandingPage/index.tsx
Due: none

chore: fix linting errors
  apps/developer-hub/next.config.js
  apps/developer-hub/package.json
Due: none

chore: remove unused Vercel ignoreCommand
  apps/developer-hub/vercel.json
Due: none

fix: update notFound() usage to be consistent
  apps/developer-hub/src/components/Pages/BasePage/index.tsx
Due: none

better tracking
  apps/fortuna/src/keeper/block.rs
  apps/fortuna/src/keeper/keeper_metrics.rs
  apps/fortuna/src/keeper/track.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix: vesting logic to match rust
  governance/pyth_staking_sdk/src/utils/vesting.ts
Due: none

feat(pyth-lazer-publisher-sdk): Add Public key to Transactions (#2700)
  lazer/Cargo.lock
  lazer/publisher_sdk/proto/pyth_lazer_transaction.proto
  lazer/publisher_sdk/rust/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: vesting logic to match rust (#2706)
  governance/pyth_staking_sdk/src/utils/vesting.ts
Due: none

pr comments
  apps/fortuna/src/keeper/keeper_metrics.rs
  apps/fortuna/src/keeper/track.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat(fortuna): Better metrics tracking for alerting (#2703)
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
  apps/fortuna/src/keeper/keeper_metrics.rs
  apps/fortuna/src/keeper/track.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

fix(target_chains/sui): update wormhole branch
  target_chains/sui/contracts/Move.lock
  target_chains/sui/contracts/Move.mainnet.toml
Due: none

fix(target_chains/sui): Update wormhole branch
  target_chains/sui/contracts/Move.lock
  target_chains/sui/contracts/Move.testnet.toml
Due: none

bump
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

feat(fortuna): Explorer apis (#2649)
  .github/workflows/ci-fortuna.yml
  .pre-commit-config.yaml
  apps/fortuna/.sqlx/query-16635b3d9c6f9b743614e0e08bfa2b26d7ec6346f0323d9f16b98c32fd9a91f6.json
  apps/fortuna/.sqlx/query-795b81369e5b039cfa38df06bd6c8da8610d84f19a294fb8d3a8370a47a3f241.json
  apps/fortuna/.sqlx/query-7d4365a9cb7c9ec16fd4ca60e1d558419954a0326b29180fa9943605813f04e6.json
  apps/fortuna/.sqlx/query-8cd10cd5839b81bd9538aeb10fdfd27c6e36baf5d90a4fb9e61718f021812710.json
  apps/fortuna/.sqlx/query-905dbc91cd5319537c5c194277d531689ac5c1338396414467496d0f50ddc3f0.json
  apps/fortuna/.sqlx/query-9d7448c9bbad50d6242dfc0ba7d5ad4837201a1585bd56cc9a65fe75d0fa5952.json
  apps/fortuna/.sqlx/query-a62e094cee65ae58bd12ce7d3e7df44f5aca31520d1ceced83f492945e850764.json
  apps/fortuna/.sqlx/query-b2baa9f9d46f873a3a7117c38ecab09f56082c5267dbf5180f39c608b6262f5a.json
  apps/fortuna/.sqlx/query-b848d03ffc893e1719d364beb32976ef879e79727c660c973bdad670082f5c36.json
  apps/fortuna/.sqlx/query-ba011bb5690ad6821689bec939c5303c8619b6302ef33145db3bf62259492783.json
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/README.md
  apps/fortuna/check-sqlx.sh
  apps/fortuna/migrations/20250502164500_init.down.sql
  apps/fortuna/migrations/20250502164500_init.up.sql
  apps/fortuna/src/api.rs
  apps/fortuna/src/api/explorer.rs
  apps/fortuna/src/api/revelation.rs
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/reader.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/eth_utils/nonce_manager.rs
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/history.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
  apps/fortuna/src/keeper/fee.rs
  apps/fortuna/src/keeper/keeper_metrics.rs
  apps/fortuna/src/keeper/process_event.rs
  apps/fortuna/src/keeper/track.rs
  apps/fortuna/src/lib.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

refactor: optimize product address processing in usePyth hook
  governance/xc_admin/packages/xc_admin_frontend/hooks/usePyth.ts
Due: none

chore(target_chains/ethereum): add new networks
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/contracts/foundry.toml
  target_chains/ethereum/contracts/hardhat.config.ts
  target_chains/ethereum/contracts/truffle-config.js
Due: none

feat(fortuna): better logging + avoid unnecessary fee syncs
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/command/setup_provider.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper/commitment.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
