Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana

added new chains
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

renamed the zkatana to zkyoto
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

added iota
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

sdk addition
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

feat(target_chains/starknet): add multi-purpose keccak hasher
  target_chains/starknet/contracts/src/hash.cairo
  target_chains/starknet/contracts/src/lib.cairo
  target_chains/starknet/contracts/src/reader.cairo
  target_chains/starknet/contracts/src/util.cairo
  target_chains/starknet/contracts/src/wormhole.cairo
Due: none

revert(price_pusher): undo gitignore
  apps/price_pusher/.gitignore
Due: none

refactor(target_chains/starknet): errors modules, reexport errors
  target_chains/starknet/contracts/src/reader.cairo
  target_chains/starknet/contracts/src/wormhole.cairo
Due: none

Update signature config naming
  express_relay/sdk/js/src/index.ts
  express_relay/sdk/js/src/serverTypes.d.ts
  express_relay/sdk/js/src/types.ts
  express_relay/sdk/python/express_relay/client.py
  express_relay/sdk/python/express_relay/types.py
Due: none

Fix review comments
  express_relay/sdk/python/express_relay/types.py
Due: none

fix: set maximum age to 1 hour
  target_chains/solana/examples/send_usd/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix: use public crates for send usd example
  target_chains/solana/Cargo.lock
  target_chains/solana/examples/send_usd/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: add solana target chain example (#1446)
  target_chains/solana/Anchor.toml
  target_chains/solana/Cargo.lock
  target_chains/solana/Cargo.toml
  target_chains/solana/examples/send_usd/Cargo.toml
  target_chains/solana/examples/send_usd/Xargo.toml
  target_chains/solana/examples/send_usd/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

refactor(target_chains/starknet): use enum errors
  target_chains/starknet/contracts/src/hash.cairo
  target_chains/starknet/contracts/src/lib.cairo
  target_chains/starknet/contracts/src/reader.cairo
  target_chains/starknet/contracts/src/util.cairo
  target_chains/starknet/contracts/src/wormhole.cairo
  target_chains/starknet/contracts/tests/wormhole.cairo
Due: none

Go
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Propagate errors
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Add pusher to dcokerfile
  target_chains/solana/Dockerfile
  target_chains/solana/scripts/build_verifiable_program.sh
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: add send usd app
  target_chains/solana/examples/send_usd/app/.gitignore
  target_chains/solana/examples/send_usd/app/README.md
  target_chains/solana/examples/send_usd/app/craco.config.js
  target_chains/solana/examples/send_usd/app/package-lock.json
  target_chains/solana/examples/send_usd/app/package.json
  target_chains/solana/examples/send_usd/app/public/favicon.ico
  target_chains/solana/examples/send_usd/app/public/index.html
  target_chains/solana/examples/send_usd/app/public/logo192.png
  target_chains/solana/examples/send_usd/app/public/logo512.png
  target_chains/solana/examples/send_usd/app/public/manifest.json
  target_chains/solana/examples/send_usd/app/public/robots.txt
  target_chains/solana/examples/send_usd/app/src/App.css
  target_chains/solana/examples/send_usd/app/src/App.test.tsx
  target_chains/solana/examples/send_usd/app/src/App.tsx
  target_chains/solana/examples/send_usd/app/src/idl/my_first_pyth_app.json
  target_chains/solana/examples/send_usd/app/src/idl/my_first_pyth_app.ts
  target_chains/solana/examples/send_usd/app/src/index.css
  target_chains/solana/examples/send_usd/app/src/index.tsx
  target_chains/solana/examples/send_usd/app/src/logo.svg
  target_chains/solana/examples/send_usd/app/src/react-app-env.d.ts
  target_chains/solana/examples/send_usd/app/src/reportWebVitals.ts
  target_chains/solana/examples/send_usd/app/src/setupTests.ts
  target_chains/solana/examples/send_usd/app/tsconfig.json
  target_chains/solana/examples/send_usd/programs/Cargo.toml
  target_chains/solana/examples/send_usd/programs/Xargo.toml
  target_chains/solana/examples/send_usd/programs/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

lint
  target_chains/solana/sdk/js/solana_utils/src/transaction.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix: cargo tomls
  target_chains/solana/Anchor.toml
  target_chains/solana/Cargo.toml
  target_chains/solana/examples/send_usd/program/Cargo.toml
  target_chains/solana/examples/send_usd/program/Xargo.toml
  target_chains/solana/examples/send_usd/program/src/lib.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix: pre-commit
  target_chains/solana/examples/send_usd/app/src/App.tsx
  target_chains/solana/examples/send_usd/app/src/idl/my_first_pyth_app.json
  target_chains/solana/examples/send_usd/app/src/idl/my_first_pyth_app.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix: improve code quality
  target_chains/solana/examples/send_usd/app/src/App.tsx
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix: fix names and texts
  target_chains/solana/examples/send_usd/app/src/App.tsx
  target_chains/solana/examples/send_usd/app/src/idl/send_usd_app.json
  target_chains/solana/examples/send_usd/app/src/idl/send_usd_app.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

fix: pre-commit
  target_chains/solana/examples/send_usd/app/src/App.tsx
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

update existing logs in keeper
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

handle provider error
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

handle implicit errors
  apps/fortuna/src/keeper.rs
Due: cargo-fmt-fortuna

fix: address review comments
  contract_manager/src/chains.ts
  contract_manager/src/contracts/cosmwasm.ts
Due: none

refactor(target_chains/starknet): check value in Hasher::push_num_bytes
  target_chains/starknet/contracts/src/hash.cairo
Due: none

fix(target_chains/starknet): verify new guardian set before writing to storage
  target_chains/starknet/contracts/src/wormhole.cairo
Due: none

fix(target_chains/starknet): make parse_and_verify_vm a read-only method
  target_chains/starknet/contracts/src/wormhole.cairo
Due: none
