Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

started governance work
  target_chains/stylus/contracts/pyth-receiver/src/governance_structs.rs
Due: none

final fixes
  target_chains/stylus/contracts/pyth-receiver/src/integration_tests.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

removed parentheses
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

feat(stylus): complete governance_structs.rs implementation
  target_chains/stylus/contracts/pyth-receiver/src/error.rs
  target_chains/stylus/contracts/pyth-receiver/src/governance_structs.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

cleaning up byte compression
  target_chains/stylus/contracts/pyth-receiver/src/governance_structs.rs
Due: none

fixing skeleton of lib script
  target_chains/stylus/contracts/pyth-receiver/src/error.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

pushing governancepayload struct
  target_chains/stylus/contracts/pyth-receiver/src/governance_structs.rs
Due: none

fix(stylus): resolve governance match statement compilation errors
  target_chains/stylus/contracts/pyth-receiver/src/governance_structs.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

finished skeleton of set fee function
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

fix(lazer): is_multiple_of
  lazer/sdk/rust/protocol/src/time.rs
  lazer/sdk/rust/protocol/src/time/tests.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: bump version
  Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer): improve time types (#2851)
  .github/workflows/ci-lazer-rust.yml
  Cargo.lock
  lazer/contracts/solana/Cargo.lock
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/publisher_sdk/rust/src/lib.rs
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/api.rs
  lazer/sdk/rust/protocol/src/jrpc.rs
  lazer/sdk/rust/protocol/src/lib.rs
  lazer/sdk/rust/protocol/src/payload.rs
  lazer/sdk/rust/protocol/src/publisher.rs
  lazer/sdk/rust/protocol/src/router.rs
  lazer/sdk/rust/protocol/src/serde_str.rs
  lazer/sdk/rust/protocol/src/time.rs
  lazer/sdk/rust/protocol/src/time/tests.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

addressed initial reviews
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

adding untracked files
  apps/fortuna/migrations/20250707000000_init.down.sql
  apps/fortuna/migrations/20250707000000_init.up.sql
  apps/pyth-lazer-agent/src/jrpc_handle.rs
  contract_manager/scripts/deploy_evm_executor.ts
  contract_manager/store/contracts/EvmExecutorContracts.json
  lazer/contracts/evm/script/PythLazerChangeOwnership.s.sol
  lazer/sdk/rust/protocol/src/jrpc.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-lazer, cargo-clippy-lazer

chore(fortuna): improve fee withdrawal logs, dont error log on pkey unique violation
  apps/fortuna/src/history.rs
  apps/fortuna/src/keeper/fee.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

bump ver
  Cargo.lock
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

setup first set of governance functions for evaluation
  apps/pyth-lazer-agent/src/jrpc_handle.rs
  target_chains/stylus/contracts/pyth-receiver/src/error.rs
  target_chains/stylus/contracts/pyth-receiver/src/governance_structs.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
  target_chains/stylus/contracts/wormhole/src/lib.rs
  target_chains/stylus/contracts/wormhole/tests/integration_test.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: resolve governance function compilation errors
  target_chains/stylus/contracts/pyth-receiver/src/governance_structs.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

chore(fortuna): improve fee withdrawal logs, dont error log on pkey unique constraint violation (#2852)
  Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/history.rs
  apps/fortuna/src/keeper/fee.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

fix: implement proper data source clearing in set_data_sources
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

feat: implement Erase trait for DataSourceStorage
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
  target_chains/stylus/contracts/pyth-receiver/src/structs.rs
Due: none

st
  target_chains/stylus/contracts/pyth-receiver/src/governance_structs.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

fix: add missing SetTransactionFee and WithdrawFee governance actions
  target_chains/stylus/contracts/pyth-receiver/src/governance_structs.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

feat: add Stylus events for governance instructions
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

feat: complete governance event implementation
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

formatted
  target_chains/stylus/contracts/pyth-receiver/src/governance_structs.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

feat(lazer): update metadata proto, rename and clarify docs
  lazer/publisher_sdk/proto/dynamic_value.proto
  lazer/publisher_sdk/proto/governance_instruction.proto
  lazer/publisher_sdk/proto/publisher_update.proto
  lazer/publisher_sdk/proto/pyth_lazer_transaction.proto
  lazer/publisher_sdk/proto/state.proto
  lazer/publisher_sdk/proto/transaction_envelope.proto
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: replace deprecated evm::log with stylus_core::log
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
Due: none

finishing first governance test
  target_chains/stylus/contracts/pyth-receiver/src/integration_tests.rs
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

Complete test_set_data_sources function to verify governance instruction data sources
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

hardhat config for abstract (#2853)
  target_chains/ethereum/contracts/hardhat.config.ts
Due: none

pushing temp changes.
  target_chains/stylus/contracts/pyth-receiver/src/lib.rs
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

fix: implement proper Debug and Display traits for PythReceiverError to show meaningful error messages in tests
  target_chains/stylus/contracts/pyth-receiver/src/error.rs
Due: none

fix(fortuna): catch contract error in simulation
  apps/fortuna/src/eth_utils/utils.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

fix(fortuna): catch contract error in simulation (#2854)
  apps/fortuna/src/eth_utils/utils.rs
Due: cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna

temp stash
  target_chains/stylus/contracts/pyth-receiver/src/pyth_governance_test.rs
Due: none

feat(entropy-tester): add retries
  apps/entropy-tester/package.json
  apps/entropy-tester/src/index.ts
Due: none

feat(lazer): add DynamicValue parsed type
  Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/publisher_sdk/rust/src/dynamic_value.rs
  lazer/publisher_sdk/rust/src/lib.rs
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/router.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

test(lazer): add DynamicValue tests
  Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/publisher_sdk/rust/src/dynamic_value.rs
  lazer/publisher_sdk/rust/src/dynamic_value/tests.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: allow node 24 in staking sdk
  governance/pyth_staking_sdk/package.json
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
