Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/solana/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

Address comments
  express_relay/sdk/js/src/examples/SimpleSearcher.ts
Due: none

Initial version of js sdk for express relay (#1281)
  express_relay/sdk/js/.eslintrc.js
  express_relay/sdk/js/.gitignore
  express_relay/sdk/js/README.md
  express_relay/sdk/js/package-lock.json
  express_relay/sdk/js/package.json
  express_relay/sdk/js/src/examples/SimpleSearcher.ts
  express_relay/sdk/js/src/index.ts
  express_relay/sdk/js/src/types.d.ts
  express_relay/sdk/js/tsconfig.json
Due: none

Add express relay to workspace
  package.json
Due: none

Check output of build command and panic if not successful (#1278)
  hermes/build.rs
Due: cargo-fmt-hermes

Add express relay to workspace (#1283)
  package.json
Due: none

Fix lerna workspace config to actually include per js sdk
  package.json
Due: none

[Solana] improve script (#1282)
  target_chains/solana/README.md
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Make publish public
  express_relay/sdk/js/package.json
Due: none

Make publish public (#1286)
  express_relay/sdk/js/package.json
Due: none

provider address and lightlink deployment
  contract_manager/scripts/deploy_evm_entropy_contracts.ts
  contract_manager/store/contracts/EvmEntropyContracts.yaml
Due: none

deployments
  contract_manager/store/contracts/EvmEntropyContracts.yaml
Due: none

addresses with correct provider
  contract_manager/store/contracts/EvmEntropyContracts.yaml
Due: none

pre commit
  contract_manager/store/contracts/EvmEntropyContracts.yaml
Due: none

Go again
  governance/xc_admin/packages/xc_admin_common/src/cluster.ts
Due: none

[contract_manager] provider address and mainnet deployments (#1289)
  contract_manager/scripts/deploy_evm_entropy_contracts.ts
  contract_manager/store/contracts/EvmEntropyContracts.yaml
Due: none

Go again (#1290)
  governance/xc_admin/packages/xc_admin_common/src/cluster.ts
Due: none

Multiply gas usage by 2 when setting up the provider
  fortuna/Cargo.toml
  fortuna/src/command/register_provider.rs
Due: none

Multiply gas usage by 2 when setting up the provider (#1291)
  fortuna/Cargo.toml
  fortuna/src/command/register_provider.rs
Due: none

feat(hermes): release v2 initial API
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/build.rs
  hermes/src/api.rs
  hermes/src/api/benchmarks.rs
Due: cargo-fmt-hermes

[fortuna] push fortuna to ghrc
  .github/workflows/push-fortuna-image.yml
Due: none

precommit fix
  .github/workflows/push-fortuna-image.yml
Due: none

test file path
  .github/workflows/push-fortuna-image.yml
Due: none

feat(hermes): release v2 initial API (#1293)
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/build.rs
  hermes/src/api.rs
  hermes/src/api/benchmarks.rs
Due: cargo-fmt-hermes

fix(hermes): update build.rs to fix Docker build
  hermes/build.rs
Due: cargo-fmt-hermes

fix(hermes): update build.rs to fix Docker build (#1296)
  hermes/build.rs
Due: cargo-fmt-hermes

Go
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Try this
  target_chains/solana/Cargo.toml
  target_chains/solana/program_simulator/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Nice
  target_chains/solana/Cargo.toml
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

fix docs
  hermes/src/api.rs
  hermes/src/api/types.rs
Due: cargo-fmt-hermes

address comment
  hermes/src/api/types.rs
Due: cargo-fmt-hermes

bump
  hermes/Cargo.lock
  hermes/Cargo.toml
Due: cargo-fmt-hermes

fix from implementation of RpcPriceIdentifier
  hermes/src/api/rest/price_feed_ids.rs
  hermes/src/api/types.rs
Due: cargo-fmt-hermes

fix hermes v2 openapi schemas (#1298)
  hermes/Cargo.lock
  hermes/Cargo.toml
  hermes/src/api.rs
  hermes/src/api/rest/price_feed_ids.rs
  hermes/src/api/types.rs
Due: cargo-fmt-hermes

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana
