Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos

chore(entropy): remove Unichain deployments
  apps/developer-hub/src/components/EntropyTable/entropy-api-data-fetcher.tsx
  apps/entropy-explorer/src/entropy-deployments.tsx
  contract_manager/src/store/contracts/EvmEntropyContracts.json
Due: none

chore(entropy): remove ZetaChain deployments
  apps/entropy-explorer/src/entropy-deployments.tsx
  contract_manager/src/store/contracts/EvmEntropyContracts.json
Due: none

fix(entropy-explorer): tolerate history rows for unlisted chains
  apps/developer-hub/src/components/EntropyTable/entropy-api-data-fetcher.tsx
  apps/entropy-explorer/src/requests.ts
Due: none

chore(entropy): remove seven deprecated chains from Entropy deployments
  apps/developer-hub/content/changelog/2026-08-18-entropy-removed-from-seven-chains.mdx
  apps/developer-hub/content/docs/entropy/debug-callback-failures.mdx
  apps/developer-hub/src/components/EntropyTable/entropy-api-data-fetcher.tsx
  apps/entropy-explorer/src/entropy-deployments.tsx
  apps/entropy-tester/config.sample.json
  contract_manager/src/store/contracts/EvmEntropyContracts.json
Due: none

docs: recommend the ai-context MCP and surface stale auth
  AGENTS.md
Due: none

chore(entropy): flag deprecated Entropy deployments and hide them from the chainlist
  apps/developer-hub/content/changelog/2026-08-18-entropy-removed-from-seven-chains.mdx
  apps/developer-hub/content/docs/entropy/debug-callback-failures.mdx
  apps/developer-hub/src/components/EntropyTable/entropy-api-data-fetcher.test.ts
  apps/developer-hub/src/components/EntropyTable/entropy-api-data-fetcher.tsx
  apps/entropy-tester/config.sample.json
  contract_manager/src/core/contracts/evm.ts
  contract_manager/src/store/contracts/EvmEntropyContracts.json
  contract_manager/src/utils/utils.ts
Due: none

docs(developer-hub): zero Pyth Core update fees per OP-PIP-128
  apps/developer-hub/content/docs/price-feeds/core/current-fees.mdx
Due: none

feat(contract_manager): decode setPythFee/withdrawFee in check_proposal EvmExecute verification
  contract_manager/scripts/check_proposal.ts
Due: none

chore(entropy): hide the seven deprecated chains from the Entropy Explorer
  apps/entropy-explorer/src/components/Home/search-controls.tsx
  apps/entropy-explorer/src/entropy-deployments.tsx
Due: none

fix(entropy): stop hiding Etherlink from the Entropy chainlist
  apps/developer-hub/src/components/EntropyTable/entropy-api-data-fetcher.test.ts
  contract_manager/src/store/contracts/EvmEntropyContracts.json
Due: none

fix(entropy): stop hiding Etherlink from the Entropy chainlist (#4000)
  apps/developer-hub/src/components/EntropyTable/entropy-api-data-fetcher.test.ts
  contract_manager/src/store/contracts/EvmEntropyContracts.json
Due: none

fix(entropy): correct the August 4 chainlist deprecation changelog
  apps/developer-hub/content/changelog/2026-08-04-entropy-chainlist-drops-deprecated-networks.mdx
Due: none

fix(entropy): correct the August 4 chainlist deprecation changelog (#4001)
  apps/developer-hub/content/changelog/2026-08-04-entropy-chainlist-drops-deprecated-networks.mdx
Due: none

feat(contract_manager): script to test Lazer crosschain attestations on-chain
  contract_manager/scripts/test_lazer_crosschain_governance.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(contract_manager): declare getValidTimePeriod in EXTENDED_PYTH_ABI
  contract_manager/src/core/contracts/evm_abis.ts
Due: none

feat(contract_manager): allow overriding the RPC endpoint in the Lazer test
  contract_manager/scripts/test_lazer_crosschain_governance.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(contract_manager): wait for reads to catch up after executing governance
  contract_manager/scripts/test_lazer_crosschain_governance.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

go
  apps/developer-hub/content/changelog/2026-08-12-pyth-core-benchmarks-tradingview-shims-deprecation.mdx
  apps/developer-hub/content/docs/price-feeds/core/api-instances-and-providers/benchmarks.mdx
  apps/developer-hub/content/docs/price-feeds/core/create-tradingview-charts.mdx
  apps/developer-hub/content/docs/price-feeds/core/rate-limits.mdx
  apps/developer-hub/content/docs/price-feeds/core/use-historical-price-data.mdx
  apps/developer-hub/content/docs/price-feeds/pro/api/history.mdx
Due: none

go
  apps/developer-hub/content/docs/price-feeds/pro/api/history.mdx
Due: none

docs(developer-hub): retire Benchmarks TradingView shims, point charting at Pyth Pro History API (#3990)
  apps/developer-hub/content/docs/price-feeds/core/create-tradingview-charts.mdx
  apps/developer-hub/content/docs/price-feeds/pro/api/history.mdx
Due: none

docs(agents): point agents at shared package barrels before writing TS app or UI code
  AGENTS.md
Due: none

build(docker): pin Rust image builds to the committed Cargo.lock
  apps/argus/Dockerfile
  apps/binance-recorder/Dockerfile
  apps/fortuna/Dockerfile
  apps/hermes/server/Dockerfile
  apps/okx-recorder/Dockerfile
  apps/ondo-recorder/Dockerfile
  apps/pyth-lazer-pusher/bulk-trade-pusher/Dockerfile
  apps/pyth-lazer-pusher/mock/bulk-trade-mock-validator/Dockerfile
  apps/pyth-lazer-pusher/tilt/bulk/Dockerfile.dev
  apps/pyth-lazer-pusher/tilt/bulk/Tiltfile
  apps/quorum/Dockerfile
Due: cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-lazer, cargo-clippy-lazer

ci(rust): pass --locked to cargo in Rust CI workflows
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-fuel-contract.yml
  .github/workflows/ci-hermes-client-rust.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-message-buffer.yml
  .github/workflows/ci-pyth-lazer-pusher.yml
  .github/workflows/ci-pythnet-sdk.yml
  .github/workflows/ci-quorum.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
  .github/workflows/ci-starknet-tools.yml
  .github/workflows/ci-stylus-nostd.yml
  target_chains/cosmwasm/Cargo.lock
  target_chains/fuel/contracts/Cargo.lock
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-lazer, cargo-clippy-lazer

chore(contract_manager): drop one-off Q3 proposal config from the repo
  contract_manager/scripts/generate_entropy_fee_and_withdraw_config_q3_2026.json
Due: none

go
  target_chains/solana/programs/core-bridge/src/constants.rs
  target_chains/solana/programs/core-bridge/src/error.rs
  target_chains/solana/programs/core-bridge/src/legacy/accounts/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/instruction/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/governance/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/governance/set_message_fee.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/governance/transfer_fees.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/governance/upgrade_contract.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/post_message/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/post_message/unreliable.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/update_guardian_set_ttl.rs
  target_chains/solana/programs/core-bridge/src/legacy/state/posted_message_v1/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/state/posted_message_v1/unreliable.rs
  target_chains/solana/programs/core-bridge/src/lib.rs
  target_chains/solana/programs/core-bridge/src/processor/mod.rs
  target_chains/solana/programs/core-bridge/src/processor/post_message/close_message_v1.rs
  target_chains/solana/programs/core-bridge/src/processor/post_message/finalize_message_v1.rs
  target_chains/solana/programs/core-bridge/src/processor/post_message/init_message_v1.rs
  target_chains/solana/programs/core-bridge/src/processor/post_message/mod.rs
  target_chains/solana/programs/core-bridge/src/processor/post_message/write_message_v1.rs
  target_chains/solana/programs/core-bridge/src/sdk/mod.rs
  target_chains/solana/programs/core-bridge/src/sdk/prepare_message.rs
  target_chains/solana/programs/core-bridge/src/sdk/publish_message.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

go
  target_chains/solana/programs/core-bridge/src/legacy/instruction/mod.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

go
  target_chains/solana/programs/core-bridge/src/legacy/processor/mod.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

format
  target_chains/solana/programs/core-bridge/src/sdk/mod.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

go
  target_chains/solana/programs/core-bridge/src/error.rs
  target_chains/solana/programs/core-bridge/src/legacy/instruction/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/close_guardian_set.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/governance/guardian_set_update.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/initialize.rs
  target_chains/solana/programs/core-bridge/src/legacy/processor/mod.rs
  target_chains/solana/programs/core-bridge/src/legacy/state/guardian_set.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

go
  target_chains/solana/programs/core-bridge/src/legacy/processor/initialize.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver
