Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana

Add comment
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

[solana] Post price with 13 signature verifications in 2 transactions (#1209)
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Post update atomic
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/error.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Checkpoint cli
  target_chains/solana/cli/src/cli.rs
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Cleanup
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Fix bug
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Cleanup
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Atomic
  target_chains/solana/cli/src/cli.rs
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Comment
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Add wormhole errors
  target_chains/solana/programs/pyth-solana-receiver/src/error.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

refactor trim signatures
  target_chains/solana/cli/src/cli.rs
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

test owner upgradable (#1207)
  target_chains/ethereum/contracts/forge-test/Executor.t.sol
Due: none

[fortuna] accept only a secret file as argument (#1204)
  fortuna/Cargo.lock
  fortuna/Cargo.toml
  fortuna/src/command/register_provider.rs
  fortuna/src/command/run.rs
  fortuna/src/config.rs
Due: none

call contract with value
  target_chains/ethereum/contracts/contracts/executor/Executor.sol
  target_chains/ethereum/contracts/forge-test/Executor.t.sol
Due: none

address feedback
  target_chains/ethereum/contracts/contracts/executor/Executor.sol
  target_chains/ethereum/contracts/forge-test/Executor.t.sol
Due: none

[executor] call contract with value (#1206)
  target_chains/ethereum/contracts/contracts/executor/Executor.sol
  target_chains/ethereum/contracts/forge-test/Executor.t.sol
Due: none

[solana] Post update atomic (#1210)
  target_chains/solana/Cargo.lock
  target_chains/solana/cli/src/cli.rs
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/error.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Fix CI
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

Does this work?
  .pre-commit-config.yaml
Due: none

Fix pythnet-sdk ci (#1213)
  .pre-commit-config.yaml
  pythnet/pythnet_sdk/src/messages.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

Do it
  target_chains/solana/Cargo.lock
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/error.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/config.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/price_update.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Do it
  target_chains/solana/programs/pyth-solana-receiver/src/state/price_update.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Cleanup deps
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/output.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Delete this
  target_chains/solana/programs/pyth-solana-receiver/output.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Use official wormhole, introducing VerificationLevel (#1212)
  target_chains/solana/Cargo.lock
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/error.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/config.rs
  target_chains/solana/programs/pyth-solana-receiver/src/state/price_update.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Fix the owner bug
  target_chains/solana/programs/pyth-solana-receiver/src/error.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Remove seeds in context
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Fix it
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Reuse accounts
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

[solana] Fix guardian set owner bug (#1214)
  target_chains/solana/programs/pyth-solana-receiver/src/error.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Readme update
  target_chains/solana/README.md
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Readme udpate
  target_chains/solana/README.md
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

revert this one
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Fix it (#1215)
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

add comment
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

[solana] Reuse accounts (#1216)
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

[evm] Persist price updates if more recent (#1208)
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/contracts/pyth/PythAccumulator.sol
  target_chains/ethereum/contracts/contracts/pyth/PythSetters.sol
  target_chains/ethereum/contracts/forge-test/Pyth.WormholeMerkleAccumulator.t.sol
  target_chains/ethereum/contracts/forge-test/Pyth.t.sol
  target_chains/ethereum/contracts/forge-test/VerificationExperiments.t.sol
  target_chains/ethereum/sdk/solidity/IPyth.sol
Due: none

[Solana] readme update (#1217)
  target_chains/solana/README.md
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver
