Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/solana/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

Export executeVaa function
  contract_manager/src/entities.ts
Due: none

Rename title for clarification
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals.tsx
Due: none

[xc-admin-frontend] Rename title for clarification (#973)
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals.tsx
Due: none

Remove osmosis testnet 4 as it is deprecated and we already have testnet 5
  target_chains/cosmwasm/tools/src/chains-manager/chains.ts
  target_chains/cosmwasm/tools/src/configs.ts
  target_chains/cosmwasm/tools/src/helper.ts
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/osmosis_testnet_4-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/test-contracts/osmosis_testnet_4-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/osmosis_testnet_4-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/osmosis_testnet_4-1.2.0.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Remove osmosis testnet 4 as it is deprecated and we already have testnet 5 (#974)
  target_chains/cosmwasm/tools/src/chains-manager/chains.ts
  target_chains/cosmwasm/tools/src/configs.ts
  target_chains/cosmwasm/tools/src/helper.ts
  target_chains/cosmwasm/tools/store/edge/instantiate-pyth/osmosis_testnet_4-1.2.0.json
  target_chains/cosmwasm/tools/store/edge/test-contracts/osmosis_testnet_4-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/instantiate-pyth/osmosis_testnet_4-1.2.0.json
  target_chains/cosmwasm/tools/store/stable/test-contracts/osmosis_testnet_4-1.2.0.json
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Address PR feedbacks
  contract_manager/src/chains.ts
  contract_manager/src/contracts/aptos.ts
  contract_manager/src/contracts/cosmwasm.ts
  contract_manager/src/contracts/evm.ts
  contract_manager/src/contracts/sui.ts
  contract_manager/src/governance.ts
  contract_manager/src/store.ts
  target_chains/cosmwasm/tools/src/chains-manager/cosmwasm.ts
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

More documentation and cleanup
  contract_manager/examples/deploy_cosmwasm.ts
  contract_manager/src/base.ts
  contract_manager/src/chains.ts
  contract_manager/src/contracts/aptos.ts
  contract_manager/src/contracts/cosmwasm.ts
  contract_manager/src/contracts/evm.ts
  contract_manager/src/contracts/sui.ts
Due: none

Remove INFURA_KEY logic and replace RPC endpoints with public ones
  contract_manager/src/chains.ts
  contract_manager/store/chains/EVMChain/ethereum.yaml
  contract_manager/store/chains/EVMChain/goerli.yaml
  contract_manager/store/chains/EVMChain/linea.yaml
Due: none

Show multisig network on proposal page
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals.tsx
Due: none

Show multisig network on proposal page (#975)
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals.tsx
Due: none

Add missing import
  contract_manager/src/contracts/aptos.ts
Due: none

Make executeUpdatePriceFeed interface on cosmos similar to evm
  contract_manager/src/contracts/cosmwasm.ts
Due: none

Better error message and more comment regarding gas
  contract_manager/src/chains.ts
  contract_manager/src/contracts/evm.ts
Due: none

Implement setter functions on aptos
  contract_manager/src/contracts/aptos.ts
Due: none

bump version
  target_chains/cosmwasm/contracts/pyth/Cargo.toml
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Implement setter functions on aptos (#978)
  contract_manager/src/contracts/aptos.ts
Due: none

Fix mainnet values and remove oasis network
  contract_manager/store/chains/EvmChain/chiado.yaml
  contract_manager/store/chains/EvmChain/fuji.yaml
  contract_manager/store/chains/EvmChain/oasis.yaml
  target_chains/ethereum/contracts/truffle-config.js
Due: none

Fix mainnet values on fuji and chiado and remove oasis network (#979)
  contract_manager/store/chains/EvmChain/chiado.yaml
  contract_manager/store/chains/EvmChain/fuji.yaml
  contract_manager/store/chains/EvmChain/oasis.yaml
  target_chains/ethereum/contracts/truffle-config.js
Due: none

Add eos network to contract manager
  contract_manager/store/chains/EvmChain/eos.yaml
  contract_manager/store/chains/EvmChain/eos_testnet.yaml
  contract_manager/store/contracts/EvmContract/eos_0xA2aa501b19aff244D90cc15a4Cf739D2725B5729.yaml
  contract_manager/store/contracts/EvmContract/eos_testnet_0xA2aa501b19aff244D90cc15a4Cf739D2725B5729.yaml
Due: none

Wormhole contract inspection tooling
  contract_manager/src/contracts/evm.ts
Due: none

pre commit fix
  target_chains/cosmwasm/Cargo.lock
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

Helper function to hash contract code
  contract_manager/src/contracts/evm.ts
Due: none

[cosmwasm] bump version (#977)
  target_chains/cosmwasm/Cargo.lock
  target_chains/cosmwasm/contracts/pyth/Cargo.toml
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

[contract-manager] Evm contract manager verification (#981)
  contract_manager/src/contracts/evm.ts
  contract_manager/store/chains/EvmChain/eos.yaml
  contract_manager/store/chains/EvmChain/eos_testnet.yaml
  contract_manager/store/contracts/EvmContract/eos_0xA2aa501b19aff244D90cc15a4Cf739D2725B5729.yaml
  contract_manager/store/contracts/EvmContract/eos_testnet_0xA2aa501b19aff244D90cc15a4Cf739D2725B5729.yaml
Due: none

Add script for verification of evm contract upgrades
  contract_manager/scripts/check_proposal.ts
  contract_manager/scripts/deploy_cosmwasm.ts
  contract_manager/src/contracts/evm.ts
Due: none

Add script for verification of evm contract upgrades (#982)
  contract_manager/scripts/check_proposal.ts
  contract_manager/scripts/deploy_cosmwasm.ts
  contract_manager/src/contracts/evm.ts
Due: none

Add injective executor logic and contracts and getVersion utility function
  contract_manager/src/contracts/cosmwasm.ts
  contract_manager/store/chains/CosmWasmChain/injective.yaml
  contract_manager/store/chains/CosmWasmChain/injective_testnet.yaml
  contract_manager/store/chains/CosmWasmChain/osmosis.yaml
  contract_manager/store/chains/CosmWasmChain/sei_testnet_atlantic_2.yaml
  contract_manager/store/contracts/CosmWasmContract/injective_inj12j43nf2f0qumnt2zrrmpvnsqgzndxefujlvr08.yaml
  contract_manager/store/contracts/CosmWasmContract/injective_testnet_inj18rlflp3735h25jmjx97d22c72sxk260amdjxlu.yaml
  contract_manager/store/contracts/CosmWasmContract/osmosis_osmo1hpdzqku55lmfmptpyj6wdlugqs5etr6teqf7r4yqjjrxjznjhtuqqu5kdh.yaml
  contract_manager/store/contracts/CosmWasmContract/osmosis_testnet_5_osmo1q3pzdelxnh2yk66vux4s6ewrw59sx0uu2q6xd7navlsvc3vry92sk3pe7g.yaml
  contract_manager/store/contracts/CosmWasmContract/sei_pacific_1_sei15d2tyq2jzxmpg32y3am3w62dts32qgzmds9qnr6c87r0gwwr7ynqal0x38.yaml
  contract_manager/store/contracts/CosmWasmContract/sei_testnet_atlantic_2_sei1kpntez76v38yuxhhaaahdmvjxnr5tkr8tq077smefs7uw70rj5yqw2aewy.yaml
  contract_manager/store/contracts/CosmWasmContract/sei_testnet_atlantic_2_sei1w2rxq6eckak47s25crxlhmq96fzjwdtjgdwavn56ggc0qvxvw7rqczxyfy.yaml
  target_chains/cosmwasm/tools/src/chains-manager/chains.ts
  target_chains/cosmwasm/tools/src/chains-manager/injective.ts
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

revert contract changes
  target_chains/sui/contracts/sources/pyth.move
Due: none

Add injective executor logic and contracts and getVersion utility function (#983)
  contract_manager/src/contracts/cosmwasm.ts
  contract_manager/store/chains/CosmWasmChain/injective.yaml
  contract_manager/store/chains/CosmWasmChain/injective_testnet.yaml
  contract_manager/store/chains/CosmWasmChain/osmosis.yaml
  contract_manager/store/chains/CosmWasmChain/sei_testnet_atlantic_2.yaml
  contract_manager/store/contracts/CosmWasmContract/injective_inj12j43nf2f0qumnt2zrrmpvnsqgzndxefujlvr08.yaml
  contract_manager/store/contracts/CosmWasmContract/injective_testnet_inj18rlflp3735h25jmjx97d22c72sxk260amdjxlu.yaml
  contract_manager/store/contracts/CosmWasmContract/osmosis_osmo1hpdzqku55lmfmptpyj6wdlugqs5etr6teqf7r4yqjjrxjznjhtuqqu5kdh.yaml
  contract_manager/store/contracts/CosmWasmContract/osmosis_testnet_5_osmo1q3pzdelxnh2yk66vux4s6ewrw59sx0uu2q6xd7navlsvc3vry92sk3pe7g.yaml
  contract_manager/store/contracts/CosmWasmContract/sei_pacific_1_sei15d2tyq2jzxmpg32y3am3w62dts32qgzmds9qnr6c87r0gwwr7ynqal0x38.yaml
  contract_manager/store/contracts/CosmWasmContract/sei_testnet_atlantic_2_sei1kpntez76v38yuxhhaaahdmvjxnr5tkr8tq077smefs7uw70rj5yqw2aewy.yaml
  contract_manager/store/contracts/CosmWasmContract/sei_testnet_atlantic_2_sei1w2rxq6eckak47s25crxlhmq96fzjwdtjgdwavn56ggc0qvxvw7rqczxyfy.yaml
  target_chains/cosmwasm/tools/src/chains-manager/chains.ts
  target_chains/cosmwasm/tools/src/chains-manager/injective.ts
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

add price service client readme
  price_service/client/js/README.md
Due: none

readme
  price_service/client/js/README.md
Due: none

Add price service client readme (#984)
  price_service/client/js/README.md
Due: none

refactor(hermes): remove Storage trait indirection
  hermes/src/main.rs
  hermes/src/store.rs
  hermes/src/store/proof/wormhole_merkle.rs
  hermes/src/store/storage.rs
  hermes/src/store/storage/local_storage.rs
Due: cargo-fmt-hermes

chore(hermes): update crates
  hermes/Cargo.lock
  hermes/Cargo.toml
Due: cargo-fmt-hermes

chore(hermes): version bump
  hermes/Cargo.lock
  hermes/Cargo.toml
Due: cargo-fmt-hermes

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana
