Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/fortuna/Cargo.toml --all
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/fortuna/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./target_chains/solana/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./target_chains/solana/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./lazer/Cargo.toml --all
  pass_filenames: false

bump version
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
Due: cargo-fmt-hermes, cargo-clippy-hermes

add benchmarking for variable feeds
  target_chains/ethereum/contracts/forge-test/PulseGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseTestUtils.t.sol
Due: none

chore(js): update fix:fmt config
  .pre-commit-config.yaml
  .prettierignore
  target_chains/ethereum/sdk/stylus/pyth-mock-solidity/.prettierignore
Due: cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk

Retry if receipt indicates failure
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

Retry if receipt indicates failure (#2522)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper/process_event.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

chore(js): update fix:fmt config (#2514)
  .pre-commit-config.yaml
  .prettierignore
  target_chains/ethereum/sdk/stylus/pyth-mock-solidity/.prettierignore
Due: cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk

Only build stuff that requires Vercel env to build on Vercel
  .github/workflows/ci-turbo-build.yml
  .github/workflows/publish-js.yml
  apps/api-reference/package.json
  apps/api-reference/turbo.json
  apps/api-reference/vercel.json
  apps/insights/package.json
  apps/insights/turbo.json
  apps/insights/vercel.json
  apps/staking/package.json
  apps/staking/turbo.json
  apps/staking/vercel.json
  governance/xc_admin/packages/xc_admin_frontend/package.json
  governance/xc_admin/packages/xc_admin_frontend/turbo.json
  governance/xc_admin/packages/xc_admin_frontend/vercel.json
  package.json
  turbo.json
Due: none

Only build stuff that requires Vercel env to build on Vercel
  .github/workflows/ci-turbo-build.yml
  .github/workflows/publish-js.yml
  apps/api-reference/package.json
  apps/api-reference/turbo.json
  apps/api-reference/vercel.json
  apps/insights/package.json
  apps/insights/turbo.json
  apps/insights/vercel.json
  apps/staking/package.json
  apps/staking/turbo.json
  apps/staking/vercel.json
  package.json
  turbo.json
Due: none

fix(hermes): improve TWAP reliability - non-optional price selection and consistent time windows (#2521)
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/api/rest.rs
  apps/hermes/server/src/api/rest/v2/latest_twaps.rs
  apps/hermes/server/src/state/aggregate.rs
  apps/hermes/server/src/state/cache.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

feat(pulse): improve gas benchmark with variable feed ID counts
  target_chains/ethereum/contracts/forge-test/PulseGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseTestUtils.t.sol
Due: none

test: add out of order fulfillment benchmark
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/forge-test/PulseGasBenchmark.t.sol
Due: none

update benchmark tests
  target_chains/ethereum/contracts/forge-test/GasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/PulseGasBenchmark.t.sol
Due: none

feat(target_chains/ethreum): add transaction fee handling to fee calculations and state management in pyth contract
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/contracts/pyth/PythGetters.sol
  target_chains/ethereum/contracts/contracts/pyth/PythSetters.sol
  target_chains/ethereum/contracts/contracts/pyth/PythState.sol
Due: none

feat(governance): add SetTransactionFee action and implementation for transaction fee management
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/PythGovernanceAction.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/SetTransactionFee.ts
  governance/xc_admin/packages/xc_admin_common/src/governance_payload/index.ts
  target_chains/ethereum/contracts/contracts/pyth/PythGovernance.sol
  target_chains/ethereum/contracts/contracts/pyth/PythGovernanceInstructions.sol
Due: none

add test
  target_chains/ethereum/contracts/forge-test/PythGovernance.t.sol
Due: none

feat(tests): add serialization/deserialization test for SetTransactionFee action
  governance/xc_admin/packages/xc_admin_common/src/__tests__/GovernancePayload.test.ts
Due: none

chore(lazer): add evm audit
  SECURITY.md
Due: none

chore(lazer): add evm audit (#2527)
  SECURITY.md
Due: none

feat(lazer): add ignoreInvalidFeeds flag to SDK
  lazer/sdk/js/src/protocol.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat(lazer): update protocol types for ignore_invalid_feeds
  lazer/sdk/rust/protocol/src/subscription.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: update example to include ignore_invalid_feeds field
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: rename ignore_invalid_feeds to ignore_invalid_feed_ids
  lazer/sdk/js/src/protocol.ts
  lazer/sdk/rust/client/examples/subscribe_price_feeds.rs
  lazer/sdk/rust/protocol/src/subscription.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: rename FailedFeedsDetails to InvalidFeedSubscriptionDetails
  lazer/sdk/js/src/protocol.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix test
  target_chains/ethereum/contracts/forge-test/utils/PulseTestUtils.t.sol
Due: none

feat(tests): add tests for contract upgrade functionality in PythGovernance
  target_chains/ethereum/contracts/forge-test/PythGovernance.t.sol
Due: none

update jito bundle endpoint
  apps/price_pusher/package.json
  apps/price_pusher/src/solana/solana.ts
Due: none

fix(solana): change error logging to warning for Jito tips retrieval
  apps/price_pusher/src/solana/solana.ts
Due: none

chore: update ConfluxScan link
  apps/entropy-debugger/src/store/entropy-deployments.ts
Due: none

chore: update ConfluxScan link (#2531)
  apps/entropy-debugger/src/store/entropy-deployments.ts
Due: none

fix(solana): change logging from warning to error for Jito tips retrieval failures
  apps/price_pusher/src/solana/solana.ts
Due: none

fix(fortuna): fix too high fees
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/keeper/fee.rs
Due: cargo-fmt-fortuna, cargo-clippy-fortuna

add configurable gas limits and failure on calls
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/package.json
  target_chains/ethereum/entropy_sdk/solidity/EntropyEvents.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyStructs.sol
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyEvents.json
  target_chains/ethereum/entropy_sdk/solidity/abis/IEntropy.json
Due: none

refactor: rename comingSoon to unstable in InvalidFeedSubscriptionDetails
  lazer/sdk/js/src/protocol.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: change successful_feeds type from Vec<u64> to Vec<u32>
  lazer/sdk/rust/protocol/src/subscription.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: add subscribedWithIgnoredFailures response type
  lazer/sdk/js/src/protocol.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: rename subscribedWithIgnoredFailures to subscribedWithInvalidFeeds
  lazer/sdk/js/src/protocol.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: rename subscribedWithInvalidFeeds to subscribedWithIgnoredInvalidFeedIds
  lazer/sdk/js/src/protocol.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: rename response types to subscribedWithInvalidFeedIdsIgnored
  lazer/sdk/js/src/protocol.ts
  lazer/sdk/rust/protocol/src/subscription.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: rename fields to subscribedFeedIds and ignoredInvalidFeedIds
  lazer/sdk/js/src/protocol.ts
  lazer/sdk/rust/protocol/src/subscription.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

refactor: rename enum variant to SubscribedWithInvalidFeedIdsIgnored
  lazer/sdk/rust/protocol/src/subscription.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
