Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-quorum, cargo-clippy-quorum, cargo-fmt-fortuna, cargo-sqlx-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo fmt
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cd governance/remote_executor && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo fmt
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cd target_chains/cosmwasm && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo fmt
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cd apps/hermes/server && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-quorum:
  name: Cargo format for Quorum
  language: rust
  entry: cargo fmt -p quorum
  pass_filenames: false

cargo-clippy-quorum:
  name: Cargo clippy for Quorum
  language: rust
  entry: cargo clippy -p quorum --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo fmt -p fortuna
  pass_filenames: false

cargo-sqlx-fortuna:
  name: Cargo sqlx prepare check for Fortuna
  language: script
  entry: ./apps/fortuna/check-sqlx.sh
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo clippy -p fortuna --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo fmt
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cd pythnet/message_buffer && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo fmt -p pythnet-sdk
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo clippy -p pythnet-sdk --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cd target_chains/solana && cargo fmt
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cd target_chains/solana/ && cargo clippy --all-targets -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo fmt -p pyth-lazer-protocol -p pyth-lazer-client -p pyth-lazer-publisher-sdk
  pass_filenames: false

feat(contracts) Deploy a new lazer contract (#3079)
  contract_manager/store/chains/EvmChains.json
  contract_manager/store/contracts/EvmExecutorContracts.json
  contract_manager/store/contracts/EvmLazerContracts.json
  contract_manager/store/contracts/EvmWormholeContracts.json
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

chore(contracts) Deprecate an old contract
  contract_manager/store/chains/EvmChains.json
  contract_manager/store/contracts/EvmExecutorContracts.json
  contract_manager/store/contracts/EvmLazerContracts.json
  contract_manager/store/contracts/EvmWormholeContracts.json
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

version bumps
  Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/protocol/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

version bumps
  Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

bump solana contract dependency
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

revert contract version bump
  lazer/contracts/solana/programs/pyth-lazer-solana-contract/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: Add resolution/lookback support to charts
  apps/insights/src/app/historical-prices/route.ts
  apps/insights/src/components/PriceFeed/Chart/chart-page.tsx
  apps/insights/src/components/PriceFeed/Chart/chart-toolbar.tsx
  apps/insights/src/components/PriceFeed/Chart/chart.module.scss
  apps/insights/src/components/PriceFeed/Chart/chart.tsx
  apps/insights/src/components/PriceFeed/Chart/use-chart-toolbar.tsx
  apps/insights/src/services/clickhouse.ts
Due: none

feat: start table grid
  packages/component-library/package.json
  packages/component-library/src/TableGrid/index.module.scss
  packages/component-library/src/TableGrid/index.stories.tsx
  packages/component-library/src/TableGrid/index.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: skeleton fill
  packages/component-library/src/Skeleton/index.module.scss
  packages/component-library/src/Skeleton/index.stories.tsx
  packages/component-library/src/Skeleton/index.tsx
Due: none

fix: formatting
  packages/component-library/src/Skeleton/index.tsx
Due: none

fix
  packages/component-library/src/Skeleton/index.module.scss
  packages/component-library/src/Skeleton/index.stories.tsx
  packages/component-library/src/Skeleton/index.tsx
Due: none

feat(components-library) Social Links Drawer
  packages/component-library/src/Header/index.module.scss
  packages/component-library/src/Header/index.tsx
  packages/component-library/src/social-links.tsx
Due: none

chore(dev-hub) Added landing pages
  apps/developer-hub/content/docs/price-feeds/pro/getting-started.mdx
  apps/developer-hub/content/docs/price-feeds/pro/index.mdx
  apps/developer-hub/src/app/price-feeds/page.tsx
  apps/developer-hub/src/components/Pages/PriceFeedsLandingPage/index.tsx
  apps/developer-hub/src/components/ProductCard/index.tsx
Due: none

Update README.md
  apps/hermes/client/js/README.md
Due: cargo-fmt-hermes, cargo-clippy-hermes

Update README.md
  apps/hermes/server/README.md
Due: cargo-fmt-hermes, cargo-clippy-hermes

fix
  packages/component-library/src/Skeleton/index.module.scss
  packages/component-library/src/Skeleton/index.tsx
Due: none

fix(lazer): add missing feed kind field, fix allowed_feed_ids type in governance messages
  lazer/publisher_sdk/proto/governance_instruction.proto
Due: cargo-fmt-lazer, cargo-clippy-lazer

chore: bump version
  Cargo.lock
  lazer/publisher_sdk/rust/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix
  packages/component-library/src/Skeleton/index.tsx
Due: none

fix(lazer): add missing feed kind field, fix allowed_feed_ids type in governance messages (#3083)
  Cargo.lock
  lazer/publisher_sdk/proto/governance_instruction.proto
  lazer/publisher_sdk/rust/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(lazer): use config values in history client
  Cargo.lock
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/client/src/history_client.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix(lazer): use config values in history client (#3093)
  Cargo.lock
  lazer/sdk/rust/client/Cargo.toml
  lazer/sdk/rust/client/src/history_client.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: forward ref
  packages/component-library/.storybook/storybook.module.scss
  packages/component-library/package.json
  packages/component-library/src/Skeleton/index.tsx
  packages/component-library/src/TableGrid/dummy-row-data.ts
  packages/component-library/src/TableGrid/index.module.scss
  packages/component-library/src/TableGrid/index.stories.tsx
  packages/component-library/src/TableGrid/index.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor: set default page intervals
  apps/insights/src/components/PriceComponentsCard/index.tsx
  apps/insights/src/components/PriceFeeds/price-feeds-card.tsx
  apps/insights/src/components/Publishers/publishers-card.tsx
  packages/component-library/src/Paginator/index.tsx
Due: none

chore(dev-hub)-core-landing page
  apps/developer-hub/src/app/price-feeds/core/page.tsx
  apps/developer-hub/src/components/Core/architecture-tabs.tsx
  apps/developer-hub/src/components/Pages/CoreLandingPage/index.tsx
Due: none

chore(dev-hub) Updated pro pages
  apps/developer-hub/content/docs/price-feeds/pro/index.mdx
  apps/developer-hub/content/docs/price-feeds/pro/meta.json
  apps/developer-hub/content/docs/price-feeds/pro/price-feed-ids.mdx
  apps/developer-hub/content/docs/price-feeds/pro/subscribe-to-prices.mdx
Due: none

chore(dev-hub) Pro Price Feed ID Table
  apps/developer-hub/content/docs/price-feeds/pro/price-feed-ids.mdx
  apps/developer-hub/src/components/ProPriceFeedTable/constants.ts
  apps/developer-hub/src/components/ProPriceFeedTable/fetcher.ts
  apps/developer-hub/src/components/ProPriceFeedTable/index.module.scss
  apps/developer-hub/src/components/ProPriceFeedTable/index.tsx
Due: none

refactor: move useQueryParamFilterPagination to component lib
  apps/insights/src/components/PriceComponentsCard/index.tsx
  apps/insights/src/components/PriceFeeds/price-feeds-card.tsx
  apps/insights/src/components/Publishers/publishers-card.tsx
  packages/component-library/package.json
  packages/component-library/src/useQueryParamsPagination/index.ts
Due: none

lockfile
  pnpm-lock.yaml
Due: none

fix: add export
  packages/component-library/package.json
Due: none

chore(contracts) Deprecate an old contract (#3087)
  contract_manager/store/chains/EvmChains.json
  contract_manager/store/contracts/EvmExecutorContracts.json
  contract_manager/store/contracts/EvmLazerContracts.json
  contract_manager/store/contracts/EvmWormholeContracts.json
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

fix
  packages/component-library/package.json
Due: none

chore(dev-hub) Requested comments
  apps/developer-hub/package.json
  apps/developer-hub/src/components/Pages/PriceFeedsLandingPage/index.module.scss
  apps/developer-hub/src/components/Pages/PriceFeedsLandingPage/index.tsx
  apps/developer-hub/src/components/ProPriceFeedTable/constants.ts
  apps/developer-hub/src/components/ProPriceFeedTable/fetcher.ts
  apps/developer-hub/src/components/ProPriceFeedTable/index.tsx
  pnpm-lock.yaml
Due: none

chore(dev-hub) Fix style lint
  apps/developer-hub/src/components/Pages/PriceFeedsLandingPage/index.module.scss
Due: none

chore(dev-hub) Fxies
  apps/developer-hub/src/app/price-feeds/core/page.tsx
  apps/developer-hub/src/components/Core/architecture-tabs.tsx
  apps/developer-hub/src/components/Pages/CoreLandingPage/index.tsx
Due: none

docs: add comprehensive README for Pyth Lazer Rust client
  lazer/sdk/rust/client/README.md
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: more progress on responsive
  packages/component-library/src/TableGrid/dummy-row-data.ts
  packages/component-library/src/TableGrid/full-width-cell-renderer.tsx
  packages/component-library/src/TableGrid/index.stories.tsx
  packages/component-library/src/TableGrid/index.tsx
  packages/component-library/src/TableGrid/table-grid-props.ts
  packages/component-library/src/useMediaQuery/index.module.scss
  packages/component-library/src/useMediaQuery/index.ts
Due: none

feat(component-library): add symbol pair tag
  apps/insights/src/components/PriceFeed/header.tsx
  apps/insights/src/components/PriceFeed/price-feed-select.tsx
  apps/insights/src/components/PriceFeeds/coming-soon-list.tsx
  apps/insights/src/components/PriceFeeds/index.tsx
  apps/insights/src/components/PriceFeeds/price-feeds-card.tsx
  apps/insights/src/components/Publisher/performance.tsx
  apps/insights/src/components/Publisher/price-feeds.tsx
  apps/insights/src/components/Publisher/top-feeds-table.tsx
  apps/insights/src/components/Root/search-button.tsx
  packages/component-library/package.json
  packages/component-library/src/SymbolPairTag/index.module.scss
  packages/component-library/src/SymbolPairTag/index.stories.tsx
  packages/component-library/src/SymbolPairTag/index.tsx
  packages/component-library/src/omit-keys.ts
  pnpm-lock.yaml
Due: none

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-quorum: any of: apps/quorum
  cargo-clippy-quorum: any of: apps/quorum
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-sqlx-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
