Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-fortuna: any of: fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana

relax
  pythnet/pythnet_sdk/Cargo.toml
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

refactor(target_chains/starknet): renames and comments
  target_chains/starknet/contracts/deploy/local_deploy
  target_chains/starknet/contracts/src/pyth.cairo
Due: none

Do
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Try
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat(fortuna): add a cli arg to run keeper (#1517)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/config/run.rs
Due: cargo-fmt-fortuna

Minor fortuna improvements
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/command/setup_provider.rs
  contract_manager/store/chains/EvmChains.yaml
Due: cargo-fmt-fortuna

Bump
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
Due: cargo-fmt-fortuna

feat: enable remote stake delegation (#1501)
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/multisig_transaction/SolanaStakingMultisigInstruction.ts
Due: none

feat(target_chains/starknet): fee collection (#1527)
  target_chains/starknet/contracts/Scarb.lock
  target_chains/starknet/contracts/Scarb.toml
  target_chains/starknet/contracts/deploy/local_deploy
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/tests/pyth.cairo
Due: none

feat: fix anchor 0.30.0
  target_chains/solana/programs/pyth-push-oracle/tests/test_update_price_feed.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_price_update_from_vaa.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_atomic.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Update error messages for consistency
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/command/setup_provider.rs
Due: cargo-fmt-fortuna

fix(fortuna): Fortuna improvements (#1529)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/config.sample.yaml
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/command/setup_provider.rs
  contract_manager/store/chains/EvmChains.yaml
Due: cargo-fmt-fortuna

Bump cosmwasm in pyth-sdk-cw
  target_chains/cosmwasm/Cargo.lock
  target_chains/cosmwasm/sdk/rust/Cargo.toml
  target_chains/cosmwasm/sdk/rust/src/lib.rs
  target_chains/cosmwasm/sdk/rust/src/testing.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm

add anchor to pythnet sdk
  pythnet/pythnet_sdk/Cargo.toml
  pythnet/pythnet_sdk/src/messages.rs
  target_chains/solana/Cargo.lock
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

bump
  pythnet/pythnet_sdk/Cargo.toml
  target_chains/solana/Cargo.lock
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

bump
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

bump
  target_chains/solana/Cargo.lock
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

please work
  .pre-commit-config.yaml
  pythnet/pythnet_sdk/Cargo.toml
  target_chains/solana/Cargo.lock
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Solve
  pythnet/pythnet_sdk/Cargo.toml
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

feat: add anchor to pythnet sdk (#1531)
  .pre-commit-config.yaml
  pythnet/pythnet_sdk/Cargo.toml
  pythnet/pythnet_sdk/src/messages.rs
  target_chains/solana/Cargo.lock
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

dry run
  .github/workflows/publish-pyth-solana-receiver-state.yml
Due: none

check
  .github/workflows/publish-pyth-solana-receiver-state.yml
Due: none

Fix workflows
  .github/workflows/publish-pyth-solana-receiver-state.yml
Due: none

rexport price feed message
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

Update README.md
  price_service/client/js/README.md
Due: none

Update README.md (#1526)
  price_service/client/js/README.md
Due: none

chore-add-evm-new-chains
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

chore-add-evm-new-chains (#1533)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

fix: publish workflow (#1532)
  .github/workflows/publish-pyth-solana-receiver-state.yml
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

upgrade deploy scripts to use wormhole store
  contract_manager/scripts/common.ts
  contract_manager/scripts/deploy_evm_entropy_contracts.ts
  contract_manager/scripts/deploy_evm_pricefeed_contracts.ts
Due: none

deploy not find
  contract_manager/scripts/common.ts
Due: none

deploy price feed and entropy to taiko
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/CosmWasmWormholeContracts.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

rename type
  contract_manager/scripts/common.ts
Due: none

update js docs
  contract_manager/scripts/common.ts
Due: none

rename method
  contract_manager/scripts/common.ts
  contract_manager/scripts/deploy_evm_entropy_contracts.ts
  contract_manager/scripts/deploy_evm_pricefeed_contracts.ts
Due: none

address feedback
  contract_manager/scripts/common.ts
  contract_manager/scripts/deploy_evm_entropy_contracts.ts
  contract_manager/scripts/deploy_evm_pricefeed_contracts.ts
Due: none

deploy to olive testnet
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none

pre commit
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

rename deploy config to base deploy config
  contract_manager/scripts/common.ts
  contract_manager/scripts/deploy_evm_entropy_contracts.ts
  contract_manager/scripts/deploy_evm_pricefeed_contracts.ts
Due: none

feat(contract_manager): upgrade deploy scripts to use wormhole store (#1523)
  contract_manager/scripts/common.ts
  contract_manager/scripts/deploy_evm_entropy_contracts.ts
  contract_manager/scripts/deploy_evm_pricefeed_contracts.ts
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/CosmWasmWormholeContracts.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/index.ts
Due: none
