Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-executor, cargo-clippy-executor

cargo-fmt-executor:
  name: Cargo format executor
  language: rust
  entry: cargo +nightly fmt --manifest-path ./solana/pyth2wormhole/Cargo.toml --all
  pass_filenames: false

cargo-clippy-executor:
  name: Cargo clippy executor
  language: rust
  entry: cargo +nightly clippy --manifest-path ./pythnet/remote-executor/Cargo.toml -- -D warnings
  pass_filenames: false

Fix CI errors
  .github/workflows/pre-commit.yml
  Dockerfile.solana
Due: none

[eth]: Add eth contract ci (foundry)
  .github/workflows/ethereum-contract.yml
Due: none

Update the ci
  .github/workflows/ethereum-contract.yml
Due: none

Fix ci
  .github/workflows/ethereum-contract.yml
Due: none

Add paths
  .github/workflows/ethereum-contract.yml
Due: none

Add prometheus to Tilt with attester metrics
  Tiltfile
  devnet/p2w-attest.yaml
  devnet/prometheus.yaml
  prometheus_config.yaml
  solana/pyth2wormhole/Cargo.lock
  solana/pyth2wormhole/client/Cargo.toml
  solana/pyth2wormhole/client/src/cli.rs
  solana/pyth2wormhole/client/src/lib.rs
  solana/pyth2wormhole/client/src/main.rs
  solana/pyth2wormhole/client/src/util.rs
Due: cargo-fmt-executor

[eth] Add CI for Foundry tests (#394)
  .github/workflows/ethereum-contract.yml
Due: none

Remove pre-commit from remote-executor action
  .github/workflows/remote-executor.yml
Due: none

Fix formatting
  .github/workflows/pyth-cosmwasm-contract.yml
Due: none

Run cosmwasm action only when needed
  .github/workflows/pyth-cosmwasm-contract.yml
Due: none

Run precommit for all files
  .github/workflows/ethereum-contract.yml
  .github/workflows/pyth-cosmwasm-contract.yml
Due: none

Dockerfile.prometheus: re-add after faulty merge
  Dockerfile.prometheus
Due: none

Update contract initializer
  ethereum/.env.cluster.mainnet
  ethereum/.env.cluster.testnet
  ethereum/.env.template
  ethereum/.env.test
  ethereum/.openzeppelin/unknown-1337.json
  ethereum/contracts/pyth/Pyth.sol
  ethereum/contracts/pyth/PythGetters.sol
  ethereum/contracts/pyth/PythSetters.sol
  ethereum/contracts/pyth/PythUpgradable.sol
  ethereum/forge-test/utils/PythTestUtils.t.sol
  ethereum/migrations/prod-receiver/3_deploy_pyth.js
  ethereum/migrations/prod-receiver/4_pyth_multiple_emitters.js
  ethereum/migrations/prod-receiver/5_pyth_add_events_and_update_fee.js
  ethereum/migrations/prod-receiver/6_pyth_update_interface_add_latest_methods.js
  ethereum/migrations/prod-receiver/7_pyth_make_valid_time_period_configurable.js
  ethereum/migrations/prod-receiver/8_pyth_update_interface_add_update_if_necessary.js
  ethereum/migrations/prod-receiver/9_pyth_add_pythnet_datasource.js
  ethereum/migrations/prod/10_pyth_make_interface_simpler.js
  ethereum/migrations/prod/2_deploy_pyth.js
  ethereum/migrations/prod/3_pyth_multiple_emitters.js
  ethereum/migrations/prod/4_pyth_add_events_and_update_fee.js
  ethereum/migrations/prod/5_pyth_update_interface_add_latest_methods.js
  ethereum/migrations/prod/6_pyth_make_valid_time_period_configurable.js
  ethereum/migrations/prod/7_pyth_update_interface_add_update_if_necessary.js
  ethereum/migrations/prod/8_pyth_add_pythnet_datasource.js
  ethereum/migrations/prod/9_pyth_enable_governance.js
  ethereum/migrations/test/11_pyth_make_interface_simpler.js
  ethereum/migrations/test/3_deploy_pyth.js
  ethereum/migrations/test/4_pyth_multiple_emitters.js
  ethereum/migrations/test/5_pyth_add_events_and_update_fee.js
  ethereum/migrations/test/6_pyth_update_interface_add_latest_methods.js
  ethereum/migrations/test/7_pyth_make_valid_time_period_configurable.js
  ethereum/migrations/test/8_pyth_update_interface_add_update_if_necessary.js
  ethereum/migrations/test/9_pyth_enable_governance.js
  ethereum/package-lock.json
  ethereum/package.json
  ethereum/test/pyth.js
  ethereum/truffle-config.js
Due: none

Reduce optimizer runs to 1000
  ethereum/foundry.toml
  ethereum/truffle-config.js
Due: none

Remove unintended added file
  ethereum/.openzeppelin/unknown-1337.json
Due: none

Fix formatter issue
  .github/workflows/ethereum-contract.yml
Due: none

p2w-attest: Clarify port number, remove subpage config
  devnet/p2w-attest.yaml
  solana/pyth2wormhole/client/src/cli.rs
  solana/pyth2wormhole/client/src/lib.rs
  solana/pyth2wormhole/client/src/main.rs
  solana/pyth2wormhole/client/src/util.rs
Due: cargo-fmt-executor

p2w-attest/util.rs: fix warnings
  solana/pyth2wormhole/client/src/util.rs
Due: cargo-fmt-executor

p2w-attest: typo
  solana/pyth2wormhole/client/src/main.rs
Due: cargo-fmt-executor

drozdziak1/pyth attester prometheus metrics (#396)
  Dockerfile.prometheus
  Tiltfile
  devnet/p2w-attest.yaml
  devnet/prometheus.yaml
  prometheus_config.yaml
  solana/pyth2wormhole/Cargo.lock
  solana/pyth2wormhole/client/Cargo.toml
  solana/pyth2wormhole/client/src/cli.rs
  solana/pyth2wormhole/client/src/lib.rs
  solana/pyth2wormhole/client/src/main.rs
  solana/pyth2wormhole/client/src/util.rs
Due: cargo-fmt-executor

Update wormhole receiver contract
  ethereum/contracts/wormhole-receiver/ReceiverGetters.sol
  ethereum/contracts/wormhole-receiver/ReceiverGovernance.sol
  ethereum/contracts/wormhole-receiver/ReceiverSetters.sol
  ethereum/contracts/wormhole-receiver/ReceiverSetup.sol
  ethereum/contracts/wormhole-receiver/ReceiverState.sol
  ethereum/contracts/wormhole-receiver/ReceiverStructs.sol
  ethereum/migrations/prod-receiver/2_deploy_wormhole_receiver.js
Due: none

Update remove executor job name to test
  .github/workflows/remote-executor.yml
Due: none

Add clippy for attester in precommit
  .pre-commit-config.yaml
Due: none

Fix clippy warnings
  solana/pyth2wormhole/client/src/attestation_cfg.rs
  solana/pyth2wormhole/client/src/batch_state.rs
  solana/pyth2wormhole/client/src/lib.rs
  solana/pyth2wormhole/client/src/main.rs
  solana/pyth2wormhole/client/src/util.rs
  solana/pyth2wormhole/client/tests/fixtures/passthrough.rs
  solana/pyth2wormhole/client/tests/fixtures/pyth.rs
  solana/pyth2wormhole/client/tests/test_attest.rs
  solana/pyth2wormhole/client/tests/test_migrate.rs
  solana/pyth2wormhole/client/tests/test_set_is_active.rs
  solana/pyth2wormhole/program/src/attest.rs
  solana/pyth2wormhole/program/src/config.rs
  solana/pyth2wormhole/program/src/initialize.rs
  solana/pyth2wormhole/program/src/lib.rs
  solana/pyth2wormhole/program/src/message.rs
  solana/pyth2wormhole/program/src/migrate.rs
  solana/pyth2wormhole/program/src/set_config.rs
Due: cargo-fmt-executor

Update remove executor job name to test (#399)
  .github/workflows/remote-executor.yml
Due: none

Remove depr.. pyth-client from attester cli tests
  solana/pyth2wormhole/Cargo.lock
  solana/pyth2wormhole/client/Cargo.toml
  solana/pyth2wormhole/client/tests/fixtures/pyth.rs
Due: cargo-fmt-executor

Add auto fix for clippy precommit + cosmwasm
  .pre-commit-config.yaml
  pythnet/remote-executor/programs/remote-executor/src/tests/executor_simulator.rs
  pythnet/remote-executor/programs/remote-executor/src/tests/test_adversarial.rs
Due: cargo-fmt-executor, cargo-clippy-executor

Add formatter and clippy for p2w-sdk/rust
  .pre-commit-config.yaml
  third_party/pyth/p2w-sdk/rust/src/lib.rs
Due: none

Fix attester clippy + change staged to dirty
  .pre-commit-config.yaml
Due: none

Fine-tune price service metrics
  prometheus_config.yaml
  third_party/pyth/price-service/package-lock.json
  third_party/pyth/price-service/package.json
  third_party/pyth/price-service/src/__tests__/rest.test.ts
  third_party/pyth/price-service/src/__tests__/ws.test.ts
  third_party/pyth/price-service/src/listen.ts
  third_party/pyth/price-service/src/promClient.ts
  third_party/pyth/price-service/src/rest.ts
Due: none

Update clippy to check on tests
  .pre-commit-config.yaml
Due: none

WIP: add squads to Tilt
  Dockerfile.multisig
  Dockerfile.solana
  Tiltfile
  devnet/multisig.yaml
  devnet/solana-devnet.yaml
  solana/devnet_setup.sh
  solana/keys/squads_owner.json
  solana/keys/squads_program.json
  third_party/pyth/Dockerfile.p2w-attest
  third_party/pyth/multisig-wh-message-builder/.gitignore
  third_party/pyth/multisig-wh-message-builder/package-lock.json
  third_party/pyth/multisig-wh-message-builder/package.json
  third_party/pyth/multisig-wh-message-builder/src/index.ts
  third_party/pyth/multisig-wh-message-builder/tsconfig.json
  third_party/pyth/p2w_autoattest.py
  third_party/pyth/prepare_multisig.py
  third_party/pyth/pyth_publisher.py
  third_party/pyth/pyth_utils.py
Due: none

Add clippy to all rust projects (#400)
  .pre-commit-config.yaml
  pythnet/remote-executor/programs/remote-executor/src/tests/executor_simulator.rs
  pythnet/remote-executor/programs/remote-executor/src/tests/test_adversarial.rs
  solana/pyth2wormhole/Cargo.lock
  solana/pyth2wormhole/client/Cargo.toml
  solana/pyth2wormhole/client/src/attestation_cfg.rs
  solana/pyth2wormhole/client/src/batch_state.rs
  solana/pyth2wormhole/client/src/lib.rs
  solana/pyth2wormhole/client/src/main.rs
  solana/pyth2wormhole/client/src/util.rs
  solana/pyth2wormhole/client/tests/fixtures/passthrough.rs
  solana/pyth2wormhole/client/tests/fixtures/pyth.rs
  solana/pyth2wormhole/client/tests/test_attest.rs
  solana/pyth2wormhole/client/tests/test_migrate.rs
  solana/pyth2wormhole/client/tests/test_set_is_active.rs
  solana/pyth2wormhole/program/src/attest.rs
  solana/pyth2wormhole/program/src/config.rs
  solana/pyth2wormhole/program/src/initialize.rs
  solana/pyth2wormhole/program/src/lib.rs
  solana/pyth2wormhole/program/src/message.rs
  solana/pyth2wormhole/program/src/migrate.rs
  solana/pyth2wormhole/program/src/set_config.rs
  third_party/pyth/p2w-sdk/rust/src/lib.rs
Due: cargo-fmt-executor, cargo-clippy-executor

comment
  solana/pyth2wormhole/client/src/attestation_cfg.rs
Due: cargo-fmt-executor

i think this works
  solana/pyth2wormhole/client/src/attestation_cfg.rs
  solana/pyth2wormhole/client/src/main.rs
  third_party/pyth/p2w_autoattest.py
Due: cargo-fmt-executor

fix stuff
  solana/pyth2wormhole/client/src/lib.rs
  solana/pyth2wormhole/client/src/main.rs
Due: cargo-fmt-executor

clippy
  pythnet/remote-executor/programs/remote-executor/src/lib.rs
  solana/pyth2wormhole/client/src/attestation_cfg.rs
  solana/pyth2wormhole/client/src/batch_state.rs
  solana/pyth2wormhole/client/src/lib.rs
  solana/pyth2wormhole/client/src/main.rs
  solana/pyth2wormhole/program/src/config.rs
  third_party/pyth/p2w_autoattest.py
Due: cargo-fmt-executor, cargo-clippy-executor

Path conditions:
  cargo-fmt-executor: (any of: pythnet/remote-executor/) or (any of: solana/pyth2wormhole/)
  cargo-clippy-executor: any of: pythnet/remote-executor/
