Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana

Checkpoint
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Cleanup
  target_chains/solana/Cargo.lock
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/sdk.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_initialize.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

[xc_admin_frontend] parse evm execute (#1253)
  governance/xc_admin/packages/xc_admin_frontend/components/InstructionViews/WormholeInstructionView.tsx
Due: none

print hex instead of number
  governance/xc_admin/packages/xc_admin_frontend/components/InstructionViews/WormholeInstructionView.tsx
Due: none

rename copypubkey
  governance/xc_admin/packages/xc_admin_frontend/components/InstructionViews/WormholeInstructionView.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/common/CopyPubkey.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/common/CopyText.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals.tsx
Due: none

add spaces
  governance/xc_admin/packages/xc_admin_frontend/components/InstructionViews/WormholeInstructionView.tsx
Due: none

[xc_admin] print hex instead of number (#1256)
  governance/xc_admin/packages/xc_admin_frontend/components/InstructionViews/WormholeInstructionView.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/common/CopyPubkey.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/common/CopyText.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals.tsx
Due: none

Checkpoint, debug
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/pyth-solana-receiver/src/sdk.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_initialize.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

uri registration
  fortuna/src/api/revelation.rs
  fortuna/src/command/setup_provider.rs
  fortuna/src/config/setup_provider.rs
Due: none

pre-commit
  fortuna/src/command/setup_provider.rs
Due: none

Go
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_atomic.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

update comment
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Add workflow
  .github/workflows/ci-solana-contract.yml
Due: none

Add ci
  .github/workflows/ci-solana-contract.yml
Due: none

use uri to create register uri
  fortuna/Cargo.lock
  fortuna/Cargo.toml
  fortuna/src/api/revelation.rs
  fortuna/src/command/setup_provider.rs
  fortuna/src/config/setup_provider.rs
Due: none

pre commit
  fortuna/src/api/revelation.rs
Due: none

move get register uri to api
  fortuna/src/api.rs
  fortuna/src/api/revelation.rs
  fortuna/src/chain/ethereum.rs
Due: none

[Fortuna] register fortuna uri on chain (#1257)
  fortuna/Cargo.lock
  fortuna/Cargo.toml
  fortuna/src/api.rs
  fortuna/src/chain/ethereum.rs
  fortuna/src/command/setup_provider.rs
  fortuna/src/config/setup_provider.rs
Due: none

Add entropy error signatures for easier access and debugging
  target_chains/ethereum/entropy_sdk/solidity/EntropyErrors.sol
Due: none

Add signatures for ExecutorErrors
  target_chains/ethereum/contracts/contracts/executor/ExecutorErrors.sol
Due: none

Add entropy error signatures for easier access and debugging (#1259)
  target_chains/ethereum/contracts/contracts/executor/ExecutorErrors.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyErrors.sol
Due: none

chore: address comments
  contract_manager/scripts/deploy_evm_pricefeed_contracts.ts
  contract_manager/src/base.ts
  contract_manager/src/contracts/evm.ts
Due: none

add methods and tests
  target_chains/ethereum/contracts/contracts/executor/Executor.sol
  target_chains/ethereum/contracts/contracts/executor/ExecutorUpgradable.sol
  target_chains/ethereum/contracts/forge-test/Executor.t.sol
Due: none

[EVM Price feed] deployments - lightlink, sei, fantom
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
Due: none

Update solana workflow
  .github/workflows/ci-solana-contract.yml
Due: none

[EVM Price feed] deployments - lightlink, sei, fantom (#1245)
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
Due: none

add sequence check
  target_chains/ethereum/contracts/forge-test/Executor.t.sol
Due: none

Rename create_guardians
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Signatures
  pythnet/pythnet_sdk/src/test_utils/mod.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

[executor/contract] add get methods and tests (#1260)
  target_chains/ethereum/contracts/contracts/executor/Executor.sol
  target_chains/ethereum/contracts/contracts/executor/ExecutorUpgradable.sol
  target_chains/ethereum/contracts/forge-test/Executor.t.sol
Due: none

Add some randomness
  pythnet/pythnet_sdk/Cargo.toml
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/solana/Cargo.lock
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Add randomness
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_atomic.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

More randomness
  pythnet/pythnet_sdk/src/test_utils/mod.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

add sei to evm entropy file
  contract_manager/store/contracts/EvmEntropyContracts.yaml
Due: none

Do it
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Fix some clippies
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/cosmwasm/Cargo.lock
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk

Change trim signatures
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_atomic.rs
Due: cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

[solana] Solana tests 2 (#1255)
  .github/workflows/ci-solana-contract.yml
  pythnet/pythnet_sdk/Cargo.toml
  pythnet/pythnet_sdk/src/test_utils/mod.rs
  target_chains/cosmwasm/Cargo.lock
  target_chains/near/receiver/Cargo.lock
  target_chains/solana/Cargo.lock
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/sdk.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/common/mod.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates.rs
  target_chains/solana/programs/pyth-solana-receiver/tests/test_post_updates_atomic.rs
Due: cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver
