Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, poetry-install, black, pyflakes, mypy

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +nightly-2024-03-26 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +nightly-2024-03-26 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +nightly-2023-07-23 fmt --manifest-path ./apps/fortuna/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2024-08-04 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2024-08-04 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/solana/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

add test for get_chain_id
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/tests/WormholeTest.fc
  target_chains/ton/contracts/tests/WormholeTest.spec.ts
  target_chains/ton/contracts/wrappers/WormholeTest.ts
Due: none

add more placeholder test functions
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/tests/WormholeTest.fc
Due: none

add logic for tests
  target_chains/ton/contracts/tests/WormholeTest.spec.ts
  target_chains/ton/contracts/wrappers/WormholeTest.ts
Due: none

feat(target_chains/ton): add update_price_feeds (#1870)
  pnpm-lock.yaml
  target_chains/ton/contracts/contracts/Main.fc
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/Wormhole.fc
  target_chains/ton/contracts/contracts/common/constants.fc
  target_chains/ton/contracts/contracts/common/errors.fc
  target_chains/ton/contracts/contracts/common/merkle_tree.fc
  target_chains/ton/contracts/contracts/common/op.fc
  target_chains/ton/contracts/contracts/common/storage.fc
  target_chains/ton/contracts/contracts/common/utils.fc
  target_chains/ton/contracts/contracts/tests/PythTest.fc
  target_chains/ton/contracts/contracts/tests/WormholeTest.fc
  target_chains/ton/contracts/package.json
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tests/WormholeTest.spec.ts
  target_chains/ton/contracts/tests/utils/pyth.ts
  target_chains/ton/contracts/tests/utils/wormhole.ts
  target_chains/ton/contracts/wrappers/PythTest.ts
  target_chains/ton/contracts/wrappers/WormholeTest.ts
Due: none

fix: format
  apps/staking/src/api.ts
  apps/staking/src/components/OracleIntegrityStaking/index.tsx
Due: none

add execute_governance_action
  target_chains/ton/contracts/contracts/Main.fc
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/common/constants.fc
  target_chains/ton/contracts/contracts/common/errors.fc
  target_chains/ton/contracts/contracts/common/governance_actions.fc
  target_chains/ton/contracts/contracts/common/op.fc
  target_chains/ton/contracts/contracts/tests/PythTest.fc
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tests/utils/pyth.ts
  target_chains/ton/contracts/wrappers/PythTest.ts
Due: none

add more governance test payload
  target_chains/ton/contracts/tests/utils/pyth.ts
Due: none

fix comment for ACCUMULATOR_WORMHOLE_MAGIC
  target_chains/ton/contracts/contracts/common/constants.fc
Due: none

remove other constants
  target_chains/ton/contracts/tests/utils/pyth.ts
Due: none

add test for set data sources governance instruction
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/tests/PythTest.fc
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/wrappers/PythTest.ts
Due: none

doc(target_chains/solana): add more comments and configure publish
  .github/workflows/publish-pyth-price-publisher.yml
  target_chains/solana/programs/pyth-price-publisher/src/accounts/buffer.rs
  target_chains/solana/programs/pyth-price-publisher/src/processor/initialize.rs
  target_chains/solana/programs/pyth-price-publisher/src/processor/initialize_publisher.rs
  target_chains/solana/programs/pyth-price-publisher/src/processor/submit_prices.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

doc(target_chains/solana): add more comments and configure publish (#1883)
  .github/workflows/publish-pyth-price-publisher.yml
  target_chains/solana/programs/pyth-price-publisher/src/accounts/buffer.rs
  target_chains/solana/programs/pyth-price-publisher/src/processor/initialize.rs
  target_chains/solana/programs/pyth-price-publisher/src/processor/initialize_publisher.rs
  target_chains/solana/programs/pyth-price-publisher/src/processor/submit_prices.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore(target_chains/solana): rename pyth-price-publisher to pyth-price-store
  .github/workflows/publish-pyth-price-publisher.yml
  target_chains/solana/Cargo.toml
  target_chains/solana/programs/pyth-price-store/Cargo.lock
  target_chains/solana/programs/pyth-price-store/Cargo.toml
  target_chains/solana/programs/pyth-price-store/src/accounts.rs
  target_chains/solana/programs/pyth-price-store/src/accounts/buffer.rs
  target_chains/solana/programs/pyth-price-store/src/accounts/config.rs
  target_chains/solana/programs/pyth-price-store/src/accounts/errors.rs
  target_chains/solana/programs/pyth-price-store/src/accounts/publisher_config.rs
  target_chains/solana/programs/pyth-price-store/src/error.rs
  target_chains/solana/programs/pyth-price-store/src/instruction.rs
  target_chains/solana/programs/pyth-price-store/src/lib.rs
  target_chains/solana/programs/pyth-price-store/src/processor.rs
  target_chains/solana/programs/pyth-price-store/src/processor/initialize.rs
  target_chains/solana/programs/pyth-price-store/src/processor/initialize_publisher.rs
  target_chains/solana/programs/pyth-price-store/src/processor/submit_prices.rs
  target_chains/solana/programs/pyth-price-store/src/validate.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

refactor
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/contracts/common/governance_actions.fc
  target_chains/ton/contracts/tests/utils/pyth.ts
Due: none

add execute_authorize_governance_data_source_transfer
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tests/utils.ts
Due: none

precommit
  target_chains/ton/contracts/tests/PythTest.spec.ts
Due: none

make set_valid_period unsupported
  target_chains/ton/contracts/contracts/Pyth.fc
Due: none

chore(target_chains/solana): rename pyth-price-publisher to pyth-price-store (#1884)
  .github/workflows/publish-pyth-price-publisher.yml
  target_chains/solana/Cargo.toml
  target_chains/solana/programs/pyth-price-store/Cargo.lock
  target_chains/solana/programs/pyth-price-store/Cargo.toml
  target_chains/solana/programs/pyth-price-store/src/accounts.rs
  target_chains/solana/programs/pyth-price-store/src/accounts/buffer.rs
  target_chains/solana/programs/pyth-price-store/src/accounts/config.rs
  target_chains/solana/programs/pyth-price-store/src/accounts/errors.rs
  target_chains/solana/programs/pyth-price-store/src/accounts/publisher_config.rs
  target_chains/solana/programs/pyth-price-store/src/error.rs
  target_chains/solana/programs/pyth-price-store/src/instruction.rs
  target_chains/solana/programs/pyth-price-store/src/lib.rs
  target_chains/solana/programs/pyth-price-store/src/processor.rs
  target_chains/solana/programs/pyth-price-store/src/processor/initialize.rs
  target_chains/solana/programs/pyth-price-store/src/processor/initialize_publisher.rs
  target_chains/solana/programs/pyth-price-store/src/processor/submit_prices.rs
  target_chains/solana/programs/pyth-price-store/src/validate.rs
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore(target_chains/solana): add description and license
  .github/workflows/publish-pyth-price-store.yml
  target_chains/solana/programs/pyth-price-store/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore(target_chains/solana): add description and license (#1885)
  .github/workflows/publish-pyth-price-store.yml
  target_chains/solana/programs/pyth-price-store/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore(target_chains/solana): fix tokio dependency
  target_chains/solana/programs/pyth-price-store/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

chore(target_chains/solana): fix tokio dependency (#1886)
  target_chains/solana/programs/pyth-price-store/Cargo.toml
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

feat: add apy
  apps/staking/src/api.ts
  apps/staking/src/components/Dashboard/index.tsx
  apps/staking/src/components/OracleIntegrityStaking/index.tsx
Due: none

refactor: calculate apy
  apps/staking/src/api.ts
  apps/staking/src/components/OracleIntegrityStaking/index.tsx
  governance/pyth_staking_sdk/src/index.ts
  governance/pyth_staking_sdk/src/utils/apy.ts
Due: none

add unstake governance
  apps/staking/src/api.ts
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
Due: none

add unstake to publisher
  apps/staking/src/api.ts
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
  governance/pyth_staking_sdk/src/types.ts
Due: none

fix
  apps/staking/src/api.ts
Due: none

claimable placeholder
  apps/staking/src/api.ts
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
Due: none

use rewrites for publisher rankings
  apps/staking/next.config.js
  apps/staking/src/app/api/publishers-ranking/route.tsx
Due: none

prase ranking with zod
  apps/staking/package.json
  apps/staking/src/api.ts
  pnpm-lock.yaml
Due: none

fix
  apps/staking/next.config.js
  apps/staking/src/api.ts
Due: none

fix
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
Due: none

fiz pyth balance
  apps/staking/src/api.ts
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
Due: none

updated ts sdk to incorporate changes to programs
  express_relay/sdk/js/README.md
  express_relay/sdk/js/package.json
  express_relay/sdk/js/src/const.ts
  express_relay/sdk/js/src/examples/dummyTypes.d.ts
  express_relay/sdk/js/src/examples/idl/idlDummy.json
  express_relay/sdk/js/src/examples/simpleSearcherSvm.ts
  express_relay/sdk/js/src/expressRelayTypes.d.ts
  express_relay/sdk/js/src/idl/idlExpressRelay.json
  express_relay/sdk/js/src/index.ts
  express_relay/sdk/js/src/svmPda.ts
Due: none

updated ts sdk to incorporate changes to programs (#1888)
  express_relay/sdk/js/README.md
  express_relay/sdk/js/package.json
  express_relay/sdk/js/src/const.ts
  express_relay/sdk/js/src/examples/dummyTypes.d.ts
  express_relay/sdk/js/src/examples/idl/idlDummy.json
  express_relay/sdk/js/src/examples/simpleSearcherSvm.ts
  express_relay/sdk/js/src/expressRelayTypes.d.ts
  express_relay/sdk/js/src/idl/idlExpressRelay.json
  express_relay/sdk/js/src/index.ts
  express_relay/sdk/js/src/svmPda.ts
Due: none

fix typo
  apps/hermes/client/js/src/HermesClient.ts
Due: cargo-fmt-hermes, cargo-clippy-hermes

feat(hermes): fix publisher cap schema
  apps/hermes/server/src/api.rs
  apps/hermes/server/src/api/rest/v2/latest_publisher_stake_caps.rs
  apps/hermes/server/src/api/types.rs
  apps/hermes/server/src/state/aggregate.rs
Due: cargo-fmt-hermes, cargo-clippy-hermes

update version
  apps/hermes/server/Cargo.toml
Due: cargo-fmt-hermes, cargo-clippy-hermes

go
  apps/hermes/server/Cargo.lock
Due: cargo-fmt-hermes, cargo-clippy-hermes

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  poetry-install: any of: express_relay/sdk/python/express_relay
  black: any of: express_relay/sdk/python/express_relay
  pyflakes: any of: express_relay/sdk/python/express_relay
  mypy: any of: express_relay/sdk/python/express_relay
