Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-clippy-hermes, cargo-fmt-fortuna, cargo-clippy-fortuna, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver, cargo-fmt-lazer, cargo-clippy-lazer, cargo-fmt-stylus-sdk, cargo-clippy-stylus-sdk, fmt-aptos-lazer, lint-aptos-lazer

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Hermes
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/hermes/server/Cargo.toml --all
  pass_filenames: false

cargo-clippy-hermes:
  name: Cargo clippy for Hermes
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/hermes/server/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-fortuna:
  name: Cargo format for Fortuna
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./apps/fortuna/Cargo.toml --all
  pass_filenames: false

cargo-clippy-fortuna:
  name: Cargo clippy for Fortuna
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./apps/fortuna/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +1.66.1 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +1.66.1 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +1.82.0 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml -- --deny warnings
  pass_filenames: false

cargo-fmt-pyth-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +1.73.0 fmt --manifest-path ./target_chains/solana/Cargo.toml --all
  pass_filenames: false

cargo-clippy-pyth-solana-receiver:
  name: Cargo clippy for solana target chain contract
  language: rust
  entry: cargo +1.73.0 clippy --manifest-path ./target_chains/solana/Cargo.toml --tests -- --deny warnings
  pass_filenames: false

cargo-fmt-lazer:
  name: Cargo format for Lazer
  language: rust
  entry: cargo +1.82.0 fmt --manifest-path ./lazer/Cargo.toml --all
  pass_filenames: false

deploy and activate wormhole
  target_chains/sui/vendor/wormhole_iota_mainnet/wormhole/Move.lock
  target_chains/sui/vendor/wormhole_iota_mainnet/wormhole/Move.toml
Due: none

use types from abigen
  apps/argus/src/actors/chain_price_listener.rs
  apps/argus/src/actors/controller.rs
  apps/argus/src/actors/price_pusher.rs
  apps/argus/src/actors/subscription_listener.rs
  apps/argus/src/adapters/contract.rs
  apps/argus/src/adapters/ethereum.rs
  apps/argus/src/adapters/hermes.rs
  apps/argus/src/adapters/types.rs
  apps/argus/src/api.rs
  apps/argus/src/command/run.rs
  apps/argus/src/config.rs
  apps/argus/src/keeper.rs
Due: none

feat: add pyth deployment metadata
  contract_manager/store/contracts/IotaPriceFeedContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/sui/contracts/Move.iota_mainnet.toml
Due: none

add iota patch
  target_chains/sui/contracts/Move.lock
  target_chains/sui/contracts/Move.toml
  target_chains/sui/contracts/sources/batch_price_attestation.move
  target_chains/sui/contracts/sources/data_source.move
  target_chains/sui/contracts/sources/event.move
  target_chains/sui/contracts/sources/governance/contract_upgrade.move
  target_chains/sui/contracts/sources/governance/set_data_sources.move
  target_chains/sui/contracts/sources/governance/set_stale_price_threshold.move
  target_chains/sui/contracts/sources/governance/set_update_fee.move
  target_chains/sui/contracts/sources/merkle_tree.move
  target_chains/sui/contracts/sources/migrate.move
  target_chains/sui/contracts/sources/price_info.move
  target_chains/sui/contracts/sources/pyth.move
  target_chains/sui/contracts/sources/pyth_accumulator.move
  target_chains/sui/contracts/sources/set.move
  target_chains/sui/contracts/sources/setup.move
  target_chains/sui/contracts/sources/state.move
Due: none

fix(pulse): enforce min bal for all active updated subs (#2642)
  target_chains/ethereum/contracts/contracts/pulse/Scheduler.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
Due: none

feat: add Pulse Solidity SDK
  target_chains/ethereum/pulse_sdk/solidity/IScheduler.sol
  target_chains/ethereum/pulse_sdk/solidity/README.md
  target_chains/ethereum/pulse_sdk/solidity/SchedulerErrors.sol
  target_chains/ethereum/pulse_sdk/solidity/SchedulerEvents.sol
  target_chains/ethereum/pulse_sdk/solidity/SchedulerStructs.sol
  target_chains/ethereum/pulse_sdk/solidity/abis/IScheduler.json
  target_chains/ethereum/pulse_sdk/solidity/abis/SchedulerErrors.json
  target_chains/ethereum/pulse_sdk/solidity/abis/SchedulerEvents.json
  target_chains/ethereum/pulse_sdk/solidity/abis/SchedulerStructs.json
  target_chains/ethereum/pulse_sdk/solidity/package.json
Due: none

feat: update Pulse scheduler contracts to depend on SDK interfaces
  pnpm-workspace.yaml
  target_chains/ethereum/abi_generator/src/index.js
  target_chains/ethereum/contracts/contracts/pulse/IScheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/Scheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerErrors.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerEvents.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerGovernance.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerState.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerUpgradeable.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGovernance.t.sol
  target_chains/ethereum/contracts/package.json
  target_chains/ethereum/pulse_sdk/solidity/AbstractPulse.sol
  target_chains/ethereum/pulse_sdk/solidity/abis/AbstractPulse.json
  target_chains/ethereum/pulse_sdk/solidity/package.json
  target_chains/ethereum/pulse_sdk/solidity/prettier.config.js
  target_chains/ethereum/pulse_sdk/solidity/turbo.json
Due: none

feat(programs): implement PythCoreAdapter and add PythLazer component placeholder
  governance/xc_admin/packages/xc_admin_common/src/programs/adapter_factory.ts
  governance/xc_admin/packages/xc_admin_common/src/programs/core/core_adapter.ts
  governance/xc_admin/packages/xc_admin_frontend/components/ProgramSwitch.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/programs/PythCore.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/programs/PythLazer.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/General.tsx
Due: none

feat(proposals): add PythLazerProposals and PythCoreProposals components
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/Proposals.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/PythCoreProposals.tsx
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/Proposals/PythLazerProposals.tsx
Due: none

feat(programs): implement placeholder PythLazerAdapter and update adapter factory
  governance/xc_admin/packages/xc_admin_common/src/index.ts
  governance/xc_admin/packages/xc_admin_common/src/programs/adapter_factory.ts
  governance/xc_admin/packages/xc_admin_common/src/programs/lazer/lazer_adapter.ts
  governance/xc_admin/packages/xc_admin_frontend/hooks/usePyth.ts
Due: cargo-fmt-lazer, cargo-clippy-lazer

feat: support multiple JITO endpoints with round-robin retry
  apps/price_pusher/src/solana/command.ts
  apps/price_pusher/src/solana/solana.ts
  target_chains/solana/sdk/js/solana_utils/package.json
  target_chains/solana/sdk/js/solana_utils/src/jito.ts
Due: cargo-fmt-pyth-solana-receiver, cargo-clippy-pyth-solana-receiver

log gas usage
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
Due: none

chore(evm) Add combine Pricefeeds
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
  target_chains/ethereum/sdk/solidity/PythUtils.sol
Due: none

update
  target_chains/ethereum/contracts/forge-test/utils/PythTestUtils.t.sol
  target_chains/ethereum/sdk/solidity/PythUtils.sol
Due: none

track gas usage in the recovery flow
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
Due: none

feat: extracted public components out to SDK
  apps/argus/Cargo.lock
  pnpm-lock.yaml
  pnpm-workspace.yaml
  target_chains/ethereum/contracts/contracts/pulse/IScheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/Scheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerGovernance.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerState.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerUpgradeable.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGovernance.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseSchedulerTestUtils.t.sol
  target_chains/ethereum/contracts/package.json
  target_chains/ethereum/pulse_sdk/solidity/IScheduler.sol
  target_chains/ethereum/pulse_sdk/solidity/README.md
  target_chains/ethereum/pulse_sdk/solidity/SchedulerConstants.sol
  target_chains/ethereum/pulse_sdk/solidity/SchedulerErrors.sol
  target_chains/ethereum/pulse_sdk/solidity/SchedulerEvents.sol
  target_chains/ethereum/pulse_sdk/solidity/SchedulerStructs.sol
  target_chains/ethereum/pulse_sdk/solidity/abis/AbstractPulse.json
  target_chains/ethereum/pulse_sdk/solidity/abis/IScheduler.json
  target_chains/ethereum/pulse_sdk/solidity/abis/SchedulerErrors.json
  target_chains/ethereum/pulse_sdk/solidity/abis/SchedulerEvents.json
  target_chains/ethereum/pulse_sdk/solidity/abis/SchedulerStructs.json
  target_chains/ethereum/pulse_sdk/solidity/package.json
  target_chains/ethereum/pulse_sdk/solidity/prettier.config.js
  target_chains/ethereum/pulse_sdk/solidity/turbo.json
Due: none

doc: improve readme
  target_chains/ethereum/pulse_sdk/solidity/README.md
  target_chains/ethereum/pulse_sdk/solidity/SchedulerStructs.sol
Due: none

fix: add remapping to abi gen
  target_chains/ethereum/abi_generator/src/index.js
  target_chains/ethereum/pulse_sdk/solidity/SchedulerErrors.sol
  target_chains/ethereum/pulse_sdk/solidity/abis/AbstractPulse.json
  target_chains/ethereum/pulse_sdk/solidity/abis/IScheduler.json
  target_chains/ethereum/pulse_sdk/solidity/abis/SchedulerConstants.json
  target_chains/ethereum/pulse_sdk/solidity/abis/SchedulerErrors.json
  target_chains/ethereum/pulse_sdk/solidity/abis/SchedulerStructs.json
  target_chains/ethereum/pulse_sdk/solidity/package.json
Due: none

fix: identifier issues
  target_chains/ethereum/contracts/contracts/pulse/Scheduler.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerGovernance.sol
  target_chains/ethereum/contracts/contracts/pulse/SchedulerUpgradeable.sol
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
  target_chains/ethereum/contracts/forge-test/PulseSchedulerGovernance.t.sol
Due: none

fix: merge, optimizer_runs
  target_chains/ethereum/contracts/forge-test/PulseScheduler.t.sol
  target_chains/ethereum/contracts/foundry.toml
Due: none

feat(entropy): Add gas tracking for the callback recovery flow (#2666)
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
Due: none

feat(entropy-explorer): implement some feedback items
  apps/entropy-explorer/package.json
  apps/entropy-explorer/src/components/Address/index.module.scss
  apps/entropy-explorer/src/components/Address/index.tsx
  apps/entropy-explorer/src/components/Home/chain-select.tsx
  apps/entropy-explorer/src/components/Home/request-drawer.module.scss
  apps/entropy-explorer/src/components/Home/request-drawer.tsx
  apps/entropy-explorer/src/components/Home/results.module.scss
  apps/entropy-explorer/src/components/Home/results.tsx
  apps/entropy-explorer/src/components/Home/use-query.ts
  apps/entropy-explorer/src/components/Status/index.tsx
  apps/entropy-explorer/src/get-requests.ts
  apps/entropy-explorer/src/truncate.ts
  packages/component-library/src/CopyButton/index.module.scss
  packages/component-library/src/CopyButton/index.tsx
  packages/component-library/src/InfoBox/index.module.scss
  packages/component-library/src/InfoBox/index.tsx
  packages/component-library/src/Meter/index.tsx
  packages/component-library/src/Select/index.module.scss
  packages/component-library/src/Select/index.tsx
Due: none

refactor(core): use for..of instead of forEach
  governance/xc_admin/packages/xc_admin_common/src/programs/core/core_adapter.ts
Due: none

refactor: use proper typing instead of any
  governance/xc_admin/packages/xc_admin_common/src/programs/core/core_adapter.ts
Due: none

fix(apps/price_pusher): handle gas overrides properly
  apps/price_pusher/package.json
  apps/price_pusher/src/evm/command.ts
  apps/price_pusher/src/evm/evm.ts
Due: none

chore: update berachain rpc
  contract_manager/store/chains/EvmChains.yaml
Due: none

chore: discourage using confidence check
  apps/price_pusher/README.md
  apps/price_pusher/price-config.beta.sample.yaml
  apps/price_pusher/price-config.stable.sample.yaml
Due: none

fix: remove the timeout that was added by mistake
  apps/price_pusher/src/evm/evm.ts
Due: none

feat(pyth): add getTwapUpdateFee function to calculate TWAP update fees
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/forge-test/Pyth.t.sol
  target_chains/ethereum/sdk/solidity/IPyth.sol
  target_chains/ethereum/sdk/solidity/MockPyth.sol
  target_chains/ethereum/sdk/solidity/abis/AbstractPyth.json
  target_chains/ethereum/sdk/solidity/abis/IPyth.json
  target_chains/ethereum/sdk/solidity/abis/MockPyth.json
Due: none

fix(hermes-docs)-fix Readme file (#2651)
  apps/hermes/client/js/README.md
Due: cargo-fmt-hermes, cargo-clippy-hermes

feat(lazer): more governance improvements
  lazer/publisher_sdk/proto/governance_instruction.proto
  lazer/publisher_sdk/rust/src/lib.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

fix: use agave releases instead of solana labs
  .github/workflows/ci-message-buffer.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
Due: none

feat: add amount to stake
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
Due: none

minor change to build.rs
  lazer/publisher_sdk/rust/build.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

bump protocol version
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
Due: cargo-fmt-lazer, cargo-clippy-lazer

expose envelope
  lazer/Cargo.lock
  lazer/publisher_sdk/rust/build.rs
  lazer/publisher_sdk/rust/src/lib.rs
Due: cargo-fmt-lazer, cargo-clippy-lazer

Improve comments and remove index for feed update context
  lazer/publisher_sdk/proto/publisher_update.proto
  lazer/publisher_sdk/proto/pyth_lazer_transaction.proto
  lazer/publisher_sdk/proto/transaction_envelope.proto
Due: cargo-fmt-lazer, cargo-clippy-lazer

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: apps/hermes
  cargo-clippy-hermes: any of: apps/hermes
  cargo-fmt-fortuna: any of: apps/fortuna
  cargo-clippy-fortuna: any of: apps/fortuna
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-pyth-solana-receiver: any of: target_chains/solana
  cargo-clippy-pyth-solana-receiver: any of: target_chains/solana
  cargo-fmt-lazer: any of: lazer
  cargo-clippy-lazer: any of: lazer
  cargo-fmt-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  cargo-clippy-stylus-sdk: any of: target_chains/ethereum/sdk/stylus
  fmt-aptos-lazer: any of: lazer/contracts/aptos
  lint-aptos-lazer: any of: lazer/contracts/aptos
