Repository pyth-network/pyth-crosschain: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-remote-executor, cargo-clippy-remote-executor, cargo-fmt-attester, cargo-clippy-attester, cargo-fmt-cosmwasm, cargo-clippy-cosmwasm, cargo-fmt-hermes, cargo-fmt-message-buffer, cargo-clippy-message-buffer, cargo-fmt-pythnet-sdk, cargo-clippy-pythnet-sdk, cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

cargo-fmt-remote-executor:
  name: Cargo format for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./governance/remote_executor/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-remote-executor:
  name: Cargo clippy for remote executor
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./governance/remote_executor/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-attester:
  name: Cargo format for attester
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./wormhole_attester/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-attester:
  name: Cargo clippy for attester
  language: rust
  entry: "bash -c 'EMITTER_ADDRESS=0 BRIDGE_ADDRESS=0 cargo +nightly-2023-03-01 clippy --manifest-path \\\n  ./wormhole_attester/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings'\n"
  pass_filenames: false

cargo-fmt-cosmwasm:
  name: Cargo format for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/cosmwasm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-cosmwasm:
  name: Cargo clippy for cosmwasm contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./target_chains/cosmwasm/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-hermes:
  name: Cargo format for Pyth Hermes
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./hermes/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-fmt-message-buffer:
  name: Cargo format for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/message_buffer/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-message-buffer:
  name: Cargo clippy for message buffer contract
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/message_buffer/Cargo.toml --tests --fix --allow-dirty --allow-staged --features test-bpf -- -D warnings
  pass_filenames: false

cargo-fmt-pythnet-sdk:
  name: Cargo format for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-pythnet-sdk:
  name: Cargo clippy for pythnet SDK
  language: rust
  entry: cargo +nightly-2023-03-01 clippy --manifest-path ./pythnet/pythnet_sdk/Cargo.toml --tests --fix --allow-dirty --allow-staged -- -D warnings
  pass_filenames: false

cargo-fmt-solana-receiver:
  name: Cargo format for solana target chain contract
  language: rust
  entry: cargo +nightly-2023-03-01 fmt --manifest-path ./target_chains/solana/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

executor upgradable
  target_chains/ethereum/contracts/forge-test/EntropyAuthorized.t.sol
  target_chains/ethereum/contracts/forge-test/Executor.t.sol
  target_chains/ethereum/contracts/forge-test/utils/InvalidMagic.t.sol
Due: none

update comments
  target_chains/ethereum/contracts/contracts/executor/ExecutorUpgradable.sol
Due: none

point entropy sdk docs to pyth docs for current deployments
  target_chains/ethereum/entropy_sdk/solidity/README.md
Due: none

fix check an active request
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
Due: none

point entropy sdk docs to pyth docs for current deployments (#1199)
  target_chains/ethereum/entropy_sdk/solidity/README.md
Due: none

fix check an active request (#1200)
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
Due: none

accept secret as a file too
  fortuna/.gitignore
  fortuna/Cargo.lock
  fortuna/Cargo.toml
  fortuna/src/command/register_provider.rs
  fortuna/src/command/run.rs
  fortuna/src/config.rs
  hermes/Cargo.lock
Due: cargo-fmt-hermes

run pre-commit
  fortuna/.gitignore
  fortuna/src/command/register_provider.rs
  fortuna/src/config.rs
Due: none

Add base sepolia
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmContracts.yaml
  target_chains/ethereum/contracts/networks/84532.json
Due: none

Fix broken rpc urls
  contract_manager/store/chains/EvmChains.yaml
Due: none

Small fix
  target_chains/ethereum/contracts/create-env.js
Due: none

Add base sepolia
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Due: none

Add Base sepolia + some minor improvements (#1202)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/contracts/create-env.js
  target_chains/ethereum/contracts/networks/84532.json
Due: none

address feedback
  fortuna/src/command/register_provider.rs
  fortuna/src/config.rs
Due: none

[audit] Secrets appear in environment variables and command line arguments (#1201)
  fortuna/.gitignore
  fortuna/Cargo.lock
  fortuna/Cargo.toml
  fortuna/src/command/register_provider.rs
  fortuna/src/command/run.rs
  fortuna/src/config.rs
  hermes/Cargo.lock
Due: cargo-fmt-hermes

copy dependency too
  fortuna/Dockerfile
Due: none

accept file only
  fortuna/Cargo.lock
  fortuna/Cargo.toml
  fortuna/src/command/register_provider.rs
  fortuna/src/command/run.rs
  fortuna/src/config.rs
Due: none

pre commit
  fortuna/src/command/run.rs
Due: none

address feedback
  target_chains/ethereum/contracts/contracts/executor/ExecutorErrors.sol
  target_chains/ethereum/contracts/contracts/executor/ExecutorUpgradable.sol
Due: none

[contract manager] Implement WormholeAptosContract and integrate aptos cli with the manager
  contract_manager/src/chains.ts
  contract_manager/src/contracts/aptos.ts
  contract_manager/src/contracts/wormhole.ts
  contract_manager/src/shell.ts
  target_chains/aptos/cli/README.md
  target_chains/aptos/cli/src/commands/aptos.ts
Due: none

fix tests
  target_chains/ethereum/contracts/forge-test/Executor.t.sol
Due: none

copy dependency too (#1203)
  fortuna/Dockerfile
Due: none

[executor] implement upgradability (#1198)
  target_chains/ethereum/contracts/contracts/executor/Executor.sol
  target_chains/ethereum/contracts/contracts/executor/ExecutorErrors.sol
  target_chains/ethereum/contracts/contracts/executor/ExecutorUpgradable.sol
  target_chains/ethereum/contracts/forge-test/EntropyAuthorized.t.sol
  target_chains/ethereum/contracts/forge-test/Executor.t.sol
  target_chains/ethereum/contracts/forge-test/utils/InvalidMagic.t.sol
Due: none

Add getChainId for wormhole contracts
  contract_manager/src/contracts/aptos.ts
  contract_manager/src/contracts/cosmwasm.ts
  contract_manager/src/contracts/evm.ts
  contract_manager/src/contracts/wormhole.ts
Due: none

Add movement contracts
  contract_manager/store/chains/AptosChains.yaml
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/AptosContracts.yaml
  contract_manager/store/contracts/EvmContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/contracts/networks/336.json
Due: none

Simplify aptos cli
  target_chains/aptos/cli/README.md
  target_chains/aptos/cli/src/commands/aptos.ts
Due: none

Post update atomic
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/src/error.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Checkpoint cli
  target_chains/solana/cli/src/cli.rs
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Fix bug
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Atomic
  target_chains/solana/cli/src/cli.rs
  target_chains/solana/cli/src/main.rs
  target_chains/solana/programs/pyth-solana-receiver/src/lib.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Cleanup
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

test owner upgradable
  target_chains/ethereum/contracts/forge-test/Executor.t.sol
Due: none

Persist price info if it is more recent in parse functions
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/sdk/solidity/IPyth.sol
Due: none

Refactor setLatestPrice to include checks and event in a single place
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/contracts/pyth/PythAccumulator.sol
  target_chains/ethereum/contracts/contracts/pyth/PythSetters.sol
  target_chains/ethereum/contracts/forge-test/VerificationExperiments.t.sol
Due: none

Add test cases
  target_chains/ethereum/contracts/forge-test/Pyth.WormholeMerkleAccumulator.t.sol
  target_chains/ethereum/contracts/forge-test/Pyth.t.sol
Due: none

Remove latestPublishTime
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/contracts/pyth/PythAccumulator.sol
  target_chains/ethereum/contracts/forge-test/VerificationExperiments.t.sol
Due: none

Rebalance transactions so you can post an update in two transactions
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Remove magic number
  target_chains/solana/cli/src/main.rs
Due: cargo-fmt-solana-receiver, cargo-clippy-solana-receiver

Path conditions:
  cargo-fmt-remote-executor: any of: governance/remote_executor
  cargo-clippy-remote-executor: any of: governance/remote_executor
  cargo-fmt-attester: any of: wormhole_attester
  cargo-clippy-attester: any of: wormhole_attester
  cargo-fmt-cosmwasm: any of: target_chains/cosmwasm
  cargo-clippy-cosmwasm: any of: target_chains/cosmwasm
  cargo-fmt-hermes: any of: hermes
  cargo-fmt-message-buffer: any of: pythnet/message_buffer
  cargo-clippy-message-buffer: any of: pythnet/message_buffer
  cargo-fmt-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-clippy-pythnet-sdk: any of: pythnet/pythnet_sdk
  cargo-fmt-solana-receiver: any of: target_chains/solana
  cargo-clippy-solana-receiver: any of: target_chains/solana
